.tabs li{width:50%;margin-left:-2px;}
.tabs li a{padding:0;text-align:center;}

.greeting{padding:50px 0 0 390px;font-size:14px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/img_intro.jpg') 0 0 no-repeat;}
.greeting strong{display:block;font-size:24px;color:#000000;line-height:1.2em;margin-bottom:40px;}
.greeting p{margin-bottom:20px;}
.greeting .sign{text-align:right;padding-top:20px;}