.clean_center{padding-top:30px;}
.clean_center .pbg2{margin:23px 0 50px;padding:20px 50px;font-size:15px;font-weight:bold;line-height:1.5em;}
.clean_center .complaint ul{overflow:hidden;width:100%;padding-top:20px;}
.clean_center .complaint li{position:relative;float:left;width:210px;min-height:150px;padding:0 30px 0 140px;font-weight:bold;}
.clean_center .complaint li strong{display:block;color:#323232;font-size:22px;margin-bottom:15px;}
.clean_center .complaint li.bg1{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m1/bg_civil01.png') 0 0 no-repeat;}
.clean_center .complaint li.bg2{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m1/bg_civil02.png') 0 0 no-repeat;}
.clean_center .complaint li a{position:absolute;bottom:0;left:140px;display:block;width:175px;height:34px;line-height:34px;vertical-align:middle;font-weight:bold;border:1px solid #c6c6c6;text-align:center;background:#f4f4f4 url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/bg_arrow.png') 85% center no-repeat;font-size:14px;color:#404040}