@charset "utf-8";
/* CSS Document */
/*body {padding:50px 80px;font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;}*/

/* get rid of those system borders being generated for A tags */
a:active { outline:none;}

:focus { -moz-outline-style:none;}


/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	/* required settings */
	position:relative;overflow:hidden;width:750px;height:191px;

	/* custom decorations */
	border:0px solid #ccc;	
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;position:absolute;clear:both;}

.items div {float:left;width:750px;position:relative;}


/* single scrollable item
.scrollable img {float:left;margin:0;background-color:#fff;padding:0;border:0 solid #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
} */

/* active item */
.scrollable .active {border:2px solid #000;position:relative;cursor:default;}

/* this makes it possible to add next button beside scrollable */
.scrollable {float:left;}

/* prev, next, prevPage and nextPage buttons */
a.browse {background:url(hori_large.png) no-repeat;display:block;width:30px;height:30px;float:left;margin:40px 10px;cursor:pointer;font-size:1px;}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down		{ background:url(vert_large.png) no-repeat; float: none;margin: 10px 50px;}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	

/* position and dimensions of the navigator */
.navi {margin-left:0;width:200px;height:20px;}


/* items inside navigator */
.navi a {width:14px;height:14px;float:left;margin:3px 6px;background:url(/cne1/image/common/btn_dot_navi.gif) 0 0 no-repeat;display:block;font-size:1px;cursor:pointer;}

/* mouseover state */
.navi a:hover {background:url(/cne1/image/common/btn_dot_navi_on.gif) 0 0 no-repeat;}

/* active state (current page state) */
.navi a.active {background:url(/cne1/image/common/btn_dot_navi_on.gif) 0 0 no-repeat;}
