.tabs li a{padding:0 14px;}
.img_cont{overflow:hidden;width:100%;margin-bottom:40px;}
.img_cont .img{float:left;}
.img_cont .cont{float:right;width:425px;}

.btn_box{background:#ebebeb;padding:30px;}
.btn_box p{color:#60ac13;text-align:center;}
.btn_box ul{text-align:center;}
.btn_box ul li{display:inline;margin-right:8px;}