.eco_ebook ul{overflow:hidden;width:100%;}
.eco_ebook ul li{float:left;padding:1px 18px 0 1px;margin-bottom:30px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m4/bg_eco.png') 0 0 no-repeat;}
.eco_ebook ul li a{display:block;}
.eco_ebook ul li span{display:block;margin-bottom:10px;width:234px;height:299px;}
.eco_ebook ul li strong{display:block;text-align:center;color:#000000;font-size:14px;}