.line{padding-bottom:30px;margin-bottom:40px;border-bottom:1px solid #e8e8e8;}
.prg_link {margin-right:-15px;}
.prg_link li{float:left;width:370px;height:362px;margin:0 15px 15px 0;border:1px solid #d6d6d8;}
.prg_link li .cont{position:relative;display:block;height:149px;padding:20px 25px;border-top:1px solid #d6d6d8}
.prg_link li .cont strong{color:#219a09;font-size:20px;}
.prg_link li .cont span{display:block;padding:15px 0px 10px;color:#818181;letter-spacing:-0.05em;}
.prg_link li .cont  a{position:absolute;bottom:20px;right:25px;display:block;width:149px;height:41px;line-height:41px;padding-left:20px;vertical-align:middle;font-size:14px;font-weight:bold;border:1px solid #d1d1d1;color:#8b8b8b;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images//page/m5/bg_view.gif') 140px center no-repeat;}
.prg_link li .cont  a:hover{color:#8b8b8;}