.talk p{margin-top:20px;}
.txt_bg03 {height:135px; background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m1/img_010103.gif')no-repeat top left;}
.txt_bg03 p {padding:40px 0 0 270px;line-height:1.8em;}