@charset "utf-8";
body {position:relative;font-size:12px;font-family:"dotum";color:#6e6e6e;margin:0; padding:0;letter-spacing: -0.1px;width:100%;}		
#wrap{width:100%; margin:0 auto;}
h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,input,textarea,p,th,td,dt,dd,dl {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:12px;}
li {list-style:none;}
img,fieldset {border:0;vertical-align:top;}
em {font-style:normal;}
input.radio {width:13px; height:13px; vertical-align:middle;}
a {text-decoration:none; color:#868686;}
a:hover {color:#868686;}
address,em,i {font-style:normal;}
.hdn, legend,table caption{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}
table caption.hdn{font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0;}
.ellipsis{display:inline-block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}


/* skipnavi */
#skilNavi a.skipBtn {display:block; height:0; width:100%; position:absolute; text-align:center; top:0; left:0; overflow:hidden;}
#skilNavi a.skipBtn:focus, #skilNavi a.skipBtn:active  {display:block; position:relative; color:white; font-weight:bold; height:20px; background:black;}

/* header */
#top_header{width:100%;height:25px;background-color:#efefef;border:1px solid #e5e5e4;}
#top_header .top_header_body{width:1000px;margin:0 auto;}
#top_header .home{float:left;height:25px;line-height:25px;padding-left:25px;background:url("../images/common/icon_home.gif") 0 center no-repeat;}
#top_header .home a{vertical-align:middle;padding-right:15px;background:url("../images/common/icon_arrow.png") right center no-repeat;color:#6e6e6e;}
#top_header .gnb{float:right;font-size:11px;}
#top_header .gnb li{float:left;text-align:right;line-height:25px;vertical-align:middle;}
#top_header .gnb span{margin:0 15px;color:#d5d5d5;}
#top_header .search{float:right;width:185px;margin-left:25px;padding-top:3px;}
#top_header .search_bar{height:16px;line-height:16px;vertical-align:middle;border:1px solid #fff;}
#top_header .top_btn_search{vertical-align:middle;}

#header{width:100%;height:70px;background:url("../images/common/bg_header_x.gif") 0 bottom repeat-x;}
#header .header_body{overflow:hidden;width:1000px;margin:0 auto;}
#header .logo{float:left;padding-top:10px;vertical-align:middle}
#header .logo .vod{padding-top:12px;vertical-align:bottom}
#header .menu{float:right;padding-top:30px;}
#header .menu li{float:left;margin-left:55px;font-size:14px;}
#header .menu li a{color:#1e1e1e;font-weight:bold;}
.header_bg{width:100%;height:22px;background:url("../images/common/con_bg_x.png") 0 -2px repeat-x;}

/* footer */
#footer{clear:both;width:100%;height:85px;padding-top:25px;background-color:#ebebeb;font-size:11px;}
.foot_cont{width:1000px;margin:0 auto;}
.foot_cont .foot_logo{float:left;width:146px;padding:10px 0;margin-right:85px;}
.foot_cont .footer_gnb{float:left;width:764px;padding-bottom:15px;}
.foot_cont .footer_gnb a{display:inline;color:#6f6f6f;}
.foot_cont .footer_gnb span{margin:0 25px;}
.foot_cont .address{float:left;width:764px;color:#929292;}
.foot_cont .copy_bold{float:left;width:764px;color:#a7a7a7;font-weight:bold;font-size:10px;}


button{display:inline-block;margin:0;padding:0;width:auto;cursor:pointer;border:none;background:none;overflow:visible;}
.btn_l{text-align:left;margin:15px 0;}
.btn_r{text-align:right;margin:15px 0;}
.btn_search{vertical-align:middle;width:54px;height:21px;font-size:0;line-height:0;border:none;background:url('../images/sub/bg_btn_board.gif') 0 -135px no-repeat;}
.btn_hit{vertical-align:middle;float:right;width:98px;height:20px;font-size:0;line-height:0;border:none;background:url('../images/sub/bg_btn_board.gif') 0 -110px no-repeat;}
/* btn_style 
.btn, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn8, .btn9, .btn10,
.btn span, .btn2 span, .btn3 span, .btn4 span, .btn5 span, .btn6 span, .btn7 span, .btn8 span,  .btn9 span, .btn10 span, 
.btn button, .btn2 button, .btn3 button, .btn4 button, .btn5 button, .btn6 button, .btn7 button, .btn8 button, .btn9 button, .btn10 button{white-space: nowrap;background:url('../images/sub/bg_btn.gif') 0 0 no-repeat;}
.btn:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover, .btn6:hover, .btn8:hover, .btn9:hover{color:#fff;}
.btn, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7,  .btn8,  .btn9, .btn10{display:inline-block;color:#fff;font-weight:bold;cursor:pointer;}
.btn span,  .btn2 span, .btn3 span, .btn4 span,  .btn5 span, .btn6 span, .btn7 span, .btn8 span, .btn9 span, .btn10 span,
.btn button,  .btn2 button,  .btn3 button, .btn4 button,  .btn5 button,  .btn6 button,  .btn7 button, .btn8 button, .btn9 button, .btn10 button{display:inline-block;margin:0;color:#fff;font-weight:bold;font-size:12px;text-align:center;}

.btn{height:32px;line-height:32px;margin:0 5px;background-position: 0 0;}
.btn2{height:32px;line-height:32px;margin:0 5px;background-position: 0 -32px;}
.btn span, .btn button{height:30px;line-height:31px;padding:0 25px;background-position:right 0;}
.btn2 span, .btn2 button{height:30px;line-height:31px;padding:0 25px;background-position:right -32px;}
.btn3{height:29px;background-position: 0 -70px;margin:0 2px;}
.btn3 span, .btn3 button{height:29px;line-height:29px;padding:0 10px;background-position:right -70px;}
.btn4{height:25px;background-position: 0 -100px}
.btn4 span, .btn4 button{height:25px;line-height:25px;padding:0 7px;background-position:right -100px;}
.btn5{height:19px;background-position: 0 -130px}
.btn5 span, .btn5 button{height:19px;line-height:19px;padding:0 3px;background-position:right -130px;font-size:11px;font-weight:normal;}
.btn6{height:19px;background-position: 0 -150px}
.btn6 span, .btn6 button{height:19px;line-height:19px;padding:0 5px;background-position:right -150px;font-size:11px;font-weight:normal;}
.btn7{height:20px;background-position: 0 -170px;color:#333;vertical-align:middle;}
.btn7 span, .btn7 button{height:20px;line-height:20px;padding:0 10px;background-position:right -170px;font-size:11px;font-weight:normal;color:#333;}
.btn8{height:17px;background-position: 0 -195px;cursor:text;}
.btn8 span, .btn8 button{height:17px;line-height:17px;padding:0 3px;background-position:right -195px;font-size:11px;font-weight:normal;}
.btn9{height:17px;background-position: 0 -215px;cursor:text;}
.btn9 span, .btn9 button{height:17px;line-height:17px;padding:0 3px;background-position:right -215px;font-size:11px;font-weight:normal;}
.btn10{height:28px;background-position: 0 -239px;margin:0 2px;}
.btn10 span, .btn10 button{height:28px;line-height:28px;padding:0 10px;background-position:right -239px;color:#7e7e7e;}
*/
/* btn_style2 */
#sub_content .btn_movie_list{overflow:hidden;width:100%;margin-bottom:15px;}
#sub_content .btn_movie_list {float:left;height:27px;}
#sub_content .btn_movie_list a, .btn_movie_list a span{float:left;background:url('../images/sub/bg_button.gif') 0 0 no-repeat;;}
#sub_content .btn_movie_list a{display:block;width:116px;height:14px;margin-right:7px;padding:5px 0 6px 6px;background-position:0 0;color:#a0a0a0;font-weight:bold;border:1px solid #e2e2e2;cursor:pointer;}
#sub_content .btn_movie_list a.this{;line-height:27px;background-position:0 -30px;color:#fff;}
#sub_content .btn_movie_list span{display:block;height:14px;vertical-align:middle;padding-left:25px;line-height:16px;letter-spacing:-0.09em;}
#sub_content .btn_movie_list a .ctype1{background-position:0 -137px;}
#sub_content .btn_movie_list a .ctype2{background-position:0 -170px;}
#sub_content .btn_movie_list a.this .ctype1{background-position:0 -153px;}
#sub_content .btn_movie_list a.this .ctype2{background-position:0 -187px;}

/* btn_style3 */
.bbtn, .bbtn2, .bbtn3, .bbtn4, .bbtn5, .bbtn span, .bbtn2 span, .bbtn3 span, .bbtn4 span, .bbtn5 span, .bbtn button, .bbtn2 button, .bbtn3 button, .bbtn4 button, .bbtn5 button,
 .bbtn input, .bbtn2 input, .bbtn3 input, .bbtn4 input, .bbtn5 input,  .bbtn a, .bbtn2 a, .bbtn3 a, .bbtn4 a, .bbtn5 a
{white-space: nowrap;background:url('../images/sub/bg_btn_board.gif') 0 0 no-repeat;}
.bbtn2:hover, .bbtn3:hover, .bbtn4, .bbtn5:hover{color:#fff;}
.bbtn, .bbtn2, .bbtn3, .bbtn4, .bbtn5{display:inline-block;color:#fff;font-weight:bold;cursor:pointer;}
.bbtn span,  .bbtn2 span, .bbtn3 span, .bbtn4 span, .bbtn5 span,
.bbtn a,  .bbtn2 a, .bbtn3 a, .bbtn4 a, .bbtn5 a,
.bbtn button,  .bbtn2 button,  .bbtn3 button, .bbtn4 button, .bbtn5 button,
.bbtn input,  .bbtn2 input,  .bbtn3 input, .bbtn4 input, .bbtn5 input{display:inline-block;margin:0;color:#fff;font-weight:bold;font-size:12px;text-align:center;border:none;width:auto;vertical-align:middle;}

.bbtn{position:relative;height:22px;line-height:22px;margin:0 5px;background-position: 0 0;vertical-align:middle;}
.bbtn span, .bbtn button, .bbtn input{height:22px;line-height:22px;padding:0 20px;background-position:right 0;color:#4b536f;}
.bbtn2{height:23px;line-height:23px;margin:0 5px;background-position: 0 -25px;}
.bbtn2 span, .bbtn2 button, .bbtn2 input{height:23px;line-height:23px;padding:0 20px 0 30px;background-position:right -25px;}
.bbtn3{height:25px;line-height:25px;background-position:0 -50px;margin:0 2px;}
.bbtn3 span, .bbtn3 button, .bbtn3 input{height:25px;line-height:25px;padding:0 30px 0 20px;background-position:right -50px;}
.bbtn4{height:25px;background-position: 0 -80px}
.bbtn4 span, .bbtn4 button, .bbtn4 input{height:25px;line-height:25px;padding:0 30px 0 20px;background-position:right -80px;}
.bbtn5{height:25px;background-position: 0 -135px;}
.bbtn5 span, .bbtn5 button, .bbtn5 input{height:25px;line-height:25px;padding:0 30px 0 30px;background-position:right -110px;font-size:12px;font-family:"dotum"}


/* 페이징 */
#paging { width: 100%; color: #7F7F7F;  font-style: normal; margin: 20px 0; font-weight: bold; text-align: center; }
#paging a {margin:0 5px;}
#paging img {vertical-align:middle;}
#paging a {display:inline-block;  line-height:18px; vertical-align:middle;}
#paging a span {position:absolute; z-index:-1;visibility:hidden;}
#paging .first {position:relative; background:url("../images/sub/btn_first.gif") left center no-repeat;  width:18px; height:17px; }
#paging .prev {position:relative; background:url("../images/sub/btn_prev.gif") left center no-repeat;  width:18px; height:17px; }
#paging .next {position:relative; background:url("../images/sub/btn_next.gif") left center no-repeat;  width:18px; height:17px; }
#paging .last {position:relative; background:url("../images/sub/btn_last.gif") left center no-repeat;  width:18px; height:17px; }
#paging .current {display:inline-block; margin: 0 5px; vertical-align:middle;color:#000}


/* main */
#container{width:100%;height:auto;}
.slides_bg{width:100%;height:283px;border-bottom:2px solid #000;background:url("../images/main/hot_bg_x.gif") repeat-x;}
#slides{position:relative;width:1000px;height:280px;margin:0 auto;background:url("../images/main/hot_bg.gif") no-repeat;}
#slides .slides_container{position:relative;display:none;width:900px;height:220px;margin:0 auto;padding:60px 0 0 0px;}
#slides .slides_container div {width:900px;height:170px;display:block;}
#slides .slides_container ul li{float:left;margin:0 17px;}
#slides .slides_container ul li a{display:block;}
#slides .slides_container ul li a.hot_title{padding-top:18px;color:#fff;}
#slides .slides_container ul a.hot_con{padding-top:6px;color:#909090;}
#slides .next{display:block;position:absolute;top:120px;left:0;width:16px;height:34px;background:url("../images/main/btn_arrow_left.png") no-repeat;}
#slides .prev{display:block;position:absolute;top:120px;left:985px;width:16px;height:34px;background:url("../images/main/btn_arrow_right.png") no-repeat;}
.pagination{display:none;}

#content_box{width:1000px;margin:0 auto;padding-bottom:40px;background:url('../images/main/bg_main_y.gif') right 0 repeat-y;}
#content_box:after{content:"";display:block;clear:both;}
#content{float:left;width:698px;height:auto;}

#content .section_01 h3{padding:30px 0 20px 0;font-size:14px;color:#313131;}
#content .section_01{width:650px;height:235px;border-bottom:1px dashed #cecece;position:relative;}
#content .section_01 ul{overflow:hidden;width:690px;}
#content .section_01 ul li{float:left;width:190px;margin-right:40px;}
#content .section_01 ul li span{display:block;margin-top:10px;}
#content .section_01 ul li span a{display:inline;}
#content .section_01 ul li a{display:block;}
#content .section_01 ul li a.movie_tit{padding:13px 0 4px;color:#5e5e5e;font-weight:bold;}
#content .section_01 ul li span.movie_con{overflow:hidden;padding-top:5px;color:#777777;}
#content .section_01 .btn_more{position:absolute;top:33px;left:105px;font-size:11px;color:#aaaaaa;}

#content .section_02 h3{padding:20px 0 20px 0;font-size:14px;color:#313131;}
#content .section_02{width:650px;height:196px;border-bottom:1px dashed #cecece;position:relative;}
#content .section_02 ul {width:686px;}
#content .section_02 ul li{float:left;margin-right:36px;}
#content .section_02 ul li a{display:block;}
#content .section_02 ul img{width:135px;height:76px;}
#content .section_02 ul li a.class_tit{padding:13px 0 4px;color:#5e5e5e;font-weight:bold;}
#content .section_02 ul li span.class_con{padding-top:5px;color:#777777;}
#content .section_02 .btn_more{position:absolute;top:23px;left:75px;font-size:11px;color:#aaaaaa;}

/* nav */
#nav{float:right;width:270px;min-height:640px;padding:30px 15px 0 15px;}
#nav h3{padding:0 0 10px 3px;font-size:14px;color:#1b1b1b;}
#nav .hot_movie_02{position:relative;}
#nav .hot_movie_02 img{width:125px;height:86px;margin-right:10px;}
#nav .hot_movie_02 .hot_movie_end{border:0;}
#nav .hot_movie_02 ul li{overflow:hidden;height:86px;padding:15px 0 15px 3px;border-bottom:1px solid #dfdfdf;}
#nav .hot_movie_02 ul li a{display:block;}
#nav .hot_movie_02 ul li img{float:left;}
#nav .hot_movie_02 ul li a.hot_movie_tit02{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:3px 0 5px;color:#6e6e6e;font-weight:bold;font-size:11px;}
#nav .hot_movie_02 ul li a.hot_movie_con02{float:left;width:120px;height:60px;overflow:hidden;color:#a9a9a9;font-size:11px;line-height:14px;}
#nav .hot_movie_02 .btn_more{position:absolute;top:-22px;left:90px;font-size:11px;color:#aaaaaa;}

#bbs_list{padding-top:40px;}
#bbs_list h3{border-bottom:2px solid #fc7f0b;font-size:14px;color:#1b1b1b;}
#bbs1{padding-top:20px;border-top:1px solid #e8e8e8;position:relative;}
#bbs1 ul li{padding:0 0 6px 8px;background:url("../images/main/bbs_dot.gif") 0 7px no-repeat;}
#bbs1 ul li a{display:inline-block;width:252px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#bbs1 ul li a .new{padding-top:1px;}
#bbs1 .btn_more{position:absolute;top:-27px;right:0;font-size:11px;color:#aaaaaa;}

/* sub start */
.sub_content_box{overflow:hidden;width:1000px;margin:0 auto;margin-top:23px;padding-bottom:50px;background:url("../images/sub/sub_hot_bg.gif") 0 0 repeat-y;}

#sub_nav{float:left;width:204px;height:auto;margin-right:15px;}
#sub_nav h2{font-size:24px;color:#000;padding-bottom:25px;background-color:#fff;}
#sub_nav ul.sub_menu{padding-bottom:35px;width:204px;background-color:#fff;}
#sub_nav ul.sub_menu li a{display:block;width:164px;min-height:28px;line-height:28px;vertical-align:middle;padding-left:40px;background:url("../images/sub/sub_menu_off.gif") 0 center no-repeat;border-bottom:1px solid #eaeaea;color:#535353;font-weight:bold;}
#sub_nav ul.sub_menu li a:hover, #sub_nav ul.sub_menu li.on a{background:url("../images/sub/sub_menu_on.gif") no-repeat;color:#1c43ab;font-weight:bold;}

#sub_nav ul.sub_menu li ul.depth_02{overflow:hidden;padding-left:36px;width:168px;border-top:1px solid #eaeaea}
#sub_nav ul.sub_menu li ul.depth_02 li a{padding:2px 0 2px 10px;width:158px;min-height:20px;line-height:20px;border-bottom:none;background:url("../images/sub/2depth_dot.gif") 0 center no-repeat;font-size:11px;font-weight:normal;color:#7f7f7f;}

.sub_hot_movie{width:180px;height:100%;padding:17px 12px 0 12px;position:relative;}
.sub_hot_movie h3{padding-bottom:13px;font-size:14px;color:#1b1b1b;}
.sub_hot_movie ul li{padding:5px 0;border-bottom:1px solid #e5e5e5;}
.sub_hot_movie ul li a{font-weight:bold;}
.sub_hot_movie ul li a span.num{float:left;width:11px;height:11px;line-height:11px;vertical-align:middle;margin:1px 10px 0 0;background-color:#adadad;color:#fff;font-weight:bold;font-size:8px;text-align:center;}
.sub_hot_movie ul li a p.hot_content{padding-top:8px;font-size:11px;color:#c4c4c4;font-weight:normal;}
.sub_hot_movie .btn_more{position:absolute;top:19px;left:100px;font-size:11px;color:#aaaaaa;}

.sub_con_body{float:left;width:780px;}
.sub_content_box .sub_con_top{width:715px;height:60px;padding:14px 20px 0 45px;background:url("../images/sub/con_top_bg.gif") no-repeat;}
.sub_content_box .sub_con_top h2{float:left;font-size:24px;color:#313131;}
.sub_content_box .location{float:right;padding-top:10px;}
.sub_content_box .location img{padding-top:2px;margin-right:5px;}

/* video_list */
#sub_content{width:740px;min-height:715px;padding:20px 18px 40px 23px;background:url("../images/sub/con_body_bg.gif") 0 0 repeat-y;}
#sub_content .list_search{overflow:hidden;width:100%;padding:10px 0;background-color:#f6f6f6;}
#sub_content .list_search img{float:left;margin-left:20px;}
#sub_content .search_bar{float:right;padding-right:20px;}
#sub_content .list_select{width:135px;border:1px solid #e3dedb;margin-right:5px;;vertical-align:middle;}
#sub_content .list_search_inp{margin-right:5px;height:18px;line-height:18px;vertical-align:middle;border:1px solid #efefef;}
.sub_content_box .sub_con_bot{width:780px;height:10px;background:url("../images/sub/con_bot_bg.gif") no-repeat;}

#sub_content .section_01{overflow:hidden;width:740px;height:auto;padding-bottom:10px;position:relative;}
#sub_content .section_01 ul li{float:left;margin:0 24px;padding-top:35px;}
#sub_content .section_01 ul li a{display:block;}
#sub_content .section_01 ul .movie_tit{padding-top:13px;color:#5e5e5e;font-weight:bold;}
#sub_content .section_01 ul li .date{display:block;padding-top:8px;color:#777777;}

/* video_view */
#sub_content .view_tit{overflow:hidden;padding:6px 0 10px 0;border-top:1px solid #000;border-bottom:1px solid #b2b2b2;}
#sub_content .view_tit h3{float:left;padding-top:6px;}
#sub_content .view_tit_btn{float:right;}
#sub_content .view_tit_btn img{position:relative;top:6px;left:20px;}
#sub_content .view_intro{overflow:hidden;padding:6px 0;color:#a4a4a4;}
#sub_content .view_intro .hit{font-weight:bold;}
#sub_content .view_content p{padding:30px 0;color:#a4a4a4;}

.key_word{width:100%;height:22px;padding:10px 5px 0 5px;border-bottom:1px solid #d1d1d1;background-color:#f0f0f0;}

/* video_comment */
.comment{padding:10px 0;}
.comment_inp{overflow:hidden;width:100%;}
.comment_inp strong{float:left;display:block;width:10%;}
.comment_inp textarea{float:left;width:75%;margin-right:2%;height: 40px;padding: 3px;background-color: #F6F6F6;border: 1px solid #CACACA;color: #767676;font-size: 12px;}
.comment p{padding:5px 0 0 10%;color: #C57878;}
.commentPopup {border-bottom: 1px dashed #D7D7D7;}

.reply{padding: 10px 0 7px;}
.reply strong{float:left;color:#000;font-weight:bold;}
.reply span{float:right; color: #A4A4A4;display: inline-block; font: 11px/13px Tahoma;padding: 0;}
.reply span img{vertical-align:middle;margin:0 2px;}
.reply p.reply_cont{clear:both;padding: 5px 0;color: #A4A4A4;font: 12px/18px Dotum,"돋움";}

.type1{border-bottom: 1px dashed #D7D7D7;}
.type2{padding-left:40px; background: url("../images/sub/icon_reply.gif") 0px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
.type3{padding-left:55px; background: url("../images/sub/icon_reply.gif") 15px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
.type4{padding-left:70px; background: url("../images/sub/icon_reply.gif") 30px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
.type5{padding-left:85px; background: url("../images/sub/icon_reply.gif") 45px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
.type6{padding-left:100px; background: url("../images/sub/icon_reply.gif") 60px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
.type7{padding-left:115px; background: url("../images/sub/icon_reply.gif") 75px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
.type8{padding-left:130px; background: url("../images/sub/icon_reply.gif") 90px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
.type9{padding-left:145px; background: url("../images/sub/icon_reply.gif") 105px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
.type10{padding-left:160px; background: url("../images/sub/icon_reply.gif") 120px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}

.bbs_reply{padding:10px 0;}
.bbs_reply .comment{padding:10px 0 0 40px;background: url("../images/sub/icon_reply.gif") 0 15px no-repeat;}
.bbs_reply .comment strong{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden;line-height:0}
.bbs_reply .comment textarea{width:85%;}
.bbs_reply .comment p{padding-left:0;}


/* video_wirte */
.board_write{width:100%;border-top:2px solid #6080a3;}
.board_write dl{overflow:hidden;width:100%;background:#F6F6F6; }
.board_write dt{float:left;width:17%;padding:4px 0 5px 3%; min-height:23px;line-height:23px;vertical-align:middle;background:#F6F6F6;font-weight:bold;border-bottom: 1px solid #d1d1d1;}
.board_write dd{float:left;width:77%;padding:4px 0 5px 3%;min-height:23px;line-height:23px;vertical-align:middle;background:#fff;border-bottom: 1px solid #d1d1d1;}
.board_write dd input.tit{width:95%;line-height:20px;height:20px;vertical-align:middle;border:1px solid #d1d1d1;}
.board_write dd select{border: 1px solid #d1d1d1;}
.board_write dt.file, .board_write dd.file{border-bottom:none;}
.board_write dd input.file_up{border: 1px solid #d1d1d1;width:95%;}
dt.video_up{height:90px;}
dd.video_up{height:90px;}

.board_write dd ul.file_list{padding:3px 0;}
.board_write dd ul.file_list li{padding:2px 0;line-height:14px;}
.board_write dd ul.file_list li img{vertical-align:middle;}

.board_write dd.write_cont{width:100%;padding:0;border-top: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;}
.board_write dd.write_cont textarea{width:100%;min-height:400px;border:none;font-size:12px;}
.inp{border:1px solid #dfdfdf;height:18px;line-height:18px;}



/* form start */

/* 기본 표(세로테이블)  가운데정렬 정의
table.chart {border-collapse:collapse;width:100%;font-size:12px;line-height:18px;border:2px solid #ffffff;border-top:2px solid #98664d;border-bottom:1px solid #ececec;margin-bottom:10px;}
table.chart th, table.chart td {border: 1px solid #ececec; padding:5px 0 5px 5px;}
table.chart th {overflow:hidden;width:85px;padding:5px 0 5px 15px;background:#f8f8f8;text-align:left;color:#666666;}
table.chart td.alL{text-align:left;}

.board_select_01{width:70px;border:1px solid #abadb3;color:#666666;font-size:11px;}
.board_select_02, .board_select_03{width:50px;border:1px solid #abadb3;color:#666666;font-size:11px;}

.board_tit, .board_key{width:460px;height:18px;border:1px solid #ddd8ce;}
table.chart textarea{width:100%;height:370px;}

 */
