﻿@charset "utf-8";

.input_image {
    width: 80px;
    height: 25px;    
    cursor:pointer;
}

.logBox {
    width: 780px;
    height: 300px;
    padding: 0px 3px 2px;
    color: rgb(51, 51, 51);
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    padding: 9.5px;
    border: 1px solid #777;
    line-height: 20px;
    font-size: 13px;
    display: block;
    white-space: pre-wrap;
    -ms-word-break: break-all;
    -ms-word-wrap: break-word;
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
    text-align: left;
}

.info_lst_box{padding:20px 0 0 0;margin:0 auto -25px auto;width:800px;text-align:left;}
.info_lst_box li{padding-bottom:10px; font-weight:bold; color:#cd4d04; font-size:14px;}
.info_lst_box li span{display:inline-block;padding-top:5px;}

.btn_lst_box{width:800px;margin:30px auto 15px auto;padding:0 0 15px 0;border-bottom:1px solid #007ace;text-align:left;}
.btn_lst_box2{margin:0 auto 15px auto;}
.btn_lst_box textarea{width:100%}