.txt_bg02 {height:140px; line-height:1.8em;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m1/img_010101.gif')no-repeat top left;}
.txt_bg02 p {padding:40px 0 0 270px;}
.bg_icon01 {height:63px; background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m1/bg_icon01.gif')no-repeat top left;}
.bg_icon02 {height:63px; background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m1/bg_icon02.gif')no-repeat top left;}
.bg_icon03 {height:63px; background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m1/bg_icon03.gif')no-repeat top left;}
.bg_icon04 {height:63px; background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m1/bg_icon04.gif')no-repeat top left;}

.section_st1 li{padding:15px 0 15px 78px;}
.section_st1 li strong{font-size:18px; color:#55b833;}