.news_letter_apply{padding:20px 0 0 185px;margin-bottom:35px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m4/bg_letter_img.png') 25px 20px no-repeat;}
.news_letter_apply h3{margin-bottom:20px;font-size:20px;color:#000;}
.news_letter_apply li{padding:4px 0;}
.news_letter_apply li label{display:inline-block;color:#696969;width:75px;}
.news_letter_apply li input{height:31px;line-height:31px;vertical-align:middle;padding-left:10px;border:1px solid #e5e5e5;}
.news_letter_apply li #name{width:200px;}
.news_letter_apply li #email{width:330px;}
.news_letter_apply .btn_box{padding:20px 0 20px 105px;}

.news_letter ul{overflow:hidden;width:100%;}
.news_letter ul li{float:left;padding:1px 9px 10px 1px;margin-bottom:5px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m4/bg_letter.png') 0 0 no-repeat;}
.news_letter ul li a{display:block;}