.tabs li{width:50%;margin-left:-2px;}
.tabs li a{padding:0;text-align:center;}

.profile{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_profile.jpg') right 0 no-repeat;}
.profile .top{font-size:30px;color:#000000;text-align:center;padding:80px 0 40px;}
.profile .top span{display:block;margin-top:15px;font-size:16px;color:#ababab;}
.profile .info {padding-right:275px;margin-bottom:80px;}
.profile .info:after{content:"";display:block;clear:both;}
.profile .info h3{float:left;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_bline.gif') 0 top no-repeat;color:#000;padding:10px 10px 0;margin-right:45px;font-size:22px;}
.profile .info ul{float:left}
.profile .info ul li{overflow:hidden;width:100%;font-size:14px;padding:2px 0;}
.profile .info ul li strong{float:left;color:#32abde;width:130px;margin-right:30px;}
.profile .info ul li span{float:left;}
.profile .info ul.mini li strong{width:75px;}