@charset "utf-8";
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
body {position:relative;font-size:13px;color:#616161;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum";margin:0; padding:0;width:100%}
h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,input,textarea,p,th,td,dt,dd,dl {margin:0;padding:0}
h1,h2,h3,h4,h5,h6 {font-size:13px}
li {list-style:none}
img,fieldset {border:0;vertical-align:top}
em {font-style:normal}
input.radio {width:13px; height:13px; vertical-align:middle}
a {text-decoration:none; color:#616161}
a:hover {color:#2ba600}
address,em,i {font-style:normal}
.hdn, legend,table caption {font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0}
table caption {font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0}
button {display:inline-block;margin:0;padding:0;width:auto;cursor:pointer;border:none;background:none;overflow:visible}


.cR {clear:both}
.fL {float:left}
.fR {float:right}
.alC {text-align:center}
.alL {text-align:left}
.alR {text-align:right}
.vMid {vertical-align:middle}
.btn_c {text-align:center;margin:15px 0}
.btn_l {text-align:left;margin:15px 0}
.btn_r {text-align:right;margin:15px 0}
.bg_btn {overflow:hidden;width:100%;margin:15px 0}
.bg_btn .fL {float:left;width:70%}
.bg_btn .fR {float:right;width:29%;text-align:right}
.inp {line-height:18px;height:18px;border:1px solid #d9d9d9}
.strong {font-weight:bold}
.red {color:red}
.blue {color:blue}
.clear {overflow:hidden;width:100%}
.green {color:#2ba600}


/*  skipnavi */
#skilNavi {width:100%; position:relative; top:-1px; left:0; z-index:10000}
#skilNavi  a {width:100%; position:absolute; top:-1px; left:0}
#skilNavi  a:link {margin:0 0 -1px 0; width:100%; height:0px; font-size:1em; display:block; overflow:hidden;text-decoration:none}
#skilNavi  a:active, #skilNavi  a:focus, #skilNavi  a:hover {padding:5px 0 5px 0; width:100%; height:20px; font-weight:bold; color:#fff; text-align:center; background:#000; float:left; clear:left}

#wrap {background:#fff;min-width:1000px}
#header {position:relative;overflow:hidden;width:1000px;margin:0 auto;height:90px;background:#fff}
#header h1 {float:left;position:relative;z-index:10;padding-top:23px}
#header h1 .logo {display:inline-block;padding:16px 0 0 19px}
#header h2 {position:absolute;top:27px;width:100%;text-align:center}

#header ul {position:absolute;top:38px;right:0;z-index:10}
#header ul li {float:left;color:#8d8d8d}
#header ul li a {color:#8d8d8d;margin:0 12px}

#search_box {position:relative;width:1000px;height:40px;margin:0 auto;padding:20px 0;background:#f0f0f0}
#search_box .search {text-align:center}
#search_box .search .inp {width:526px;height:38px;padding:0 15px;vertical-align:middle;line-height:38px;background:url('./images/bg_search.png') 0 0 no-repeat;border:none}
#search_box .search input {vertical-align:middle}
#search_box .search select {min-width:130px;height:25px;border:1px solid #c9c9c9;vertical-align:middle}
#search_box .search #searchCondition {min-width:130px;height:36px;border:1px solid #c9c9c9;vertical-align:middle}

#search_detail_box {position:absolute;top:90px;left:0;padding:50px 50px 20px;width:890px;background:#fff;border:5px solid #e5e5e5;display:none}
#search_detail_box ul {border-top:1px dashed #cfcfcf}
#search_detail_box ul li {overflow:hidden;width:100%;padding:8px 0;border-bottom:1px dashed #cfcfcf}
#search_detail_box ul li strong {float:left;width:125px;height:26px;line-height:26px;vertical-align:middle;padding:0 0 0 15px;color:#000000;font-size:14px;background:url('./images/bg_bar.gif') right center no-repeat}
#search_detail_box ul li span {float:left;padding-left:20px;color:#8f8f8f}
#search_detail_box ul li span .inp {height:24px;padding-left:3px;vertical-align:middle}
#search_detail_box ul li span .txt {width:230px}
#search_detail_box ul li span .date {width:110px}
#search_detail_box ul li span select {min-width:130px;height:25px;border:1px solid #c9c9c9;vertical-align:middle}

#footer {padding:30px 0;height:80px;background:url('./images/footer_bg.png') 0 0 repeat-x}
#footer .footer {position:relative;overflow:hidden;width:1000px;min-height:35px;margin:0 auto}
#footer .footer h2 {position:absolute;top:0px;left:0}
#footer .footer p {font-weight:bold;color:#2a2a2a;padding-top:10px;font-size:13px;text-align:center}


/* 컨텐츠  */
#content {width:1000px;padding:40px 0 40px;min-height:448px;margin:0 auto}

/*  메인 */
.main_container {min-height:525px;background:url('./images/bg_main.gif') center bottom no-repeat}
.main_container .slogan {padding:230px 0 0;text-align:center;color:#5d5d5d;font-size:30px;font-weight:bold}
.main_container .slogan strong {font-size:48px}
.main_container .slogan span {font-size:20px;color:#a3a3a3}

/*  리스트 */
.total {padding-left:15px;margin-bottom:10px;color:#a9a9a9;background:url('./images/bg_total.gif') 0 center no-repeat}
.total strong {color:#000}

.bss_list table {width:100%;margin-bottom:40px;border-collapse:collapse;border-top:2px solid #666666;color:#515151}
.bss_list table th {height:50px;color:#000;border-bottom:1px solid #d9d9d9}
.bss_list table tbody tr {height:48px}
.bss_list table tbody td {text-align:center;border-bottom:1px solid #d9d9d9}
.bss_list table tbody td.tit {text-align:left; line-height:15px}
.bss_list table tbody td.tit a {display:inline-block;white-space:nowrap;overflow:hidden;max-width:330px;text-overflow:ellipsis;vertical-align:middle;color:#343434}

#paging ul {text-align:center;margin-left:auto;margin-right:auto}
#paging ul li {display:inline;width:100%;color:#7F7F7F;font-style:normal;padding:20px 0;font-weight:bold;text-align:center}
#paging ul li img {vertical-align:middle}
#paging ul li a {margin:0 1px;display:inline-block;width:30px;height:30px;line-height:28px;vertical-align:middle;background:#f3f3f3;border:1px solid #d3d3d3}
#paging ul li a span {position:absolute; z-index:-1;visibility:hidden}
#paging ul li .commthis {border:1px solid #202020}
#paging ul li .first , #paging .prev , #paging .next , #paging .last {background-image:url('./images/btn_all.gif');width:18px; height:18px;margin:0 10px}
#paging ul li .first {position:relative; background-position:0 0px;border:none; }
#paging ul li .prev {position:relative;background-position:-30px 0px;border:none; }
#paging ul li .next {position:relative; background-position:-61px 0px; border:none; }
#paging ul li .last {position:relative; background-position:-90px 0px;border:none; }
#paging ul li .current {display:inline-block;width:30px;height:30px;line-height:28px; margin: 0 2px; vertical-align:middle;background:#8e8e8e;border:1px solid #7b7b7b;color:#fff}

/* 버튼스타일  */
button.bbtn1, button.bbtn2 {line-height:20px}
.bbtn1, .bbtn2 {display:inline-block;padding:0 25px;height:28px;line-height:28px;vertical-align:middle;text-align:center;font-weight:bold;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum"}
.bbtn1 {background:#8e8e8e;border:1px solid #7d7d7d;color:#fff}
.bbtn2 {background:#f3f3f3;border:1px solid #cbcbcb;color:#676767;vertical-align:middle}

/*  뷰페이지, 비밀번호변경 */
table.chart2 {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #000;margin-bottom:10px}
table.chart2 th,  table.chart2 td {border-bottom: 1px solid #ededed;padding:10px 30px;text-align:center}
table.chart2 tbody th {background:#f4f4f4;border-bottom:1px solid #ededed;text-align:left;color:#323232}
table.chart2 tbody td {text-align:left}
table.chart2 tbody td.bg {background:#f4f4f4}
.file_list li {padding:2px 0}

/* 비밀번호변경 */
.pwd_chg {width:555px;margin:0 auto;padding:80px 0 0;min-height:448px}
.pwd_chg .inp {height:24px;padding-left:3px;width:185px;padding-left:3px}

/* 로그인 */
#login_wrap {padding-top:140px;margin-bottom:110px;background:url('./images/bg_login_wrap.gif') center 0 no-repeat}
.login {width:700px;margin:0 auto}
.login_box {overflow:hidden;width:700px;margin:120px auto 90px}
.login {position:relative;width:700px;min-height:300px;padding:25px 0px}
.login .tit_login {overflow:hidden;width:100%;padding-bottom:10px}
.login .tit_login h1 {float:left;padding-top:15px}
.login .tit_login p {float:left;width:330px;padding:0 0 0 30px;margin-left:30px;color:#708d9f;font-size:16px;border-left:1px solid #e0e0e0}
.login .tit_login p strong {display:block;padding:15px 0 20px}
.login .inp {border:1px solid #dddddd;height:22px;padding-left:2px;line-height:22px;vertical-align:middle}
.login_border {width:470px;height:145px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;padding:20px;padding-left:210px;background:#fafafa url('./images/bg_login.png') 60px 22px no-repeat}

.login_inp {position:relative;width:415px;height:65px;padding-top:30px}
.login_inp span {display:block;margin-bottom:7px}
.login_inp span label {display:inline-block;width:80px;color:#676068;font-size:14px;font-weight:bold}
.login_inp span label img {vertical-align:middle}
.login_inp span .inp {width:212px;height:27px;border:1px solid #c2c2c2}
.login_inp .btn_login {position:absolute;top:29px;right:0}

#login_footer {color:#8e8c8c;font-size:11px;padding:20px 0 80px;text-align:center}
#login_footer strong {color:#000}

/* 첨부파일 가로테이블  */
/*
.file_list_chart {width:100%;border-collapse:collapse;border-top:1px solid #ececec}
.file_list_chart tbody table tr {padding:0}
.file_list_chart tbody table td {padding:0}
.file_list_chart tbody table img {vertical-align:middle}
.file_list_chart tbody tr {padding:5px 0 5px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec}
.file_list_chart tbody td {border-bottom:1px solid #ececec;padding: 0px 0px 0px 0px }
.file_list_chart tbody td.editor {padding:0}
.file_list_chart thead th {background:#f8f8f8;padding:5px 0 5px 0;text-align:center}
.file_list_chart tbody td.size {text-align:right;padding:0 10px 0 0}
.file_list_chart tbody td.del {text-align:center}
*/
.file_box {padding:10px;margin:20px 0 10px 0;border:1px solid #D1D1D1}
.file_top {overflow:hidden;width:100%;padding:10px 0}
.file_top .file_btn {float:left}
.file_top .file_info {float:right; line-height:21px}
table.file_list_chart {border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px}
table.file_list_chart thead th {border:1px solid #D1D1D1;background:#F6F6F6}
table.file_list_chart tbody td {border:none;text-align:left;padding:5px}
table.file_list_chart tbody td img {vertical-align:middle}
table.file_list_chart .size {text-align:right;width:100px;padding-right:20px}
table.file_list_chart .del {text-align:center;width:50px}