.ebook ul{overflow:hidden;width:100%;}
.ebook ul li{float:left;padding:1px 12px 0 1px;margin-bottom:30px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m4/bg_ebook.png') 0 0 no-repeat;}
.ebook ul li span{display:block;margin-bottom:10px;}
.ebook ul li strong{display:block;text-align:center;color:#000000;font-size:14px;}