@charset "utf-8";
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 700; src: url(/template/common/font/NanumGothic-Bold.eot); src: url(/template/common/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),  url(/template/common/font/NanumGothic-Bold.woff2) format('woff2'),  url(/template/common/font/NanumGothic-Bold.woff) format('woff'),  url(/template/common/font/NanumGothic-Bold.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400; src: url(/template/common/font/NanumGothic-Regular.eot); src: url(/template/common/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),  url(/template/common/font/NanumGothic-Regular.woff2) format('woff2'),  url(/template/common/font/NanumGothic-Regular.woff) format('woff'),  url(/template/common/font/NanumGothic-Regular.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 800; src: url(/template/common/font/NanumGothic-ExtraBold.eot); src: url(/template/common/font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),  url(/template/common/font/NanumGothic-ExtraBold.woff2) format('woff2'),  url(/template/common/font/NanumGothic-ExtraBold.woff) format('woff'),  url(/template/common/font/NanumGothic-ExtraBold.ttf) format('truetype'); }
body {position:relative;font-size:13px;color:#616161;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum";margin:0; padding:0;width:100%;}
h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,input,textarea,p,th,td,dt,dd,dl {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:13px;}
li {list-style:none;}
img,fieldset {border:0;vertical-align:top;}
em {font-style:normal;}
input.radio {width:13px; height:13px; vertical-align:middle;}
a {text-decoration:none; color:#616161;}
a:hover {color:#2ba600;}
address,em,i {font-style:normal;}
.hdn, legend,table caption{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}
table caption{font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0;}
button{display:inline-block;margin:0;padding:0;width:auto;cursor:pointer;border:none;background:none;overflow:visible;}


/* 
 아이콘색상은 
 basic/색상폴더명/파일명.gif
*/

.cR {clear:both;}
.fL {float:left;}
.fR {float:right;}
.alC {text-align:center;}
.alL {text-align:left;}
.alR {text-align:right;}
.vMid{vertical-align:middle;}
.btn_c{text-align:center;margin:15px 0;}
.btn_l{text-align:left;margin:15px 0;}
.btn_r{text-align:right;margin:15px 0;}
.bg_btn{overflow:hidden;width:100%;margin:15px 0}
.bg_btn .fL{float:left;width:70%;}
.bg_btn .fR{float:right;width:29%;text-align:right;}
.inp{line-height:18px;height:18px;border:1px solid #e5e5e5;}
.strong{font-weight:bold;}
.red{color:red;}
.blue{color:blue;}
.clear{overflow:hidden;width:100%;}
.green {color:#2ba600;}

/* icon_style  */
.ntit{background:url('./images/basic/green/bg_icon.gif') 0 0 no-repeat; font-size:20px;padding-top: 10px;margin:5px 0 20px;color:#000;}
.icon{background:url('./images/basic/green/bg_icon.gif') 0 0 no-repeat; font-size:20px;padding-top: 10px;margin:5px 0 20px;color:#77c528;}
.icon1{background:url('./images/basic/green/bg_icon1.gif') 0 3px no-repeat; font-size:16px;padding-left: 20px;margin:10px 0;color:#282828;}
.icon2{background:url('./images/basic/green/bg_icon2.gif') 0 5px no-repeat;padding-left:20px; margin:8px 0 8px 10px;font-weight:normal;color:#282828;}
.icon3{background:url('./images/basic/green/bg_icon3.gif') 0 8px no-repeat; padding-left:10px; margin-left:30px; font-weight:normal;color:#818181;}
.icon2_list li{background:url('./images/basic/green/bg_icon2.gif') 0 5px no-repeat;padding-left:20px; margin:8px 0 8px 10px;font-weight:normal;color:#282828;}
.icon3_list{padding:3px 0;}
.icon3_list li, .icon03{background:url('./images/basic/green/bg_icon3.gif') 0 8px no-repeat;padding-left:12px; margin: 4px 0 4px 0px; font-weight:normal;color:#818181;}
.icon_none{margin:7px 0px;}
.icon_none li{background:none;margin-left:0px;padding-left:5px;color:#818181; }

.section {margin-bottom:20px; margin-left:0px;text-align:justify;}
.section1 {margin-bottom:20px; margin-left: 20px;text-align:justify;}
.section2 {margin-bottom:20px; margin-left:30px;text-align:justify;}
.section3 {margin-bottom:20px; margin-left:40px;text-align:justify;}

/* 기본 표(세로테이블)   */
table.chart { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #2ba600;margin-bottom:10px;}
table.chart th,  table.chart td {border: 1px solid #D0D0D0;padding:10px 10px;text-align:center;}
table.chart thead th {background:#F5F5F5;border:1px solid #D0D0D0;text-align:center;color:#000000;}
table.chart tbody th{color:#000;}
table.chart tbody strong{color:#000;}
table.chart td.alL{text-align:left;}
table.chart td.alR{text-align:right;}
table.chart td.bg{background:#F5F5F5;}
table.chart td.vtop{vertical-align:top;}
table.chart tbody th.bg{background:#F5F5F5;color:#000;}
table.chart tfoot{color:#000;}
table.chart tfoot th,  table.chart tfoot td{background:#F5F5F5;color:#000;}
table.chart tr.bg td{background:#F5F5F5;color:#2ba600}

/* 기본 표(세로테이블) 정의 */
table.chart1 { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #2ba600;margin-bottom:10px;}
table.chart1 th,  table.chart1 td {border: 1px solid #D0D0D0;padding:10px 10px;text-align:center;}
table.chart1 thead th {background:#F5F5F5;border:1px solid #D0D0D0;text-align:center;color:#000000;}
table.chart1 tbody td{text-align:center;background:#fff}
table.chart1 tbody td.bg{background:#F5F5F5;}
table.chart1 td.alL{text-align:left;}

/* 기본 표(가로 테이블)   */
table.chart2 {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #2ba600;margin-bottom:10px;}
table.chart2 thead th {background:#F5F5F5;border:1px solid #D0D0D0;text-align:center;color:#000000;}
table.chart2 th,  table.chart2 td {border: 1px solid #D0D0D0;padding:10px 10px;text-align:center;}
table.chart2 tbody th {background:#F5F5F5;border:1px solid #D0D0D0;text-align:left;color:#000000;}
table.chart2 tbody td{text-align:left;background:#fff}
table.chart2 tbody td.bg{background:#F5F5F5;}

table.chart2_alC {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #2ba600;margin-bottom:10px;}
table.chart2_alC th,  table.chart2_alC td {border: 1px solid #D0D0D0;padding:10px 10px;text-align:center;}
table.chart2_alC tbody th {background:#F5F5F5;border:1px solid #D0D0D0;text-align:left;color:#000000;}
table.chart2_alC tbody td{text-align:center;}
table.chart2_alC tbody td.bg{background:#F5F5F5;}

.pbg{background:#f4f4f4;padding:20px;}
.pbg:after{content:"";display:block;clear:both;}

.pbg2{position:relative;background:#f7f7f7;border:1px solid #c6c6c6;padding:20px;}
.pbg2 .bg{position:absolute;bottom:-1px;right:-1px;display:block;width:22px;height:21px;background:url('./images/page/bg_pbg.gif') right bottom no-repeat;}
.pbg3{background:#f4f4f4;padding:20px;border:1px solid #c6c6c6;}

.line_green {border-bottom: 1px solid #97d01b;}


.block{display:block}
.txt_style {font-size:18px; color:#1688ad;}

/* size style*/
.w30	{width:30px;}
.w35	{width:35px;}
.w40	{width:40px;}
.w45	{width:45px;}
.w50	{width:50px;}
.w55	{width:55px;}
.w60	{width:60px;}
.w65	{width:65px;}
.w70	{width:70px;}
.w75	{width:75px;}
.w80	{width:80px;}
.w85	{width:85px;}
.w90	{width:90px;}
.w95	{width:95px;}
.w100{width:100px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w165{width:165px;}
.w200{width:200px;}
.w215{width:215px;}
.w220{width:220px;}
.w230{width:230px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
.w550{width:550px;}

.wid50{width:50%;}
.wid85{width:85%;}
.wid80{width:80%;}
.wid90{width:90%;}
.wid95{width:95%;}

.h5{height:5px;}
.h10{height:10px;}
.h25{height:25px;}
.h30{height:30px;}
.h40{height:40px;}
.h100{height:100px;}

/* padding_style */
.pT10{padding-top:10px;}
.pT20{padding-top:20px;}
.pB10{padding-bottom:10px;}
.pB20{padding-bottom:20px;}
.pL5{padding-left:5px;}
.pL10{padding-left:10px;}
.pL15{padding-left:15px;}
.pL20{padding-left:20px;}
.pL25{padding-left:25px;}
.pL30{padding-left:30px;}
.pL35{padding-left:35px;}
.pL40{padding-left:40px;}
.pL65{padding-left:65px;}
.pL70{padding-left:70px;}
.pR10{padding-right:10px;}
.pR20{padding-right:20px;}

/* margin_style */
.mT5{margin-top:5px;}
.mT10{margin-top:10px;}
.mT15{margin-top:15px;}
.mT20{margin-top:20px;}
.mT30{margin-top:30px;}
.mB5{margin-bottom:5px;}
.mB10{margin-bottom:10px;}
.mB15{margin-bottom:15px;}
.mB20{margin-bottom:20px;}
.mB30{margin-bottom:30px;}
.mB40{margin-bottom:40px;}
.mB50{margin-bottom:50px;}
.mL5{margin-left:5px;}
.mL10{margin-left:10px;}
.mL15{margin-left:15px;}
.mL20{margin-left:20px;}
.mL25{margin-left:25px;}
.mL30{margin-left:30px;}
.mL40{margin-left:40px;}
.mL45{margin-left:45px;}
.mR10{margin-right:10px;}
.mR20{margin-right:20px;}

/* tab */
.tabs{overflow:hidden;width:100%;border-left: 1px solid #ddd;width:100%;margin-bottom:20px;}
.tabs li {float: left;min-height:44px;background:#e0e0e0;overflow:hidden;position:relative;border-right:2px solid #fff;margin-bottom:2px;}
.tabs li a {min-height:44px;line-height:44px;color:#656565;display: block;font-size:16px;padding: 0 20px 0 20px;font-weight:bold;background:#e8e8e8;}
.tabs li.active{background:#2ba600;min-height:44px;}
.tabs li.active a, .tabs li a:hover, .tabs li a:focus{background:#2ba600;color:#fff;}
.tab_content{display:block;clear:both;width:100%;border-top: none;background: #fff;}

/* tab2 */
.tabs2{overflow:hidden;width:100%;width:100%;margin-bottom:20px;}
.tabs2 li {float: left;min-height:44px;overflow:hidden;position:relative;}
.tabs2 li a {min-height:40px;line-height:40px;color:#656565;border-bottom:3px solid #e8e8e8;display: block;font-size:14px;font-weight:bold;text-align:center;background:url('./images/page/bg_bar.gif') right center no-repeat;}
.tabs2 li.active{min-height:44px;}
.tabs2 li.active a, .tabs2 li a:hover, .tabs2 li a:focus{color:#2ba600;border-bottom:3px solid #2ba600;}
.tab_content_sub{display:block;clear:both;width:100%;border-top: none;background: #fff;}

.tab2{overflow:hidden;margin-right:-2px;}
.tab2 li{width:50%;}

.tab3{overflow:hidden;margin-right:-2px;}
.tab3 li{width:33.3%;}

/*  skipnavi */
#skilNavi  {width:100%; position:relative; top:-1px; left:0; z-index:10000;}
#skilNavi  a{width:100%; position:absolute; top:-1px; left:0;}
#skilNavi  a:link {margin:0 0 -1px 0; width:100%; height:0px; font-size:1em; display:block; overflow:hidden;text-decoration:none;}
#skilNavi  a:active, #skilNavi  a:focus, #skilNavi  a:hover {padding:5px 0 5px 0; width:100%; height:20px; font-weight:bold; color:#fff; text-align:center; background:#000; float:left; clear:left;}


#header{position:absolute;width:100%;height:115px;background:#fff;z-index:1000;border-bottom:1px solid #e5e5e5;}
#header .header{position:relative;width:1000px;min-height:113px;margin:0 auto;; }
#header .lnb_bg{background:url('./images/common/bg_lnb_smenu.gif') right bottom no-repeat}
#header .header h1{float:left;padding-top:10px;}

#header .header .gnb{float:right;margin:12px 230px 0 0;}
#header .header .gnb ul{height:38px;}
#header .header .gnb ul li{float:left;line-height:38px;font-size:14px;}
#header .header .gnb ul li a{color:#8e8e8e;vertical-align:middle;font-weight:bold;}
#header .header .gnb ul li span{margin:0 10px;color:#8e8e8e;vertical-align:middle;}

#header .header .gnb .tsearch{position:absolute;top:12px;right:0;}
#header .header .gnb .tsearch input{float:left;vertical-align:middle;}
#header .header .gnb .tsearch .inp_s{width:154px;height:38px;padding-left:10px;line-height:38px;vertical-align:middle;border:none;background:url('./images/common/bg_search.gif') 0 0 no-repeat;}


#lnb{position:absolute;top:57px;left:0;width:100%;background:url('./images/common/bg_lnb.gif') 0 0px no-repeat;}
#lnb .bg_img{position:absolute;top:150px;right:0;}
#lnb ul{position:relative;}
#lnb ul li{float:left;width:166px;}
#lnb ul li a{display:block;height:54px;line-height:55px;vertical-align:middle;color:#000;font-size:16px;text-align:center;font-weight:bold;border-bottom:2px solid #fff}
#lnb ul li a.active, #lnb ul li a.on{color:#2ba600;}
#lnb ul li a:hover, #lnb ul li a:focus{color:#2ba600;}
#lnb ul li ul{position:relative;border:1px solid #2ba600;border-top:2px solid #2ba600;padding:20px 15px;background:#fff;display:none;}
#lnb ul li ul li{float:none;width:100%;}
#lnb ul li ul li a{display:block;text-align:left;font-size:12px;line-height:22px;height:auto;padding:2px 0 2px 10px;color:#757575;background:url('./images/common/bg_lnb_dot.gif') 0 center no-repeat;border-bottom:none;}
#lnb ul li ul li a:hover, #lnb ul li ul li a:focus{color:#2ba600;border-bottom:none}


#footer{position:relative;width:1000px;margin:0 auto;}
#footer h2{float:left;width:195px;padding:60px 0;}
#footer .fcont{float:left;width:805px;font-size:12px;padding-bottom:10px;}
#footer .fcont ul {overflow:hidden;width:100%;margin:20px 0 15px;}
#footer .fcont ul li{float:left;font-weight:bold;;font-size:13px;}
#footer .fcont ul li a{color:#707070;}
#footer .fcont ul li span{margin:0 8px;}
#footer .fcont address{color:#6c6c6c}
#footer .fcont p{font-weight:bold;;}
#footer .mark{position:absolute;right:0;top:35px;padding:7px 10px;border:1px solid #e2e2e2}

/* main */
.main_container{position:relative;padding-top:145px;height:954px;background:#e5e5e5;min-width:1000px;}

.visual_list{position:relative;height:954px}
.visual_list li{position:absolute;top:0;left:0;width:100%;height:954px}

.main_container .msection_box{position:absolute;top:115px;left:0;width:100%;background:url('./images/main/bg_shadow.png') center 375px no-repeat;}
.main_container #content{width:1000px;height:983px;margin:0 auto;}

.msection1 {position:relative;min-height:370px;}
.msection1 .slogan{position:absolute;top:85px;}
.msection1 .evt_zone{position:relative;float:right;width:340px;margin:75px 0 34px;padding:20px 25px 25px;border-radius:10px;background:url('./images/main/thumbnail_off.png') 0 0 repeat}
.msection1 .evt_zone h3{color:#fff;font-size:18px;}
.msection1 .evt_zone .paginate{position:absolute;top:30px;right:80px;}
.msection1 .evt_zone .paginate a{overflow:hidden;width:10px;height:0;padding-top:10px;display:inline-block;background:url('./images/main/btn_paging.png') -15px 0 no-repeat}
.msection1 .evt_zone .paginate a.active{background-position:0 0;}
.msection1 .evt_zone .position{position:absolute;top:30px;right:25px;}
.msection1 .evt_zone .position button{display:block;float:left;margin:0 2px;overflow:hidden;font-size:0;line-height:0;width:15px;height:0px;padding-top:15px;vertical-align:top;}
.msection1 .evt_zone .position button.m_stop{background:url('./images/main/btn_pstop.png') 0 0 repeat}
.msection1 .evt_zone .position button.m_play{background:url('./images/main/btn_pplay.png') 0 0 repeat}
.msection1 .evt_zone .popupzone{position:relative;overflow:hidden;width:340px;height:175px;margin-top:20px;}
.msection1 .evt_zone .popupzone li{float:left;}

.msection1 .btn_ctl{position:absolute;bottom:10px;left:0;}

.msection_colum{float:left;}
.msection2{overflow:hidden;width:100%;background:#fff;}

.msection2 .mlink{float:left;width:230px;height:267px;padding:38px 20px 30px;text-align:center;background:url('./images/main/bg_link_box.gif') 0 0 repeat;}
.msection2 .mlink li{float:left;}
.msection2 .mlink li a{display:block;color:#fff;width:114px;height:45px;padding-top:85px;text-align:center;font-weight:bold;background-image:url('./images/main/bg_main_link.png');background-repeat:no-repeat;}
.msection2 .mlink li.mlink01 a{background-position:10px 0}
.msection2 .mlink li.mlink02 a{background-position:10px -130px}
.msection2 .mlink li.mlink03 a{background-position:10px -245px;padding-top:100px;}
.msection2 .mlink li.mlink04 a{background-position:10px -375px;padding-top:100px;}

.msection2 .bbs_list_box{position:relative;float:left;width:409px;height:282px;padding:32px 25px 20px;border-right:1px solid #eaeaea;border-bottom:1px solid #e0e0e0;}
.msection2 .bbs_list_box .mtab_box{float:left;font-size:14px;}
.msection2 .bbs_list_box .mtab_box h3{float:left;background:#f4f4f4;font-size:14px;margin-left:-1px;border:1px solid #d6d6d8;}
.msection2 .bbs_list_box .mtab_box h3 a{display:block;width:120.5px;height:48px;line-height:48px;text-align:center;color:#727272;}
.msection2 .bbs_list_box .mtab_box div{position:absolute;left:25px;top:81px;width:409px;padding-top:23px;display:none;}
.msection2 .bbs_list_box .mtab_box div li{overflow:hidden;width:100%;padding:5px 0;background:url('./images/main/bg_notice_dot.gif') 0 center no-repeat;}
.msection2 .bbs_list_box .mtab_box div li a{float:left;display:block;width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:15px;}
.msection2 .bbs_list_box .mtab_box div li span{float:right;}
.msection2 .bbs_list_box .mtab_box div .more{display:table-cell;position:absolute;top:-49px;right:0px;width:44px;height:48px;padding:0px 0;vertical-align:middle;text-align:center;border:1px solid #d6d6d8;}
.msection2 .bbs_list_box .mtab_box div .more img{display:inline-block;vertical-align:middle;margin:20px 0;}
.msection2 .bbs_list_box .mtab_box.on h3{background:#fff;border-bottom:1px solid #fff;}
.msection2 .bbs_list_box .mtab_box.on h3 a{color:#489b12}
.msection2 .bbs_list_box .mtab_box.on div{display:block;}

.msection3{overflow:hidden;background:#fff;width:100%;height:238px;}
.msection3  h3{margin-bottom:17px;color:#44990d;font-size:18px;}
.msection3 li{overflow:hidden;width:100%;padding:6px 0;background:url('./images/main/bg_notice_dot.gif') 0 center no-repeat;}
.msection3 li a{float:left;display:block;height:16px;line-height:16px;width:90%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:15px;}
.msection3 .more{position:absolute;top:20px;display:table-cell;width:28px;height:12px;line-height:12px;padding:8px 0;vertical-align:middle;text-align:center;border:1px solid #d6d6d8;}

.msection3 .blist{position:relative;float:left;width:226px;height:193px;padding:25px 20px 20px 22px;;}
.msection3 .blist .more{right:20px;}

.msection3 .plist{position:relative;float:left;width:409px;height:193px;padding:25px 25px 20px;border-right:1px solid #eaeaea;border-left:1px solid #eaeaea;}
.msection3 .plist .thumb{float:left;width:145px;margin-right:25px;margin-top:8px;}
.msection3 .plist .thumb span{display:block;width:141px;height:91px;border:1px solid #d6d6d8;}
.msection3 .plist .thumb strong{display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-top:10px;color:#909090;font-size:14px;text-align:center;}
.msection3 .plist ul{float:left;width:235px;}
.msection3 .plist ul li a{max-width:84%;width:auto;margin-right:5px;}
.msection3 .plist .more{right:30px;}

.msection_box .sns_list_box{float:left;width:229px;height:508px;padding:33px 20px 32px 21px;background:#ffffff;}
.msection_box .sns_list_box .sns_box{position:relative;width:227px;height:514px;border:1px solid #d1d1d1;background:#fff;}
.msection_box .sns_list_box .mtab_box {float:left;font-size:14px;}
.msection_box .sns_list_box .mtab_box h3{float:left;overflow:hidden;height:47px;background:#f4f4f4;}
.msection_box .sns_list_box .mtab_box h3 a{display:block;;}
.msection_box .sns_list_box .mtab_box h3 a img{margin-top:-48px;}
.msection_box .sns_list_box .mtab_box.on h3{background:#fff;border-bottom:1px solid #fff;}
.msection_box .sns_list_box .mtab_box.on h3 a{color:#489b12}
.msection_box .sns_list_box .mtab_box.on h3 a img{margin-top:0px;}
.msection_box .sns_list_box .mtab_box div.sns_list{position:absolute;left:0px;top:47px;width:206px;height:455px;padding:10px 10px 0;display:none;font-size:12px;font-family: "돋움", "Dotum";}
.msection_box .sns_list_box .mtab_box.on div.sns_list{display:block;overflow:auto;}

/* blog facebook */
.sns_content{padding:0px 0 5px;}
.sns_content img{max-width:100%;}
.sns_content .Cen{padding-bottom:10px;word-break:break-all;}
.sns_content .Cen .org{overflow:hidden;width:100%;padding:10px 0;border-bottom:1px dashed #e7e7e7;}
.sns_content .Cen .org p{float:left;width:60px;}
.sns_content .Cen .org dl{float:left;width:115px;margin-left:10px;color:#4e9911;font-weight:bold;}
.sns_content .Cen .org dl dt a{color:#4e9911;}
.sns_content .Cen .org dd{display:block;font-weight:normal;padding-left:10px;padding-top:2px;margin:4px 0;background:url('./images/main/sns/bg_time.png') 0 center no-repeat;font-size:11px;line-height:1.0em;color:#7d7d7d;}
.sns_content .Cen .text{padding:10px 0 0;color:#7d7d7d;font-size:11px;}
.sns_content .Cen .text a:hover{color:#7d7d7d;}
.sns_content .Comment{padding:7px 0;border-bottom:1px solid #e7e7e7;}

#blog .sns_top{padding:10px 0;background:#f4f4f4;border-radius:10px;text-align:center;}
#blog .sns_top:after{content:"";display:block;clear:both;}
#blog .sns_top .logo{}
#blog .sns_top .info{display:inline-block;padding:10px 0;color:#4e9911;}
#blog .bg_this{height:16px;background:url('./images/main/sns/bg_this_gray.png') center 0 no-repeat;}

#facebook .sns_top{overflow:hidden;padding:10px 0px;background:#ecf3fa;border-radius:10px;}
#facebook .sns_top:after{content:"";display:block;clear:both;}
#facebook .sns_top .logo{float:left;padding:0 5px 0 10px;}
#facebook .sns_top .info{float:left;width:120px;padding:0 0 0 10px;color:#727271}
#facebook .sns_top .info strong{display:block;color:#094883;}
#facebook .sns_top .info span{font-size:11px;}
#facebook .sns_top .info .hit{display:block;margin-top:4px}
#facebook .sns_top .info .hit a, #facebook .sns_top .info .hit span{display:inline-block;background:#fff;height:20px;line-height:20px;color:#3b5998;border-radius:2px;vertical-align:middle;}
#facebook .sns_top .info .hit a.good{padding:0 25px 0 5px;background:#fff url('./images/main/sns/bg_good.png') 88% 3px no-repeat;}
#facebook .sns_top .info .hit span{padding:0 5px;}
#facebook .sns_top .info .hit iframe{vertical-align:middle;}

#facebook .bg_this{height:16px;background:url('./images/main/sns/bg_this_blue.png') center 0 no-repeat;}
#facebook .Cen .org dl{color:#094883;}
#facebook .Comment .com_good strong{margin:0 5px;}

.banner_zone{border-bottom:1px solid #d6d6d8;}
.banner_zone .banner{overflow:hidden;position: relative;width:1000px;margin:0 auto;}
.banner_zone .banner h3{position:absolute;top:20px;left:0;}
.banner_zone .banner #bn_prev{position:absolute;top:20px;left:100px;z-index:10;}
.banner_zone .banner #bn_next{position:absolute;top:20px;right:10px;z-index:10;}
.banner_zone .banner #bn_start{position:absolute;top:32px;left:20px;}
.banner_zone .banner #bn_stop{position:absolute;top:32px;left:40px;}
.banner_zone .slide_banner{margin:0 0px 0 135px;overflow:hidden;width:820px;}
.banner_zone .slide_banner ul{height:55px;}

/* sub */
.sub_container{position:relative;padding-top:115px;min-width:1000px;border-bottom:1px solid #e5e5e5;}
.sub_container .container{width:1000px;margin: 0 auto;background:url('./images/sub/bg_container_y.gif') 199px 0 repeat-y;}
.sub_container .container:after{content:"";display:block;clear:both;}

#submenu{float:left;width:170px;padding-right:30px;margin-right:39px}
#submenu h2{padding-top:40px;min-height:30px;padding-bottom:15px;text-align:center;color:#000;font-size:28px;line-height:1.0em;border-bottom:2px solid #e5e5e5;}

#submenu .depth02{margin-bottom:160px}
#submenu .depth02 li a{display:block;padding:13px 20px 13px 15px;border-bottom:1px solid #e5e5e5;font-size:16px;font-weight:bold;color:#323232;}
#submenu .depth02 li a:hover, #submenu .depth02 li a.on{color:#2ba600;background:url('./images/sub/bg_depth01_on.png') 90% center no-repeat;}
#submenu .depth03{display:none;border-bottom:1px solid #e5e5e5;padding:10px 0 10px 0px}
#submenu .depth03 li{margin-bottom:2px;}
#submenu .depth03 li a{display:block;padding:5px 0px 5px 25px;border-bottom:none;background:url('./images/sub/bg_depth02_off.gif') 15px center no-repeat;font-size:13px;font-weight:bold;color:#a3a3a3;}
#submenu .depth03 li a:hover, #submenu .depth03 li a.on{color:#008a4c;background:#2ba600 url('./images/sub/bg_depth02_on.gif') 15px center no-repeat;color:#fff}

#submenu .etc_link{margin-bottom:150px;}
#submenu .etc_link li{}
#submenu .etc_link li a{display:block;padding:15px 0 15px 60px;color:#008a4c;}
#submenu .etc_link li strong{display:block;color:#000;font-size:18px;}
#submenu .etc_link li em{color:#2ba600}
#submenu .etc_link li span{display:block;padding-top:10px;color:#777;}
#submenu .etc_link li.elink1 a{background:url('./images/sub/bg_etc_link01.png') 0 20px no-repeat;border-bottom:1px solid #e5e5e5;}
#submenu .etc_link li.elink2 a{background:url('./images/sub/bg_etc_link02.png') 0 20px no-repeat;}


#contents{float:right;width:760px;margin:0 auto;}
#contents .sub_top{position:relative;width:100%;height:174px;border-bottom:1px solid #e2e2e2;color:#4f4f4f;background:url('./images/sub/bg_sub_img.gif') right 0 no-repeat;;font-family:"Nanum Gothic", "나눔고딕",  "맑은고딕", "Malgun Gothic", "돋움", "Dotum";}
#contents .MNU_0000000000000002{background:url('./images/sub/bg_sub01.png') right 0 no-repeat;}
#contents .MNU_0000000000000019{background:url('./images/sub/bg_sub02.png') right 0 no-repeat;}
#contents .MNU_0000000000000030{background:url('./images/sub/bg_sub03.png') right 0 no-repeat;}
#contents .MNU_0000000000000048{background:url('./images/sub/bg_sub04.png') right 0 no-repeat;}
#contents .MNU_0000000000000062{background:url('./images/sub/bg_sub05.png') right 0 no-repeat;}
#contents .MNU_0000000000000116{background:url('./images/sub/bg_sub06.png') right 0 no-repeat;}
#contents .MNU_0000000000000123{background:url('./images/sub/bg_sub07.png') right 0 no-repeat;}
#contents .sub_top .navi{padding-top:40px;color:#777;}
#contents .sub_top .navi a{margin:0 2px;color:#777;}
#contents .sub_top .location{margin-left:5px;font-size:12px;}
#contents .sub_top .location strong{font-weight:normal;}
#contents .sub_top .location img{line-height:18px;margin-right:5px;vertical-align:middle;}
#contents .sub_top h2{font-size:40px;padding:15px 0 10px;color:#469a10;font-weight:bold;;}
#contents .sub_top span.txt{display:block;padding-bottom:30px;color:#505050;font-size:14px;font-weight:bold;}

#contents #content{padding:30px 0;line-height:1.5em;}

/* sitemap */
#all_sitemap{overflow:hidden;width:100%;}
#all_sitemap .sitemap_line{overflow:hidden;width:100%;padding:50px 0;}
#all_sitemap dl{width:235px;float:left;min-height:380px;padding:0 9px;}
#all_sitemap dt{height:56px;line-height:56px;vertical-align:middle;text-align:center;border-top:2px solid #2ba600;border-bottom:1px solid #dedede;font-size:18px;font-weight:bold;}
#all_sitemap dt a{color:#4c4c4c;}
#all_sitemap dd{padding:20px 15px;}
#all_sitemap dd ul li{border-bottom:1px dotted #e5e5e5;}
#all_sitemap dd ul li a{display:block;height:25px;padding-left:19px;line-height:25px;vertical-align:middle;color:#858585;}
#all_sitemap dd ul li ul {font-size:11px;padding:10px 0;}
#all_sitemap dd ul li ul li{border-bottom:none;}
#all_sitemap dd ul li ul li a{display:block;height:20px;padding-left:32px;line-height:20px;vertical-align:middle;color:#858585;background:url('./images/common/bg_lnb_dot.gif') 20px center no-repeat;}
#all_sitemap dd ul li ul li ul{font-size:11px;padding:10px 15px;}
#all_sitemap dd ul li ul li ul li a{font-size:11px;background:none;}

/* schedule_search */
.cal_search_box{clear:both;line-height:50px;padding:5px 0;height:50px;text-align:center;background:#f3f3f3;}
.cal_search_box input{vertical-align:middle;}
.cal_search_box select{vertical-align:middle;min-width:80px;height:30px;border:1px solid #ccc;}
.cal_search_box .inp{width:315px;height:28px;line-height:30px;padding-left:4px;border:1px solid #ccc;}
.cal_search_box .btn_search{vertical-align:middle;}

/*  schedule */
#schedule{width:100%;margin:0 auto;padding:20px 0 40px;}
#schedule .month{margin:10px 0 20px;text-align:center;}
#schedule .month strong{margin:0 50px;color:#515151;font-size:26px;font-family:"Trebuchet MS",Arial,Helv;}

#schedule .cal_type{overflow:hidden;width:100%;margin-bottom:15px;}
#schedule .cal_type li{float:left;height:27px;}
#schedule .cal_type li a, .cal_type li a span{background:url('./images/calendar/bg_button.gif') 0 0 no-repeat;}
#schedule .cal_type li a{display:block;width:116px;height:14px;margin-right:7px;padding:5px 0 6px 6px;background-position:0 0;color:#666666;font-weight:bold;border:1px solid #e2e2e2;cursor:pointer;}
#schedule .cal_type li a.this{;line-height:27px;background-position:0 -30px;color:#fff;}
#schedule .cal_type li span{display:block;height:14px;vertical-align:middle;padding-left:25px;line-height:16px;letter-spacing:-0.09em;}
#schedule .cal_type li a .ctype1{background-position:0 -137px;}
#schedule .cal_type li a .ctype2{background-position:0 -170px}
#schedule .cal_type li a.this .ctype1{background-position:0 -153px}
#schedule .cal_type li a.this .ctype2{background-position:0 -187px}

#schedule .mcalendar{position:relative;}
#schedule .mcal_chart{border-collapse:collapse;width:100%;border-top:2px solid #585757;background:url('./images/calendar/bg_cal_bar.gif') repeat-x;}
#schedule .mcal_chart thead th{height:35px;line-height:35px;vertical-align:middle;border-bottom:1px solid #585757;color:#515151;}
#schedule .mcal_chart tbody td{display:table-cell;vertical-align:top;width:14%;height:145px;border:1px solid #dfdfdf;font-size:11px;color:#515151;font-weight:bold;}
#schedule .mcal_chart tbody td.today{background:#f5f7fa;}
#schedule .mcal_chart tbody td span{display:block;color:#8d8d8d;margin:12px 0 5px 5px;font-size:12px;}
#schedule .mcal_chart tbody td span.op{opacity: 0.3;}
#schedule .mcal_chart tbody td span.sat{color:#0063de;}
#schedule .mcal_chart tbody td span.sun{color:#ff4200;}
#schedule .mcal_chart tbody td div{padding:5px;}
#schedule .mcal_chart tbody td div a{color:#073b77;}
#schedule .skin1{line-height:20px;min-height:25px;padding-left:3px;vertical-align:middle;background:#6bb3da;}
#schedule .skin2{line-height:20px;min-height:25px;padding-left:3px;vertical-align:middle;background:#f0b501;}
#schedule .skin3{line-height:20px;min-height:25px;padding-left:3px;vertical-align:middle;background:#a3bf42;}
#schedule .skin1 a, #schedule .skin2 a, #schedule .skin3 a{font-weight:bold;font-size:11px;color:#fff;}
#schedule .fc-event-title{color:#fff;}

/*  schedule_list */
.schedule_list {border-collapse:collapse;width:100%;border-top:2px solid #585757;}
.schedule_list thead th{height:35px;line-height:35px;vertical-align:middle;background:#f9f9f9;border-bottom:1px solid #585757;color:#515151;}
.schedule_list thead th.cnum{width:40px;}
.schedule_list thead th.ccat{width:80px;}
.schedule_list thead th.cing{width:50px;}
.schedule_list thead th.csch{width:160px;}
.schedule_list thead th.cdate{width:80px;}
.schedule_list thead th.chit{width:50px;}
.schedule_list tbody td{height:40px;border-bottom:1px solid #d2d2d2;text-align:center;}
.schedule_list tbody td.tit{width:200px;text-align:left;padding-left:30px;}
.schedule_list tbody td.tit a{display:block;width:200px;height:18px;overflow:hidden;white-space:nowrap;}
#schedule .fc-other-month{opacity:0.3;}

/*  schedule_view*/
.schedule_view h3{padding-left:20px;height:35px;font-size:14px;line-height:35px;background:#f9f9f9;border-top:2px solid #585757;border-bottom:1px solid #585757;color:#515151;}
.schedule_view dl.view_info, .schedule_view dl.view_info2{overflow:hidden;width:100%;border-bottom:1px solid #d2d2d2;}
.schedule_view .view_info dt{float:left;width:12%;height:40px;padding-left:3%;line-height:40px;vertical-align:middle;color:#515151;font-weight:bold;background:url('./images/calendar/bg_dt_bar.gif') 95% 12px no-repeat;}
.schedule_view .view_info dd{float:left;width:82%;height:20px;padding:10px 0 10px 3%;line-height:20px;vertical-align:middle;}
.schedule_view .view_info2 dt{float:left;height:40px;width:6%;padding-left:3%;line-height:40px;vertical-align:middle;color:#515151;font-weight:bold;background:url('./images/calendar/bg_dt_bar.gif') 95% 12px no-repeat;}
.schedule_view .view_info2 dt.writer{width:12%;}
.schedule_view .view_info2 dd{float:left;height:40px;padding-left:2%;line-height:40px;}
.schedule_view .view_info2 dd.writer{width:46%;padding-left:3%;}
.view_cont{min-height:250px;padding:35px;border-bottom:1px solid #d2d2d2;}

/*  schedule_write */
.schedule_write{width:100%;border-top:2px solid #585757;}
.schedule_write dl{overflow:hidden;width:100%;background:#F6F6F6; }
.schedule_write dt{float:left;width:17%;padding:4px 0 5px 3%; min-height:23px;line-height:23px;vertical-align:middle;background:#F6F6F6;font-weight:bold;border-bottom: 1px solid #d1d1d1;}
.schedule_write dd{float:left;width:77%;padding:4px 0 5px 3%;min-height:23px;line-height:23px;vertical-align:middle;background:#fff;border-bottom: 1px solid #d1d1d1;}
.schedule_write dd input.tit{width:95%;line-height:20px;vertical-align:middle;border:1px solid #d1d1d1;}
.schedule_write dd select{border: 1px solid #d1d1d1;}
.schedule_write dt.file, .board_write dd.file{border-bottom:none;}
.schedule_write dd input.file_up{border: 1px solid #d1d1d1;width:95%;}
.schedule_write dd ul.file_list{padding:3px 0;}
.schedule_write dd ul.file_list li{padding:2px 0;line-height:14px;}
.schedule_write dd ul.file_list li img{vertical-align:middle;}
.schedule_write dd.write_cont{width:100%;padding:0;border-top: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;}
.schedule_write dd.write_cont textarea{width:100%;min-height:400px;border:none;font-size:12px;}
.schedule_write dd.progress_cho input{margin:0 5px;vertical-align:middle;}
.schedule_write dd.progress_cho label{margin:0 5px;line-height:14px;vertical-align:middle;}
.schedule_write dd select{vertical-align:middle;}

.schedule_write  .file_box {padding:10px;margin:20px 0 10px 0;border:1px solid #D1D1D1;}
.schedule_write  .file_top {overflow:hidden;width:100%;padding:10px 0;}
.schedule_write  .file_top .file_btn{float:left;}
.schedule_write  .file_top .file_info{float:right; line-height:21px;}
.schedule_write table.file_list_chart{border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px;}
.schedule_write table.file_list_chart thead th{border:1px solid #D1D1D1;background:#F6F6F6;}
.schedule_write table.file_list_chart tbody td{border:none;text-align:left;padding:5px;}
.schedule_write table.file_list_chart tbody td img{vertical-align:middle;}
.schedule_write table.file_list_chart tbody td.size{text-align:right;width:100px;padding-right:20px;}
.schedule_write table.file_list_chart tbody td.del{text-align:center;width:50px;}

button{display:inline-block;margin:0;padding:0;width:auto;cursor:pointer;border:none;background:none;overflow:visible;font-size:12px;}
.progress, .progress em, .finish, .finish em, .btn, .btn span, .btn_save, .btn_save button{background:url('./images/calendar/bg_button.gif');}
.progress{display:inline-block;padding-left:3px;height:18px;line-height:18px;background-position:0 -98px;color:#fff;font-size:11px;text-align:center;}
.progress em{display:inline-block;min-width:49px;height:18px;line-height:18px;padding-right:3px;background-position:right -98px;}
.finish{display:inline-block;padding-left:3px;background-position:-0 -117px;color:#fff;font-size:11px;text-align:center;}
.finish em{display:inline-block;min-width:49px;height:18px;line-height:18px;padding-right:3px;background-position: right -117px;}
.btn_save, .btn_save button{display:inline-block;height:32px;line-height:30px;background-position: 0 -60px;color:#fff;font-weight:bold;cursor:pointer;vertical-align:middle;}

.btn span, .btn button, .btn_save button{display:inline-block;padding:0 15px;line-height:32px;background-position:right -60px;}
.btn{display:inline-block;background:#8e8e8e;margin-right:0px;border:1px solid #7b7b7b;}
.btn a, .btn input, .btn button, .btn span{background:#8e8e8e;height:28px;line-height:28px;padding:0 20px 0 20px;color:#fff;left:0px;font-weight:bold;}
.bbtn_bg2{display:inline-block;background:#f3f3f3;margin-right:0px;border:1px solid #cbcbcb}
.bbtn_bg2 a{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px 0 20px;color:#676767;left:0px;font-weight:bold;}

#paging { width: 100%; color: #7F7F7F;  font-style: normal; margin: 20px 0; font-weight: bold; text-align: center; }
#paging img {vertical-align:middle;}
#paging a {display:inline-block;  line-height:18px; vertical-align:middle;margin:0 5px;}
#paging a span {position:absolute; z-index:-1;visibility:hidden;}
#paging .first {position:relative;background:url("./images/calendar/btn_first_scn.gif") left center no-repeat;  width:18px; height:17px; }
#paging .prev {position:relative;background:url("./images/calendar/btn_prev.gif") left center no-repeat;  width:18px; height:17px; }
#paging .next {position:relative;background:url("./images/calendar/btn_next.gif") left center no-repeat;  width:18px; height:17px; }
#paging .last {position:relative;background:url("./images/calendar/btn_last_scn.gif") left center no-repeat;  width:18px; height:17px; }
#paging .current {display:inline-block; margin: 0 5px; vertical-align:middle;color:#000}

#pop_research{background:#fff;position:absolute;top:150px;left:180px;z-index:100;width:660px;}
#pop_research h1{background:url('./images/calendar/poll_result_top.gif') 0 0 no-repeat;color:#fff;height:42px;line-height:42px;font-size:14px;vertical-align:middle;padding-left:20px}
#pop_research .pop_research_cont{padding:20px;background:url('./images/calendar/poll_result_bg.gif') 0 bottom no-repeat;}
#pop_research .research_cont{height:400px;overflow-y:scroll;overflow-x:hidden;}
#pop_research .result_area{background:#999999;height:200px;}
#pop_research .result_man{border:1px solid #97BEF6;padding:20px;margin:20px  0;font-weight:bold;font-size:14px;text-align:center;}
#pop_research .result_man .pt1{color:#3A8990;}
#pop_research .result_man .pt2{color:#4E81CC;}
#pop_research .eng_11{font-size:11px;color:#A4A4A4;}
#pop_research .per{font-weight:bold;}

.color_ver1{background:#9DB665;height:12px;}
.color_ver2{background:#65A8B6;height:12px;}
.color_ver3{background:#7E65B6;height:12px;}
.color_ver4{background:#B6656C;height:12px;}

table.result_chart { border-collapse:collapse; width:100%; font-size:12px;line-height:18px;border-top:2px solid #5D99D2;margin-bottom:10px;}
table.result_chart th, table.result_chart td {border:1px solid #b6cce2;padding:5px 10px;text-align:center;}
table.result_chart thead th {background:#edf3fa;border:1px solid #b6cce2;text-align:center;color:#000000;}
table.result_chart tbody th{color:#4E81CC;}
table.result_chart tbody strong{color:#000;}
table.result_chart td.alL{text-align:left;}
table.result_chart td.bg{background:#edf3fa;}
table.result_chart tbody th.bg{background:#edf3fa;color:#000;}
table.result_chart tfoot{color:#000;}

table.result_chart2 {border-collapse:collapse; width:100%; font-size:12px;line-height:18px;border-top:2px solid #5D99D2;margin-bottom:10px;}
table.result_chart2 th, table.result_chart2 td {border:1px solid #b6cce2;padding:5px 10px;text-align:center;}
table.result_chart2 tbody th {background:#edf3fa;border:1px solid #b6cce2;text-align:center;color:#4E81CC;}
table.result_chart2 tbody td{text-align:left;}
table.result_chart2 tbody td.alC{text-align:center;}
table.result_chart2 tbody td.bg{background:#edf3fa;}
#pop_research .re_close{position:absolute;top:9px;right:19px;}

.popbox{width:100%;height:auto;position:relative;}
.popbox .popboxtop{width:100%;height:55px;position:relative;background:url('./images/calendar/pop_tit_bg.png') repeat-x;}
.popbox .popboxtop .popboxh3{width:300px;height:auto;padding-left:25px;font-size:14px;color:#fff;line-height:50px;float:left;}
.popbox .popboxtop .popboxclose{width:20px;height:20px;float:right;padding:15px 15px 0 0;}
.popbox .popboxconall{width:auto; max-width:400px;height:auto;position:relative;margin:80px auto 0;padding-top:14px;background:url('./images/calendar/pop_conbg_top.png') no-repeat;}
.popbox .popboxconall form{height:auto;background:url('./images/calendar/pop_conbg_bottom.png') 0 100% no-repeat;padding-bottom:14px;}
.popbox .popboxconall .popboxcon{height:auto;background:url('./images/calendar/pop_conbg_y.png') repeat-y;padding:0 20px;}
.popboxcon .basicbigty1{font-size:15px;margin-bottom:20px;}
.popboxcon p{padding-bottom:20px;}
.popboxcon p.center{text-align:center;}

.popbox .t_title{margin-top:20px;}

#popsubboxtop{width:100%;height:55px;position:relative;background:url('./images/calendar/pop_tit_bg.png') repeat-x;}
#popsubboxtop h1{width:300px;height:auto;padding-left:25px;font-size:14px;color:#fff;line-height:50px;float:left;}
#popsubboxtop .popsubboxclose{width:20px;height:20px;float:right;padding:15px 15px 0 0;}
#popsubboxcontxt{width:auto;max-width:600px;margin:0 auto;padding-top:20px;}
#popsubboxcontxt .poll_result_man_j{margin-bottom:5px;font-size:13px;font-weight:bold;text-align:right;}
#popsubboxcontxt .poll_result_man_j a{display:none;}

#popsubboxcontxt .poll_result_t_j{border-collapse:collapse;width:100%;border-top:2px solid #585757;}
#popsubboxcontxt .poll_result_t_j th,
#popsubboxcontxt .poll_result_t_j td{height:40px;border:1px solid #d2d2d2;text-align:center;}
#popsubboxcontxt .poll_result_t_j td.per_re{padding:0 10px;text-align:left;}
#popsubboxcontxt .poll_result_t_j td.color_td{padding:0 10px;text-align:left;}
#popsubboxcontxt .poll_result_t_j .fc-other-month{opacity:0.3;}


/* button */
.cbtn{display:inline-block;height:34px;padding:0 15px;line-height:34px;background:#f4f4f4;border:1px solid #c6c6c6;font-size:14px;vertical-align:middle;font-weight:bold;font-family: "Nanum Gothic","나눔고딕"}
.cbtn2{display:inline-block;height:34px;padding:0 15px;line-height:34px;background:#fff;border:1px solid #2ba600;font-size:14px;vertical-align:middle;color:#2ba600;font-weight:bold;font-family: "Nanum Gothic","나눔고딕";}
.icon_down{display:inline-block;background:url('./images/page/icon_down.gif') right center no-repeat;padding-right:15px}
.icon_chk{display:inline-block;padding-left:25px;vertical-align:middle;background:url('./images/page/icon_chk.gif') 0 center no-repeat;}
.icon_note{display:inline-block;padding-left:30px;vertical-align:middle;background:url('./images/page/icon_note.gif') 0 center no-repeat;}
.icon_adobe{display:inline-block;padding-left:30px;vertical-align:middle;background:url('./images/page/icon_adobe.png') 0 center no-repeat;}

/* btn_content */
.sbtn, .btn1, .btn2, .mbtn1, .mbtn2, .lbtn, .lbtn1, .lbtn2,
.sbtn a, .btn1 a, .btn2 a, .mbtn1 a, .mbtn2 a, .lbtn a, .lbtn1 a, .lbtn2 a,
.sbtn input, .btn1 input, .btn2 input, .mbtn1 input, .mbtn2 input, .lbtn input, .lbtn1 input, .lbtn2 input,
.sbtn button, .btn1 button, .btn2 button, .mbtn1 button, .mbtn2 button, .lbtn1 button, .lbtn2 button, .lbtn3 button,
.sbtn span, .btn1 span, .btn2 span, .mbtn1 span, .mbtn2 span, .lbtn1 span, .lbtn2 span, .lbtn3 span{position:relative;white-space: nowrap;background-image:url('./images/btn/btn_content.gif');vertical-align:middle;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum"}
.sbtn, .btn1, .btn2, .mbtn1, .mbtn2, .lbtn, .lbtn1, .lbtn2{display:inline-block;cursor:pointer;}
.sbtn a, .btn1 a, .btn2 a, .mbtn1 a, .mbtn2 a, .lbtn a, .lbtn1 a, .lbtn2 a, .sbtn button, .btn1 button, .btn2 button, .mbtn1 button, .mbtn2 button, .lbtn button, .lbtn1 button, .lbtn2 button, .sbtn span, .btn1 span, .btn2 span, .mbtn1 span, .mbtn2 span, .lbtn1 span, .lbtn2 span, .lbtn3 span{display:inline-block;margin:0;font-size:12px;text-align:center;background-color:transparent;border:none;font-size:12px;cursor:pointer;overflow:visible;}

.sbtn{background-position: 0 -185px;margin-right:3px;}
.sbtn a, .sbtn input, .sbtn button{background-position:right -185px;height:21px;line-height:18px;padding:0 10px 0 7px;color:#fff;left:3px;font-size:11px;}
.btn1{background:#8e8e8e;margin-right:0px;border:1px solid #7b7b7b;}
.btn1 a, .btn1 input, .btn1 button, .btn1 span{background:#8e8e8e;height:28px;line-height:28px;padding:0 20px 0 20px;color:#fff;left:0px;font-weight:bold;}
.btn2{background:#f3f3f3;margin-right:0px;border:1px solid #cbcbcb}
.btn2 a, .btn2 input, .btn2 button, .btn2 span{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px 0 20px;color:#676767;left:0px;font-weight:bold;}
.mbtn1{background:#2ba600;margin-right:0px;border:1px solid #2ba303;}
.mbtn1 a, .mbtn1 input, .mbtn1 button{background:#2ba600;height:26px;line-height:26px;padding:0 15px 0 15px;color:#fff;left:0px;font-size:11px;font-weight:bold;}
.mbtn2{background:#a3a3a3;margin-right:0px;border:1px solid #898989}
.mbtn2 a, .mbtn2 input, .mbtn2 button{background:#a3a3a3;height:26px;line-height:26px;padding:0 15px 0 15px;color:#fff;left:0px;font-size:11px;font-weight:bold;}
.lbtn{background:#a3a3a3;margin-right:0px;border:1px solid #898989}
.lbtn a, .lbtn input, .lbtn button{background:#a3a3a3;height:34px;line-height:34px;padding:0 30px 0 30px;color:#fff;left:0px;font-weight:bold;}
.lbtn1{background:#2ba600;margin-right:0px;border:1px solid #2ba303;}
.lbtn1 a, .lbtn1 input, .lbtn1 button{background:#2ba600;height:34px;line-height:34px;padding:0 30px 0 30px;color:#fff;left:0px;font-weight:bold;}
.lbtn2{background:#a3a3a3;margin-right:0px;border:1px solid #898989}
.lbtn2 a, .lbtn2 input, .lbtn2 button{background:#a3a3a3;height:34px;line-height:34px;padding:0 30px 0 30px;color:#fff;left:0px;font-weight:bold;}


/* 온라인민원 */
.clean_center{padding-top:20px;}
.clean_center .pbg2{margin:23px 0 20px;padding:30px 50px;font-size:15px;font-weight:bold;line-height:1.5em;}
.clean_center .complaint ul{overflow:hidden;width:100%;padding-top:20px;}
.clean_center .complaint li{position:relative;float:left;width:210px;min-height:150px;padding:0 30px 0 140px;font-weight:bold;}
.clean_center .complaint li strong{display:block;color:#323232;font-size:22px;margin-bottom:15px;}
.clean_center .complaint li.bg1{background:url('./images/page/m1/bg_civil01.png') 0 0 no-repeat;}
.clean_center .complaint li.bg2{background:url('./images/page/m1/bg_civil02.png') 0 0 no-repeat;}
.clean_center .complaint a{position:absolute;bottom:0;left:140px;display:block;width:175px;text-align:center;background:#f4f4f4 url('./images/page/bg_arrow.png') 85% center no-repeat;font-size:14px;color:#404040}

.clean_center .complaint2 ul{overflow:hidden;width:100%;padding-top:20px;}
.clean_center .complaint2 li{position:relative;min-height:150px;padding:0 30px 0 140px;font-weight:bold;}
.clean_center .complaint2 li strong{display:block;color:#323232;font-size:22px;margin-bottom:15px;}
.clean_center .complaint2 li.bg1{background:url('./images/page/m1/bg_civil02.png') 0 0 no-repeat;}
.clean_center .complaint2 a{position:absolute;bottom:0;left:140px;display:block;width:175px;text-align:center;background:#f4f4f4 url('./images/page/bg_arrow.png') 85% center no-repeat;font-size:14px;color:#404040}

/* 온라인민원 글쓰기  */
.pbg3 .radio_box {text-align:center;}
.pbg3 .radio_box input{vertical-align:middle;}
.pbg3  .radio_box label{vertical-align:middle;margin:0 15px 0 5px;}

.adobe_box{padding:0 0 30px 175px;margin-bottom:15px;border-bottom:1px solid #f2f2f2;color:#989898;background:url('./images/page/m3/bg_adobe.png') 25px 0 no-repeat;}
.adobe_box strong{font-size:16px;color:#404040;}
.adobe_box p{display:block;padding:15px 0;}

/* 녹색자료실  */
.data_list{background:#f4f4f4;padding:20px;margin-bottom:40px;}
.data_list li{display:inline-block;width:90%;background:url('./images/basic/green/bg_icon3.gif') 0 8px no-repeat;padding-left:12px; margin: 4px 0 4px 0px; font-weight:normal;color:#818181;}

.layer {display:none; position:fixed;top:0; left:0; width:100%; height:100%; z-index:2000;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5;}
.pop_layer{position:relative;top:50%;left:50%;background:#fff;border:3px solid #60ac13;width:440px;min-height:285px;}
.pop_layer h4{padding:10px 50px 15px 15px;background:#60ac13;color:#fff;font-size:18px;}
.pop_layer .pop_content{background:#fff;padding:20px;}
.pop_layer .pop_content .data_info:after{content:"";display:block;clear:both;}
.pop_layer .pop_content .data_info .img{float:left;margin-right:20px;}
.pop_layer .pop_content .data_info .img img{display:block;width:130px;height:150px;}
.pop_layer .pop_content .data_info .cont{float:left;}
.pop_layer .pop_content .data_info .cont li{padding:2px 0;}
.pop_layer  .pop_close{position:absolute;top:13px;right:18px;display:block;width:15px;height:0;padding-top:15px;overflow:hidden;font-size:0;line-height:0;font-size:0;background:url('./images/page/btn_pop_close.png') 0 0 no-repeat;}

/* 인증 */
.certification{padding:40px 0;background:#f9f9f9;margin-bottom:20px;}
.certification ul {overflow:hidden;width:100%;background:#f9f9f9 url('./images/page/bg_dot_y.png') center 0 repeat-y;}
.certification ul li{float:left;width:50%;padding-top:190px;color:#7c7c7c;text-align:center;}
.certification ul li.ipin{background:url('./images/page/bg_ipin.png') center 10px no-repeat;}
.certification ul li.hp{background:url('./images/page/bg_hp.png') center 10px no-repeat;}
.certification ul li strong{display:block;padding:20px;font-size:20px;color:#000000;}
.certification ul li span{display:block;margin-bottom:50px;}
.certification ul li a{display:inline-block;min-width:198px;height:41px;line-height:41px;font-size:14px;color:#8b8b8b;font-weight:bold;text-align:center;border:1px solid #d1d1d1;background:#ffffff url('./images/page/icon_skip.png') 90% center no-repeat;}

/* 산림탄소센터소개 */
.carbon_intro{padding:30px 304px 0 0;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images//page/m5/bg_st01.png') right 0 no-repeat;}
.carbon_intro .num_list{margin-left:20px;color:#818181;}
.carbon_intro .num_list li{padding:2px 0;}
.carbon_intro .num_list strong{color:#60ac13;}

.txt_bg05{padding:30px 0 35px 250px;margin-bottom:30px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images//page/m5/bg_st.jpg') 0 0 no-repeat}
.txt_bg05 strong{display:block;margin-bottom:20px;}