
<body topmargin="7" leftmargin="7">
<div style="margin-top:0px;"><img border="0" src="http://www.kgpa.or.kr/newsletter/images/20110930/0930_1.jpg"></div>
<div style="margin-top:0px;"><img border="0" src="http://www.kgpa.or.kr/newsletter/images/20110930/0930_2.jpg"   ></div>
<div style="margin-top:0px;"><img border="0" src="http://www.kgpa.or.kr/newsletter/images/20110930/0930_3.jpg" usemap="#FPMap0"></div>
<div style="margin-top:0px;"><img border="0" src="http://www.kgpa.or.kr/newsletter/images/20110930/0930_4.jpg" usemap="#FPMap1"></div>

<map name="FPMap0">
	<area target="_blank"  href="http://blog.daum.net/kgpa/212" shape="rect" coords="62, 43, 267, 64">
	<area target="_blank"  href="http://blog.daum.net/kgpa/211" shape="rect" coords="60, 68, 269, 97">
	<area target="_blank" href="http://blog.daum.net/kgpa/210" shape="rect" coords="62, 100, 334, 123">
	<area target="_blank" href="http://blog.daum.net/kgpa/219" shape="rect" coords="369, 42, 583, 64">
	<area target="_blank" href="http://blog.daum.net/kgpa/216" shape="rect" coords="370, 67, 573, 82">
	<area target="_blank" href="http://blog.daum.net/kgpa/214" shape="rect" coords="372, 84, 573, 101">
	<area target="_blank" href="http://blog.daum.net/kgpa/213" shape="rect" coords="373, 103, 600, 124">
	<area target="_blank" href="http://blog.daum.net/kgpa/209" shape="rect" coords="67, 311, 200, 445">
	<area target="_blank" href="http://blog.daum.net/kgpa/220" shape="rect" coords="258, 319, 396, 442">
	<area target="_blank" href="http://blog.daum.net/kgpa/217" shape="rect" coords="463, 323, 611, 442">
	<area target="_blank" href="http://blog.daum.net/kgpa/218" shape="rect" coords="37, 148, 370, 273">
	<area target="_blank" href="http://blog.daum.net/kgpa/215" shape="rect" coords="378, 146, 651, 274">
	</map>
<map name="FPMap1">
	<area target="_blank" href="http://www.4000news.com/gisa/view.html?number=14&hosu=901ho" shape="rect" coords="66, 53, 236, 71">
	<area target="_blank" href="http://news.nate.com/view/20110919n15043" shape="rect" coords="67, 73, 235, 89">
	<area target="_blank" href="http://media.paran.com/news/view.kth?dirnews=2926525&year=2011" shape="rect" coords="68, 90, 246, 106">
	<area target="_blank" href="http://www.hkbs.co.kr/hkbs/news.php?mid=1&r=view&uid=212419&treec=199" shape="rect" coords="68, 107, 281, 122">
	<area target="_blank" href="http://news.khan.co.kr/kh_news/khan_art_view.html?artid=201108170027112&code=900314" shape="rect" coords="70, 123, 248, 142">
	<area target="_blank" href="http://news.nate.com/view/20110817n08142" shape="rect" coords="319, 52, 484, 72">
	<area target="_blank" href="http://www.kado.net/news/articleView.html?idxno=527371" shape="rect" coords="318, 74, 493, 89">
	<area target="_blank" href="http://www.inews365.com/news/article.html?no=192619" shape="rect" coords="320, 90, 485, 104">
	<area target="_blank" href="http://media.paran.com/news/view.kth?dirnews=2709893&year=2011" shape="rect" coords="317, 106, 486, 122">
	<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=638937" shape="rect" coords="321, 124, 493, 142">
	<area target="_blank" href="http://ecotopia.hani.co.kr/?mid=media&category=107&document_srl=24027" shape="rect" coords="43, 220, 290, 237">
	<area target="_blank" href="http://ecotopia.hani.co.kr/?mid=media&category=107&document_srl=22754" shape="rect" coords="44, 240, 276, 259">
	<area target="_blank" href="http://ecotopia.hani.co.kr/?mid=media&category=107&document_srl=21001" shape="rect" coords="47, 262, 322, 278">
	<area target="_blank" href="http://www.nocutnews.co.kr/Show.asp?IDX=1927529" shape="rect" coords="48, 292, 353, 308">
	<area target="_blank" href="http://www.nocutnews.co.kr/show.asp?idx=1845958" shape="rect" coords="45, 311, 319, 332">
	<area target="_blank" href="http://www.nocutnews.co.kr/show.asp?idx=1818547" shape="rect" coords="43, 330, 319, 348">
	<area target="_blank" href="http://www.kgpa.or.kr/cms/newsletter/4" shape="rect" coords="291, 421, 351, 437">
	<area target="_blank" href="http://www.kgpa.or.kr/boards/lst/news_08/no:136816/page:1" shape="rect" coords="382, 174, 513, 330">
	<area target="_blank" href="http://www.forest.go.kr/event/unccd_cop10_fighting.html" shape="rect" coords="524, 175, 651, 326">
	<area target="_blank" href="http://www.kgpa.or.kr/cms/newsletter/4" shape="rect" coords="566, 395, 627, 411">
	</map>
	