<map name="FPMap0">
<area target="_blank" target="_blank" href="http://blog.daum.net/kgpa/231" shape="rect" coords="9, 72, 678, 442">
<area target="_blank" href="http://blog.daum.net/kgpa/228" shape="rect" coords="49, 483, 194, 506">
<area target="_blank" href="http://sanlim.kr/detail.php?number=11229" shape="rect" coords="51, 508, 329, 525">
<area target="_blank" href="http://www.kgpa.or.kr/boards/view/news_04/177869/page:1" shape="rect" coords="50, 525, 327, 543">
<area target="_blank" href="http://sanlim.kr/detail.php?number=11665&thread=31" shape="rect" coords="51, 543, 327, 567">
<area target="_blank" href="http://blog.daum.net/kgpa/229" shape="rect" coords="51, 656, 264, 675">
<area target="_blank" href="http://blog.daum.net/kgpa/226" shape="rect" coords="50, 674, 255, 695">
<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=658913" shape="rect" coords="50, 696, 307, 713">
<area target="_blank" href="http://blog.daum.net/kgpa/221" shape="rect" coords="51, 713, 336, 735">
<area target="_blank" href="http://blog.daum.net/kgpa/227" shape="rect" coords="373, 471, 504, 576">
<area target="_blank" href="http://blog.daum.net/kgpa/230" shape="rect" coords="373, 585, 506, 690">
<area target="_blank" href="http://www.kgpa.or.kr/boards/view/news_04/177865/page:1" shape="rect" coords="542, 473, 634, 575">
<area target="_blank" href="http://news.nate.com/view/20111024n16518" shape="rect" coords="63, 813, 297, 830">
<area target="_blank" href="http://www.hkbs.co.kr/hkbs/news.php?mid=1&r=view&uid=215800&treec=201" shape="rect" coords="63, 831, 297, 849">
<area target="_blank" href="http://media.daum.net/press/view.html?cateid=1065&newsid=20111020134118404&p=newsispr" shape="rect" coords="65, 849, 299, 864">
<area target="_blank" href="http://media.paran.com/news/view.kth?dirnews=3434433&year=2011" shape="rect" coords="64, 864, 299, 881">
<area target="_blank" href="http://media.paran.com/news/view.kth?dirnews=3445126&year=2011" shape="rect" coords="325, 813, 571, 830">
<area target="_blank" href="http://www.dailyjeonbuk.com/news/articleView.html?idxno=130682" shape="rect" coords="322, 831, 526, 847">
<area target="_blank" href="http://sanlim.kr/detail.php?number=11136" shape="rect" coords="322, 848, 547, 865">
<area target="_blank" href="http://www.headlinejeju.co.kr/news/articleView.html?idxno=129070" shape="rect" coords="323, 865, 538, 882">
<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=642852" shape="rect" coords="42, 985, 287, 1001">
<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=639159" shape="rect" coords="45, 1005, 333, 1018">
<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=635198" shape="rect" coords="45, 1024, 331, 1039">
<area target="_blank" href="http://www.nocutnews.co.kr/Show.asp?IDX=1943060" shape="rect" coords="43, 1056, 311, 1073">
<area target="_blank" href="http://www.nocutnews.co.kr/Show.asp?IDX=1935239" shape="rect" coords="43, 1073, 292, 1092">
<area target="_blank" coords="43, 1093, 303, 1111" shape="rect" href="http://www.nocutnews.co.kr/show.asp?idx=1845958">
<area target="_blank" href="http://www.kgpa.or.kr/boards/lst/news_08" shape="rect" coords="379, 938, 508, 1092">
<area target="_blank" href="http://www.kgpa.or.kr/cms/newsletter/4" shape="rect" coords="568, 1150, 624, 1169">
<area target="_blank" href="http://www.kgpa.or.kr/cms/newsletter/4" shape="rect" coords="293, 1177, 353, 1193">
</map><img border="0" src="http://www.kgpa.or.kr/newsletter/images/news_17.jpg" usemap="#FPMap0">