<map name="FPMap0">
<area target="_blank" href="http://blog.daum.net/kgpa/250" shape="rect" coords="71, 485, 243, 497">
<area target="_blank" href="http://blog.daum.net/kgpa/249" shape="rect" coords="67, 505, 335, 518">
<area target="_blank" href="http://blog.daum.net/kgpa/234" shape="rect" coords="67, 526, 280, 539">
<area target="_blank" href="http://blog.daum.net/kgpa/251" shape="rect" coords="68, 646, 315, 655">
<area target="_blank" href="http://blog.daum.net/kgpa/233" shape="rect" coords="68, 664, 273, 672">
<area target="_blank" href="http://blog.daum.net/kgpa/236" shape="rect" coords="50, 711, 295, 930">
<area target="_blank" href="http://blog.daum.net/kgpa/232" shape="rect" coords="334, 770, 646, 943">
<area target="_blank" href="http://www.kns.tv/news/articleView.html?idxno=58596" shape="rect" coords="61, 1007, 298, 1020">
<area target="_blank" href="http://www.kado.net/news/articleView.html?idxno=581448" shape="rect" coords="61, 1027, 281, 1040">
<area target="_blank" href="http://app.yonhapnews.co.kr/YNA/Basic/article/Press/YIBW_showPress.aspx?contents_id=RPR20120807023900353" shape="rect" coords="61, 1046, 370, 1058">
<area target="_blank" href="http://www.etnews.com/news/home_mobile/life/2582236_2569.html" shape="rect" coords="61, 1066, 274, 1074">
<area target="_blank" href="http://www.jjn.co.kr/news/articleView.html?idxno=559515" shape="rect" coords="389, 1007, 624, 1019">
<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=696436" shape="rect" coords="389, 1027, 611, 1041">
<area target="_blank" href="http://www.joongdo.co.kr/jsp/article/article_view.jsp?pq=201204260214" shape="rect" coords="389, 1044, 604, 1056">
<area target="_blank" href="http://www.hkbs.co.kr/hkbs/news.php?mid=1&treec=202&r=view&uid=226236" shape="rect" coords="389, 1064, 592, 1075">
<area target="_blank" href="http://www.kgpa.or.kr/cms/newsletter/4" shape="rect" coords="570, 1164, 622, 1183">//
<area target="_blank" href="http://www.kgpa.or.kr/cms/newsletter/4" shape="rect" coords="298, 1195, 346, 1204">
</map><img border="0" src="http://www.kgpa.or.kr/newsletter/images/news_18.jpg" usemap="#FPMap0">