<img src="http://www.kgpa.or.kr/newsletter/images/news_19.jpg" width="680" height="1300" border="0" usemap="#FPMap0" />
<map name="FPMap0">
  <area target="_blank" shape="rect" coords="28,469,318,512" href="http://www.yjinews.com/news/articleView.html?idxno=23414" />
  <area target="_blank" shape="rect" coords="364,471,551,491" href="http://sanlim.kr/detail.php?number=14577&thread=31" />
  <area target="_blank" shape="rect" coords="363,493,653,513" href="http://economy.hankooki.com/lpage/society/201208/e20120827151920120410.htm" />
  <area target="_blank" shape="rect" coords="24,747,316,772" href="http://www.ecolaw.co.kr/news/articleView.html?idxno=39312" />
  <area target="_blank" shape="rect" coords="24,772,237,790" href="http://blog.daum.net/kgpa/258" />
  <area target="_blank" shape="rect" coords="375,751,490,860" href="http://blog.daum.net/kgpa/257" />
  <area target="_blank" shape="rect" coords="535,748,637,911" href="http://blog.daum.net/kgpa/259" />
  <area target="_blank" shape="rect" coords="374,867,489,974" href="http://blog.daum.net/kgpa/256" />
  <area target="_blank" shape="rect" coords="55,1010,252,1034" href="http://news.nate.com/view/20120904n00458" />
  <area target="_blank" shape="rect" coords="55,1035,271,1052" href="http://news.nate.com/view/20120905n00471" />
  <area target="_blank" shape="rect" coords="56,1054,293,1069" href="http://news.nate.com/view/20120906n00296" />
  <area target="_blank" shape="rect" coords="55,1071,295,1087" href="http://www.yeongnam.com/mnews/newsview.do?mode=newsView&newskey=20120824.010110720040001" />
  <area target="_blank" shape="rect" coords="359,1013,553,1030" href="http://www.daejonilbo.com/news/newsitem.asp?pk_no=1014132" />
  <area target="_blank" shape="rect" coords="359,1033,619,1052" href="http://www.welfarenews.net/news/articleView.html?idxno=33067" />
  <area target="_blank" shape="rect" coords="359,1053,575,1067" href="http://www.kwnews.co.kr/nview.asp?s=501&aid=212080300035" />
  <area target="_blank" shape="rect" coords="359,1068,603,1087" href="http://www.cctoday.co.kr/news/articleView.html?idxno=715570" />
  <area target="_blank" shape="rect" coords="564,1152,626,1184" href="http://www.kgpa.or.kr/cms/newsletter/4" />
  <area target="_blank" shape="rect" coords="288,1188,347,1206" href="http://www.kgpa.or.kr/cms/newsletter/4" />
</map>

