<map name="FPMap0">
<area target="_blank" href="http://blog.daum.net/kgpa/312" shape="rect" coords="61, 495, 229, 511">
<area target="_blank" href="http://blog.daum.net/kgpa/314" shape="rect" coords="63, 515, 322, 533">
<area target="_blank" href="http://blog.daum.net/kgpa/321" shape="rect" coords="64, 536, 383, 554">
<area target="_blank" href="http://blog.daum.net/kgpa/320" shape="rect" coords="65, 557, 262, 573">
<area target="_blank" href="http://blog.daum.net/kgpa/319" shape="rect" coords="65, 580, 320, 598">
<area target="_blank" href="http://blog.daum.net/kgpa/318" shape="rect" coords="64, 601, 322, 617">
<area target="_blank" href="http://blog.daum.net/kgpa/322" shape="rect" coords="65, 624, 224, 638">
<area target="_blank" href="http://blog.daum.net/kgpa/323" shape="rect" coords="66, 641, 229, 659">
<area target="_blank" href="http://www.asiae.co.kr/news/view.htm?idxno=2013100718302262370" shape="rect" coords="41, 744, 319, 761">
<area target="_blank" href="http://news.mk.co.kr/newsRead.php?year=2013&no=1015382" shape="rect" coords="54, 766, 336, 796">
<area target="_blank" href="http://www.newsis.com/ar_detail/view.html?ar_id=NISX20131110_0012502225&cID=10807&pID=10800" shape="rect" coords="52, 798, 317, 816">
<area target="_blank" href="http://www.mt.co.kr/view/mtview.php?type=1&no=2013081315002626711&outlink=1" shape="rect" coords="363, 747, 639, 768">
<area target="_blank" href="http://www.idaegu.co.kr/news.php?code=ch04&mode=view&num=105238" shape="rect" coords="363, 771, 574, 785">
<area target="_blank" href="http://www.edaily.co.kr/news/NewsRead.edy?SCD=JI51&newsid=02168086602937168&DCD=A405&OutLnkChk=Y" shape="rect" coords="365, 787, 573, 804">
<area target="_blank" href="http://blog.daum.net/kgpa/309" shape="rect" coords="50, 906, 256, 991">
<area target="_blank" href="http://blog.daum.net/kgpa/313" shape="rect" coords="56, 994, 262, 1086">
</map><img border=0 src=http://kgpa.or.kr/images/newsletter/201311.jpg usemap="#FPMap0">