<img border=0  src=http://kgpa.or.kr/newsletter/201308/news23.jpg usemap="#FPMap0">


<map name="FPMap0">
<area target="_blank" href="http://blog.daum.net/kgpa/295" shape="rect" coords="61, 482, 283, 501">
<area target="_blank" href="http://blog.daum.net/kgpa/297" shape="rect" coords="56, 505, 378, 522">
<area target="_blank" href="http://blog.daum.net/kgpa/300" shape="rect" coords="57, 521, 228, 541">
<area target="_blank" href="http://blog.daum.net/kgpa/292" shape="rect" coords="58, 633, 354, 650">
<area target="_blank" href="http://blog.daum.net/kgpa/302" shape="rect" coords="61, 676, 340, 695">
<area target="_blank" href="http://blog.daum.net/kgpa/301" shape="rect" coords="49, 766, 240, 912">
<area target="_blank" href="http://blog.daum.net/kgpa/299" shape="rect" coords="255, 773, 444, 920">
<area href="http://blog.daum.net/kgpa/306" shape="rect" coords="456, 767, 636, 930">
<area target="_blank" href="http://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=001&aid=0006234363" shape="rect" coords="40, 1005, 340, 1023">
<area target="_blank" href="http://www.lafent.com/inews/news_view.html?news_id=109401" shape="rect" coords="39, 1029, 317, 1041">
<area target="_blank" href="http://www.ggilbo.com/news/articleView.html?idxno=129621&srchid=IIM/news/68238073/e5acfa64bd3071ac5669af04e3abaccf#A129621_93351_1746.jpg" shape="rect" coords="42, 1046, 209, 1061">
<area target="_blank" href="http://news.kukinews.com/article/view.asp?page=1&gCode=soc&arcid=0007371583&cp=nv" shape="rect" coords="41, 1065, 331, 1080">
<area target="_blank" href="http://www.mt.co.kr/view/mtview.php?type=1&no=2013062617362139038&outlink=1" shape="rect" coords="345, 1008, 600, 1022">
<area target="_blank" href="http://www.mt.co.kr/view/mtview.php?type=1&no=2013062814400874646&outlink=1" shape="rect" coords="344, 1025, 645, 1040">
<area target="_blank" href="http://www.asiae.co.kr/news/view.htm?idxno=2013062023290717805" shape="rect" coords="342, 1045, 578, 1061">
<area target="_blank" href="http://www.yonhapnews.co.kr/bulletin/2013/07/30/0200000000AKR20130730114000063.HTML?input=1179m" shape="rect" coords="343, 1061, 593, 1080">
<area target="_blank" href="http://blog.daum.net/kgpa/296" shape="rect" coords="52, 657, 293, 671">
</map>
