
<map name="FPMap0">
<area target="_blank"  href="http://blog.daum.net/kgpa/287" shape="rect" coords="30, 444, 327, 542">
<area target="_blank"  href="http://blog.daum.net/kgpa/288" shape="rect" coords="30, 555, 321, 587">
<area target="_blank"  href="http://blog.daum.net/kgpa/289" shape="rect" coords="29, 597, 320, 616">
<area target="_blank"  href="http://blog.daum.net/kgpa/290" shape="rect" coords="28, 624, 318, 644">
<area target="_blank"  href="http://blog.daum.net/kgpa/291" shape="rect" coords="352, 450, 651, 536">
<area target="_blank"  href="http://blog.daum.net/kgpa/303" shape="rect" coords="355, 549, 649, 573">
<area target="_blank"  href="http://blog.daum.net/kgpa/298" shape="rect" coords="394, 812, 650, 947">
<area target="_blank"  href="http://blog.daum.net/kgpa/305" shape="rect" coords="394, 967, 652, 1100">
<area target="_blank"  href="http://www.yonhapnews.co.kr/bulletin/2013/04/30/0200000000AKR20130430174400063.HTML?input=1179m" shape="rect" coords="29, 843, 333, 861">
<area target="_blank"  href="http://sports.chosun.com/news/ntype.htm?id=201304290100231500018432&servicedate=20130429" shape="rect" coords="28, 869, 334, 883">
<area target="_blank"  href="http://media.daum.net/press/newsview?newsid=20130429144214561" shape="rect" coords="31, 889, 336, 917">
<area target="_blank"  href="http://www.cctoday.co.kr/news/articleView.html?idxno=764469" shape="rect" coords="32, 923, 337, 941">
<area target="_blank"  href="http://www.nspna.com/news/?mode=view&newsid=59436" shape="rect" coords="31, 948, 343, 976">
<area target="_blank"  href="http://www.yeosunews.net/news/articleView.html?idxno=23097" shape="rect" coords="32, 983, 343, 998">
<area target="_blank"  href="http://kwtimes.co.kr/bbs/board.php?bo_table=local1&wr_id=3108" shape="rect" coords="31, 1002, 344, 1022">
<area target="_blank"  href="http://media.daum.net/press/newsview?newsid=20130307094812587" shape="rect" coords="34, 1024, 344, 1047">
<area target="_blank"  href="http://media.daum.net/press/newsview?newsid=20130307094812587" shape="rect" coords="32, 1049, 348, 1067">
<area target="_blank"  href="http://www.lafent.com/inews/news_view.html?news_id=109169" shape="rect" coords="33, 1070, 348, 1089">
<area target="_blank"  href="http://www.newsjeju.net/news/articleView.html?idxno=121298" shape="rect" coords="31, 1092, 349, 1111">
<area target="_blank"  href="http://egbn.kr/default/index_view_page.php?part_idx=65&idx=30966" shape="rect" coords="32, 1115, 351, 1134">
<area target="_blank"  href="http://blog.daum.net/kgpa/306" shape="rect" coords="479, 653, 597, 669">
</map>
<img border=0 src=http://kgpa.or.kr/newsletter/images/e_22.jpg usemap="#FPMap0">

