<!--  12개 주요기관의 상세 부채 정보  -->
					<div id="tab22">
				
						<div class="detail_list">
							<table class="chart" summary="녹색사업단 12개 주요기관의 상세 부채 정보를 나타낸표로, 부채의규모, 부채의 증가속도, 부채의 성격, 부채관련 비율, 부채증감 관련지표 항목을 나타낸 표입니다 내용을 클릭하면 상세 내역을 보실수 있습니다">
								<thead>
									<tr>
										<th>I. 부채의<br />규모</th>
										<th>II. 부채의<br />증가속도</th>
										<th>III. 부채의 성격</th>
										<th>IV. 부채관련<br />비율</th>
										<th>V. 부채증감<br />관련지표</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="vtop"><a href="#tab22_01">연도별 부채규모</a></td>
										<td class="vtop"><a href="#tab22_02">부채의 증가속도</a></td>
										<td class="vtop">
											<ul>
												<li><a href="#tab22_03">금융부채현황</a></li>
												<li><a href="#tab22_04">장단기 금융부채 현황</a></li>
												<li><a href="#tab22_05">외화 금융부채현황</a></li>
											</ul>
										</td>
										<td class="vtop">
											<ul>
												<li><a href="#tab22_06">부채비율</a></li>
												<li><a href="#tab22_07">차입금의존도</a></li>
											</ul>
										</td>
										<td class="vtop"><a href="#tab22_08">부채증감 관련지표</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="detail_cont">
							<!--  연도별 부채규모  -->
							<div id="tab22_01">
								<div class="alR">(금액단위 : 억원)</div>
								<table summary="녹색사업단 연도별 자산과 부채규모을 나타내는 표입니다." class="chart">
									<caption>녹색사업단 연도별 자산과 부채규모</caption>
									<thead>
										<tr>
											<th scope="col">연도별 자산과 부채규모</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="col">등록된 자료가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<table summary="녹색사업단 녹색사업단 연도별 자산과 부채규모 자료작성자 정보를 나타낸표로 자료작성자의 성명, 직위, 전화번호 항목을 제공하고 있습니다." class="chart2">
									<caption>녹색사업단 녹색사업단 연도별 자산과 부채규모 자료작성자</caption>
									<colgroup>
										<col width="20%" />
										<col width="30%" />
										<col width="50%" />
									</colgroup>
									<tbody>
										<tr>
											<th rowspan="3" scope="row">자료작성자</th>
											<th  scope="row">성명</th>
											<td rowspan="3">등록된 작성자가 없습니다.</td>
										</tr>
										<tr>
											<th scope="row">직위</th>
										</tr>
										<tr>
											<th  scope="row">전화번호</th>
										</tr>
									</tbody>
								</table>


							</div>
							<!--  //연도별 부채규모 -->

							<!--  부채의 증가속도  -->
							<div id="tab22_02">
								<div class="alR">(금액단위 : 억원)</div>
								<table summary="녹색사업단 부채의 증가속도를 나타내는 표입니다." class="chart">
									<caption>녹색사업단 부채의 증가속도</caption>
									<thead>
										<tr>
											<th scope="col">부채의 증가속도</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="col">등록된 자료가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<table summary="녹색사업단 부채의 증가속도 자료작성자 정보를 나타낸표로 자료작성자의 성명, 직위, 전화번호 항목을 제공하고 있습니다." class="chart2">
									<caption>녹색사업단 부채의 증가속도  자료작성자</caption>
									<colgroup>
										<col width="20%" />
										<col width="30%" />
										<col width="50%" />
									</colgroup>
									<tbody>
										<tr>
											<th rowspan="3" scope="row">자료작성자</th>
											<th  scope="row">성명</th>
											<td rowspan="3">등록된 작성자가 없습니다.</td>
										</tr>
										<tr>
											<th scope="row">직위</th>
										</tr>
										<tr>
											<th  scope="row">전화번호</th>
										</tr>
									</tbody>
								</table>
							</div>
							<!--  //부채의 증가속도 -->

							<!--  금융부채현황  -->
							<div id="tab22_03">
								<div class="alR">(금액단위 : 억원)</div>
								<table summary="녹색사업단 금융부채현황을 나타내는 표입니다." class="chart">
									<caption>녹색사업단 금융부채현황</caption>
									<thead>
										<tr>
											<th scope="col">금융부채현황</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="col">등록된 자료가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<table summary="녹색사업단 금융부채현황 자료작성자 정보를 나타낸표로 자료작성자의 성명, 직위, 전화번호 항목을 제공하고 있습니다." class="chart2">
									<caption>녹색사업단 금융부채현황  자료작성자</caption>
									<colgroup>
										<col width="20%" />
										<col width="30%" />
										<col width="50%" />
									</colgroup>
									<tbody>
										<tr>
											<th rowspan="3" scope="row">자료작성자</th>
											<th  scope="row">성명</th>
											<td rowspan="3">등록된 작성자가 없습니다.</td>
										</tr>
										<tr>
											<th scope="row">직위</th>
										</tr>
										<tr>
											<th  scope="row">전화번호</th>
										</tr>
									</tbody>
								</table>
							</div>
							<!--  //금융부채현황 -->

							<!--  장단기 금융부채 현황 -->
							<div id="tab22_04">
								
								<div class="alR">(금액단위 : 억원)</div>
								<table summary="녹색사업단 장단기 금융부채 현황을 나타내는 표입니다." class="chart">
									<caption>녹색사업단 장단기 금융부채 현황</caption>
									<thead>
										<tr>
											<th scope="col">장단기 금융부채 현황</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="col">등록된 자료가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<table summary="녹색사업단 장단기 금융부채 현황 자료작성자 정보를 나타낸표로 자료작성자의 성명, 직위, 전화번호 항목을 제공하고 있습니다." class="chart2">
									<caption>녹색사업단 장단기 금융부채 현황  자료작성자</caption>
									<colgroup>
										<col width="20%" />
										<col width="30%" />
										<col width="50%" />
									</colgroup>
									<tbody>
										<tr>
											<th rowspan="3" scope="row">자료작성자</th>
											<th  scope="row">성명</th>
											<td rowspan="3">등록된 작성자가 없습니다.</td>
										</tr>
										<tr>
											<th scope="row">직위</th>
										</tr>
										<tr>
											<th  scope="row">전화번호</th>
										</tr>
									</tbody>
								</table>
							</div>
							<!--  //장단기 금융부채 현황-->

							<!--  외화 금융부채현황  -->
							<div id="tab22_05">
								<div class="alR">(금액단위 : 억원)</div>
								<table summary="녹색사업단 외화 금융부채현황 현황을 나타내는 표입니다." class="chart">
									<caption>녹색사업단 외화 금융부채현황 금융부채 현황</caption>
									<thead>
										<tr>
											<th scope="col">외화 금융부채현황</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="col">등록된 자료가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<table summary="녹색사업단 외화 금융부채현황 자료작성자 정보를 나타낸표로 자료작성자의 성명, 직위, 전화번호 항목을 제공하고 있습니다." class="chart2">
									<caption>녹색사업단 외화 금융부채현황  자료작성자</caption>
									<colgroup>
										<col width="20%" />
										<col width="30%" />
										<col width="50%" />
									</colgroup>
									<tbody>
										<tr>
											<th rowspan="3" scope="row">자료작성자</th>
											<th  scope="row">성명</th>
											<td rowspan="3">등록된 작성자가 없습니다.</td>
										</tr>
										<tr>
											<th scope="row">직위</th>
										</tr>
										<tr>
											<th  scope="row">전화번호</th>
										</tr>
									</tbody>
								</table>
							</div>
							<!--  //외화 금융부채현황 -->

							<!--  부채비율  -->
							<div id="tab22_06">
								
								<div class="alR">(금액단위 : 억원)</div>
								<table summary="녹색사업단 부채비율을 나타내는 표입니다." class="chart">
									<caption>녹색사업단 부채비율</caption>
									<thead>
										<tr>
											<th scope="col">연도별 부채비율</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="col">등록된 자료가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<table summary="녹색사업단 부채비율 자료작성자 정보를 나타낸표로 자료작성자의 성명, 직위, 전화번호 항목을 제공하고 있습니다." class="chart2">
									<caption>녹색사업단 부채비율  자료작성자</caption>
									<colgroup>
										<col width="20%" />
										<col width="30%" />
										<col width="50%" />
									</colgroup>
									<tbody>
										<tr>
											<th rowspan="3" scope="row">자료작성자</th>
											<th  scope="row">성명</th>
											<td rowspan="3">등록된 작성자가 없습니다.</td>
										</tr>
										<tr>
											<th scope="row">직위</th>
										</tr>
										<tr>
											<th  scope="row">전화번호</th>
										</tr>
									</tbody>
								</table>
							</div>
							<!--  //부채비율 -->

							<!--  차입금의존도  -->
							<div id="tab22_07">
								<div class="alR">(금액단위 : 억원)</div>
								<table summary="녹색사업단 차입금 의존도를 나타내는 표입니다." class="chart">
									<caption>녹색사업단 차입금 의존도</caption>
									<thead>
										<tr>
											<th scope="col">차입금 의존도</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="col">등록된 자료가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<table summary="녹색사업단 차입금 의존도 자료작성자 정보를 나타낸표로 자료작성자의 성명, 직위, 전화번호 항목을 제공하고 있습니다." class="chart2">
									<caption>녹색사업단 차입금 의존도  자료작성자</caption>
									<colgroup>
										<col width="20%" />
										<col width="30%" />
										<col width="50%" />
									</colgroup>
									<tbody>
										<tr>
											<th rowspan="3" scope="row">자료작성자</th>
											<th  scope="row">성명</th>
											<td rowspan="3">등록된 작성자가 없습니다.</td>
										</tr>
										<tr>
											<th scope="row">직위</th>
										</tr>
										<tr>
											<th  scope="row">전화번호</th>
										</tr>
									</tbody>
								</table>
							</div>
							<!--  //차입금의존도 -->

							<!--  부채증감 관련지표  -->
							<div id="tab22_08">
								<div class="alR">(금액단위 : 억원)</div>
							</div>
							<!--  //부채증감 관련지표 -->

						</div>
					
					</div>
					<!--  //12개 주요기관의 상세 부채 정보  -->