<!-- 	수입*지출현황  -->
					<div id="tab12">
						<div class="pbg">
							*2013년 「공공기관의 운영에 관한 법률」 시행령 개정에 따라 2011년도 결산부터 신규입력
						</div>

						<h3 class="icon1">수입*지출현황[고유사업]</h3>
						<div class="alR">(단위 : 백만원)</div>
						<table summary="녹색사업단 구분, 년도별 수입 지출현황 정보를 나타낸표입니다 입니다." class="chart">
							<caption>녹색사업단 수입*지출현황 </caption>
							<colgroup>
								<col width="*" />
								<col width="*" />
								<col width="*" />
								<col width="*" />
								<col width="*" />
							</colgroup>
							<thead>
								<tr>
									<th colspan="4" scope="col">구분</th>
									<th scope="col">2011년 결산</th>
									<th scope="col">2012년 결산</th>
									<th scope="col">2013년 결산</th>
									<th scope="col">2014년 예산 </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" rowspan="17">수입</th>
									<th scope="row" rowspan="11">정부지원수입</th>
									<th scope="row" rowspan="5">직접지원</th>
									<th scope="row">출연금</th>
									<!-- <td colspan="3" rowspan="24">공시기준 변경에 따라 따로 표시</td> -->
									
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">보조금</th>
									<td class="alR">684</td>
									<td class="alR">811</td>
									<td class="alR">3,060</td>
									<td class="alR">2,652</td>
								</tr>
								<tr>
									<th scope="row">부담금</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">이전수입</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">부대수입</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row" rowspan="5">간접지원</th>
								</tr>
								<tr>
									<th scope="row">사업수입</th>
									<td class="alR">43</td>
									<td class="alR">95</td>
									<td class="alR">162</td>
									<td class="alR">123</td>
								</tr>
								<tr>
									<th scope="row">위탁수입</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">독점수입</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">부대수입*</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th colspan="2" scope="row"><b>소계</b></th>
									<td class="alR">727</td>
									<td class="alR">906</td>
									<td class="alR">3,222</td>
									<td class="alR">2,775</td>
								</tr>
								<tr>
									<th colspan="3" scope="row">기타사업수입</th>
									<td class="alR">39,685</td>
									<td class="alR">26,698</td>
									<td class="alR">18,739</td>
									<td class="alR">13,978</td>
								</tr>
								<tr>
									<th colspan="3" scope="row">부대수입**</th>
									<td class="alR">360</td>
									<td class="alR">574</td>
									<td class="alR">889</td>
									<td class="alR">585</td>
								</tr>
								<tr>
									<th colspan="3" scope="row">출자금</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th colspan="3" scope="row">차입금</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th colspan="3" scope="row">기타</th>
									<td class="alR">16,933</td>
									<td class="alR">1,249</td>
									<td class="alR">1,558</td>
									<td class="alR">5,247</td>
								</tr>
								<tr>
									<th colspan="3" scope="row"><b>수입합계</b></th>
									<td class="alR">57,705</td>
									<td class="alR"><b>29,427</b></td>
									<td class="alR"><b>24,408</b></td>
									<td class="alR"><b>22,585</b></td>
								</tr>
								<tr>
									<th scope="row" rowspan="7">지출</th>
									<th scope="row" colspan="3">인건비</th>
									<td class="alR">1,170</td>
									<td class="alR">1,583</td>
									<td class="alR">2,067</td>
									<td class="alR">2,549</td>
								</tr>
								<tr>
									<th colspan="3" class="ac" scope="row">경상운영비</th>
									<td class="alR">665</td>
									<td class="alR">1,549</td>
									<td class="alR">1,708</td>
									<td class="alR">2,152</td>
								</tr>
								<tr>
									<th colspan="3" scope="row">사업비</th>
									<td class="alR">3,539</td>
									<td class="alR">4,325</td>
									<td class="alR">6,509</td>
									<td class="alR">13,844</td>
								</tr>
								<tr>
									<th colspan="3" scope="row">차입상환금</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th colspan="3" scope="row">기타</th>
									<td class="alR">52,331</td>
									<td class="alR">21,970</td>
									<td class="alR">14,124</td>
									<td class="alR">4,040</td>
								</tr>
								<tr>
									<th colspan="3" scope="row"><b>지출합계</b></th>
									<td class="alR">57,705</td>
									<td class="alR"><b>29,427</b></td>
									<td class="alR"><b>24,408</b></td>
									<td class="alR"><b>22,585</b></td>
								</tr>
								<tr>
									<th scope="row" colspan="3"><b>수입·지출총괄표자료</b></th>
									<td><a href="/attachfiles/file/incomeOut2011.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
									<td><a href="/attachfiles/file/incomeOut2012.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
									<td><a href="/attachfiles/file/incomeOut2013.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
									<td><a href="/attachfiles/file/incomeOut2014.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
								</tr>
							</tbody>
						</table>

						<h3 class="icon1">정부순지원수입[고유사업]</h3>
						<div class="alR">(단위 : 백만원)</div>
						<table summary="녹색사업단 구분, 년도별 정부순지원수입[고유사업] 정보를 나타낸표입니다 입니다." class="chart">
							<caption>녹색사업단 정부순지원수입[고유사업] </caption>
							<colgroup>
								<col width="*" />
								<col width="*" />
								<col width="*" />
								<col width="*" />
								<col width="*" />
							</colgroup>
							<thead>
								<tr>
									<th colspan="2" scope="col">구분</th>
									<th scope="col">2011년 결산</th>
									<th scope="col">2012년 결산</th>
									<th scope="col">2013년 결산</th>
									<th scope="col">2014년 예산 </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" rowspan="9">정부<br />
										순지원<br />
										수입</th>
									<th scope="row">출연금</th>
									<!-- <td colspan="3" rowspan="10">2013년 신규 입력</td> -->            
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">출자금</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">보조금</th>
									<td class="alR">684</td>
									<td class="alR">811</td>
									<td class="alR">3,060</td>
									<td class="alR">2,652</td>
								</tr>
								<tr>
									<th scope="row">부담금</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">이전수입</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">위탁수입</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row">기타수입</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<th scope="row"><strong>합계</strong></th>
									<td class="alR">684</td>
									<td class="alR"><strong>811</strong></td>
									<td class="alR"><strong>3,060</strong></td>
									<td class="alR"><strong>2,652</strong></td>
								</tr>
								<tr>
									<th scope="row"><strong>정부순지원<br />
										수입세부자료</strong></th>
									<td><a href="/attachfiles/file/incomeOutGov2011.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
									<td><a href="/attachfiles/file/incomeOutGov2012.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
									<td><a href="/attachfiles/file/incomeOutGov2013.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
									<td><a href="/attachfiles/file/incomeOutGov2014.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 	//수입*지출현황  -->