	<div class="open_mng_tab">
		<ul class="tabs">
			<li class="active"><a href="/attachfiles/open_mng/page01_tab23_01.html">임원</a></li>
			<li><a href="/attachfiles/open_mng/page01_tab23_02.html">정규직</a></li>
			<li><a href="/attachfiles/open_mng/page01_tab23_03.html">무기계약직</a></li>
			<li><a href="/attachfiles/open_mng/page01_tab23_04.html">비정규직</a></li>
		</ul>
	</div>

	<div class="mng_box02">
		<!-- 복리후생비   -->
	
		<!-- //복리후생비  -->
	</div>

