<!-- 기관장업무추진비 -->
	<div id="tab07">
		<table class="chart" summary="녹색사업단 기관장업무추진비 정보를 년도별로 나타낸표로 세부 집행내역은 파일을 다운받아보실수 있습니다">
			<caption>녹색사업단 기관장업무추진비</caption>
			<colgroup>
				<col width="20%" />
				<col span="5" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">2009년</th>
					<th scope="col">2010년</th>
					<th scope="col">2011년</th>
					<th scope="col">2012년</th>
					<th scope="col">2013</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">업무추진비 집행내역</th>
					<td>3</td>
					<td>3</td>
					<td>12</td>
					<td>14</td>
					<td>19</td>
				</tr>
				<tr>
					<th scope="row">세부집행내역</th>
					<td><a href="/attachfiles/file/2009.xls"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
					<td><a href="/attachfiles/file/2010.xls"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
					<td><a href="/attachfiles/file/2011.xls"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
					<td><a href="/attachfiles/file/2012.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
					<td><a href="/attachfiles/file/2013.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- //기관장업무추진비 -->