<!-- 자본금 및 주주현황  -->
					<div id="tab15">
						<div class="alR">(단위 : 백만원)</div>
						<table cellspacing="0" cellpadding="0" summary="녹색사업단 자본금 및 주주현황 정보를 나타낸표로 기본재산, 기본재산명세 항목을 나타낸표입니다 ." class="chart">
							<caption>녹색사업단 자본금 및 주주현황 정보</caption>
							<colgroup>
								<col width="" />
								<col width="" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">기본재산</th>
									<th scope="col">기본재산명세</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="alR">92,000</td>
									<td><a href="/attachfiles/file/basicAsset.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- 	//자본금 및 주주현황  -->