<!-- 임원현황  -->
					<div id="tab03">
						 <table class="chart2" summary="녹색사업단 상임기관장  허경태 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
							<caption> 녹색사업단 상임기관장  허경태 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>상임기관장</td>
									<th scope="row">성명</th>
									<td><strong>허경태(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사장(기관장)</td>
									<th scope="row">임기</th>
									<td>2013.10.04~2016.10.03</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 산림청 사유림지원국장 <br />
										전) 산림청 북부지방산림청장 <br />
										전) 산림청 산림보호국장 <br />
										전) 산림청 산림이용국장 <br />
										전) 산림청 동부지방산림청장 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 임원추천위원회 복수추천→산림청장 임명 </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 녹색사업단 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단  비상임이사 김현식 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
						   <caption> 녹색사업단  비상임이사김현식  임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>김현식(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사</td>
									<th scope="row">임기</th>
									<td>2013.05.29~2015.05.28</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 산림청 산림항공본부장 <br />
										전) 산림청 북부지방산림청장 <br />
										전) 산림청 산림보호국장 <br />
										현) 산림청 산림자원국장 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청 국장 임명→녹색사업단 당연직 이사 </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 녹색사업단 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단  비상임이사 김지홍 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
							<caption> 녹색사업단  비상임이사 김지홍 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>김지홍(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사(선임비상임이사)</td>
									<th scope="row">임기</th>
									<td>2012.11.02~2015.11.01</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 산림청 정책평가위원회 위원장 <br />
										전) 한국임학회 회장 <br />
										현) IUFRO(세계임학연구기관연합회) 국제이사회 한국부대표 <br />
										현) 강원대학교 산림환경과학대학 산림경영학과 교수 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청장 임명. 산림청장은 이사장에게 비상임이사 추천을 요구할 수 있다. 이 경우 이사장은 임원추천위회를 통하여 복수추천을 하여야 한다. </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단  비상임이사 장찬식 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
							<caption> 녹색사업단  비상임이사 장찬식 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>장찬식(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사</td>
									<th scope="row">임기</th>
									<td>2011.08.22~2014.08.21</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 영주시 교육발전위원회 부위원장 <br />
										전) 경상북도의회 의원 <br />
										현) 한국임학회 부회장 <br />
										현) 경북대학교 임학과 겸임교수 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청장 임명. 산림청장은 이사장에게 비상임이사 추천을 요구할 수 있다. 이 경우 이사장은 임원추천위회를 통하여 복수추천을 하여야 한다. </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단  비상임이사 김천 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
							<caption> 녹색사업단  비상임이사 김천 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>김천(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사</td>
									<th scope="row">임기</th>
									<td>2012.11.02~2015.11.01</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 한국임학회 부회장 <br />
										전) 산림청 정책자문위원회 위원 <br />
										현) 동북아환경감시위원회(EMSEA) 공동의장 <br />
										현) 국민대학교 산림환경시스템학과 교수 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청장 임명. 산림청장은 이사장에게 비상임이사 추천을 요구할 수 있다. 이 경우 이사장은 임원추천위회를 통하여 복수추천을 하여야 한다. </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단  비상임이사 송근명 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
						   <caption> 녹색사업단  비상임이사 송근명 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>송근명(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사</td>
									<th scope="row">임기</th>
									<td>2012.11.02~2015.11.01</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 제24회 행정고등고시 합격 <br />
										제29회 사법시험 합격 <br />
										전) 충남지방공무원교육원 교수부 교관 <br />
										현) 법무법인 대전합동 대표변호사 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청장 임명. 산림청장은 이사장에게 비상임이사 추천을 요구할 수 있다. 이 경우 이사장은 임원추천위회를 통하여 복수추천을 하여야 한다. </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단  비상임이사 이해균  임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
							<caption> 녹색사업단  비상임이사 이해균 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>이해균(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사</td>
									<th scope="row">임기</th>
									<td>2011.08.16~2014.08.15</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 한국국제협력단 이사 <br />
										전) 외교부(중동아국, 국제경제국, KOICA파견) <br />
										현) 한국국제협력단 민관협력전문위원 <br />
										현) 한국기술교육대학교 교수 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청장 임명. 산림청장은 이사장에게 비상임이사 추천을 요구할 수 있다. 이 경우 이사장은 임원추천위회를 통하여 복수추천을 하여야 한다. </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단 비상임이사 주성현  임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
							<caption> 녹색사업단  비상임이사 주성현 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>주성현(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사</td>
									<th scope="row">임기</th>
									<td>2012.11.02~2015.11.01</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 농림부 농업과학기술정책심의회 위원 <br />
										현) 산림청 산림정책평가위원회 재정기획분과위원장 <br />
										현) 한국임학회 부회장 <br />
										현) 경북대학교 임학과 교수 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청장 임명. 산림청장은 이사장에게 비상임이사 추천을 요구할 수 있다. 이 경우 이사장은 임원추천위회를 통하여 복수추천을 하여야 한다. </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단   비상임이사 진재구 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
							<caption> 녹색사업단  비상임이사 진재구 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>진재구(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사</td>
									<th scope="row">임기</th>
									<td>2012.11.02~2015.11.01</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 기획예산처 정부성과관리위원 <br />
										전) 외교부 감사위원회 위원 <br />
										현) 안전행정부？서울특별시 역량평가위원 <br />
										현) 청주대학교 행정도시계획학부 교수 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청장 임명. 산림청장은 이사장에게 비상임이사 추천을 요구할 수 있다. 이 경우 이사장은 임원추천위회를 통하여 복수추천을 하여야 한다. </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단  비상임이사  주효진 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
						   <caption> 녹색사업단  비상임이사  주효진 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임이사</td>
									<th scope="row">성명</th>
									<td><strong>주효진(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>이사</td>
									<th scope="row">임기</th>
									<td>2012.11.02~2015.11.01</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 전) 영남대학교 사회과학연구소 연구원 <br />
										전) 가톨릭대학교 행정학과 교수 <br />
										현) 공기업, 준정부기관 경영평가단 위원 <br />
										현) 꽃동네대학교 사회복지학부 교수 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 산림청장 임명. 산림청장은 이사장에게 비상임이사 추천을 요구할 수 있다. 이 경우 이사장은 임원추천위회를 통하여 복수추천을 하여야 한다. </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

						<table class="chart2" summary="녹색사업단  비상임이사 박원규 임원정보를 나타낸표로 직위, 성명, 직책, 임기, 주요경력, 선임절차 선임잘차규정 항목을 나타낸표입니다">
							<caption> 녹색사업단  비상임이사 박원규 임원정보 </caption>
							<colgroup>
								<col width="15%" />
								<col width="35%" />
								<col width="15%" />
								<col width="35%" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">직위</th>
									<td>비상임감사</td>
									<th scope="row">성명</th>
									<td><strong>박원규(남)</strong></td>
								</tr>
								<tr>
									<th scope="row">직책</th>
									<td>감사</td>
									<th scope="row">임기</th>
									<td>2012.11.02~2014.11.01</td>
								</tr>
								<tr>
									<th scope="row">주요경력</th>
									<td colspan="3"> 공인회계사 취득 <br />
										전) 감사원 명예감사관 <br />
										현) 전국신용보증재단중앙회 감사 <br />
										현) 회계법인 예교 대표이사 </td>
								</tr>
								<tr>
									<th scope="row">선임절차</th>
									<td colspan="3"> 임원추천위원회 복수추천 → 산림청장 임명 </td>
								</tr>
								<tr>
									<th scope="row">선임절차규정</th>
									<td colspan="3"> 정관 제6조 </td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- //임원현황 -->