<!-- 장단기 차입금현황  -->
					<div id="tab16">
						<div class="alR">(단위 : 백만원)</div>
						<table summary="녹색사업단 장단기 차입금 현황 정보를 나타낸표로 각 년도에따라 나타낸 표 입니다." class="chart">
							<caption> 녹색사업단 장단기 차입금 현황정보</caption>
							<colgroup>
								<col width="" />
								<col width="" />
								<col width="" />
								<col width="" />
								<col width="" />
								<col width="" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">2009</th>
									<th scope="col">2010</th>
									<th scope="col">2011</th>
									<th scope="col">2012</th>
									<th scope="col">2013</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>장기 차입금</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
								<tr>
									<td>단기 차입금</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
							</tbody>
						</table>

					
					</div>
					<!-- 	//장단기 차입금현황  -->
