<!-- 투자 및 출자현황  -->
					<div id="tab17">
						<div class="tab_box">
							<ul class="tabs tab">
								<li><a href="#tab17_01">투자및출자현황</a></li>
								<li><a href="#tab17_02">퇴직임원채용현황</a></li>
								<li><a href="#tab17_03">대규모거래내역</a></li>
								<li><a href="#tab17_04">채무보증현황</a></li>
								<li><a href="#tab17_05">연간주요거래내역</a></li>
								<li><a href="#tab17_06">신규시설투자</a></li>
							</ul>

							<div class="tab_content">
								<!-- 투자및출자현황  -->
								<div id="tab17_01" class="tab_cont">
									<div class="alR">(단위 : 천원)</div>
									<table summary="녹색사업단 투자및 출자현황 정보를 나타낸표로 법인명, 관계, 장부가액, 취득가액, 충자형태 항목을 제공한 표입니다." class="chart">
										<caption>녹색사업단 투자및 출자현황 정보</caption>
										<colgroup>
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
										</colgroup>
										<thead>
											<tr>
												<th rowspan="2" scope="col">법인명</th>
												<th rowspan="2" scope="col">관계</th>
												<th colspan="2" scope="col">투자 및 출자 금액</th>
												<th rowspan="2" scope="col">출자형태</th>
											</tr>
											<tr>
												<th scope="col">장부가액</th>
												<th scope="col">취득가액</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>KGPA PARAGUAY S.A</td>
												<td>자회사</td>
												<td class="alR">0</td>
												<td class="alR">8,163</td>
												<td >현금출자</td>
												<!-- <td class="end_center">100 %</td> --> 
											</tr>
											<tr>
												<td>PT.KGPA INDONESIA</td>
												<td>자회사</td>
												<td class="alR">740,015</td>
												<td class="alR">131,623</td>
												<td >현금출자</td>
												<!-- <td class="end_center">100 %</td> --> 
											</tr>
											<tr>
												<td>0</td>
												<td>0</td>
												<td class="alR">0</td>
												<td class="alR">0</td>
												<td class="txt none last">0</td>
												<!-- <td class="end_center">0 %</td> --> 
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //투자및출자현황  -->

								<!-- 퇴직임원채용현황  -->
								<div id="tab17_02" class="tab_cont">
									<table summary="녹색사업단 퇴직임원채용현황 정보를 나타낸표로 토직임원, 현직기업명, 퇴직일, 재취업회사명, 재취업일, 관계 항목을 제공한 표입니다." class="chart">
										<caption>녹색사업단 퇴직임원채용현황 정보</caption>
										<colgroup>
											<col width="60" />
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
										</colgroup>
										<thead>
											<tr>
												<th scope="row">퇴직임원</th>
												<th scope="row">현직기업명</th>
												<th scope="row">퇴직일</th>
												<th scope="row">재취업회사명</th>
												<th scope="row">재취업일</th>
												<th scope="row">관계</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="6" >조회된 데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>

								</div>
								<!-- //퇴직임원채용현황  -->

								<!-- 대규모거래내역  -->
								<div id="tab17_03" class="tab_cont">
									<table summary="녹색사업단  대규모 내부거래 정보를 나타낸표로 거래금액, 거래상대방, 관계, 거래내용, 이사회결의서 항목을 제공한 표입니다." class="chart">
										<caption>녹색사업단  대규모 내부거래 정보</caption>
										<colgroup>
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">거래금액</th>
												<th scope="col">거래상대방</th>
												<th scope="col">관계</th>
												<th scope="col">거래내용</th>
												<th scope="col">이사회결의서</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="5" >조회된 데이터가 없습니다</td>
											</tr>
										</tbody>
									</table>

								</div>
								<!-- //대규모거래내역  -->

								<!-- 채무보증현황  -->
								<div id="tab17_04" class="tab_cont">
									<div class="alR">(단위 : 천원)</div>
										<table summary="녹색사업단  채무보증현황 정보를 나타낸표로 채무보증기간, 채무자, 관계, 채권자, 채무보증잔액, 비고 항목을 제공한 표입니다." class="chart">
											<caption>녹색사업단 채무보증현황  정보</caption>
											<colgroup>
												<col width="" />
												<col width="" />
												<col width="" />
												<col width="" />
												<col width="" />
												<col width="" />
											</colgroup>
											<thead>
												<tr>
													<th scope="col">채무보증기간</th>
													<th scope="col">채무자</th>
													<th scope="col">관계</th>
													<th scope="col">채권자</th>
													<th scope="col">채무보증잔액</th>
													<th scope="col">비고</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td colspan="6">조회된 데이터가 없습니다.</td>
												</tr>
											</tbody>
										</table>

								</div>
								<!-- //채무보증현황  -->

								<!-- 연간주요거래내역  -->
								<div id="tab17_05" class="tab_cont">
									<div class="alR">(단위 : 천원)</div>
									<table summary="녹색사업단   연간주요거래내역 정보를 나타낸표로  거래상대방, 회사와의 관계, 거래종류, 거래금액, 비율 항목을 제공한 표입니다." class="chart">
										<caption>녹색사업단  연간주요거래내역  정보</caption>
										<colgroup>
										<col width="" />
										<col width="" />
										<col width="" />
										<col width="" />
										<col width="" />
										<col width="" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">거래상대방</th>
												<th scope="col">회사와의 관계</th>
												<th scope="col">거래종류</th>
												<th scope="col">거래기간</th>
												<th scope="col">거래금액</th>
												<th scope="col">비율</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="6" >데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>

								</div>
								<!-- //연간주요거래내역 -->

								<!-- 신규시설투자  -->
								<div id="tab17_06" class="tab_cont">
									<div class="alR">(단위 : 백만원)</div>
									<table summary="녹색사업단    신규시설투자정보를 나타낸표로  투자목적물, 투자액(장부가액), 투자액(취득가액), 투자목적물 항목을 제공한 표입니다." class="chart">
										<caption>녹색사업단   신규시설투자 정보</caption>
										<colgroup>
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">투자목적물</th>
												<th scope="col">투자액(장부가액)</th>
												<th scope="col">투자액(취득가액)</th>
												<th scope="col">투자목적물</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="4" >데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //신규시설투자  -->
							</div>
						</div>
					</div>
					<!-- 	//투자 및 출자현황  -->