<!-- 일반현황  -->
					<div id="tab01">
						<h3 class="icon1">기관소개</h3>
						<p class="alC"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/img_symbol02.gif" alt="녹색사업단 로고타입" /></p>
						<p class="pbg mB30">산림환경을 보호하고 산림의 기능을 증진하는데 소요되는 시설비용 등의 경비를 지원하기 위하여 설치한 산림환경기능증진자금(녹색자금)을 공정하고 투명한 관리로 생활 숲 조성, 산림 체험교육지원 등 지속가능한 산림환경의 조성 <br />
							해외에서 산림자원을 확보하고 기후변화 대응 및 해외산림환경기능을 증진하기 위한 사업과 국제교류 및 협력 사업을 수행</p>

						<h3 class="icon1">주무기관</h3>
						<h4 class="icon3 section1 mB30">산림청 </h4>

						<h3 class="icon1">사업자번호</h3>
						<h4 class="icon3 section1 mB30">314-82-11213 </h4>

						<h3 class="icon1">설립근거</h3>
						<h4 class="icon3 section1 mB30">산림자원조성 및 관리에 관한 법률 제62조 </h4>

						<h3 class="icon1">주요기능 및 역할</h3>
						<ul class="icon3_list section1">
							<li>녹색자금의 운용,관리에 대하여 산림청장이 위탁한 업무 </li>
							<li>맑은 물 공급을 위한 산림환경 개선사업 </li>
							<li>공해방지와 경관보전을 위한 산림 및 도시림 조성사업 </li>
							<li>국민을 위한 산림체험활동시설의 설치,운영사업 </li>
							<li>산림문화의 교육,홍보사업 </li>
							<li>수목원,휴양림,수목장림의 조성/운영사업 </li>
							<li>산림환경기능증진과 관련한 임업인의 교육 및 복지증진사업 </li>
							<li>해외산림 환경기능증진 사업 </li>
							<li>해외에서 산림자원을 확보하기 위한사업 </li>
							<li>기후변화에 대응한 탄소흡수원 확충과 탄소배출 저감관련 사업 및 활동 </li>
							<li>야생동식물 생태공원의 조성/운영지원 </li>
							<li>산림환경기능 증진을 위한 국제교류 및 협력사업 </li>
							<li>산림재해 공제사업 지원 </li>
							<li>산림재해 방지, 산지복구등 산림보전에 필요한 사업 </li>
							<li>기타 국가, 지방자치단체와 공공단체의 위탁,보조 또는 공동사업 </li>
							<li>제1호 내지 13호의 목적사업수행에 필요한 재원확보를 위한 보유 부동산의 임대업, 산림문화 교육시실 등을 통한 숙박업 </li>
							<li>기타 사업단의 목적달성을 위하여 이사회의 심의를 거쳐 결정한 사업 </li>
						</ul>

						<h3 class="icon1">기관연혁</h3>
						<ul class="icon3_list section1">
							<li>2006.04.01 : 녹색자금관리단 설립준비단 구성 </li>
							<li>2006.08.04 : 산림조합중앙회로부터 녹색자금 업무인수 </li>
							<li>2006.09.15 : 산림청으로부터 재단법인 녹색자금관리단 설립허가 </li>
							<li>2006.09.19 : 법인설립 등기 </li>
							<li>2007.04.13 : 기획재정부에서 기타공공기관으로 지정·고시 </li>
							<li>2008.06.22 : 녹색사업단으로 기관명칭 변경 </li>
							<li>2008.10.01 : 해외산림사업본부 신설 </li>
							<li>2011.08.20 : 2본부 9팀 2센터 직제 변경 (국내사업본부, 글로벌사업본부) </li>
						</ul>

						<h3 class="icon1">경영목표 및 전략 </h3>
						<ul class="icon3_list section1">
							<li>녹색자금의 투명하고 효율적 운용·관리 </li>
							<li>녹색자금 지원사업의 효율성 강화 </li>
							<li>지속가능한 산림환경 조성 </li>
							<li>산림의 환경기능 증진을 통한 국민의  삶의 질 향상 </li>
							<li>기후변화 대응에 필요한 해외산림사업 지원 및 수행 </li>
						</ul>

						<h3 class="icon1">기관장</h3>
						<ul class="icon3_list section1">
							<li>허경태 ( 임기 : 2013.10.04~2016.10.03 ) </li>
							<li>[주요경력]
								<ul class="icon_none">
									<li>전) 산림청 사유림지원국장 </li>
									<li>전) 산림청 북부지방산림청장 </li>
									<li>전) 산림청 산림보호국장 </li>
									<li>전) 산림청 산림이용국장 </li>
									<li>전) 산림청 동부지방산림청장 </li>
								</ul>
							</li>
						</ul>

						<h3 class="icon1">소재지</h3>
						<h4 class="icon3 section1 mB30">대전광역시 서구 둔산북로 121, 206호 </h4>

						<h3 class="icon1">조직현황</h3>
					
						<p class="section1"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m6/img_org.jpg" alt="이사장(단장)을 중심으로 이사회, 김사, 전무, 검사역으로 나뉘며 운영관리팀, 기획홍보팀, 국내사업본부(녹색자금지원팀, 녹색사업관리팀, 전략사업팀, 산림비전센터, 산림교육팀), 해외사업본부(해외자원개발팀, 해외컨설팅팀, 해외협력사업팀, 산림탄소센터)" /> </p>

					</div>
					<!-- //일반현황 -->