<!-- 	공공기관 투자집행현황 -->
					<div id="tab14">
						<h3 class="icon1">2014년 1/4분기</h3>
						<div class="alR">(단위 : 백만원)</div>
						  <table summary="녹색사업단 2014년 1/4분기 공공기관 투자집행현황정보를 나타낸표로 각 월에 대한 집행현황 정보를 나타낸표입니다" class="chart">
							<caption> 녹색사업단 공공기관 투자집행현황정보</caption>
							<colgroup>
								<col width="54px" />
								<col width="45px" />
								<col width="45px" />
								<col width="45px" />
								<col width="45px" />
								<col width="45px" />
								<col width="45v" />
								<col width="45px" />
								<col width="45px" />
								<col width="45px" />
								<col width="45px" />
								<col width="45px" />
								<col width="45px" />
								<col width="48px" />
							</colgroup>
							<thead>
								<tr>
									<th rowspan="2" scope="col">구분</th>
									<th colspan="12" scope="col">공공기관 투자(예산) 집행현황</th>
									<th rowspan="2" scope="col">계</th>
								</tr>
								<tr>
									<th scope="col">1월</th>
									<th scope="col">2월</th>
									<th scope="col">3월</th>
									<th scope="col">4월</th>
									<th scope="col">5월</th>
									<th scope="col">6월</th>
									<th scope="col">7월</th>
									<th scope="col">8월</th>
									<th scope="col">9월</th>
									<th scope="col">10월</th>
									<th scope="col">11월</th>
									<th scope="col">12월</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">집행현황</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<th class="alR">0</th>
								</tr>
							</tbody>
						</table>

						<div class="alR">(단위 : 백만원)</div>
						<table summary="녹색사업단 2009 ~ 2003 공공기관 투자집행현황정보" class="chart">
							<colgroup>
								<col width="" />
								<col width="" />
								<col width="" />
								<col width="" />
								<col width="" />
							</colgroup>
							<thead>
								<tr>
									<th rowspan="2" scope="col">구분</th>
									<th colspan="5" scope="col">공공기관 투자 집행현황 (과거 5년 총계)</th>
								</tr>
								<tr>
									<th scope="col">2009</th>
									<th scope="col">2010</th>
									<th scope="col">2011</th>
									<th scope="col">2012</th>
									<th scope="col">2013</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">집행현황</th>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
									<td class="alR">0</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 	//공공기관 투자집행현황 -->
