<!-- 주요사업 -->
					<div id="tab13">
						<div class="alR">(단위 : 백만원)</div>
						<table summary="녹색사업단 주요사업 정보를 나타낸표로 각 구분, 년도변 결산내역을 나타낸표입니다" class="chart">
							<caption>녹색사업단 주요사업 </caption>
							<colgroup>
								<col width="20%" />
								<col width="" />
								<col width="" />
								<col width="" />
								<col width="" />
								<col width="" />
								<col width="" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">2009년 결산</th>
									<th scope="col">2010년 결산</th>
									<th scope="col">2011년 결산</th>
									<th scope="col">2012년 결산</th>
									<th scope="col">2013년 결산</th>
									<th scope="col">2014년 예산 </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>정부(산림청)의 녹색자금운용관리 및 해외산림수행지원</td>
									<td class="alR">1,946</td>
									<td class="alR">1,519</td>
									<td class="alR">1,836</td>
									<td class="alR">3,132</td>
									<td class="alR">3,774</td>
									<td class="alR">4,701</td>
								</tr>
								<tr>
									<td>국고보조사업(위탁사업)</td>
									<td class="alR">-</td>
									<td class="alR">650</td>
									<td class="alR">2,721</td>
									<td class="alR">3,377</td>
									<td class="alR">6,001</td>
									<td class="alR">13,208</td>
								</tr>
								<tr>
									<td>국내사업(백두대간교육센터)</td>
									<td class="alR">-</td>
									<td class="alR">-</td>
									<td class="alR">136</td>
									<td class="alR">200</td>
									<td class="alR">112</td>
									<td class="alR">315</td>
								</tr>
								<tr>
									<td>해외산림사업</td>
									<td class="alR">-</td>
									<td class="alR">665</td>
									<td class="alR">682</td>
									<td class="alR">748</td>
									<td class="alR">398</td>
									<td class="alR">321</td>
								</tr>
							</tbody>
						</table>


					</div>
					<!-- 	// 주요사업 -->