<!-- 임원연봉 -->
					<div id="tab05">
						<div class="alR">(단위 : 천원,명,년)</div>
						<table class="chart" summary="녹색사업단 년도별 임원연봉 정보를 나타낸표로 각구분에따른 정보를 보실수 있습니다">
							<caption>녹색사업단 년도별 임원연봉 </caption>
							<colgroup>
								<col width="23%" />
								<col span="6" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">2009년 결산</th>
									<th scope="col">2010년 결산</th>
									<th scope="col">2011년 결산</th>
									<th scope="col">2012년 결산</th>
									<th scope="col">2013년 결산</th>
									<th scope="col">2014 예산</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>기본급</th>
									<td>105,000</td>
									<td>105,000</td>
									<td>114,207</td>
									<td>114,207</td>
									<td>118,546</td>
									<td>118,546</td>
								</tr>
								<tr>
									<th>고정수당</th>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th>실적수당</th>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th>급여성 복리후생비</th>
									<td>0</td>
									<td>1,694</td>
									<td>419</td>
									<td>610</td>
									<td>520</td>
									<td>710</td>
								</tr>
								<tr>
									<th>경영평가성과급</th>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th>기타 성과상여금</th>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
									<td>0</td>
								</tr>
								<tr>
									<th>합계</th>
									<td>105,000</td>
									<td>106,694</td>
									<td>114,626</td>
									<td>114,817</td>
									<td>119,066</td>
									<td>119,256</td>
								</tr>
								<tr>
									<th>비고</th>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>'만근 기준 지급 가능한 금액'</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //임원연봉 -->