
		<!-- //복리후생 관련 8대항목 무기계약직 -->
		<div class="mng_detail_link">
			<table class="chart" summary="녹색사업단 무기계약직 복리후생 관련 8대항목 정보를 나타낸표로 유가족 특별채용, 휴직급여, 퇴직금, 보육비 및 학자금, 건강검진 의료비, 경조금,  휴가/휴직, 경영 인사 항목에대한 정보를 나태낸표로 클릭하시면 상세 정보르를 보실수 있습니다">
				<caption>녹색사업단 무기계약직 복리후생 관련 8대항목</caption>
				<tbody>
					<tr>
						<th scope="col">1. 유가족특별채용</th>
						<th scope="col">2. 휴직급여</th>
						<th scope="col">3. 퇴직금</th>
					</tr>
					<tr>
						<td class="vtop">
							<ul>
								<li><a href="#tab23_03_01">유가족 특별채용 기준</a></li>
								<li><a href="#tab23_03_02">유가족 특별채용 현황 </a></li>
								<li><a href="#tab23_03_03">과거의 특별채용 이력</a></li>
							</ul>
						</td>
						<td class="vtop">
							<ul>
							   <li><a href="#tab23_03_04">휴직급여 지급기준</a></li>
							   <li><a href="#tab23_03_05">휴직급여 지급현황</a></li>
							 </ul>
						</td>
						<td class="vtop">
							<ul>
								<li><a href="#tab23_03_06">퇴직금 적립기준</a></li>
								<li><a href="#tab23_03_07">퇴직금 가산 지급기준</a></li>
								<li><a href="#tab23_03_08">퇴직금 가산 지급현황</a></li>
							</ul>
						</td>
					</tr>
					<tr>
						<th scope="col">4. 보육비 및 학자금</th>
						<th scope="col">5. 건강검진&amp;의료비</th>
						<th scope="col">6. 경조금</th>
					</tr>
					<tr>
						<td class="vtop">
							<ul>
								<li><a href="#tab23_03_09">보육비/학자금 지원기준</a></li>
								<li><a href="#tab23_03_10">보육비/학자금 지원현황</a></li>
							</ul>
						</td>
						<td class="vtop">
							<ul>
								<li><a href="#tab23_03_11">건강검진 및 의료비,<br />단체보험 지원기준</a></li>
								<li><a href="#tab23_03_12">건강검진 및 의료비,<br />단체보험 지원 현황</a></li>
							</ul>
						</td>
						<td class="vtop">
							<ul>
								<li><a href="#tab23_03_13">경조금 지원기준</a></li>
								<li><a href="#tab23_03_14">본인사망시 유족<br />위로금 지원기준</a></li>
								<li><a href="#tab23_03_15">경조금 및 유족<br />위로금 지원현황</a></li>
							</ul>
						</td>
					</tr>
					<tr>
						<th scope="col">7. 휴가/휴직</th>
						<th scope="col">8. 경영.인사</th>
						<th>&nbsp;</th>
					</tr>
					<tr>
						<td class="vtop">
							<ul>
								<li><a href="#tab23_03_16">휴가 운영 기준</a></li>
								<li><a href="#tab23_03_17">복무규정 외 휴가</a></li>
								<li><a href="#tab23_03_18">장기근속 휴가/<br />휴직제도운영기준</a></li>
								<li><a href="#tab23_03_19">근무시간 중 체육,<br /> 문화의날 등 운영기준</a></li>
							</ul>
						</td>
						<td class="vtop">
							<ul>
								<li><a href="#tab23_03_20">제도 운영 상황</a></li>
								<li><a href="#tab23_03_21">노조운영비 지원</a></li>
								<li><a href="#tab23_03_22">영리시설,장비운영권<br />노조위탁</a></li>
								<li><a href="#tab23_03_23">단체협약상 별도<br />합의사항</a></li>
								<li><a href="#tab23_03_24">단체협약 외의 별도합의사항</a></li>
							</ul>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="mng_detail_cont">
			<!--  유가족 특별채용 기준  -->
			<div id="tab23_03_01">
				<table class="chart" summary="녹색사업단 무기계약직 특별채용 기준 정보를 나타낸표로  특별채용조항여부 , 특별채용 요건, 특별채용 방법,특별채용 대상,근거규정 항목을 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 특별채용</caption>
					<colgroup>
					<col width="20%" />
					<col width="20%" />
					<col width="20%" />
					<col width="20%" />
					<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">특별채용<br />
								조항여부</th>
							<th scope="col">특별채용 요건</th>
							<th scope="col">특별채용 방법</th>
							<th scope="col">특별채용 대상</th>
							<th scope="col">근거 규정</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>없음</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>

			</div>
			<!--  //유가족 특별채용 기준  -->

			<!--  유가족 특별채용 현황   -->
			<div id="tab23_03_02">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 유가족 특별 채용현황 정보를 나타낸표로 채용사유, 대상, 채용직급, 직무내용, 급여 항목 정보를 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 유가족 특별 채용현황 정보</caption>
					<colgroup>
						<col width="10%" />
						<col width="10%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">연도</th>
							<th rowspan="2" scope="col">채용실적</th>
							<th colspan="5" scope="col">채용내용</th>
						</tr>
						<tr>
							<th scope="col">채용사유</th>
							<th scope="col">대상</th>
							<th scope="col">채용직급</th>
							<th scope="col">직무내용</th>
							<th scope="col">급여</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="1">2013</td>
							<td>0</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="1">2012</td>
							<td>0</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="1">2011</td>
							<td>0</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="1">2010</td>
							<td>0</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="1">2009</td>
							<td>0</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--  //유가족 특별채용 현황   -->

			<!-- 과거의 특별채용 이력 -->
			<div id="tab23_03_03">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 유가족 과거의 특별채용 이력 정보를 나타낸표로  과거에 운영한 특별채용규정의 기준, 근거규정, 폐지일자 항목을  나타내는 표입니다.">
					<caption>색사업단 무기계약직 유가족 과거의 특별채용 이력</caption>
					<colgroup>
						<col width="40%" />
						<col width="40%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">과거에 운영한 특별채용 규정의 기준</th>
							<th scope="col">근거규정</th>
							<th scope="col">폐지일자</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3">등록된 자료가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //과거의 특별채용 이력 -->

			<!-- 휴직급여 지급기준 -->
			<div id="tab23_03_04">
				<table class="chart" summary="녹색사업단 무기계약직 휴직급여 지급기준정보를 나타낸표로 사유, 금여지급기준,  지급기간, 근거규정 항목에대해 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 휴직급여 지급기준정</caption>
					<colgroup>
						<col width="15%" />
						<col width="*" />
						<col width="15%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">사유</th>
							<th scope="col">급여 지급기준</th>
							<th scope="col">지급기간</th>
							<th scope="col">근거규정</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>업무상 공상</td>
							<td>업무상 질병 또는 부상으로 인한 휴직자에게는 연봉월액 전액을 지급한다. 다만, 산재보험 등 다른 법령에 의하여 보상받을 경우에는 그 상당액은 지급하지 아니한다.</td>
							<td>사유소멸시</td>
							<td>보수규정제16조1항</td>
						</tr>
						<tr>
							<td>업무외 질병</td>
							<td>업무 이외의 질병 또는 부상으로 인한 휴직자에게는 휴직발령일 현재 연봉월액의 60%를 지급하고 결핵성질환은 70%를 지급하되 그 기간은 1년을 초과할 수 없다.</td>
							<td>1년 초과 불가</td>
							<td>보수규정제16조2항</td>
						</tr>
						<tr>
							<td>병역 휴직</td>
							<td>업무 이외의 질병 또는 부상으로 인한 휴직자에게는 휴직발령일 현재 연봉월액의 60%를 지급하고 결핵성질환은 70%를 지급하되 그 기간은 1년을 초과할 수 없다.</td>
							<td>1년 초과 불가</td>
							<td>보수규정제16조2항</td>
						</tr>
						<tr>
							<td>고용 휴직</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<td>유학 휴직</td>
							<td>업무 이외의 질병 또는 부상으로 인한 휴직자에게는 휴직발령일 현재 연봉월액의 60%를 지급하고 결핵성질환은 70%를 지급하되 그 기간은 1년을 초과할 수 없다.</td>
							<td>1년 초과 불가</td>
							<td>보수규정제16조2항</td>
						</tr>
						<tr>
							<td>연수 휴직</td>
							<td>업무 이외의 질병 또는 부상으로 인한 휴직자에게는 휴직발령일 현재 연봉월액의 60%를 지급하고 결핵성질환은 70%를 지급하되 그 기간은 1년을 초과할 수 없다.</td>
							<td>1년 초과 불가</td>
							<td>보수규정제16조2항</td>
						</tr>
						<tr>
							<td>육아 휴직</td>
							<td>업무 이외의 질병 또는 부상으로 인한 휴직자에게는 휴직발령일 현재 연봉월액의 60%를 지급하고 결핵성질환은 70%를 지급하되 그 기간은 1년을 초과할 수 없다.</td>
							<td>1년 초과 불가</td>
							<td>보수규정제16조2항</td>
						</tr>
						<tr>
							<td>가족 간호 휴직</td>
							<td>업무 이외의 질병 또는 부상으로 인한 휴직자에게는 휴직발령일 현재 연봉월액의 60%를 지급하고 결핵성질환은 70%를 지급하되 그 기간은 1년을 초과할 수 없다.</td>
							<td>1년 초과 불가</td>
							<td>보수규정제16조2항</td>
						</tr>
						<tr>
							<td>해외 동반 휴직</td>
							<td>업무 이외의 질병 또는 부상으로 인한 휴직자에게는 휴직발령일 현재 연봉월액의 60%를 지급하고 결핵성질환은 70%를 지급하되 그 기간은 1년을 초과할 수 없다.</td>
							<td>1년 초과 불가</td>
							<td>보수규정제16조2항</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //휴직급여 지급기준 -->

			<!--  휴직급여 지급현황 -->
			<div id="tab23_03_05">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 휴직급여 지급현황 정보를 나타낸표로 연도, 유형, 지급금액, 휴직자, 1인당 지급금액 항목을  나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 휴직급여 지급현황</caption>
					<colgroup>
						<col width="15%" />
						<col width="20%" />
						<col width="25%" />
						<col width="15%" />
						<col width="25%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">연도</th>
							<th scope="col">유형</th>
							<th scope="col">지급금액</th>
							<th scope="col">휴직자</th>
							<th scope="col">1인당 지급금액</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="9">2013</td>
							<td>업무상 공상</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>업무외 질병</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>병역 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>고용 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>유학 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>연수 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>육아 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>가족 간호 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외 동반 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="9">2012</td>
							<td>업무상 공상</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>업무외 질병</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>병역 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>고용 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>유학 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>연수 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>육아 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>가족 간호 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외 동반 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="9">2011</td>
							<td>업무상 공상</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>업무외 질병</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>병역 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>고용 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>유학 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>연수 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>육아 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>가족 간호 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외 동반 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="9">2010</td>
							<td>업무상 공상</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>업무외 질병</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>병역 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>고용 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>유학 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>연수 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>육아 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>가족 간호 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외 동반 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="9">2009</td>
							<td>업무상 공상</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>업무외 질병</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>병역 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>고용 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>유학 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>연수 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>육아 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>가족 간호 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외 동반 휴직</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //휴직급여 지급현황  -->

			<!--  퇴직금 적립기준 -->
			<div id="tab23_03_06">
				<table class="chart" summary="녹색사업단 무기계약직 직금 적립기준  정보를 나타낸표로 적립기준, 근거 규정  항목을  나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 직금 적립기</caption>
					<colgroup>
						<col width="60%" />
						<col width="40%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">적립 기준</th>
							<th scope="col">근거 규정</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>근속기간 1년 이상인 임직원 근속기간 1년에 대하여 1개월분의 평균임금 지급</td>
							<td>보수규정 제23조,제24조</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //퇴직금 적립기준  -->

			<!-- 퇴직금 가산 지급기준 -->
			<div id="tab23_03_07">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 퇴직금 가산지급 기준 정보를 나타낸표로 가산지급사유와  가산율 정보를 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 퇴직금 가산지급 기준</caption>
					<colgroup>
						<col width="40%" />
						<col width="60%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">가산지급 사유</th>
							<th scope="col">가산율</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>* 직무상 부상ㆍ사망</td>
							<td>업무상 질병 또는 부상으로 인한 퇴직자와 순직으로 퇴직한 자에 대하여는 다음 각 호의 1에 해당하는 금액을 더하여 지급할 수 있다.<br />  1. 업무상 질병 또는 부상으로 퇴직한자 : 퇴직당시 평균임금의 7월분<br />  2. 순직한 자 : 퇴직당시 평균임금의 14월분</td>
						</tr>
						<tr>
							<td>* 직무외 부상ㆍ사망</td>
							<td>순직 외의 사망으로 인한 퇴직시 근속기간이 10년 미만인 경우에는 퇴직당시 평균임금의 3월분을, 근속기간이 10년 이상인 경우에는 7월분을 더하여 지급할 수 있다.</td>
						</tr>
						<tr>
							<td>직원이 조기퇴직할 경우에는 이사회의 의결절차를 거쳐 조기퇴직수당 등을 지급할 수 있다.</td>
							<td>이사회 의결을 거쳐 조기퇴직수당 지급 가능/보수규정 제29조</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- // 퇴직금 가산 지급기준 -->

			<!-- 퇴직금 가산 지급현황  -->
			<div id="tab23_03_08">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 퇴직금 가산 지급현황 정보를 나타낸표로, 연도별 퇴직금 지금 기준, 금액, 지급 대상자, 1인당 가산지 금액 항목을 나타낸 표입니다.">
					<caption>녹색사업단 무기계약직 퇴직금 가산 지급현황 정보</caption>
					<colgroup>
						<col width="15%" />
						<col width="25%" />
						<col width="25%" />
						<col width="10%" />
						<col width="25%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">연도</th>
							<th scope="col">지급 기준</th>
							<th scope="col">지급 금액</th>
							<th scope="col">지급 대상자</th>
							<th scope="col">1인당 가산 지급 금액</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="2">2013</td>
							<td>* 직무상 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>* 직무외 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">2012</td>
							<td>* 직무상 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>* 직무외 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">2011</td>
							<td>* 직무상 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>* 직무외 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">2010</td>
							<td>* 직무상 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>* 직무외 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">2009</td>
							<td>* 직무상 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>* 직무외 부상ㆍ사망</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>


			</div>
			<!-- // 퇴직금 가산 지급현황 -->

			<!--  보육비/학자금 지원기준 -->
			<div id="tab23_03_09">

				<div class="alR">(단위 : 천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 보육비/ 학자금 지원기준 정보를 나타낸표로 구분별  정부지원 외 추가지급 여부와 추가지급 기준, 재원 항목을 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 보육비/ 학자금 지원기준</caption>
					<colgroup>
						<col width="15%" />
						<col width="25%" />
						<col width="50%" />
						<col width="10%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">구분</th>
							<th scope="col">정부지원 외 추가지급 여부</th>
							<th scope="col">추가 지급 기준(기관입력)</th>
							<th scope="col">재원</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>보육비</td>
							<td>X</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>어린이집/보육원</td>
							<td>X</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>

				<table class="chart" summary="녹색사업단 무기계약직 보육비/ 학자금 지원기준 정보를 나타낸표로 구분별  지원항목(기관입력), 지급방식, 지원한도, 재원 항목을 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 보육비/ 학자금 지원기준</caption>
					<colgroup>
						<col width="15%" />
						<col width="25%" />
						<col width="7%" />
						<col width="7%" />
						<col width="7%" />
						<col width="13%" />
						<col width="16%" />
						<col width="10%" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">구분</th>
							<th rowspan="2" scope="col">지원 항목(기관 입력)</th>
							<th colspan="4" scope="col">지급방식</th>
							<th rowspan="2" scope="col">지원한도</th>
							<th rowspan="2"  scope="col">재원</th>
						</tr>
						<tr>
							<th scope="col">무상</th>
							<th scope="col">융자</th>
							<th scope="col">금리</th>
							<th scope="col">상환조건</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>초등학교</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>중학교</td>
							<td>국내일반</td>
							<td>O</td>
							<td></td>
							<td></td>
							<td></td>
							<td>등록금의 100%범위 내 지급(직원1인당 2명 초과불가)</td>
							<td>예산</td>
						</tr>
						<tr>
							<td>고등학교</td>
							<td>국내일반</td>
							<td>O</td>
							<td></td>
							<td></td>
							<td></td>
							<td>등록금의 100%범위 내 지급(직원1인당 2명 초과불가)</td>
							<td>예산</td>
						</tr>
						<tr>
							<td>대학교</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>대학원</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- // 보육비/학자금 지원기준 -->

			<!-- 보육비/학자금 지원현황  -->
			<div id="tab23_03_10">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 보육비/학자금 2013년 지원현황 정보를 나타낸표로 구분별, 무상지급(지원금액, 지원인원, 1인당 지급액), 융자(지원금액, 지원인원, 1인당 지급액)행목을 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 보육비/학자금 2013년 지원현황</caption>
					<colgroup>
						<col width="8%" />
						<col width="11%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">년도</th>
							<th rowspan="2" colspan="2" scope="col">구분</th>
							<th colspan="3" scope="col">무상지급</th>
							<th colspan="3" scope="col">융자</th>
						</tr>
						<tr>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="16"><span style="font-weight: 900;">2013</span></td>
							<td colspan="2">보육비</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td colspan="2">어린이집/유치원</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">초등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">중학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="4">고등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>특목고</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학교</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학원</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
					</tbody>
				</table>

				<table class="chart" summary="녹색사업단 무기계약직 보육비/학자금 2012년 지원현황 정보를 나타낸표로 구분별, 무상지급(지원금액, 지원인원, 1인당 지급액), 융자(지원금액, 지원인원, 1인당 지급액)행목을 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 보육비/학자금 2012년 지원현황</caption>
					<colgroup>
						<col width="8%" />
						<col width="11%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">년도</th>
							<th rowspan="2" colspan="2" scope="col">구분</th>
							<th colspan="3" scope="col">무상지급</th>
							<th colspan="3" scope="col">융자</th>
						</tr>
						<tr>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="16"><span style="font-weight: 900;">2012</span></td>
							<td colspan="2">보육비</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td colspan="2">어린이집/유치원</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">초등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">중학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="4">고등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>특목고</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학교</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학원</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
					</tbody>
				</table>

				<table class="chart" summary="녹색사업단 무기계약직 보육비/학자금 2011년 지원현황 정보를 나타낸표로 구분별, 무상지급(지원금액, 지원인원, 1인당 지급액), 융자(지원금액, 지원인원, 1인당 지급액)행목을 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 보육비/학자금 2011년 지원현황</caption>
					<colgroup>
						<col width="8%" />
						<col width="11%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">년도</th>
							<th rowspan="2" colspan="2" scope="col">구분</th>
							<th colspan="3" scope="col">무상지급</th>
							<th colspan="3" scope="col">융자</th>
						</tr>
						<tr>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="16"><span style="font-weight: 900;">2011</span></td>
							<td colspan="2">보육비</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td colspan="2">어린이집/유치원</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">초등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">중학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="4">고등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>특목고</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학교</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학원</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
					</tbody>
				</table>

				<table class="chart" summary="녹색사업단 무기계약직 보육비/학자금 2010년 지원현황 정보를 나타낸표로 구분별, 무상지급(지원금액, 지원인원, 1인당 지급액), 융자(지원금액, 지원인원, 1인당 지급액)행목을 나타내는 표입니다.">
				   <caption>녹색사업단 무기계약직 보육비/학자금 2010년 지원현황</caption>
					<colgroup>
						<col width="8%" />
						<col width="11%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">년도</th>
							<th rowspan="2" colspan="2" scope="col">구분</th>
							<th colspan="3" scope="col">무상지급</th>
							<th colspan="3" scope="col">융자</th>
						</tr>
						<tr>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="16"><span style="font-weight: 900;">2010</span></td>
							<td colspan="2">보육비</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td colspan="2">어린이집/유치원</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">초등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">중학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="4">고등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>특목고</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학교</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학원</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
					</tbody>
				</table>

				<table class="chart" summary="녹색사업단 무기계약직 보육비/학자금 2009년 지원현황 정보를 나타낸표로 구분별, 무상지급(지원금액, 지원인원, 1인당 지급액), 융자(지원금액, 지원인원, 1인당 지급액)행목을 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 보육비/학자금 2009년 지원현황</caption>
					<colgroup>
						<col width="8%" />
						<col width="11%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
						<col width="13%" />
						<col width="8%" />
						<col width="13%" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">년도</th>
							<th rowspan="2" colspan="2" scope="col">구분</th>
							<th colspan="3" scope="col">무상지급</th>
							<th colspan="3" scope="col">융자</th>
						</tr>
						<tr>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="16"><span style="font-weight: 900;">2009</span></td>
							<td colspan="2">보육비</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td colspan="2">어린이집/유치원</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">초등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="3">중학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="4">고등학교</td>
							<td>국내일반</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>특목고</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>외국교육기관</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학교</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td rowspan="2">대학원</td>
							<td>국내</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
						<tr>
							<td>해외</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td></td>
							<td>0</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- // 보육비/학자금 지원현황 -->

			<!--  건강검진 및 의료비, 단체보험 지원기준 -->
			<div id="tab23_03_11">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 건강검진 및 의료비, 단체보험 지원기준 항목을 나타낸표로 항목, 지원기준, 지원대상, 지원금액(한도), 지원횟수, 재원 항목을 나타내는 표입니다.">
					<caption> 녹색사업단 무기계약직 건강검진 및 의료비, 단체보험 지원기준 </caption>
					<colgroup>
						<col width="10%" />
						<col width="20%" />
						<col width="20%" />
						<col width="15%" />
						<col width="13%" />
						<col width="17%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">항목</th>
							<th scope="col">지원기준</th>
							<th scope="col">지원대상</th>
							<th scope="col">지원금액(한도)</th>
							<th scope="col">지원횟수</th>
							<th  scope="col">재원<br /> (예산,사내복지기금등)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>의료비</td>
							<td>의료비는 본인부담 의료보험급여액이 1,000천원을 초과하는 경우에 그 초과부분에 대하여 연간 1,000천원 범위 내에서 1회에 한하여 지급할 수 있다.(복리후생규정 제5조)</td>
							<td>본인</td>
							<td>의료보험급여액이 1,000천원을 초과하는 경우에 그 초과부분에 대하여 연간 1,000천원 범위 내</td>
							<td>예산</td>
							<td>연1회</td>
						</tr>
						<tr>
							<td>단체보험</td>
							<td>농협,수협, 우체국, 민영보험사 등의 상해관련 공제(보험)료. 단, 공제(보험)가입금액은 동일하게 하여야 한다.</td>
							<td>본인</td>
							<td>100천원 범위내</td>
							<td>예산</td>
							<td>연 1회</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- // 건강검진 및 의료비, 단체보험 지원기준 -->

			<!-- 건강검진 및 의료비, 단체보험 지원 현황  -->
			<div id="tab23_03_12">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 건강검진 및 의료비, 단체보험 지원 현황정보를 나타낸표로  년도, 항목, 지원금액, 지원인원, 1인당 지급액 항목을 나타낸 표입니다.">
					<caption>녹색사업단 무기계약직 건강검진 및 의료비, 단체보험 지원 현황정보</caption>
					<colgroup>
						<col width="10%" />
						<col width="30%" />
						<col width="20%" />
						<col width="20%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">년도</th>
							<th scope="col">항목</th>
							<th scope="col">지원금액</th>
							<th scope="col">지원인원</th>
							<th scope="col">1인당 지급액</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td rowspan="3">2013</td>
							<td>의료비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>건강검진비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>단체보험</td>
							<td>90</td>
							<td>1</td>
							<td>90</td>
						</tr>

						<tr>
							<td rowspan="3">2012</td>
							<td>의료비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>건강검진비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>단체보험</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>

						<tr>
							<td rowspan="3">2011</td>
							<td>의료비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>건강검진비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>단체보험</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>

						<tr>
							<td rowspan="3">2010</td>
							<td>의료비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>건강검진비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>단체보험</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>

						<tr>
							<td rowspan="3">2009</td>
							<td>의료비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>건강검진비</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>단체보험</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>

					</tbody>
				</table>

			</div>
			<!-- // 건강검진 및 의료비, 단체보험 지원 현황 -->

			<!-- 경조금 지원기준 -->
			<div id="tab23_03_13">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단  무기계약직 경조금 지원기준 정보를 나타낸표로 항목, 지원금액기준, 재원 항목을 나타낸표입니다">
					<caption>녹색사업단  무기계약직 경조금 지원기준</caption>
					<colgroup>
						<col width="20%" />
						<col width="20%" />
						<col width="30%" />
						<col width="30%" />
					</colgroup>
					<thead>
						<tr>
							<th colspan="2" scope="col">항목</th>
							<th scope="col">지원금액기준</th>
							<th scope="col">재원</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>결혼</td>
							<td>본인</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>결혼</td>
							<td>자녀</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>배우자</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>부모</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>부모 회갑, 칠순</td>
							<td></td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>자녀 대학입학</td>
							<td></td>
							<td>0</td>
							<td ></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- // 경조금 지원기준 -->

			<!-- 본인사망시 유족 위로금 지원기준  -->
			<div id="tab23_03_14">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 본인사망시 유족 위로금 지원기준 정보를 나타낸표로 항목, 지원금액  정보를 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 본인사망시 유족 위로금 지원기준</caption>
					<colgroup>
						<col width="40%" />
						<col width="40%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">항목</th>
							<th scope="col">지원금액</th>
							<th scope="col">항목</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- // 본인사망시 유족 위로금 지원기준 -->

			<!-- 경조금 및 유족 위로금 지원현황  -->
			<div id="tab23_03_15">
				<div class="alR">(단위 : 명/천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 조금 및 유족 위로금 지원현황 정보를 나타낸표로 년도, 구분, 지원금액, 지급인원, 1인당지급액, 지급방법 항목을  나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 조금 및 유족 위로금 지원현황</caption>
					<colgroup>
					<col width="10%" />
					<col width="15%" />
					<col width="15%" />
					<col width="15%" />
					<col width="15%" />
					<col width="15%" />
					<col width="15%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">년도</th>
							<th colspan="2" scope="col">구분</th>
							<th scope="col">지원금액</th>
							<th scope="col">지급인원</th>
							<th scope="col">1인당 지급액</th>
							<th scope="col">지급방법</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="7">2013</td>
							<td>결혼</td>
							<td>본인</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>결혼</td>
							<td>자녀</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>배우자</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>부모</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>부모 회갑, 칠순</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>자녀 대학입학</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>유족 위로금</td>
							<td>(장제비포함)</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td rowspan="7">2012</td>
							<td>결혼</td>
							<td>본인</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>결혼</td>
							<td>자녀</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>배우자</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>부모</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>부모 회갑, 칠순</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>자녀 대학입학</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>유족 위로금</td>
							<td>(장제비포함)</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td rowspan="7">2011</td>
							<td>결혼</td>
							<td>본인</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>결혼</td>
							<td>자녀</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>배우자</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>부모</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>부모 회갑, 칠순</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>자녀 대학입학</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>유족 위로금</td>
							<td>(장제비포함)</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td rowspan="7">2010</td>
							<td>결혼</td>
							<td>본인</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>결혼</td>
							<td>자녀</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>배우자</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>부모</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>부모 회갑, 칠순</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>자녀 대학입학</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>유족 위로금</td>
							<td>(장제비포함)</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td rowspan="7">2009</td>
							<td>결혼</td>
							<td>본인</td>
							<td>0</td>
							<td></td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>결혼</td>
							<td>자녀</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>배우자</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>사망</td>
							<td>부모</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>부모 회갑, 칠순</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>자녀 대학입학</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
						<tr>
							<td>유족 위로금</td>
							<td>(장제비포함)</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td ></td>
						</tr>
					</tbody>
				</table>


			</div>
			<!-- // 경조금 및 유족 위로금 지원현황 -->

			<!-- 휴가 운영 기준  -->
			<div id="tab23_03_16">
				<div class="alR">(단위 : 일)</div>
				<table class="chart" summary="녹색사업단 무기계약직  휴가 운영 기준  정보를 나타낸표로 공가일수, 공무원 복무기준, 기관운영기준 항목을  나타내는 표입니다.">
					<caption>녹색사업단 무기계약직  휴가 운영 기준  정보</caption>
					<colgroup>
						<col width="15%" />
						<col width="15%" />
						<col width="30%" />
						<col width="20%" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<th colspan="3" scope="col">공가일수</th>
							<th scope="col">공무원 복무기준</th>
							<th scope="col">기관운영기준</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="9">경조사 휴가</td>
							<td rowspan="2">결혼</td>
							<td>본인</td>
							<td>5일</td>
							<td >7</td>
						</tr>
						<tr>
							<td>자녀</td>
							<td>1일</td>
							<td >-</td>
						</tr>
						<tr>
							<td colspan="2">배우자출산</td>
							<td>5일</td>
							<td >5(단,3일 유급)</td>
						</tr>
						<tr>
							<td colspan="2">입양</td>
							<td>20일</td>
							<td ></td>
						</tr>
						<tr>
							<td rowspan="5">사망</td>
							<td>배우자</td>
							<td>5일</td>
							<td >5</td>
						</tr>
						<tr>
							<td>본인·배우자의 부모</td>
							<td>5일</td>
							<td >5</td>
						</tr>
						<tr>
							<td>본인·배우자의 조부모·외조부모</td>
							<td>2일</td>
							<td >2</td>
						</tr>
						<tr>
							<td>자녀와 그 자녀의 배우자</td>
							<td>2일</td>
							<td >2</td>
						</tr>
						<tr>
							<td>본인·배우자의 형제자매</td>
							<td>1일</td>
							<td >2</td>
						</tr>
						<tr>
							<td colspan="3">출산 휴가</td>
							<td>90일</td>
							<td >90</td>
						</tr>
						<tr>
							<td colspan="3">여성 보건휴가</td>
							<td>매월 1일(무급)</td>
							<td >월1일(무급)</td>
						</tr>
						<tr>
							<td colspan="3">방통대 출석</td>
							<td>연가일수 초과시 수업일수</td>
							<td ></td>
						</tr>
						<tr>
							<td colspan="3">재해구호휴가</td>
							<td>5일</td>
							<td ></td>
						</tr>
						<tr>
							<td rowspan="5" colspan="2">유상/사산휴가</td>
							<td>임신기간 11주 이내</td>
							<td>5일</td>
							<td ></td>
						</tr>
						<tr>
							<td>임신기간 12∼15주</td>
							<td>10일</td>
							<td ></td>
						</tr>
						<tr>
							<td>임신기간 16∼21주</td>
							<td>30일</td>
							<td ></td>
						</tr>
						<tr>
							<td>임신기간 22∼27주</td>
							<td>60일</td>
							<td ></td>
						</tr>
						<tr>
							<td>임신기간 28주 이상</td>
							<td>90일</td>
							<td ></td>
						</tr>
						<tr>
							<td colspan="3">인공(체외)수정, 불임 치료</td>
							<td>1일</td>
							<td ></td>
						</tr>
						<tr>
							<td colspan="3">체외수정시 난자채취일</td>
							<td>1일</td>
							<td ></td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- // 휴가 운영 기준 -->

			<!-- 복무규정 외 휴가 -->
			<div id="tab23_03_17">
				 <div class="alR">(단위 : 일)</div>
				<table class="chart" summary="녹색사업단 무기계약직 복무규정 외 휴가  정보를 나타낸표로 휴가사유, 휴가일수 항목을 제공한 표입니다/">
					<caption>녹색사업단  무기계약직 복무규정 외 휴가  정보</caption>
					<colgroup>
						<col width="60%" />
						<col width="40%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">휴가 사유</th>
							<th scope="col">휴가 일수</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>청원휴가</td>
							<td>연누계 60일 이내 허가</td>
						</tr>

						<tr>
							<td>명령휴가</td>
							<td>단장이 명하는 휴가</td>
						</tr>

						<tr>
							<td>기타 단장이 필요하다고 인정할 때</td>
							<td>그 기간</td>
						</tr>

						<tr>
							<td>직원의이사</td>
							<td>1일</td>
						</tr>

						<tr>
							<td>직원심신단련</td>
							<td>5일</td>
						</tr>

						<tr>
							<td>가정의례 관련 원격지일 경우</td>
							<td>2일 범위내 왕복소요일수 가산</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- // 복무규정 외 휴가 -->

			<!-- 장기근속 휴가 휴직제도운영기준 	-->
			<div id="tab23_03_18">
				<table class="chart" summary="녹색사업단 무기계약직 장기근속 휴가 휴직제도운영기준 나타낸표로 대상자, 휴식/휴직기관 항목을 나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 장기근속 휴가 휴직제도운영기준</caption>
					<colgroup>
						<col width="40%" />
						<col width="60%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">대상자</th>
							<th scope="col">휴식/휴직기관</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2">등록된 자료가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- // 장기근속 휴가 휴직제도운영기준 -->

			<!-- 근무시간 중 체육, 문화의날 등 운영기준 -->
			<div id="tab23_03_19">
				<table class="chart" summary="녹색사업단 무기계약직 근무시간 중 체육, 문화의날 등 운영기준을 나타낸표로 항목, 운영기준, 근거규정 항목을 제공한  표입니다.">
					<caption>녹색사업단 무기계약직 근무시간 중 체육, 문화의날 등 운영기준</caption>
					<colgroup>
						<col width="20%" />
						<col width="40%" />
						<col width="40%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">항목</th>
							<th scope="col">운영기준</th>
							<th scope="col">근거규정</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>체육의 날</td>
							<td>춘계 및 추계</td>
							<td>복리후생규정 제9조</td>
						</tr>
						<tr>
							<td>문화의 날</td>
							<td>-</td>
							<td>-</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- // 근무시간 중 체육, 문화의날 등 운영기준 -->

			<!--  제도 운영 상황 -->
			<div id="tab23_03_20">
				<table class="chart" summary="녹색사업단 무기계약직 제도 운영 상황을 나타낸표입니다">
					<caption>녹색사업단 무기계약직 제도 운영 상황</caption>
					<thead>
						<tr>
							<th scope="col">제도 운영 상황</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>등록된 자료가 없습니다.</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- // 제도 운영 상황 -->

			<!--  노조운영비 지원 -->
			<div id="tab23_03_21">
				<div class="alR">(단위 : 천원)</div>
				<table class="chart" summary="녹색사업단 무기계약직 노조운영비 정보를 나타낸표로 연도별 노조에 지급한 항목을 나타낸 표입니다.">
					<caption>녹색사업단 무기계약직 노조운영비 정보</caption>
					<colgroup>
						<col width="20%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">노조에 지급한 항목</th>
							<th colspan="5" scope="col">연도별 지원 금액</th>
						</tr>
						<tr>
							<th scope="col">2009</th>
							<th scope="col">2010</th>
							<th scope="col">2011</th>
							<th scope="col">2012</th>
							<th scope="col">2013</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td colspan="6">등록된 자료가 없습니다.</td>
						</tr>

					</tbody>
				</table>

			</div>
			<!-- // 노조운영비 지원 -->

			<!--  영리시설,장비운영권 노조위탁 -->
			<div id="tab23_03_22">
				<table class="chart" summary="녹색사업단 무기계약직 영리시설, 장비 운영권 노조위탁 정보를 나타낸표로, 영리시설, 장비운영권 노조위탁, 운영권 위탁 대상, 위탁방식 항목을  나타내는 표입니다.">
					<caption>녹색사업단 무기계약직 영리시설, 장비 운영권 노조위탁 정보</caption>
					<colgroup>
					<col width="30%" />
					<col width="35%" />
					<col width="35%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">영리시설, 장비운영권 노조위탁</th>
							<th scope="col">운영권 위탁 대상</th>
							<th scope="col">위탁 방식</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3">등록된 자료가 없습니다.</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- // 영리시설,장비운영권 노조위탁  -->

			<!--  단체협약상 별도 합의사항 -->
			<div id="tab23_03_23">
				<table class="chart" summary="녹색사업단 무기계약직 단체협약상 별도합의사항 정보를 나타낸표로 단체협약규정, 별도합의 내용, 파일 항목을 나타낸 표입니다.">
					<caption>녹색사업단 무기계약직 단체협약상 별도합의사항 정보</caption>
					<colgroup>
						<col width="20%" />
						<col width="30%" />
						<col width="40%" />
						<col width="10%" />
					</colgroup>
					<thead>
						<tr>
							<th colspan="2" scope="col">단체협약 규정</th>
							<th rowspan="2" scope="col">별도합의 내용</th>
							<th rowspan="2" scope="col">파일</th>
						</tr>
						<tr>
							<th scope="col">조항</th>
							<th scope="col">규정내용</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4">등록된 자료가 없습니다.</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- // 단체협약상 별도 합의사항 -->

			<!--  단체협약 외의 별도합의사항 -->
			<div id="tab23_03_24">
				<table class="chart" summary="녹색사업단 무기계약직 단체협약상 별도합의사항 정보를 나타낸표로 별도합의 내용, 파일 항목을 나타낸표입니다 ">
					<caption>녹색사업단 무기계약직 단체협약상 별도합의사항 정보</caption>
					<colgroup>
						<col width="60%" />
						<col width="40%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">별도합의 내용</th>
							<th scope="col">파일</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2">등록된 자료가 없습니다.</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- //단체협약 외의 별도합의사항  -->

		</div>
		<!-- 복리후생 관련 8대항목 무기계약직 -->


	
