<!-- 노동조합 관련현황 -->
					<div id="tab09">
						<div class="tab_box">
							<ul class="tabs tab">
								<li><a href="#tab09_01">노동조합가입정보</a></li>
								<li><a href="#tab09_02">교섭창구 단일화정보</a></li>
								<li><a href="#tab09_03">노동조합협약정보</a></li>
							</ul>

							<div class="tab_content">
								<!-- 노동조합가입정보  -->
								<div id="tab09_01" class="tab_cont">
									<table summary="녹색사업단 노동조합가입정보를 나타낸표로 노조명칭, 노조가입범위, 가입대상인원, 조합원수, 전임자수, 근로시간면제현황, 상급노조 항목을 나타낸 표 입니다." class="chart">
										<caption>녹색사업단 노동조합가입정보</caption>
										<colgroup>
											<col width="15%" />
											<col width="15%" />
											<col width="8%" />
											<col width="13%" />
											<col width="10%" />
											<col width="*" />
											<col width="13%" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">노조명칭</th>
												<th scope="col">노조가입범위</th>
												<th scope="col">가입대상인원</th>
												<th scope="col">조합원수</th>
												<th scope="col">전임자수</th>
												<th scope="col">근로시간면제현황</th>
												<th scope="col">상급노조</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td> 녹색사업단 노동조합<br />
													(노조설립일 : 2012.01.10) </td>
												<td>3급 이하</td>
												<td>29명</td>
												<td> 정규직 : 29명<br />
													비정규직 : 0 명</td>
												<td>유급 : 0 명<br />
													무급 : 0 명</td>
												<td class="txt"> * 도입여부 : 도입<br />
													* 법정한도: <br />
													&nbsp;&nbsp;
													- 시간한도 : 2,000 시간이내 <br />
													&nbsp;&nbsp;
													- 풀타임:0명<br />
													&nbsp;&nbsp; 
													- 파트타임:3명 <br />
													* 체결내용 :<br />
													&nbsp;&nbsp; 
													- 시간한도 : 700 시간이내<br />
													&nbsp;&nbsp;
													- 풀타임:0명<br />
													&nbsp;&nbsp; 
													- 파트타임:3명<br /></td>
												<td class="txt last"> 한국노총 <br />
													(공공연맹) </td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //노동조합가입정보  -->

								<!-- 교섭창구 단일화정보  -->
								<div id="tab09_02" class="tab_cont">
									<table summary="녹색사업단 교섭창구 단일화정보를 나타낸표로 교섭방법, 교섭창구 단일화 정보, 수정일 항목을 나타낸 표 입니다." class="chart">
										<caption>녹색사업단 교섭창구 단일화정보</caption>
										<colgroup>
											<col span="4" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">&nbsp;</th>
												<th scope="col">교섭방법</th>
												<th scope="col">교섭창구 단일화 정보</th>
												<th scope="col">수정일</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>교섭방식</td>
												<td>단일노조(창구미단일화)</td>
												<td></td>
												<td>2014.04.07</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //교섭창구 단일화정보  -->

								<!-- 노동조합협약정보  -->
								<div id="tab09_03" class="tab_cont">
									<table summary="녹색사업단 노동조합협약정보 를 나타낸표로 노사간 합의한 모든 사항을 각 항목별로  나타낸 표 입니다." class="chart">
										<caption>녹색사업단 노동조합협약정보 </caption>
										<colgroup>
											<col span="12" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col" colspan="13"> 노사간 합의한 모든 사항</th>
											</tr>
											<tr>
												<th scope="col" rowspan="2" colspan="2"> 노조명</th>
												<th scope="col" colspan="3"> 산업별<br />단체협약</th>
												<th scope="col" colspan="3"> 지부별 단체협약<br />(기관별 단체협약)</th>
												<th scope="col" rowspan="2"> 보충<br />협약</th>
												<th scope="col" rowspan="2"> 최종<br />단체<br />협약</th>
												<th scope="col" rowspan="2"> 임금<br />협약</th>
												<th scope="col" rowspan="2"> 기타<br />(노사간<br />별도합의한<br />사항)</th>
												<th scope="col" rowspan="2"> 노사협의회<br />합의사항</th>
											</tr>
											<tr>
												<th scope="col"> 협약</th>
												<th scope="col"> 주요<br />개정내용</th>
												<th scope="col">대비표</th>
												<th scope="col"> 협약</th>
												<th scope="col"> 주요<br />개정내용</th>
												<th scope="col"> 신구<br />대비표</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="2">단일노조</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td><a href="/attachfiles/file/union01.hwp"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a> <br />130625_우선합의서_최종합의본.hwp </td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //노동조합협약정보  -->
							</div>
						</div>
					</div>
					<!-- //노동조합 관련현황 -->