<!--  연간 출연 및 증여  -->
					<div id="tab18">
						<h3 class="icon1">[출연내역]</h3>
						<table summary="녹색사업단 연간출연내역 정보를 나타낸표로 출연일,  피연출기관,  관계, 출연금액(백만원), 출연내용(사유), 상세내역 항목을 제공한 표 입니다." class="chart">
							<caption>녹색사업단 연간출연내역 정보 </caption>
							<colgroup>
								<col width="" />
								<col width="" />
								<col width="90" />
								<col width="" />
								<col width="" />
								<col width="90" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">출연일</th>
									<th scope="col">피연출기관</th>
									<th scope="col">관계</th>
									<th scope="col">출연금액(백만원)</th>
									<th scope="col">출연내용(사유)</th>
									<th scope="col">상세내역</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="3" >계</td>
									<td>0</td>
									<td colspan="2"></td>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td colspan="6" >조회된 데이터가 없습니다.</td>
								</tr>
							</tbody>
						</table>

						<h3 class="icon1">[증여내역]</h3>
						<table summary="녹색사업단 연간증여내역 정보를 나타낸표로 증여일,  수증인,  관계, 증연금액(백만원), 증여내용(사유), 상세내역 항목을 제공한 표 입니다." class="chart">
							<caption>녹색사업단 연간증여내역 정보 </caption>
							<colgroup>
								<col width="" />
								<col width="" />
								<col width="90" />
								<col width="" />
								<col width="" />
								<col width="90" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">증여일</th>
									<th scope="col">수증인</th>
									<th scope="col">관계</th>
									<th scope="col">증여금액(백만원)</th>
									<th scope="col">증여내용(사유)</th>
									<th scope="col">상세내역</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="3">계</td>
									<td>0</td>
									<td colspan="2"></td>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td colspan="6" >조회된 데이터가 없습니다.</td>
								</tr>
							</tbody>
					   </table>
					</div>
					<!--  //연간 출연 및 증여  -->