<!--  경영평가 지적사항  -->
					<div id="tab21">
						<table summary=" 녹색사업단 경영 평가 지적사항정보를 나타낸표로 각년도별, 지표명, 지적사항, 조치계획, 조치실적, 첨부파일 항목을 제공한 표입니다" class="chart">
							<caption>녹색사업단 경영 평가 지적사항</caption>
							<colgroup>
								<col width="10%" />
								<col span="5" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">년도</th>
									<th scope="col">지표명</th>
									<th scope="col">지적사항</th>
									<th scope="col">조치계획</th>
									<th scope="col">조치실적</th>
									<th scope="col">첨부파일</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td >2014</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td >2013</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td >2012</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td >2011</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td >2010</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--  /경영평가 지적사항   -->