<!-- 직원평균보수 -->
					<div id="tab06">
						<div class="tab_box">
							<ul class="tabs tab">
								<li><a href="#tab06_01">직원평균보수</a></li>
								<li><a href="#tab06_02">신입사원초임</a></li>
							</ul>

							<div class="tab_content">
								<!-- 직원평균보수  -->
								<div id="tab06_01" class="tab_cont">
									<div class="alR">(단위 : 천원,명)</div>
									<table  class="chart" summary="녹색사업단 년도별 직원평균보수 정보를 나타낸표로 각 구분에대한 정보를 자세히 보실수 있습니다">
										<caption>녹색사업단 년도별 직원평균보수</caption>
										<colgroup>
										<col width="23%" />
										<col span="6" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">구분</th>
												<th scope="col">2009년 결산</th>
												<th scope="col">2010년 결산</th>
												<th scope="col">2011년 결산</th>
												<th scope="col">2012년 결산</th>
												<th scope="col">2013년 결산</th>
												<th scope="col">2014년 예산</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th scope="row">상시종업원 수</th>
												<td>14</td>
												<td>17</td>
												<td>32</td>
												<td>38</td>
												<td>35.9</td>
												<td>36</td>
											</tr>
											<tr>
												<th scope="row">평균근속년수</th>
												<td>14.9</td>
												<td>12.7</td>
												<td>2.57</td>
												<td>2.72</td>
												<td>3.35</td>
												<td>4.35</td>
											</tr>
										</tfoot>
										<tbody>
											<tr>
												<th scope="row"><strong>1인당 평균 보수액</strong></th>
												<td>48,184</td>
												<td>42,576</td>
												<td>36,513</td>
												<td>43,224</td>
												<td>48,783</td>
												<td>49,652</td>
											</tr>
											<tr>
												<th scope="row">- 기본급</th>
												<td>24,308</td>
												<td>21,483</td>
												<td>29,033</td>
												<td>34,742</td>
												<td>36,123</td>
												<td>36,497</td>
											</tr>
											<tr>
												<th scope="row">- 고정수당</th>
												<td>13,874</td>
												<td>12,487</td>
												<td>0</td>
												<td>1,068</td>
												<td>1,532</td>
												<td>1,707</td>
											</tr>
											<tr>
												<th scope="row">- 실적수당</th>
												<td>3,979</td>
												<td>2,680</td>
												<td>0</td>
												<td>1,286</td>
												<td>2,600</td>
												<td>2,337</td>
											</tr>
											<tr>
												<th scope="row">- 급여성 복리후생비</th>
												<td>6,023</td>
												<td>5,927</td>
												<td>222</td>
												<td>415</td>
												<td>578</td>
												<td>642</td>
											</tr>
											<tr>
												<th scope="row">- 경영평가 성과급</th>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
											</tr>
											<tr>
												<th scope="row">- 기타 성과상여금</th>
												<td>0</td>
												<td>0</td>
												<td>7,258</td>
												<td>5,713</td>
												<td>7,950</td>
												<td>8,469</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //직원평균보수  -->

								<!-- 신입사원초임   -->
								<div id="tab06_02" class="tab_cont">
									<div class="alR">(단위 : 천원,명)</div>
									<table class="chart" summary="녹색사업단 년도별 입사원초임보수 정보를 나타낸표로 각 구분에대한 정보를 자세히 보실수 있습니다">
										<caption>녹색사업단 년도별 입사원초임보수</caption>
										<colgroup>
											<col width="23%" />
											<col span="6" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">구분</th>
												<th scope="col">2009년 결산</th>
												<th scope="col">2010년 결산</th>
												<th scope="col">2011년 결산</th>
												<th scope="col">2012년 결산</th>
												<th scope="col">2013년 결산</th>
												<th scope="col">2014년 예산</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th scope="row">신입직원수</th>
												<td>0</td>
												<td>4</td>
												<td>4</td>
												<td>6</td>
												<td>5</td>
												<td>0</td>
											</tr>
											<tr>
												<th  scope="row">계</th>
												<td>26,801</td>
												<td>25,796</td>
												<td>26,825</td>
												<td>27,972</td>
												<td>29,242</td>
												<td>29,242</td>
											</tr>
										</tfoot>
										<tbody>
											<tr>
												<th  scope="row">기본급</th>
												<td>12,564</td>
												<td>12,564</td>
												<td>21,460</td>
												<td>21,558</td>
												<td>22,375</td>
												<td>22,375</td>
											</tr>
											<tr>
												<th  scope="row">고정수당</th>
												<td>8,376</td>
												<td>7,329</td>
												<td>0</td>
												<td>0</td>
												<td>36</td>
												<td>36</td>
											</tr>
											<tr>
												<th  scope="row">실적수당</th>
												<td>2,261</td>
												<td>4,647</td>
												<td>0</td>
												<td>625</td>
												<td>837</td>
												<td>837</td>
											</tr>
											<tr>
												<th  scope="row">급여성 복리후생비</th>
												<td>3,600</td>
												<td>1,256</td>
												<td>0</td>
												<td>400</td>
												<td>400</td>
												<td>400</td>
											</tr>
											<tr>
												<th  scope="row">경영평가 성과급</th>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
												<td>0</td>
											</tr>
											<tr>
												<th  scope="row">기타 성과상여금</th>
												<td>0</td>
												<td>0</td>
												<td>5,365</td>
												<td>5,389</td>
												<td>5,594</td>
												<td>5,594</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //신입사원초임  -->
							</div>
						</div>
					</div>
					<!-- //직원평균보수 -->