<!--  신규채용현황 및 유연근무현황-->
<div id="tab04">
	<div class="tab_box">
		<ul class="tabs tab">
			<li><a href="#tab04_01">신규채용현황</a></li>
			<li><a href="#tab04_02">청년인턴채용현황</a></li>
			<li><a href="#tab04_03">유연근무현황</a></li>
		</ul>

		<div class="tab_content">
			<!-- 신규채용현황  -->
			<div id="tab04_01" class="tab_cont">
				<div class="alR">(인원단위 : 명)</div>
				<table class="chart" summary="녹색사업단 년도별 신규채용인원 현황정보를 나타낸표로, 구분, 년도별 신규채용인원 정보를 나타낸표입니다.">
					<caption>녹색사업단 신규채용현황 정보</caption>
					<colgroup>
						<col width="23%" />
						<col span="6" />
						<col width="14%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col" rowspan="2">구분</th>
							<th scope="col" colspan="6">신규채용 인원</th>
							<th scope="col" rowspan="2">현원<br />
								2014 기준 <br />
								(1/4분기)</th>
						</tr>
						<tr>
							<th scope="col" >2009</th>
							<th scope="col" >2010</th>
							<th scope="col" >2011</th>
							<th scope="col" >2012</th>
							<th scope="col" >2013</th>
							<th scope="col" >2014</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>총 신규채용</th>
							<td>0</td>
							<td>7</td>
							<td>7</td>
							<td>7</td>
							<td>7</td>
							<td>0</td>
							<td>-</td>
						</tr>
						<tr>
							<th>시간선택제 인원수</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>-</td>
						</tr>
						<tr>
							<th>시간선택제 전일제환산</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>여성</th>
							<td>0</td>
							<td>4</td>
							<td>2</td>
							<td>4</td>
							<td>3</td>
							<td>0</td>
							<td>11</td>
						</tr>
						<tr>
							<th>장애인</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>이공계 전공자</th>
							<td>0</td>
							<td>1</td>
							<td>6</td>
							<td>4</td>
							<td>5</td>
							<td>0</td>
							<td>21</td>
						</tr>
						<tr>
							<th>비수도권 지역인재</th>
							<td>0</td>
							<td>1</td>
							<td>3</td>
							<td>6</td>
							<td>2</td>
							<td>0</td>
							<td>18</td>
						</tr>
						<tr>
							<th>이전지역 지역인재</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>고졸인력</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //신규채용현황  -->

			<!-- 청년인턴채용현황  -->
			<div id="tab04_02" class="tab_cont">
				<div class="alR">(인원단위 : 명)</div>
				<table class="chart" summary="녹색사업단 년도별 청년인턴채용현황 정보를 나타낸표로 각 년도별 전환형, 채용형에따른 채용현황 정보를 나타낸표입니다 ">
					<caption>녹색사업단 청년인턴채용현황</caption>
					<colgroup>
						<col width="" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
						<col width="45px" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="3" scope="col">구분</th>
							<th colspan="12" >청년인턴채용</th>
							<th rowspan="2" colspan="2">현원<br />
								2014 기준 <br />
								(1/4분기)</th>
						</tr>
						<tr>
							<th colspan="2">2009</th>
							<th colspan="2">2010</th>
							<th colspan="2">2011</th>
							<th colspan="2">2012</th>
							<th colspan="2">2013</th>
							<th colspan="2">2014</th>
						</tr>
						<tr>
							<th scope="col">전환형</th>
							<th scope="col">채용형</th>
							<th scope="col">전환형</th>
							<th scope="col">채용형</th>
							<th scope="col">전환형</th>
							<th scope="col">채용형</th>
							<th scope="col">전환형</th>
							<th scope="col">채용형</th>
							<th scope="col">전환형</th>
							<th scope="col">채용형</th>
							<th scope="col">전환형</th>
							<th scope="col">채용형</th>
							<th scope="col">전환형</th>
							<th scope="col">채용형</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>총 인턴채용 </th>
							<td>2</td>
							<td>0</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>여성</th>
							<td>2</td>
							<td>0</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>장애인</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>이공계<br />
								전공자</th>
							<td>1</td>
							<td>0</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>비수도권<br />
								지역인재</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>이전지역<br />
								지역인재</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>고졸인력</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //청년인턴채용현황 -->

			<!-- 유연근무현황  -->
			<div id="tab04_03" class="tab_cont">
				<div class="alR">(인원단위 : 명)</div>
				<table cellspacing="0" cellpadding="0" class="chart" summary="녹색사업단 유연근무현황 정보를 나타낸표로 구분별, 년도에따른 유연근무현황 정보를 나타낸표입니다">
					<caption>녹색사업단 유연근무현황</caption>
					<colgroup>
						<col width="10%" />
						<col width="16%" />
						<col span="6" />
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" colspan="2" scope="col">구분</th>
							<th colspan="6">유연근무현황</th>
						</tr>
						<tr>
							<th scope="col">2009년</th>
							<th scope="col">2010년</th>
							<th scope="col">2011년</th>
							<th scope="col">2012년</th>
							<th scope="col">2013년</th>
							<th scope="col">2014년  1/4분기</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th rowspan="2">시간제근무</th>
							<th>신규(채용)</th>
							<td></td>
							<td></td>
							<td></td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>전환</th>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th rowspan="4">탄력근무제</th>
							<th>시차출퇴근형</th>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>근무시간선택형</th>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>집약근무형</th>
							<td></td>
							<td></td>
							<td></td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>재량근무형</th>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th rowspan="2">원격근무제</th>
							<th>재택근무형</th>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>스마트워크근무형</th>
							<td></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //유연근무현황  -->
		</div>
	</div>
</div>
<!--  //신규채용현황 및 유연근무현황-->