<script type="text/javascript">
	$(function(){	
	
	});

</script>
<!-- 임직원수  -->
<div id="tab02">

	<div class="tab_box">
		<ul class="tabs tab">
			<li><a href="#tab02_01">임직원수</a></li>
			<li><a href="#tab02_02">직급별임원수</a></li>
		</ul>

		<div class="tab_content">
			<!-- 임직원수  -->
			<div id="tab02_01" class="tab_cont">
				
				<div class="alR">(인원단위 : 명)</div>
				<table  class="chart" summary="각 년도별 임직원수를 나타낸표로, 2009년결산 ~ 2014년 1/4분기  임직원 인원수를 나타낸표입니다">
					<caption>년도별 임직원수</caption>
					<colgroup>
						<col width="" />
						<col width="" />
						<col width="" />
						<col width="80px" />
						<col width="80px" />
						<col width="80px" />
						<col width="80px" />
						<col width="80px" />
						<col width="80px" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col" colspan="3">구분</th>
							<th scope="col">2009년<br />
								결산</th>
							<th scope="col">2010년<br />
								결산</th>
							<th scope="col">2011년<br />
								결산</th>
							<th scope="col">2012년<br />
								결산</th>
							<th scope="col">2013년<br />
								결산</th>
							<th scope="col">2014년<br />
								1/4분기</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th colspan="3">임직원총계(A+B)</th>
							<td>14</td>
							<td>20</td>
							<td>27</td>
							<td>33</td>
							<td>36</td>
							<td>36</td>
						</tr>
						<tr>
							<th colspan="3">여성현원</th>
							<td>0</td>
							<td>4</td>
							<td>0</td>
							<td>5</td>
							<td>11</td>
							<td>11</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th rowspan="8">임원</th>
							<th rowspan="2">기관장</th>
							<th>상임</th>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tr>
							<th>비상임</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th rowspan="2">이사</th>
							<th>상임</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>비상임</th>
							<td>9</td>
							<td>9</td>
							<td>9</td>
							<td>9</td>
							<td>9</td>
							<td>9</td>
						</tr>
						<tr>
							<th rowspan="2">감사</th>
							<th>상임</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th>비상임</th>
							<td>2</td>
							<td>2</td>
							<td>2</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tr>
							<th colspan="2">기타</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th colspan="2">상임임원계(A)</th>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tr>
							<th rowspan="2">직원</th>
							<th colspan="2">정원</th>
							<td>25</td>
							<td>25</td>
							<td>35</td>
							<td>38</td>
							<td>42</td>
							<td>42</td>
						</tr>
						<tr>
							<th colspan="2">현원(B)</th>
							<td>13</td>
							<td>19</td>
							<td>26</td>
							<td>32</td>
							<td>35</td>
							<td>35</td>
						</tr>
						<tr>
							<th rowspan="2">무기계약직</th>
							<th colspan="2">정원</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tr>
							<th colspan="2">현원</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tr>
							<th rowspan="3">비정규직</th>
							<th colspan="2">기간제</th>
							<td>0</td>
							<td>0</td>
							<td>6</td>
							<td>6</td>
							<td>5</td>
							<td>3</td>
						</tr>
						<tr>
							<th colspan="2">단시간</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th colspan="2">기타</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<th colspan="3">소속외인력</th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- //임직원수 -->

			<!-- 직급별임원수 -->
			<div id="tab02_02" class="tab_cont">
				<div class="alR">(인원단위 : 명)</div>
				<table cellspacing="0" cellpadding="0" class="chart" summary="○구분, 2009년~현재까지 ○○○의 임직원수를 나타내는 표입니다.">
					<caption>직급별인원수</caption>
					<colgroup>
						<col width="20%" />
						<col width="20%" />
						<col width="10%" />
						<col width="10%" />
						<col width="10%" />
					</colgroup>
					<thead>
						<tr>
							<th scope="col" rowspan="2">직급</th>
							<th scope="col" rowspan="2">직종</th>
							<th scope="col" colspan="3"> 인원수</th>
						</tr>
						<tr>
							<th scope="col">남성</th>
							<th scope="col">여성</th>
							<th scope="col">임원공석</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th scope="row" colspan="2">합계</th>
							<td><strong>25</strong></td>
							<td><strong>11</strong></td>
							<td><strong>0</strong></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td>단장</td>
							<td>일반사무</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>전무</td>
							<td>일반사무</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>1급</td>
							<td>일반사무</td>
							<td>1</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>2급</td>
							<td>일반사무</td>
							<td>4</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>3급</td>
							<td>일반사무</td>
							<td>8</td>
							<td>1</td>
							<td>0</td>
						</tr>
						<tr>
							<td>4급</td>
							<td>일반사무</td>
							<td>4</td>
							<td>3</td>
							<td>0</td>
						</tr>
						<tr>
							<td>5급</td>
							<td>일반사무</td>
							<td>6</td>
							<td>7</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //직급별임원수 -->
		</div>

	</div>

</div>
<!-- //임직원수  -->