<!--  납세정보현황   -->
					<div id="tab20">

						<div class="tab_box">
							<ul class="tabs tab">
								<li><a href="#tab20_01">납세정보현황</a></li>
								<li><a href="#tab20_02">세무확정내역</a></li>
							</ul>

							<div class="tab_content">
								<!-- 납세정보현황  -->
								<div id="tab20_01" class="tab_cont">
									<div class="alR">(단위 : 천원)</div>
									<table  summary="녹색사업단 납세정보현황 정보를 나타낸표로 연도, 과세표준, 법인세 산출세액, 세액공제, 가산세, 결정세액 항목을 나타낸 표 입니다." class="chart">
										<caption>녹색사업단 납세정보현황</caption>
										<colgroup>
											<col width="105" />
											<col width="100" />
											<col width="100" />
											<col width="130" />
											<col width="130" />
											<col width="100" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">연도</th>
												<th scope="col">과세표준</th>
												<th scope="col">법인세<br />산출세액</th>
												<th scope="col">세액공제</th>
												<th scope="col">가산세</th>
												<th class="last" scope="col">결정세액</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><strong>2013</strong></td>
												<td class="alR">67,073</td>
												<td class="alR">6,707</td>
												<td class="alR">6,707</td>
												<td class="alR">0</td>
												<td class="alR">0</td>
											</tr>
											<tr>
												<td><strong>2012</strong></td>
												<td class="alR">135,796</td>
												<td class="alR">13,579</td>
												<td class="alR">13,579</td>
												<td class="alR">0</td>
												<td class="alR">13,579</td>
											</tr>
											<tr>
												<td><strong>2011</strong></td>
												<td class="alR">16,962</td>
												<td class="alR">1,696</td>
												<td class="alR">1,696</td>
												<td class="alR">0</td>
												<td class="alR">1,696</td>
											</tr>
											<tr>
												<td><strong>2010</strong></td>
												<td class="alR">23,692</td>
												<td class="alR">2,369</td>
												<td class="alR">2,369</td>
												<td class="alR">0</td>
												<td class="alR">2,369</td>
											</tr>
											<tr>
												<td><strong>2009</strong></td>
												<td class="alR">0</td>
												<td class="alR">0</td>
												<td class="alR">0</td>
												<td class="alR">0</td>
												<td class="alR">0</td>
											</tr>
										</tbody>
									</table>

								</div>
								<!-- //납세정보현황  -->

								<!-- 세무확정내역  -->
								<div id="tab20_02" class="tab_cont">
									<div class="alR">(단위 : 천원)</div>
									<table  summary="녹색사업단 세무확정내역 정보를 나타낸표로 귀속연도, 확정내역, 세목, 추징세액 항목을 나타낸 표 입니다." class="chart">
										<caption>녹색사업단 세무확정내역</caption>
										<colgroup>
											<col width="15%" />
											<col width="*" />
											<col width="20%" />
											<col width="15%" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">귀속연도</th>
												<th scope="col">확정내역</th>
												<th scope="col">세목</th>
												<th scope="col">추징세액</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="4">조회된 데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>


								</div>
								<!-- //세무확정내역  -->
							</div>
						</div>

					</div>
					<!--  //납세정보현황   -->