<!-- 	요약대차대조표(또는 요약재무상태표)-->
					<div id="tab10">
						<div class="tab_box">
							<ul class="tabs tab">
								<li><a href="#tab10_01">고유사업</a></li>
								<li><a href="#tab10_02">기금계정</a></li>
							</ul>

							<div class="tab_content">
								
								<!-- 고유사업  -->
								<div id="tab10_01" class="tab_cont">
									<div class="alR">(단위 : 백만원)</div>
									<table  summary="녹색사업단  년도별 고유사업 정보를 나타낸표 자산, 부채, 자본 으로 구분하여 년도별 결산내역을 제공하고 있습니다 첨부파일을 클릭하시면 파일을 다은받아보실수 있습니다." class="chart">
										<caption>녹색사업단  년도별 고유사업 정보</caption>
										<colgroup>
											<col width="*" />
											<col width="*" />
											<col width="*" />
											<col width="*" />
											<col width="*" />
											<col width="*" />
											<col width="*" />
										</colgroup>
										<thead>
											<tr>
												<th colspan="2" scope="col">구분</th>
												<th scope="col">2009년 결산</th>
												<th scope="col">2010년 결산</th>
												<th scope="col">2011년 결산</th>
												<th scope="col">2012년 결산</th>
												<th scope="col">2013년 결산</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th rowspan="3" scope="row">자산</th>
												<th scope="row">유동자산</th>
												<td class="alR">87,717</td>
												<td class="alR">88,651</td>
												<td class="alR">76,851</td>
												<td class="alR">83,052</td>
												<td class="alR">84,611</td>
											</tr>
											<tr>
												<th scope="row">비유동자산</th>
												<td class="alR">9,741</td>
												<td class="alR">10,594</td>
												<td class="alR">26,426</td>
												<td class="alR">20,972</td>
												<td class="alR">19,630</td>
											</tr>
											<tr>
												<th scope="row">자산총계</th>
												<td class="alR"><strong>97,458</strong></td>
												<td class="alR"><strong>99,245</strong></td>
												<td class="alR"><strong>103,277</strong></td>
												<td class="alR"><strong>104,024</strong></td>
												<td class="alR"><strong>104,241</strong></td>
											</tr>
											<tr>
												<th rowspan="3" scope="row">부채</th>
												<th scope="row">유동부채</th>
												<td class="alR">84</td>
												<td class="alR">393</td>
												<td class="alR">907</td>
												<td class="alR">312</td>
												<td class="alR">456</td>
											</tr>
											<tr>
												<th scope="row">비유동부채</th>
												<td class="alR">3,895</td>
												<td class="alR">4,147</td>
												<td class="alR">5,509</td>
												<td class="alR">5,517</td>
												<td class="alR">5,338</td>
											</tr>
											<tr>
												<th scope="row">부채총계</th>
												<td class="alR"><strong>3,979</strong></td>
												<td class="alR"><strong>4,540</strong></td>
												<td class="alR"><strong>6,416</strong></td>
												<td class="alR"><strong>5,829</strong></td>
												<td class="alR"><strong>5,794</strong></td>
											</tr>
											<tr>
												<th rowspan="3" scope="row">자본</th>
												<th scope="row">자본금</th>
												<td class="alR">92,000</td>
												<td class="alR">92,000</td>
												<td class="alR">92,000</td>
												<td class="alR">92,000</td>
												<td class="alR">92,000</td>
											</tr>
											<tr>
												<th scope="row">기타</th>
												<td class="alR">1,478</td>
												<td class="alR">2,705</td>
												<td class="alR">4,861</td>
												<td class="alR">6,196</td>
												<td class="alR">6,447</td>
											</tr>
											<tr>
												<th scope="row">자본총계</th>
												<td class="alR"><strong>93,478</strong></td>
												<td class="alR"><strong>94,705</strong></td>
												<td class="alR"><strong>96,861</strong></td>
												<td class="alR"><strong>98,196</strong></td>
												<td class="alR"><strong>98,447</strong></td>
											</tr>
											<tr>
												<th colspan="2" scope="row">첨부파일</th>
												<td><a href="/attachfiles/file/SOFP2009.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
												<td><a href="/attachfiles/file/SOFP2010.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
												<td><a href="/attachfiles/file/SOFP2011.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
												<td><a href="/attachfiles/file/SOFP2012.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
												<td><a href="/attachfiles/file/SOFP2013.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
											</tr>
										</tbody>
									</table>


								</div>
								<!-- //고유사업  -->

								<!-- 기금계정  -->
								<div id="tab10_02" class="tab_cont">
									<table summary="녹색사업단 기금계정 정보를 나타낸표입니다" class="chart">
										<caption> 기금계정 정보</caption>
										<tbody>
											<tr>
												<td>검색된 데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //기금계정  -->
							</div>
						</div>
					</div>
					<!-- 	//요약대차대조표(또는 요약재무상태표)-->
