<!--  	경영부담비용 추계   -->
					<div id="tab19">
						<div class="tab_box">
							<ul class="tabs tab">
								<li><a href="#tab19_01">담보제공현황</a></li>
								<li><a href="#tab19_02">채무보증현황</a></li>
								<li><a href="#tab19_03">기타사항</a></li>
							</ul>

							<div class="tab_content">
								<!-- 담보제공현황  -->
								<div id="tab19_01" class="tab_cont">
									<div class="alR">(단위 : 천원)</div>
									<table  summary="녹색사업단 경영부담비용 추계 담보제공현황 정보를 나타낸표로 기간, 채무자, 관계, 담보설정잔액, 담보제공 재산, 비고 항목을 나타낸 표입니다." class="chart">
										<caption>녹색사업단 담보제공현황 정보</caption>
										<colgroup>
											<col width="12%" />
											<col width="19%" />
											<col width="13%" />
											<col width="14%" />
											<col width="17%" />
											<col width="25%" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">기간</th>
												<th scope="col">채무자</th>
												<th scope="col">관계</th>
												<th scope="col">담보설정잔액</th>
												<th scope="col">담보제공 재산</th>
												<th scope="col">비고</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="6">조회된 데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>

								</div>
								<!-- //담보제공현황  -->

								<!-- 채무보증현  -->
								<div id="tab19_02" class="tab_cont">
									<div class="alR">(단위 : 천원)</div>
									<table  summary="녹색사업단 경영부담비용 추계 채무보증현황 정보를 나타낸표로 채무보증기간, 채무자,관계, 채권자, 채무보증잔액, 비고 항목을 나타낸 표입니다." class="chart">
										<caption>녹색사업단 채무보증현황 정보</caption>
										<colgroup>
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
											<col width="" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">채무보증기간</th>
												<th scope="col">채무자</th>
												<th scope="col">관계</th>
												<th scope="col">채권자</th>
												<th scope="col">채무보증잔액</th>
												<th scope="col">비고</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="6">조회된 데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>

								</div>
								<!-- //채무보증현  -->

								<!-- 기타사항  -->
								<div id="tab19_03" class="tab_cont">
									<div class="alR">(단위 : 천원/년간)</div>
									<table  summary="녹색사업단 경영부담비용 추계 기타사항 정보를 나타낸표로 제목, 추정 소요예산 등록일  첨부파일  항목을 나타낸 표입니다." class="chart">
										<caption>녹색사업단 경영부담비용 추계 기타사항 정보</caption>
										<colgroup>
											<col width="300" />
											<col width="" />
											<col width="" />
											<col width="" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">제목</th>
												<th scope="col">추정 소요예산</th>
												<th scope="col">등록일</th>
												<th scope="col">첨부파일</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="4">조회된 데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>


								</div>
								<!-- //기타사항 -->

							</div>
						</div>
					</div>
					<!--  //	경영부담비용 추계   -->