<!-- 	요약손익계산서(또는 포괄손익계산서) -->
					<div id="tab11">
						<div class="tab_box">
							<ul class="tabs tab">
								<li><a href="#tab11_01">고유사업</a></li>
								<li><a href="#tab11_02">기금계정</a></li>
							</ul>

							<div class="tab_content">
								<!-- 고유사업  -->
								<div id="tab11_01" class="tab_cont">
									<div class="alR">(단위 : 백만원)</div>
									<table summary="녹색사업단 요약손익계산서 년도별 고유사업 정보를 구분, 년도별 결산내역을 제공하고 있습니다 첨부파일을 클릭하시면 파일을 다은받아보실수 있습니다." class="chart">
										<caption>녹색사업단 요약손익계산서 고유사업</caption>
										<colgroup>
											<col width="*" />
											<col width="*" />
											<col width="*" />
											<col width="*" />
											<col width="*" />
											<col width="*" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">구분</th>
												<th scope="col">2009년 결산</th>
												<th scope="col">2010년 결산</th>
												<th scope="col">2011년 결산</th>
												<th scope="col">2012년 결산</th>
												<th scope="col">2013년 결산</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">매출</th>
												<td class="alR">4,567</td>
												<td class="alR">4,306</td>
												<td class="alR">6,689</td>
												<td class="alR">8,577</td>
												<td class="alR">10,623</td>
											</tr>
											<tr>
												<th>매출원가</th>
												<td class="alR">2,052</td>
												<td class="alR">2,905</td>
												<td class="alR">2,519</td>
												<td class="alR">4,152</td>
												<td class="alR">6,426</td>
											</tr>
											<tr>
												<th>판관비</th>
												<td class="alR">0</td>
												<td class="alR">0</td>
												<td class="alR">2,041</td>
												<td class="alR">3,554</td>
												<td class="alR">4,164</td>
											</tr>
											<tr>
												<th>영업이익</th>
												<td class="alR">2,515</td>
												<td class="alR">1,401</td>
												<td class="alR">2,129</td>
												<td class="alR">871</td>
												<td class="alR">33</td>
											</tr>
											<tr>
												<th scope="row">영업이익외 수익</th>
												<td class="alR">1,718</td>
												<td class="alR">2,298</td>
												<td class="alR">3,870</td>
												<td class="alR">4,499</td>
												<td class="alR">4,348</td>
											</tr>
											<tr>
												<th scope="row">영업외 비용</th>
												<td class="alR">4,023</td>
												<td class="alR">2,524</td>
												<td class="alR">4,422</td>
												<td class="alR">4,292</td>
												<td class="alR">4,040</td>
											</tr>
											<tr>
												<th scope="row">법인세 비용</th>
												<td class="alR">0</td>
												<td class="alR">3</td>
												<td class="alR">2</td>
												<td class="alR">15</td>
												<td class="alR">7</td>
											</tr>
											<tr>
												<th scope="row" class="sum">총 수익</th>
												<td class="alR">6,285</td>
												<td class="alR">6,604</td>
												<td class="alR">10,559</td>
												<td class="alR">13,076</td>
												<td class="alR">14,971</td>
											</tr>
											<tr>
												<th scope="row" class="sum">총 비용</th>
												<td class="alR">6,075</td>
												<td class="alR">5,432</td>
												<td class="alR">8,984</td>
												<td class="alR">12,013</td>
												<td class="alR">14,637</td>
											</tr>
											<tr>
												<th scope="row">당기 순이익</th>
												<td class="alR">210</td>
												<td class="alR">1,172</td>
												<td class="alR">1,575</td>
												<td class="alR">1,063</td>
												<td class="alR">334</td>
											</tr>
											<tr>
												<th scope="row">첨부파일</th>
												<td><a href="/attachfiles/file/income2009.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
												<td><a href="/attachfiles/file/income2010.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
												<td><a href="/attachfiles/file/income2011.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
												<td><a href="/attachfiles/file/income2012.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
												<td><a href="/attachfiles/file/income2013.xlsx"><img src="/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/icon_file.gif"  alt="파일다운" /></a></td>
											</tr>
										</tbody>
									</table>

								


								</div>
								<!-- //고유사업  -->

								<!-- 기금계정  -->
								<div id="tab11_02" class="tab_cont">
									<table summary="녹색사업단 요약손익계산서 기금계정 정보를 나타낸표입니다" class="chart">
										<caption> 녹색사업단  요약손익계산서 기금계정 정보</caption>
										<tbody>
											<tr>
												<td>검색된 데이터가 없습니다.</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //기금계정  -->
							</div>
						</div>
					</div>
					<!-- 	//요약손익계산서(또는 포괄손익계산서) -->