.mng_box01{margin-top:40px;}
.mng_detail_link li{margin-bottom:10px;}

.open_mng{padding:10px;background:#f6f6f6;border:1px solid #d5d5d5}
.open_mng dl{overflow:hidden;width:100%;padding:10px 0;border-bottom:1px solid #d5d5d5;border-top:1px solid #fff;}
.open_mng dt{float:left;width:215px;color:#595959;font-size:16px;font-weight:bold;padding:5px 0 0  10px;}
.open_mng dt.on{color:#289b00;}
.open_mng dt span{display:inline-block;vertical-align:middle;width:33px;height:30px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m6/bg_icon_public.png') 0 0 no-repeat;}
.open_mng dd{float:left;width:510px;}
.open_mng dd ul{overflow:hidden;width:100%;}
.open_mng dd ul li{float:left;margin-right:15px;padding:2px 0;}
.open_mng dd ul li{color:#8c8c8c;}
.open_mng dd ul li a{display:block;padding:5px 10px;}
.open_mng dd ul li a.on{background:#289b00;color:#fff;}

.open_mng dl.state01{border-top:none;}
.open_mng dl.state05{border-bottom:none;}

.open_mng dl.state01 dt span{background-position:0 -15px;}
.open_mng dl.state02 dt span{background-position:0 -75px;}
.open_mng dl.state03 dt span{background-position:0 -145px;}
.open_mng dl.state04 dt span{background-position:0 -210px;}
.open_mng dl.state05 dt span{background-position:0 -255px;}

.open_mng dl.state01 dt.on span{background-position:-36px -15px;}
.open_mng dl.state02 dt.on span{background-position:-36px -75px;}
.open_mng dl.state03 dt.on span{background-position:-36px -145px;}
.open_mng dl.state04 dt.on span{background-position:-36px -210px;}
.open_mng dl.state05 dt.on span{background-position:-36px -255px;}