@charset "utf-8";
/***********************************************************
*  bbs_warp : web 
************************************************************/
#bbs_wrap {width:100%;}
#bbs_wrap .bbs_list {width:100%; }
#bbs_wrap #bbs_search input { vertical-align: middle; }
#bbs_wrap #bbs_search { background: none repeat scroll 0 0 #f3f3f3;line-height: 50px; margin-bottom: 30px; text-align: center; }
#bbs_wrap #bbs_search .inp_s { border:1px solid #cccccc; height:28px; line-height:30px; margin: 0 5px; width:45%; }
#bbs_wrap #bbs_search select {min-width:100px;height:30px;border:1px solid #cccccc; vertical-align: middle; }

/* board_paging */
#paging {width: 100%;color: #7F7F7F;font-style: normal;padding: 20px 0; font-weight: bold; text-align: center; }
#paging a {margin:0 2px;}
#paging img {vertical-align:middle;}
#paging a {display:inline-block;width:30px;height:30px;line-height:28px;vertical-align:middle;background:#f3f3f3;border:1px solid #d3d3d3;}
#paging a span {position:absolute; z-index:-1;visibility:hidden;}
#paging .first , #paging .prev , #paging .next , #paging .last{background-image:url('./images/btn_all.gif');width:18px; height:18px;}
#paging .first {position:relative; background-position:0 -720px;border:none; }
#paging .prev {position:relative;background-position:-30px -720px;border:none; }
#paging .next {position:relative; background-position:-61px -720px; border:none; }
#paging .last {position:relative; background-position:-90px -720px;border:none; }
#paging .current {display:inline-block;width:30px;height:30px;line-height:28px; margin: 0 2px; vertical-align:middle;background:#8e8e8e;border:1px solid #7b7b7b;color:#fff;}

#bbs_wrap .blue{color: #000;}
#bbs_wrap .vMid{vertical-align:middle;}
#bbs_wrap .btn_all{overflow:hidden;width:100%;padding:20px 0;}
#bbs_wrap .btn_all .fL{float:left;width:70%;}
#bbs_wrap .btn_all .fR{float:right;width:29%;text-align:right;}
#bbs_wrap .btn_c{text-align:center;padding:20px 0;}
#bbs_wrap .btn_r{text-align:right;padding:20px 0;}


/* list 일반 */
#bbs_wrap .list_table {width: 100%;border-collapse: collapse;border-top:2px solid #666666;color:#515151;}
#bbs_wrap .list_table th {line-height:48px;border-bottom:1px solid #d8d8d8;color:#323232;}
#bbs_wrap .list_table td {border-bottom:1px solid #d8d8d8;}
#bbs_wrap .list_table .check {width:55px;}
#bbs_wrap .list_table .num {width:50px;}
#bbs_wrap .list_table .class{width:65px;}
#bbs_wrap .list_table .tit {padding-left:3%;overflow:hidden;text-align:left;min-width:180px;}/*text-overflow:ellipsis;white-space:nowrap;}*/
#bbs_wrap .list_table th.tit {text-align:center;width:auto;}
#bbs_wrap .list_table .tit a{color:#000;;white-space:nowrap;}/*text-overflow:ellipsis*/
#bbs_wrap .list_table .state {width:61px;}
#bbs_wrap .list_table .writer {width:100px;}
#bbs_wrap .list_table .file {width:55px;}
#bbs_wrap .list_table .date {width:120px; }
#bbs_wrap .list_table .hits {width:60px;}

#bbs_wrap .list_table th.institute {width:150px;}
#bbs_wrap .list_table th.tel {width:100px;}
#bbs_wrap .list_table th.hmpg {width:55px; }
#bbs_wrap .list_table th.address {width:auto;}

#bbs_wrap .list_table tbody tr{height:48px;}
#bbs_wrap .list_table tbody td {text-align:center;}
#bbs_wrap .list_table tbody td.alL{text-align:left;padding:0 10px;}
#bbs_wrap .list_table tbody td.tit {text-align:left; line-height:15px;}
#bbs_wrap .list_table tbody td.tit a{display:inline-block;white-space:nowrap;overflow:hidden;max-width:280px;vertical-align:middle;color:#343434;text-overflow:ellipsis}
#bbs_wrap .list_table tbody td.tit em{vertical-align:middle;}
#bbs_wrap .list_table tbody td.institute{text-align:left;padding-left:10px;}
#bbs_wrap .list_table tbody td.address{line-height:15px;text-align:left;padding-left:20px;}


#bbs_wrap .list_table .notice {background:#F3F7FF;}
#bbs_wrap .list_table .notice .class {font-weight:bold;color:#5978AF;}

/* 동영상_list */
#bbs_wrap  .video_play{overflow:hidden;background:#f1f1f1;padding:20px;margin-bottom:25px;}
#bbs_wrap  .video_play .video{float:left;width:390px;height:290px;margin-right:20px;background:#000;}
#bbs_wrap  .video_play .vcont{float:right;width:265px;height:290px;overflow-y:auto;padding:0 20px;background:#fff;}
#bbs_wrap  .video_play .vcont h3{padding:15px 0 10px;margin-bottom:10px;border-bottom:1px solid #f1f1f1;color:#4c4c4c;font-size:14px;font-weight:bold;}

#bbs_wrap  .total{padding-bottom:5px;text-align:right;color:#737373;text-align:right;}
#bbs_wrap  .total strong{color:#000;}
#bbs_wrap  .video_list{padding-top:30px;border-top:1px solid #e8e8e8}
#bbs_wrap  .video_list ul{overflow:hidden;margin-left:-15px;}
#bbs_wrap  .video_list li{float:left;width:220px;height:185px;padding:12px;margin:0 0px 12px 12px;border:1px solid #ebebeb}
#bbs_wrap  .video_list li a{display:block;}
#bbs_wrap  .video_list li a .img{position:relative;display:block;width:220px;height:133px;background:#efefef;}
#bbs_wrap  .video_list li a .img img{width:100%;height:100%;}
#bbs_wrap  .video_list li a .img .png{position:absolute;display:block;top:0;left:0;width:220px;height:133px;background:url('./images/bg_png.png') 0 0 no-repeat;}
#bbs_wrap  .video_list li a strong{display:block;padding:8px 0 5px;/*text-overflow:ellipsis;*/white-space:nowrap;overflow:hidden;}
#bbs_wrap  .video_list li a span.date{color:#a5a5a5;font-size:11px;}


/* wirte */
#bbs_wrap .board_write{width:100%;border-top:2px solid #666666}
#bbs_wrap .board_write dl{overflow:hidden;width:100%;background:#F6F6F6; }
#bbs_wrap .board_write dt{float:left;width:17%;padding:6px 0 5px 3%; min-height:35px;line-height:32px;vertical-align:middle;background:#F6F6F6;font-weight:bold;border-bottom: 1px solid #dbdbdb;}
#bbs_wrap .board_write dd{float:left;width:77%;padding:6px 0 5px 3%;min-height:35px;line-height:32px;vertical-align:middle;background:#fff;border-bottom: 1px solid #dbdbdb;}
#bbs_wrap .board_write dl.info_input{overflow:hidden;width:100%;background:#f8f8f8;border-bottom:1px solid #dbdbdb;}
#bbs_wrap .board_write dl.info_input dt{color:#666;font-weight:bold;border-bottom:none;}
#bbs_wrap .board_write dl.info_input dd{background:#fff;border-bottom:none;}
#bbs_wrap .board_write dl dd .inp{height:25px;line-height:25px;vertical-align:middle;padding-left:10px;font-family: "Nanum Gothic","나눔고딕";}
#bbs_wrap .board_write dd input.tit{width:95%;line-height:25px;height:25px;vertical-align:middle;border:1px solid #e5e5e5;}
#bbs_wrap .board_write dd input.cont{width:50%;line-height:20px;vertical-align:middle;border:1px solid #d1d1d1;float:left;}
#bbs_wrap .board_write dd select{border: 1px solid #d1d1d1;}
#bbs_wrap .board_write dt.file, .board_write dd.file{border-bottom:none;}
#bbs_wrap .board_write dd input.file_up{border: 1px solid #d1d1d1;width:95%;}
#bbs_wrap .board_write dd input{vertical-align:middle;}
#bbs_wrap .board_write dd label{vertical-align:middle;margin:0 10px 0 5px;}

#bbs_wrap .board_write dd ul.file_list{padding:3px 0;}
#bbs_wrap .board_write dd ul.file_list li{padding:2px 0;line-height:14px;}
#bbs_wrap .board_write dd ul.file_list li img{vertical-align:middle;}

#bbs_wrap .board_write dd.write_cont{width:100%;padding:0;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
#bbs_wrap .board_write dd.write_cont div.commediter{margin:10px; border:1px solid #dbdbdb;}
#bbs_wrap .board_write dd.write_cont textarea{width:100%;min-height:400px;border:none;font-size:12px;font-family: "Nanum Gothic","나눔고딕";}

#bbs_wrap .board_write .box_spcbbl{max-width:40%;height:23px;float:left;margin-left:10px;}
#bbs_wrap .board_write .txt_area{margin:15px 0;font-family: "Nanum Gothic","나눔고딕";border:1px solid #e5e5e5;width:96%;padding:1% 2%;font-size:13px;}


/* view */
#bbs_wrap .top_info{text-align:right;padding:10px 0 5px;}
#bbs_wrap .top_info span{margin-left:15px;}
#bbs_wrap .board_view dl{overflow:hidden;width:100%;}
#bbs_wrap .board_view dt{float:left;min-height:48px;line-height:48px;font-weight:bold;color:#323232;background:url('./images/bg_bar.gif') 85% center no-repeat;}
#bbs_wrap .board_view dd{float:left;min-height:48px;line-height:48px;vertical-align:middle;}

#bbs_wrap .tit_view{overflow:hidden;width:100%;border-top:2px solid #666666;border-bottom:1px solid #d9d9d9;}
#bbs_wrap .tit_view dt{float:left;width:16%;padding-left:4%;}
#bbs_wrap .tit_view dd{float:left;width:80%;min-height:18px;padding:15px 0;line-height:18px;font-weight:bold}

#bbs_wrap .info_view dt{width:16%;padding-left:4%;border-bottom:1px solid #D1D1D1;}
#bbs_wrap .info_view dd{width:80%;border-bottom:1px solid #D1D1D1;}
#bbs_wrap .info_view a:hover{text-decoration:underline;}

#bbs_wrap .info_view2{border-bottom:1px solid #D1D1D1;}
#bbs_wrap .info_view2 dt{width:10%;}
#bbs_wrap .info_view2 dd{width:17%;}
#bbs_wrap .info_view2 dt.writer{width:16%;padding-left:4%;}
#bbs_wrap .info_view2 dd.writer{width:25%;}

#bbs_wrap .info_view3{border-bottom:1px solid #D1D1D1;}
#bbs_wrap .info_view3 dt{width:16%;padding-left:4%;}
#bbs_wrap .info_view3 dd{width:30%;}


#bbs_wrap .file_view dt{width:16%;padding-left:4%;}
#bbs_wrap .file_view dd{width:80%;padding:10px 0;}
#bbs_wrap .file_view dd ul{padding:3px 0;}
#bbs_wrap .file_view dd ul li{padding:2px;line-height:14px;}
#bbs_wrap .file_view dd ul li img{vertical-align:middle;}

#bbs_wrap .tit_list{background:#F9F9F9;border-top:1px solid #D1D1D1;}
#bbs_wrap .tit_list dt{width:15%;padding-left:5%;border-bottom:1px solid #D1D1D1;}
#bbs_wrap .tit_list dd{width:80%;border-bottom:1px solid #D1D1D1;}

#bbs_wrap .board_view .view_cont{padding:20px 4%;border-top:1px solid #D1D1D1;border-bottom:1px solid #D1D1D1;min-height:100px;word-break:break-all;margin-top:-1px;}
#bbs_wrap .board_view .view_cont em {font-style:italic;}

#bbs_wrap .board_view .view_cont_rep{padding:20px 4%;background:#f7f7f7;border-bottom:1px solid #d8d8d8;}
#bbs_wrap .board_view .view_cont_rep strong{display:block;margin-bottom:10px;color:#323232;}

/* 댓글 */
#bbs_wrap .comment{padding:10px 0;}
#bbs_wrap .comment_inp{overflow:hidden;width:100%;}
#bbs_wrap .comment_inp strong{float:left;display:block;width:auto;padding:0 5px;}
#bbs_wrap .comment_inp textarea{float:left;width:75%;margin-right:2%;height: 40px;padding: 3px;background-color: #F6F6F6;border: 1px solid #CACACA;color: #767676;font-size: 12px;}
#bbs_wrap .comment p{padding:5px 0 0 10%;color: #C57878;}
#bbs_wrap .commentPopup {border-bottom: 1px dashed #D7D7D7;}


#bbs_wrap .reply{padding: 10px 0 7px;}
#bbs_wrap .reply strong{float:left;color:#000;font-weight:bold;}
#bbs_wrap .reply span{float:right; color: #A4A4A4;display: inline-block; font: 11px/13px Tahoma;padding: 0;}
#bbs_wrap .reply span img{vertical-align:middle;margin:0 2px;}
#bbs_wrap .reply p.reply_cont{clear:both;padding: 5px 0;color: #A4A4A4;font: 12px/18px Dotum,"돋움";word-break: break-all;}

#bbs_wrap .type1{border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type2{padding-left:40px; background: url("./images/btn_reply_review.gif") 0px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type3{padding-left:55px; background: url("./images/btn_reply_review.gif") 15px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type4{padding-left:70px; background: url("./images/btn_reply_review.gif") 30px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type5{padding-left:85px; background: url("./images/btn_reply_review.gif") 45px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type6{padding-left:100px; background: url("./images/btn_reply_review.gif") 60px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type7{padding-left:115px; background: url("./images/btn_reply_review.gif") 75px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type8{padding-left:130px; background: url("./images/btn_reply_review.gif") 90px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type9{padding-left:145px; background: url("./images/btn_reply_review.gif") 105px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}
#bbs_wrap .type10{padding-left:160px; background: url("./images/btn_reply_review.gif") 120px 10px no-repeat;border-bottom: 1px dashed #D7D7D7;}


#bbs_wrap .bbs_reply{padding:10px 0;}
#bbs_wrap .bbs_reply .comment{padding:10px 0 0 40px;background: url("./images/btn_reply_review.gif") 0 15px no-repeat;}
#bbs_wrap .bbs_reply .comment strong{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden;line-height:0}
#bbs_wrap .bbs_reply .comment textarea{width:84%;}
#bbs_wrap .bbs_reply .comment p{padding-left:0;}

/* list 포토 */
#bbs_wrap .list_photo{overflow:hidden;width:100%;border-top:2px solid #666;border-bottom:1px solid #D7D7D7;margin-bottom:20px;}
#bbs_wrap .list_photo ul{overflow:hidden;padding:0 5px 20px;}
#bbs_wrap .list_photo ul li{float:left;display:inline;width:175px;height:190px;margin:20px 15px 0;}
#bbs_wrap .list_photo ul li .ph_img{margin-bottom:10px;width:175px;height:140px;background:#efefef;}
#bbs_wrap .list_photo ul li .ph_cont{}
#bbs_wrap .list_photo ul li .ph_cont span{display:block;margin-bottom:3px;line-height:14px;}
#bbs_wrap .list_photo ul li .ph_cont span img{vertical-align:top;}
#bbs_wrap .list_photo ul li .ph_cont a{display:inline-block;max-width:160px;overflow:hidden;/*text-overflow:ellipsis;*/white-space:nowrap;line-height:14px;}
#bbs_wrap .list_photo ul li .ph_cont strong{color:#A4A4A4;vertical-align:top}
#bbs_wrap .list_photo ul li .ph_date{font-size:11px;color:#A4A4A4;}

/* 첨부파일 */
/* #bbs_wrap .file_box {padding:10px;margin:20px 0 10px 0;border:1px solid #D1D1D1;} */
#bbs_wrap .file_box {background:#fff;}
#bbs_wrap .file_top {overflow:hidden;width:100%;padding:10px 0;position:relative;}
#bbs_wrap .file_top .file_btn{float:left;}
#bbs_wrap .file_top .file_info{float:right; line-height:21px; margin-top:10px;}
#bbs_wrap table.file_list_chart{border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px;}
#bbs_wrap table.file_list_chart thead th{border:1px solid #D1D1D1;background:#F6F6F6;padding:5px 0;}
#bbs_wrap table.file_list_chart tbody td{border:none;text-align:left;padding:5px;font-size:12px;}
#bbs_wrap table.file_list_chart tbody td img{vertical-align:middle;}
#bbs_wrap table.file_list_chart tbody td.size{text-align:right;width:100px;padding-right:20px;}
#bbs_wrap table.file_list_chart tbody td.del{text-align:center;width:50px;}
.listFile table th{text-align:center;}


/* board button */
.btn_all{overflow:hidden;width:100%;padding:15px 0;}
.btn_all button{overflow:visible;}
.btn_all .fL{float:left;width:70%;}
.btn_all .fR{float:right;width:29%;text-align:right;}
.btn_c{text-align:center;padding:15px 0;}
.btn_r{text-align:right;padding:15px 0;}

.bbtn, .bbtn_s, .bbtn_sm, .bbtn_confirm1, .bbtn_confirm2, .bbtn_normal, .bbtn_color1, .bbtn_color2, .bbtn_color3, .bbtn_bg1, .bbtn_bg2, .bbtn_cm1, .bbtn_cm2, .bbtn_em, .bbtn_input,
.bbtn a, .bbtn_s a, .bbtn_sm a, .bbtn_confirm1 a, .bbtn_confirm2 a, .bbtn_normal a, .bbtn_color1 a, .bbtn_color2 a, .bbtn_color3 a, .bbtn_bg1 a, .bbtn_bg2 a, .bbtn_cm1 a, .bbtn_cm2 a, .bbtn_em a, .bbtn_input a,
.bbtn input, .bbtn_s input, .bbtn_sm input, .bbtn_confirm1 input, .bbtn_confirm2 input, .bbtn_normal input, .bbtn_color1 input, .bbtn_color2 input, .bbtn_color3 input, .bbtn_bg1 input, .bbtn_bg2 input, .bbtn_cm1 input, .bbtn_cm2 input, .bbtn_em input, .bbtn_input input,
.bbtn button, .bbtn_s button, .bbtn_sm button, .bbtn_confirm1 button, .bbtn_confirm2 button, .bbtn_normal button, .bbtn_color1 button, .bbtn_color2 button, .bbtn_color3 button, .bbtn_bg1 button, .bbtn_bg2 button, .bbtn_cm1 button, .bbtn_cm2 button, .bbtn_em button, .bbtn_input button
, .icon_list1, .icon_list2{white-space: nowrap;background-image:url('./images/btn_all.gif');vertical-align:middle;cursor:pointer;}
.bbtn, .bbtn_s, .bbtn_sm, .bbtn_confirm1, .bbtn_confirm2, .bbtn_normal, .bbtn_color1, .bbtn_color2, .bbtn_color3, .bbtn_bg1, .bbtn_bg2, .bbtn_cm1, .bbtn_cm2, .bbtn_em, .bbtn_input{display:inline-block;font-weight:bold;cursor:pointer;}
.bbtn a, .bbtn_s a, .bbtn_sm a, .bbtn_confirm1 a, .bbtn_confirm2 a, .bbtn_normal a, .bbtn_color1 a, .bbtn_color2 a, .bbtn_color3 a, .bbtn_bg1 a, .bbtn_bg2 a, .bbtn_cm a, .bbtn_cm2 a, .bbtn_em a, .bbtn_input a,
.bbtn button, .bbtn_s button, .bbtn_sm button, .bbtn_confirm1 button, .bbtn_confirm2 button, .bbtn_normal button, .bbtn_color button, .bbtn_color2 button, .bbtn_color3 button, .bbtn_bg1 button, .bbtn_bg2 button, .bbtn_cm1 button, .bbtn_cm2 button, .bbtn_em button, .bbtn_input button,
.bbtn input, .bbtn_s input, .bbtn_sm input, .bbtn_confirm1 input, .bbtn_confirm2 input, .bbtn_normal input, .bbtn_color input, .bbtn_color2 input, .bbtn_color3 input, .bbtn_bg1 input, .bbtn_bg2 input, .bbtn_cm1 input, .bbtn_cm2 input, .bbtn_em input, .bbtn_input input
{display:inline-block;margin:0;font-weight:bold;font-size:13px;text-align:center;background-color:transparent;border:none;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum";}

.bbtn{background:#f3f3f3;border:1px solid #cbcbcb;margin-right:2px;}
.bbtn a, .bbtn input, .bbtn button{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px;color:#676767;}
.bbtn_s{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_s a, .bbtn_s input, .bbtn_s button{background:#8e8e8e;height:28px;line-height:28px;padding:0 25px;color:#fff;}
.bbtn_sm{background-position: 0 -150px;margin-right:2px;}
.bbtn_sm a, .bbtn_sm input, .bbtn_sm button{background-position:right -150px;;height:20px;line-height:20px;padding:0 20px;}
.bbtn_normal{background-position: 0 -90px;margin-right:2px;}
.bbtn_normal a,  .bbtn_normal input, .bbtn_normal button{background-position:right -90px;height:22px;line-height:22px;padding:0 20px;color:#6c6c6c;}
.bbtn_confirm1{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_confirm1 a, .bbtn_confirm1 input, .bbtn_confirm1 button{background:#8e8e8e;height:28px;line-height:28px;padding:0 25px;color:#fff;}
.bbtn_confirm2{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_confirm2 a, .bbtn_confirm2 input, .bbtn_confirm2 button{background:#8e8e8e;height:28px;line-height:28px;padding:0 25px;color:#fff;}
.bbtn_color1{background-position: 0 -180px;margin-right:2px;}
.bbtn_color1 a, .bbtn_color1 button,  .bbtn_color1 span{background-position:right -180px;height:17px;line-height:17px;padding:0 10px;color:#fff;font-size:11px;}
.bbtn_color2{background-position: 0 -210px;margin-right:2px;}
.bbtn_color2 a, .bbtn_color2 button,  .bbtn_color2 span{background-position:right -210px;height:17px;line-height:17px;padding:0 10px;color:#fff;font-size:11px;}
.bbtn_color3{background-position: 0 -240px;margin-right:2px;}
.bbtn_color3 a, .bbtn_color3 button,  .bbtn_color3 span{background-position:right -240px;height:17px;line-height:17px;padding:0 10px;color:#fff;font-size:11px;}
.bbtn_bg1{background:#f3f3f3;border:1px solid #cbcbcb;margin-right:2px;}
.bbtn_bg1 a, .bbtn_bg1 input, .bbtn_bg1 button{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px;color:#676767;}
.bbtn_bg2{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_bg2 a, .bbtn_bg2 input, .bbtn_bg2 button{background:#8e8e8e;height:28px;line-height:28px;padding:0 20px;color:#fff;}
.bbtn_cm1{background-position: 0 -330px;margin-right:2px;}
.bbtn_cm1 a, .bbtn_cm1 input,  .bbtn_cm1 button{background-position:right -330px;height:29px;line-height:29px;padding:0 20px;color:#fff;}
.bbtn_cm2{background-position: 0 -360px;margin-right:2px;}
.bbtn_cm2 a,  .bbtn_cm2 input, .bbtn_cm2 button{background-position:right -360px;height:29px;line-height:29px;padding:0 20px;color:#fff;}
.bbtn_em{background-position: 0 -390px;margin-right:2px;}
.bbtn_em a, .bbtn_em input, .bbtn_em button{background-position:right -390px;height:21px;line-height:21px;padding:0 20px 0 15px;color:#6c6c6c;}
.bbtn_input{background-position: 0 -420px;margin-right:2px;}
.bbtn_input a, .bbtn_input input, .bbtn_input button{background-position:right -420px;height:52px;line-height:52px;padding:0 20px 0 15px;color:#6c6c6c;}


/* button_icon */
.icon_list1, .icon_list2{width:25px;height:20px;display:inline-block;vertical-align:middle;}
.icon_list1{background-position:0 -850px;}
.icon_list2{background-position:-30px -850px;}


/* calendar */
.month{margin-top:10px;text-align:center;}
.month strong{margin:0 50px;color:#4e81cc;font-size:26px;font-family:"Trebuchet MS",Arial,Helv;vertical-align:middle;}
.month a{display:inline-block;background-image:url('./images/btn_all.gif');width:28px;height:0;padding-top:28px;font-size:0;vertical-align:middle;overflow:hidden;}
.month .mprev{background-position:0 -750px;}
.month .mnext{background-position:-30px -750px;}


.ellipsis{display:inline-block;/*text-overflow:ellipsis;*/overflow:hidden;white-space:nowrap;}
.w120{width:120px;}

#bbs_wrap .list_photo ul li.deleted .ph_cont a, #bbs_wrap .list_photo ul li.deleted .ph_cont span.ph_date{color:#bfbfbf;}
#bbs_wrap .deleted .tit a{color:#bfbfbf;}
/* /cait */
.bbs_img { background: url("/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/sub/bbs_bg_img.gif") no-repeat scroll 0 0 transparent;    font-size: 11px;    height: 90px;    margin-bottom: 15px;    padding: 20px 20px 10px 150px;    width: 520px;}
.bbs_img .stress {    color: #3992CB;    text-decoration: underline;}

.tabs li a{line-height:18px;text-align:center;font-size:12px;padding:5px 15px;width:150px;}
.ht{display:block;padding-top:10px !important;}


.file_box .progressBox {width:650px; float:right;}
.file_box .radius {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box .progress{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box .bar{color: #ffffff; font-size: 9pt;}
.file_box .bbtn_bg1 {cursor: pointer !important;}
.file_box .c_click {cursor: pointer !important;}
/* .file_box  input[type="file"]{position: absolute; left: 0; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 99; display: block !important; width: 103px !important; height: 30px !important; cursor:pointer;} */
.file_box  #uploadfile{position: absolute; left: 0;opacity: 0; z-index: 99; display: block; width: 103px;height: 30px;cursor:pointer;}

#bbs_wrap .write_table {width: 100%;border-collapse: collapse;border-top:2px solid #666666;margin-bottom:30px;}
#bbs_wrap .write_table tbody td, #bbs_wrap .write_table tbody th {text-align:left;border-bottom:1px solid #d8d8d8;padding:15px;}
#bbs_wrap .write_table tbody th {background:#F6F6F6;}
#bbs_wrap .write_table tbody td .inp{height:25px;line-height:25px;vertical-align:middle;padding-left:10px;font-family: "Nanum Gothic","나눔고딕";}
#bbs_wrap .write_table tbody td input.tit{width:95%;line-height:25px;height:25px;vertical-align:middle;border:1px solid #e5e5e5;}
#bbs_wrap .write_table tbody td select{border: 1px solid #d1d1d1;}
#bbs_wrap .write_table tbody td input{vertical-align:middle;}