@charset "utf-8";
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
body {position:relative;font-size:13px;color:#616161;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum";margin:0; padding:0;width:100%}
h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,input,textarea,p,th,td,dt,dd,dl {margin:0;padding:0}
h1,h2,h3,h4,h5,h6 {font-size:13px}
li {list-style:none}
img,fieldset {border:0;vertical-align:top}
em {font-style:normal}
input.radio {width:13px; height:13px; vertical-align:middle}
a {text-decoration:none; color:#616161}
a:hover {color:#2ba600}
address,em,i {font-style:normal}
.hdn, legend,table caption {font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0}
table caption {font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0}
button {display:inline-block;margin:0;padding:0;width:auto;cursor:pointer;border:none;background:none;overflow:visible}


.cR {clear:both}
.fL {float:left}
.fR {float:right}
.alC {text-align:center}
.alL {text-align:left}
.alR {text-align:right}
.vMid {vertical-align:middle}
.btn_c {text-align:center;margin:15px 0}
.btn_l {text-align:left;margin:15px 0}
.btn_r {text-align:right;margin:15px 0}
.bg_btn {overflow:hidden;width:100%;margin:15px 0}
.bg_btn .fL {float:left;width:70%}
.bg_btn .fR {float:right;width:29%;text-align:right}
.inp {line-height:18px;height:18px;border:1px solid #d9d9d9}
.strong {font-weight:bold}
.red {color:red}
.blue {color:blue}
.clear {overflow:hidden;width:100%}
.green {color:#2ba600}
#content .btn_all{overflow:hidden;width:100%;padding:20px 0;}
#content .btn_all .fL{float:left;width:70%;}
#content .btn_all .fR{float:right;width:29%;text-align:right;}


/*  skipnavi */
#skilNavi {width:100%; position:relative; top:-1px; left:0; z-index:10000}
#skilNavi  a {width:100%; position:absolute; top:-1px; left:0}
#skilNavi  a:link {margin:0 0 -1px 0; width:100%; height:0px; font-size:1em; display:block; overflow:hidden;text-decoration:none}
#skilNavi  a:active, #skilNavi  a:focus, #skilNavi  a:hover {padding:5px 0 5px 0; width:100%; height:20px; font-weight:bold; color:#fff; text-align:center; background:#000; float:left; clear:left}

#wrap {background:#fff;min-width:1000px}
#header {position:relative;overflow:hidden;width:1000px;margin:0 auto;height:90px;background:#fff}
#header h1 {float:left;position:relative;z-index:10;padding-top:23px}
#header h1 .logo {display:inline-block;padding:16px 0 0 19px}
#header h2 {position:absolute;top:27px;width:100%;text-align:center}

#header ul {position:absolute;top:38px;right:0;z-index:10}
#header ul li {float:left;color:#8d8d8d}
#header ul li a {color:#8d8d8d;margin:0 12px}

#search_box {position:relative;width:1000px;height:40px;margin:0 auto;padding:20px 0;background:#f0f0f0}
#search_box .search {text-align:center}
#search_box .search .inp {width:526px;height:38px;padding:0 15px;vertical-align:middle;line-height:38px;background:url('./images/bg_search.png') 0 0 no-repeat;border:none}
#search_box .search input {vertical-align:middle}
#search_box .search select {min-width:130px;height:25px;border:1px solid #c9c9c9;vertical-align:middle}
#search_box .search #searchCondition {min-width:130px;height:36px;border:1px solid #c9c9c9;vertical-align:middle}

#search_detail_box {position:absolute;top:90px;left:0;padding:50px 50px 20px;width:890px;background:#fff;border:5px solid #e5e5e5;display:none;z-index:10;}
#search_detail_box ul {border-top:1px dashed #cfcfcf}
#search_detail_box ul li {overflow:hidden;width:100%;padding:8px 0;border-bottom:1px dashed #cfcfcf}
#search_detail_box ul li strong {float:left;width:125px;height:26px;line-height:26px;vertical-align:middle;padding:0 0 0 15px;color:#000000;font-size:14px;background:url('./images/bg_bar.gif') right center no-repeat}
#search_detail_box ul li span {float:left;padding-left:20px;color:#8f8f8f}
#search_detail_box ul li span .inp {height:24px;padding-left:3px;vertical-align:middle}
#search_detail_box ul li span .txt {width:230px}
#search_detail_box ul li span .date {width:110px}
#search_detail_box ul li span select {min-width:130px;height:25px;border:1px solid #c9c9c9;vertical-align:middle}

#footer {padding:30px 0;height:80px;background:url('./images/footer_bg.png') 0 0 repeat-x}
#footer .footer {position:relative;overflow:hidden;width:1000px;min-height:35px;margin:0 auto}
#footer .footer h2 {position:absolute;top:0px;left:0}
#footer .footer p {font-weight:bold;color:#2a2a2a;padding-top:10px;font-size:13px;text-align:center}


/* 컨텐츠  */
#content {width:1000px;padding:40px 0 40px;min-height:448px;margin:0 auto}

/*  메인 */
.main_container {min-height:525px;background:url('./images/bg_main.gif') center bottom no-repeat}
.main_container .slogan {padding:230px 0 0;text-align:center;color:#5d5d5d;font-size:30px;font-weight:bold}
.main_container .slogan strong {font-size:48px}
.main_container .slogan span {font-size:20px;color:#a3a3a3}

/* 20150413_자유게시판추가 */
.main_container  #content{position:relative;}
.main_container  .mnotice{position:absolute;top:15px;right:0;text-align:right;}
.main_container  .mnotice #mnotice_box{position:relative;text-align:left;background:#ffffff;width:660px;border:1px solid #c2c2c2;border-radius:15px;margin-top:7px;display:none;}
.main_container  .mnotice #mnotice_box h3{background:#f0f0f0;height:38px;line-height:38px;padding:0 20px;vertical-align:middle;border-radius:15px 15px 0 0;font-size:15px;}
.main_container  .mnotice #mnotice_box ul{padding:20px;}
.main_container  .mnotice #mnotice_box ul li {overflow:hidden;width:100%;padding:3px 0;background:url('./images/bg_dot.gif') 0 center no-repeat;color:#8d8d8d;}
.main_container  .mnotice #mnotice_box ul li a{float:left;padding-left:10px;color:#8d8d8d;width:80%;}
.main_container  .mnotice #mnotice_box ul li a span{display:inline-block;max-width:90%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.main_container  .mnotice #mnotice_box ul li span.date{float:right}
.main_container  .mnotice .more{position:absolute;top:12px;right:20px;}

/*  리스트 */
.total {padding-left:15px;margin-bottom:10px;color:#a9a9a9;background:url('./images/bg_total.gif') 0 center no-repeat}
.total strong {color:#000}

.bss_list table {width:100%;margin-bottom:40px;border-collapse:collapse;border-top:2px solid #666666;color:#515151}
.bss_list table th {height:50px;color:#000;border-bottom:1px solid #d9d9d9}
.bss_list table tbody tr {height:48px}
.bss_list table tbody td {text-align:center;border-bottom:1px solid #d9d9d9}
.bss_list table tbody td.tit {text-align:left; line-height:15px}
.bss_list table tbody td.ttt {text-align:left; line-height:15px;color:#8e8e8e}
.bss_list table tbody td.tit a {display:inline-block;white-space:nowrap;overflow:hidden;max-width:330px;text-overflow:ellipsis;vertical-align:middle;color:#343434}
.bss_list table tbody td.ttt a {display:inline-block;white-space:nowrap;overflow:hidden;max-width:330px;text-overflow:ellipsis;vertical-align:middle;color:#8e8e8e}

#paging ul {text-align:center;margin-left:auto;margin-right:auto}
#paging ul li {display:inline;width:100%;color:#7F7F7F;font-style:normal;padding:20px 0;font-weight:bold;text-align:center}
#paging ul li img {vertical-align:middle}
#paging ul li a {margin:0 1px;display:inline-block;width:30px;height:30px;line-height:28px;vertical-align:middle;background:#f3f3f3;border:1px solid #d3d3d3}
#paging ul li a span {position:absolute; z-index:-1;visibility:hidden}
#paging ul li .commthis {border:1px solid #202020}
#paging ul li .first , #paging .prev , #paging .next , #paging .last {background-image:url('./images/btn_all.gif');width:18px; height:18px;margin:0 10px}
#paging ul li .first {position:relative; background-position:0 0px;border:none; }
#paging ul li .prev {position:relative;background-position:-30px 0px;border:none; }
#paging ul li .next {position:relative; background-position:-61px 0px; border:none; }
#paging ul li .last {position:relative; background-position:-90px 0px;border:none; }
#paging ul li .current {display:inline-block;width:30px;height:30px;line-height:28px; margin: 0 2px; vertical-align:middle;background:#8e8e8e;border:1px solid #7b7b7b;color:#fff}

/* 버튼스타일  */
button.bbtn1, button.bbtn2 {line-height:20px}
.bbtn1, .bbtn2 {display:inline-block;padding:0 25px;height:28px;line-height:28px;vertical-align:middle;text-align:center;font-weight:bold;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum"}
.bbtn1 {background:#8e8e8e;border:1px solid #7d7d7d;color:#fff}
.bbtn2 {background:#f3f3f3;border:1px solid #cbcbcb;color:#676767;vertical-align:middle}

/*  뷰페이지, 비밀번호변경 */
table.chart2 {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #000;margin-bottom:10px}
table.chart2 th,  table.chart2 td {border-bottom: 1px solid #ededed;padding:10px 30px;text-align:center}
table.chart2 tbody th {background:#f4f4f4;border-bottom:1px solid #ededed;text-align:left;color:#323232}
table.chart2 tbody td {text-align:left}
table.chart2 tbody td.bg {background:#f4f4f4}
.file_list li {padding:2px 0}

/* 비밀번호변경 */
.pwd_chg {width:555px;margin:0 auto;padding:80px 0 0;min-height:448px}
.pwd_chg .inp {height:24px;padding-left:3px;width:185px;padding-left:3px}

/* 로그인 */
#login_wrap {padding-top:140px;margin-bottom:110px;background:url('./images/bg_login_wrap.gif') center 0 no-repeat}
.login {width:700px;margin:0 auto}
.login_box {overflow:hidden;width:700px;margin:120px auto 90px}
.login {position:relative;width:700px;min-height:300px;padding:25px 0px}
.login .tit_login {overflow:hidden;width:100%;padding-bottom:10px}
.login .tit_login h1 {float:left;padding-top:15px}
.login .tit_login p {float:left;width:330px;padding:0 0 0 30px;margin-left:30px;color:#708d9f;font-size:16px;border-left:1px solid #e0e0e0}
.login .tit_login p strong {display:block;padding:15px 0 20px}
.login .inp {border:1px solid #dddddd;height:22px;padding-left:2px;line-height:22px;vertical-align:middle}
.login_border {width:470px;height:145px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;padding:20px;padding-left:210px;background:#fafafa url('./images/bg_login.png') 60px 22px no-repeat}

.login_inp {position:relative;width:415px;height:65px;padding-top:30px}
.login_inp span {display:block;margin-bottom:7px}
.login_inp span label {display:inline-block;width:80px;color:#676068;font-size:14px;font-weight:bold}
.login_inp span label img {vertical-align:middle}
.login_inp span .inp {width:212px;height:27px;border:1px solid #c2c2c2}
.login_inp .btn_login {position:absolute;top:29px;right:0}

#login_footer {color:#8e8c8c;font-size:11px;padding:20px 0 80px;text-align:center}
#login_footer strong {color:#000}

/* 첨부파일 가로테이블  */
/*
.file_list_chart {width:100%;border-collapse:collapse;border-top:1px solid #ececec}
.file_list_chart tbody table tr {padding:0}
.file_list_chart tbody table td {padding:0}
.file_list_chart tbody table img {vertical-align:middle}
.file_list_chart tbody tr {padding:5px 0 5px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec}
.file_list_chart tbody td {border-bottom:1px solid #ececec;padding: 0px 0px 0px 0px }
.file_list_chart tbody td.editor {padding:0}
.file_list_chart thead th {background:#f8f8f8;padding:5px 0 5px 0;text-align:center}
.file_list_chart tbody td.size {text-align:right;padding:0 10px 0 0}
.file_list_chart tbody td.del {text-align:center}
*/



/* wirte */
#content .board_write{width:100%;min-height:500px;border-top:2px solid #666666}
#content .board_write dl{overflow:hidden;width:100%;background:#F6F6F6; }
#content .board_write dt{float:left;width:17%;padding:6px 0 5px 3%; min-height:35px;line-height:32px;vertical-align:middle;background:#F6F6F6;font-weight:bold;border-bottom: 1px solid #dbdbdb;}
#content .board_write dd{float:left;width:77%;padding:6px 0 5px 3%;min-height:35px;line-height:32px;vertical-align:middle;background:#fff;border-bottom: 1px solid #dbdbdb;}
#content .board_write dl.info_input{overflow:hidden;width:100%;background:#f8f8f8;border-bottom:1px solid #dbdbdb;}
#content .board_write dl.info_input dt{color:#666;font-weight:bold;border-bottom:none;}
#content .board_write dl.info_input dd{background:#fff;border-bottom:none;}
#content .board_write dl dd .inp{height:25px;line-height:25px;vertical-align:middle;padding-left:10px;font-family: "Nanum Gothic","나눔고딕";}
#content .board_write dd input.tit{width:95%;line-height:25px;height:25px;vertical-align:middle;border:1px solid #e5e5e5;}
#content .board_write dd input.cont{width:50%;line-height:20px;vertical-align:middle;border:1px solid #d1d1d1;float:left;}
#content .board_write dd select{border: 1px solid #d1d1d1;}
#content .board_write dt.file, .board_write dd.file{border-bottom:none;}
#content .board_write dd input.file_up{border: 1px solid #d1d1d1;width:95%;}
#content .board_write dd input{vertical-align:middle;}
#content .board_write dd label{vertical-align:middle;margin:0 10px 0 5px;}

#content .board_write dd ul.file_list{padding:3px 0;}
#content .board_write dd ul.file_list li{padding:2px 0;line-height:14px;}
#content .board_write dd ul.file_list li img{vertical-align:middle;}

#content .board_write dd.write_cont{width:100%;padding:0;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
#content .board_write dd.write_cont div.commediter{margin:10px; border:1px solid #dbdbdb;}
#content .board_write dd.write_cont textarea{width:100%;min-height:400px;border:none;font-size:12px;font-family: "Nanum Gothic","나눔고딕";}

#content .board_write .box_spcbbl{max-width:40%;height:23px;float:left;margin-left:10px;}
#content .board_write .txt_area{margin:15px 0;font-family: "Nanum Gothic","나눔고딕";border:1px solid #e5e5e5;width:96%;padding:1% 2%;font-size:13px;}

/* view */
#content .top_info{text-align:right;padding:10px 0 5px;}
#content .top_info span{margin-left:15px;}
#content .board_view dl{overflow:hidden;width:100%;}
#content .board_view dt{float:left;min-height:48px;line-height:48px;font-weight:bold;color:#323232;background:url('./images/bg_bar.gif') 85% center no-repeat;}
#content .board_view dd{float:left;min-height:48px;line-height:48px;vertical-align:middle;}

#content .tit_view{overflow:hidden;width:100%;border-top:2px solid #666666;border-bottom:1px solid #d9d9d9;}
#content .tit_view dt{float:left;width:16%;padding-left:4%;}
#content .tit_view dd{float:left;width:80%;min-height:18px;padding:15px 0;line-height:18px;font-weight:bold}

#content .info_view dt{width:16%;padding-left:4%;border-bottom:1px solid #D1D1D1;}
#content .info_view dd{width:80%;border-bottom:1px solid #D1D1D1;}
#content .info_view a:hover{text-decoration:underline;}

#content .info_view2{border-bottom:1px solid #D1D1D1;}
#content .info_view2 dt{width:10%;}
#content .info_view2 dd{width:17%;}
#content .info_view2 dt.writer{width:16%;padding-left:4%;}
#content .info_view2 dd.writer{width:25%;}

#content .info_view3{border-bottom:1px solid #D1D1D1;}
#content .info_view3 dt{width:16%;padding-left:4%;}
#content .info_view3 dd{width:30%;}


#content .file_view dt{width:16%;padding-left:4%;}
#content .file_view dd{width:80%;padding:10px 0;}
#content .file_view dd ul{padding:3px 0;}
#content .file_view dd ul li{padding:2px;line-height:14px;}
#content .file_view dd ul li img{vertical-align:middle;}

#content .tit_list{background:#F9F9F9;border-top:1px solid #D1D1D1;}
#content .tit_list dt{width:15%;padding-left:5%;border-bottom:1px solid #D1D1D1;}
#content .tit_list dd{width:80%;border-bottom:1px solid #D1D1D1;}

#content .board_view .view_cont{padding:20px 4%;border-top:1px solid #D1D1D1;border-bottom:1px solid #D1D1D1;min-height:100px;word-break:break-all;margin-top:-1px;}
#content .board_view .view_cont em {font-style:italic;}

/* 댓글 */
.com_write{background:#f8f8f8;border:1px solid #ececec;padding:18px 17px 15px;margin-top:15px; }
.com_txt{color:#777;font-size:11px;margin-bottom:7px;}
.com_txt strong{color:#454545}
.com_cont_box{padding:10px 9px;border-bottom:1px solid #ededed;}
.com_cont_box .writer_info{float:left;}
.com_cont_box .name{background:url('./images/icon_reply_name.gif') left center no-repeat;padding-left:25px;color:#666;}
.com_cont_box .reply_list {float:right;}
.com_cont_box .reply_list li{float:left;}
.com_cont_box .reply_list  li a{font-size:11px;margin-right:13px;}
.com_cont_box .reply_list .icon01{background:url('./images/icon_reply.gif') left center no-repeat;padding-left:16px;}
.com_cont_box .reply_list .icon02{background:url('./images/icon_report.gif') left center no-repeat;padding-left:12px;}
.com_cont_box .reply_list .icon03{background:url('./images/icon_del.gif') left center no-repeat;padding-left:12px;}
.com_cont_box .date{color:#b2b2b2;}
.com_cont_box .com_cont{clear:both;padding:3px 3px 3px 25px;font-size:12px;color:#888888;}

.com_cont_w{width:604px;height:44px;border:1px solid #cbcbcb;margin-right:3px;}
.reply_total{padding:10px 0;line-height:18px;height:18px;border-bottom:1px solid #ededed;}
.reply_total img{padding-top:3px;}
.org{color:#ee8342;font-size:11px;}
.btn_all{overflow:hidden;width:100%;height:30px;padding:15px 0;}
.btn_all .fR{float:right;width:29%;text-align:right;}

/* 첨부파일 */
#content .file_box {background:#fff;}
#content .file_top {overflow:hidden;width:100%;padding:10px 0;position:relative;}
#content .file_top .file_btn{float:left;}
#content .file_top .file_info{float:right; line-height:21px; margin-top:10px;}
#content table.file_list_chart{border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px;}
#content table.file_list_chart thead th{border:1px solid #D1D1D1;background:#F6F6F6;padding:5px 0;}
#content table.file_list_chart tbody td{border:none;text-align:left;padding:5px;font-size:12px;}
#content table.file_list_chart tbody td img{vertical-align:middle;}
#content table.file_list_chart tbody td.size{text-align:right;width:100px;padding-right:20px;}
#content table.file_list_chart tbody td.del{text-align:center;width:50px;}
#content .blue{color:#000000;}
.listFile table th{text-align:center;}

#content .btn_c{text-align:center;padding:20px 0;}

.bbtn{background:#f3f3f3;border:1px solid #cbcbcb;margin-right:2px;}
.bbtn a, .bbtn input, .bbtn button{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px;color:#676767;}
.bbtn_bg1{background:#f3f3f3;border:1px solid #cbcbcb;margin-right:2px;}
.bbtn_bg1 a, .bbtn_bg1 input, .bbtn_bg1 button{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px;color:#676767;}
.bbtn_bg2{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_bg2 a, .bbtn_bg2 input, .bbtn_bg2 button{background:#8e8e8e;height:28px;line-height:28px;padding:0 20px;color:#fff;}
.bbtn, .bbtn_bg1, .bbtn_bg2{display:inline-block;font-weight:bold;cursor:pointer;}

.file_top {overflow:hidden;width:100%;padding:10px 0}
.file_top .file_btn {float:left}
.file_top .file_info {float:right; line-height:21px}
table.file_list_chart {border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px}
table.file_list_chart thead th {border:1px solid #D1D1D1;background:#F6F6F6}
table.file_list_chart tbody td {border:none;text-align:left;padding:5px}
table.file_list_chart tbody td img {vertical-align:middle}
table.file_list_chart .size {text-align:right;width:100px;padding-right:20px}
table.file_list_chart .del {text-align:center;width:50px}


.file_box .progressBox {width:650px; float:right;}
.file_box .radius {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box .progress{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box .bar{color: #ffffff; font-size: 9pt;}
.file_box .bbtn_bg1 {cursor: pointer !important;}
.file_box .c_click {cursor: pointer !important;}
/*.file_box input[type="file"]{position: absolute; left: 0; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 99; display: block !important; width: 103px !important; height: 30px !important; cursor:pointer;}*/

.file_box #uploadfile{position: absolute; left: 0;opacity: 0; z-index: 99; display: block; width: 103px;height: 30px;cursor:pointer;}
