.map{margin-bottom:40px;height:475px;background:#efefef;}
.trf01{padding-left:40px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_bus01.gif') 0 0 no-repeat;}
.trf02{padding-left:40px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_bus02.gif') 0 0 no-repeat;}
.trf03{padding-left:40px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_bus03.gif') 0 center no-repeat;}