/* 공통 */
.org{color:#ee8342;font-size:11px;}
.green{color:#6eb510;}
.green2{color:#488d00;}
.blue{color: #4E81CC;}
.inp{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;}
.inp_default{background:#fefdfd;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:601px;}
.inp_long{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:601px;}
.cho{vertical-align:middle;}
.orangered{color: orangered;}
.yellow{color:#ffff00;}
.orange{color: orange;}
.strong{font-weight: bold;}

.cm_box_top02{background:url('/template/common/images/page/common/bg_box_bottom02.gif') 0 bottom no-repeat;width:720px;padding-bottom:25px;margin-bottom:25px;}
.cm_box_cont02{background:url('/template/common/images/page/common/bg_box_top02.gif') 0 top no-repeat;width:720px;padding-top:20px;}
.cm_box_cont02 p, .cm_box_cont02 div{margin-left:25px;font-size:11px;color:#999999;letter-spacing:-0.05em;}



.cm_box_top{background:url('/template/common/images/page/common/bg_box_bottom.gif') 0 bottom no-repeat;width:720px;padding-bottom:25px;margin-bottom:35px;}
.cm_box_cont{background:url('/template/common/images/page/common/bg_box_top.gif') 0 top no-repeat;width:720px;padding-top:20px;}
.cm_box_cont p, .cm_box_cont div{margin-left:25px;}



.icon1 {background:url('/template/common/images/page/common/arrow.gif') 0 center no-repeat;padding-left:16px;margin:5px 0;color:#488d00;font-weight:bold;}
.icon2 {background:url('/template/common/images/page/common/arrow_g.gif') 0 center no-repeat;padding-left:10px;margin:5px 0 0px 15px;color:#777;font-weight:bold;}
.ctnt3 {margin:0 0 0 25px;}
.stxt{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}
.stxt2{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}
.ctnt_line {border:1px #ddd solid;margin-bottom:20px;padding:10px 0 15px 0;}

.list_arrow{margin:0 25px;width:670px}
.list_arrow li{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}

.btn2{float:left;background:url('/template/common/images/page/common/btn_l.gif') 0 0 no-repeat;height:22px;}
.btn2 span{float:left;background:url('/template/common/images/page/common/btn_r.gif') right 0 no-repeat;height:21px;margin-left:16px;padding:1px 16px 0 4px;}

.btn_c{text-align:center;margin-top:20px;}
.btn_l{text-align:left;margin-top:20px;}
.btn_r{text-align:right;margin:20px 0;}
.btn_r a{margin-left:3px;}

.btn_log_pop {background:#FFFFE0;border:1px solid #cbcbcb;margin:5px 20px 5px 20px;padding:5px 20px 5px 20px;color:#676767;cursor:pointer}

/* 기본 가로테이블  */
.chart2{width:100%;border-collapse:collapse;border-top:1px solid #575757;}
.chart2 caption.hdn{position:relative;}
.mb{margin-bottom:30px;}
.chart2 tbody table tr {padding:0;}
.chart2 tbody table td {padding:0;}
.chart2 tbody table img {vertical-align:middle;}
.chart2 tbody th{background:#f8f8f8;padding:7px 0 7px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.chart2 tbody td{padding:0 10px; border-bottom:1px solid #ececec;}
.chart2 tbody td.editor {padding:0;}
.no{display:none;}

/* 기본 가로테이블  */
.chart3{width:700px;border-collapse:collapse;border-top:1px solid #575757;}
.chart3 tbody th{background:#f8f8f8;padding:7px 0 7px 17px;text-align:center;color:#666666;border-right:0px solid #ececec;border-bottom:1px solid #ececec;}
.chart3 tbody td{border-bottom:1px solid #ececec;padding: 7px 0 7px 14px ;}
.chart3 tbody td.editor {padding:0;}

/* 로그인 */
.login_box{background:url('/template/common/images/page/member/bg_login_box.jpg') 0 0 no-repeat;width:670px;height:230px;padding:43px 0 0 50px;margin-bottom:16px;}
.login_box .txt{margin:19px 0 55px;}
.login_box .login_inp{position:relative;}

.login_box .login_inp p{margin-bottom:5px;}
.login_box .login_inp .btn_login{position:absolute;left:286px;top:0;}
.login_box .linp{width:208px;padding-left:3px;height:19px;line-height:19px;border:1px solid #d6d6d6;}

.gbox{border:1px solid #dedede;}
.gbox ul{overflow:hidden;width:100%;padding:18px 0 21px;}
.gbox ul li{float:left;display:inline;margin-left:44px;padding-left:83px;}
.gbox ul li p{margin-bottom:11px;}
.gbox ul li a{display:block;line-height:19px;vertical-align:middle;font-size:11px;}
.gbox ul li.join_box{background:url('/template/common/images/page/member/bg_join.gif') 0 0 no-repeat;width:234px;height:64px;}
.gbox ul li.search_box{background:url('/template/common/images/page/member/bg_id_pw_search.gif') 0 0 no-repeat;width:177px;height:64px;}
.gbox ul li.join_box a{background:url('/template/common/images/page/member/bg_join_btn.gif') 0 0 no-repeat;width:53px;height:19px;padding-left:20px;}
.gbox ul li.search_box a{background:url('/template/common/images/page/member/bg_search_btn.gif') 0 0 no-repeat;width:108px;height:19px;padding-left:25px;}


/* 회원가입단계 */
.step_tit{margin-bottom:40px;}
.join_area{border:1px solid #DFDFDF;height:350px;width:100%;}

/* 상세정보입력 */

.star{padding-left:18px;margin-bottom:10px;color:#999999;}

.btn_w{float:left;margin-left:5px;}
.out{overflow:hidden;width:100%;}
.inp_fl{float:left;height:18px;line-height:18px;border:1px solid #ddd8ce;}

.addr{width:440px;margin-bottom:2px;}
.addr2{width:387px;}
.btn{display:block;background:url('/template/common/images/page/common/btn_bg.gif') 0 0 no-repeat;width:96px;line-height:21px;font-size:11px;text-align:center;}

.year{width:50px;}
.month, .day{width:40px;}
.man{margin-right:11px;}
.tel{width:40px;}



/* 선택가입 */
.join_info_txt{margin:20px 0 40px;}
.join_list{overflow:hidden;width:718px;height:101px;margin:12px 0 12px; border:1px solid #dedede; }
.join_list li{float:left;}

/* 이용악관 */
.clause1{width:698px;height:150px;padding:15px 10px;margin-bottom:25px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;}
.clause2{width:698px;height:150px;padding:15px 10px;margin-bottom:15px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;}

.gray_box2{background:#f5f5f5;padding:10px 0;text-align:center;font-weight:bold;color:#555;}

/* 이미가입되어있는 */
.gray_box{background:#f5f5f5;padding:15px 0px;border:1px solid #dedede;text-align:center; }
.gray_box span {margin-right:25px;}



/* id/pw찾기결과 주황글씨 */
.stxt_org{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;color:#ee8342;margin-top:5px;}


/* 실명확인,  id/pw 검색 */

.real_name{border:1px solid #dedede;padding:25px;margin-bottom:25px;color:#606060;}
.real_name .arrow_g{background:url('/template/common/images/page/common/arrow_g.gif') 0 center no-repeat;padding-left:9px;margin-right:20px;font-weight:bold;vertical-align:middle;}
.real_name  input{vertical-align:middle;}
.name{width:156px;margin-right:12px;}
.jumin1{width:76px;}
.jumin2{width:76px;margin-right:40px;}
.box_list_icon li{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}


/* 약관동의 */
.clause_box{width:698px;height:440px;padding:20px 10px;margin-bottom:25px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;line-height:19px;}
.clause_info{margin:0 20px;}

/* tab */
#tab{overflow:hidden;padding-left:15px;}
#tab li{float:left;height:24px;margin-right:4px;}
#tab li a{float:left;background:url('/template/common/images/page/common/bg_tab.gif') left -26px no-repeat;font-weight:bold;height:24px;}
#tab li a span{float:left;background:url('/template/common/images/page/common/bg_tab.gif') right -82px no-repeat;height:14px;padding:5px 21px 5px 0;margin-left:21px;_padding:5px 21px 1px 0;_height:12px;}
#tab li a:hover, #tab li a.active{float:left;background:url('/template/common/images/page/common/bg_tab.gif') left top no-repeat;font-weight:bold;height:24px;color:#fff;}
#tab li a:hover span, #tab li a.active span{float:left;background:url('/template/common/images/page/common/bg_tab.gif') right -53px no-repeat;padding:5px 21px 5px 0;margin-left:21px;_padding:5px 21px 1px 0;_height:12px;}




/* 기본게시판
.total{background:url('/template/common/images/page/board/icon_balloon.gif') 0 center no-repeat;padding-left:18px;font-size:11px;color:#999999;letter-spacing:-0.05em;margin-bottom:10px;}
.chart_board{background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;width:100%;border-collapse:collapse;color:#666666;}
.chart_board img {vertical-align:middle;}
.chart_board thead{height:29px;border:1px solid #e4e4e4;}
.chart_board thead th{background:url('/template/common/images/page/board/bg_board_bar.gif') 0 0 no-repeat;border-top:1px solid #575757;border-bottom:1px solid #e4e4e4;line-height:29px;}
.chart_board thead th.first{background:none;border-left:1px solid #e4e4e4;}
.chart_board thead th.last{background:none;border-right:1px solid #e4e4e4;}
.chart_board tbody td{background:none;border-bottom:1px dotted #cbcbcb;padding:5px 0; text-align:center;}
.chart_board tbody td a{color:#666666;}
.chart_board tbody td.tit{text-align:left}

a.notice_ti:link,a.notice_ti:visited,a.notice_ti:active {color:#777; }
a.notice_ti:hover {text-decoration:underline; } */


/* 게시판 찾기폼 */
#bbs_search{height:37px;line-height:37px;background:#f6f6f6;border:1px solid #e9e9e9;text-align:center;margin-bottom:30px;_padding-top:7px;_height:30px;}
#bbs_search select{width:95px;border:1px solid #7f9db9;vertical-align:middle;}
#bbs_search .inp_s{width:275px;height:18px;line-height:18px;border:1px solid #dddddd;margin:0 5px;}
#bbs_search input{vertical-align:middle;}

/*  뷰페이지 제목 */
.view_tit{overflow:hidden;background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;height:29px;line-height:29px;vertical-align:middle;color:#666;border-top:1px solid #575757;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;border-left:1px solid #e4e4e4;}
.view_tit dt{float:left;width:110px;text-align:center;font-weight:bold;}
.view_tit dd{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') left bottom no-repeat;padding-left:25px;}

/* 뷰페이지 소제목 */
.view_tit02{overflow:hidden;line-height:29px;vertical-align:middle;border-bottom:1px solid #e4e4e4;}
.view_tit02 dt{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;width:110px;text-align:center;font-weight:bold;}
.view_tit02 dd{float:left;padding-left:25px;}

/* 작성자정보 테이블 */
.view_writer_chart{width:100%;border-collapse:collapse;}
.view_writer_chart th{background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;padding:5px 0;border-bottom:1px solid #e4e4e4; color:#666666; text-align:center;}
.view_writer_chart td{background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;padding-left:25px;border-bottom:1px solid #e4e4e4;}
.view_writer_chart td.last{background:none;}

/*  질문답변뷰 */
.view_wrap{margin-bottom:50px;color:#656565;}
.view_wrap .question{background:url('/template/common/images/page/board/icon_question.gif') 21px center no-repeat;height:29px;line-height:29px;padding-left:55px;}
.view_wrap .answer{background:#f7f7f7 url('/template/common/images/page/board/icon_answer.gif') 21px 20px no-repeat;padding:20px 20px 20px 55px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;text-align:justify;}
.view_cont{padding:20px 0px;border-bottom:1px solid #e4e4e4; text-align:justify;}

/*  이전글 다음글 기본틀 */
.view_choice{overflow:hidden;background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;border:1px solid #e4e4e4;margin-top:-1px;height:29px;}
.view_choice dt{float:left;width:90px;text-align:center;height:20px;padding-top:9px;}
.view_choice dd{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') left bottom no-repeat;height:29px;line-height:29px;vertical-align:middle;padding-left:25px;}
.view_choice dd a{color:#777;}
.view_choice dd a:hover {color:#7bb524;}

/* 사진게시판리스트  */
.photo_list{border-bottom:1px dotted #cbcbcb;}
.photo_list ul{overflow:hidden;margin-left:-20px;}
.photo_list ul li{float:left;background:url('/template/common/images/page/board/bg_photo.gif') left top no-repeat;width:146px;height:162px;margin-left:20px;padding:9px;text-align:center;overflow:hidden;}
.photo_list ul li .photo{display:block;margin-bottom:20px;}
.photo_list ul li a{font-weight:bold;}

/* 이벤트게시판 리스트 */
.event_box{overflow:hidden;width:100%;padding:15px 0}
.evt_img{float:left;display:block;width:195px;height:82px;border:1px solid  #e1e1e1;}
.evt_cont{float:left;width:245px;margin-left:25px;text-align:left;font-size:11px;line-height:16px;color:#777777;}
.evt_cont .tit{font-size:14px;color:#555555;}
.evt_info li{background:url('/template/common/images/page/board/dot.gif') left center no-repeat;padding-left:9px;margin-top:3px;line-height:15px;}


/* 댓글 리스트  */
.com_write{background:#f8f8f8;border:1px solid #ececec;padding:18px 17px 15px;margin-top:15px; }
.com_txt{color:#777;font-size:11px;margin-bottom:7px;}
.com_txt strong{color:#454545}
.com_cont_box{padding:10px 9px;border-bottom:1px solid #ededed;}
.com_cont_box .writer_info{float:left;}
.com_cont_box .name{background:url('/template/common/images/page/board/icon_reply_name.gif') left center no-repeat;padding-left:25px;color:#666;}
.com_cont_box .reply_list {float:right;}
.com_cont_box .reply_list li{float:left;}
.com_cont_box .reply_list  li a{font-size:11px;margin-right:13px;}
.com_cont_box .reply_list .icon01{background:url('/template/common/images/page/board/icon_reply.gif') left center no-repeat;padding-left:16px;}
.com_cont_box .reply_list .icon02{background:url('/template/common/images/page/board/icon_report.gif') left center no-repeat;padding-left:12px;}
.com_cont_box .reply_list .icon03{background:url('/template/common/images/page/board/icon_del.gif') left center no-repeat;padding-left:12px;}
.com_cont_box .date{color:#b2b2b2;}
.com_cont_box .com_cont{clear:both;padding:3px 3px 3px 25px;}



/* 댓글 쓰기  */
.com_cont_w{width:604px;height:44px;border:1px solid #cbcbcb;margin-right:3px;}
.com_cont_l{width:604px;height:120px;border:1px solid #ddd8ce;margin-right:3px;}
.reply_total{padding:10px 0;line-height:18px;height:18px;border-bottom:1px solid #ededed;}
.reply_total img{padding-top:3px;}


/* 페이징 */
/*
#paging{text-align:center;margin:23px 0 27px}
#paging  li{display:inline;text-align:center;}
#paging a{display:inline;background:#fff;color:#b6b6b6;font-family:Tahoma;padding:0 2px;}
#paging a:hover{display:inline;background:#fff;color:#666;font-family:Tahoma;padding:0 2px;}
#paging a.move{background:#fff;border:1px solid #e3e3e3;font-size:11px;padding:1px 3px;color:#9b9b9b;font-weight:bold;margin:0 1px;}
#paging a:hover.move{background:#efefef;border:1px solid #e3e3e3;font-size:11px;padding:1px 3px;color:#9b9b9b;font-weight:bold;margin:0 1px;}
#paging a.active{border:4px solid #5bab00;font-size:4px;color:#fff;font-family:Tahoma;padding-top:3px;}
#paging span.active{border:4px solid #5bab00;font-size:4px;color:#fff;font-family:Tahoma;padding-top:3px; padding:0 2px;}
#paging a:hover.active{border:4px solid #5bab00;font-size:4px;color:#fff;font-family:Tahoma;padding-top:3px;}
#paging a span{font-size:9px;}
*/
/* 공통 */
.org{color:#ee8342;font-size:11px;}
.green{color:#6eb510;}
.green2{color:#488d00;}

.inp{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;}
.inp_long{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:601px;}
.cho{vertical-align:middle;}

.cm_box_top02{background:url('/template/common/images/page/common/bg_box_bottom02.gif') 0 bottom no-repeat;width:720px;padding-bottom:25px;margin-bottom:25px;}
.cm_box_cont02{background:url('/template/common/images/page/common/bg_box_top02.gif') 0 top no-repeat;width:720px;padding-top:20px;}
.cm_box_cont02 p, .cm_box_cont02 div{margin-left:25px;font-size:11px;color:#999999;letter-spacing:-0.05em;}



.cm_box_top{background:url('/template/common/images/page/common/bg_box_bottom.gif') 0 bottom no-repeat;width:720px;padding-bottom:25px;margin-bottom:35px;}
.cm_box_cont{background:url('/template/common/images/page/common/bg_box_top.gif') 0 top no-repeat;width:720px;padding-top:20px;}
.cm_box_cont p, .cm_box_cont div{margin-left:25px;}



.stxt{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}
.stxt2{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}

.list_arrow{margin:0 25px;width:670px}
.list_arrow li{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}

.btn2{float:left;background:url('/template/common/images/page/common/btn_l.gif') 0 0 no-repeat;height:22px;}
.btn2 span{float:left;background:url('/template/common/images/page/common/btn_r.gif') right 0 no-repeat;height:21px;margin-left:16px;padding:1px 16px 0 4px;}

.btn_c{text-align:center;margin-top:20px;}
.btn_l{text-align:left;margin-top:20px;}
.btn_r{text-align:right;margin:20px 0;}
.btn_r a{margin-left:3px;}
.btn_t{text-align:right;margin:10px 0;}
.btn_t a{margin-right:3px;}
.btn_a{overflow:hidden;width:100%;padding:20px 0;}
.btn_a .tt{float:left;width:30%;}
.btn_a .aa{float:right;width:70%;text-align:right;}

/* 기본 가로테이블  */
.chart2{width:100%;border-collapse:collapse;border-top:1px solid #575757;margin-bottom:20px;}
.mb{margin-bottom:30px;}
.chart2 tbody th{background:#f8f8f8;padding:7px 0 7px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.chart2 tbody td{border-bottom:1px solid #ececec;padding:10px;}
.chart2 tbody td .chart1 td{padding:5px 0;text-align:center;}
/*.chart2 tbody td label {display:none;}*/

/* 로그인 */
.login_box{background:url('/template/common/images/page/member/bg_login_box.jpg') 0 0 no-repeat;width:670px;height:230px;padding:43px 0 0 50px;margin-bottom:16px;}
.login_box .txt{margin:19px 0 55px;}
.login_box .login_inp{position:relative;}

.login_box .login_inp p{margin-bottom:5px;}
.login_box .login_inp .btn_login{position:absolute;left:286px;top:0;}
.login_box .linp{width:208px;padding-left:3px;height:19px;line-height:19px;border:1px solid #d6d6d6;}

.gbox{border:1px solid #dedede;}
.gbox ul{overflow:hidden;width:100%;padding:18px 0 21px;}
.gbox ul li{float:left;display:inline;margin-left:44px;padding-left:83px;}
.gbox ul li p{margin-bottom:11px;}
.gbox ul li a{display:block;line-height:19px;vertical-align:middle;font-size:11px;}
.gbox ul li.join_box{background:url('/template/common/images/page/member/bg_join.gif') 0 0 no-repeat;width:234px;height:64px;}
.gbox ul li.search_box{background:url('/template/common/images/page/member/bg_id_pw_search.gif') 0 0 no-repeat;width:177px;height:64px;}
.gbox ul li.join_box a{background:url('/template/common/images/page/member/bg_join_btn.gif') 0 0 no-repeat;width:53px;height:19px;padding-left:20px;}
.gbox ul li.search_box a{background:url('/template/common/images/page/member/bg_search_btn.gif') 0 0 no-repeat;width:108px;height:19px;padding-left:25px;}


/* 회원가입단계 */
.step_tit{margin-bottom:40px;}


/* 상세정보입력 */

.star{padding-left:18px;margin-bottom:10px;color:#999999;}

.btn_w{float:left;margin-left:5px;}
.out{overflow:hidden;width:100%;}
.inp_fl{float:left;height:18px;line-height:18px;border:1px solid #ddd8ce;}

.addr{width:440px;margin-bottom:2px;}
.addr2{width:387px;}
.btn{display:block;background:url('/template/common/images/page/common/btn_bg.gif') 0 0 no-repeat;width:96px;line-height:21px;font-size:11px;text-align:center;}

.year{width:50px;}
.month, .day{width:40px;}
.man{margin-right:11px;}
.tel{width:40px;}



/* 선택가입 */
.join_info_txt{margin:20px 0 40px;}
.join_list{overflow:hidden;width:718px;height:101px;margin:12px 0 12px; border:1px solid #dedede; }
.join_list li{float:left;}

/* 이용악관 */
.clause1{width:698px;height:150px;padding:15px 10px;margin-bottom:25px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;line-height:19px;}
.clause2{width:698px;height:150px;padding:15px 10px;margin-bottom:15px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;line-height:19px;}

.gray_box2{background:#f5f5f5;padding:10px 0;text-align:center;font-weight:bold;color:#555;}

/* 이미가입되어있는 */
.gray_box{background:#f5f5f5;padding:15px 0px;border:1px solid #dedede;text-align:center; }
.gray_box span {margin-right:25px;}



/* id/pw찾기결과 주황글씨 */
.stxt_org{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;color:#ee8342;margin-top:5px;}


/* 실명확인,  id/pw 검색 */

.real_name{border:1px solid #dedede;padding:25px;margin-bottom:25px;color:#606060;}
.real_name .arrow_g{background:url('/template/common/images/page/common/arrow_g.gif') 0 center no-repeat;padding-left:9px;margin-right:20px;font-weight:bold;vertical-align:middle;}
.real_name  input{vertical-align:middle;}
.name{width:156px;margin-right:12px;}
.jumin1{width:76px;}
.jumin2{width:76px;margin-right:40px;}
.box_list_icon li{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}


/* 약관동의 */
.clause_box{width:698px;height:440px;padding:20px 10px;margin-bottom:25px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;}
.clause_info{margin:0 20px;}

/* tab */
#tab{overflow:hidden;padding-left:15px;}
#tab li{float:left;height:24px;margin-right:4px;}
#tab li a{float:left;background:url('/template/common/images/page/common/bg_tab.gif') left -26px no-repeat;font-weight:bold;height:24px;}
#tab li a span{float:left;background:url('/template/common/images/page/common/bg_tab.gif') right -82px no-repeat;height:14px;padding:5px 21px 5px 0;margin-left:21px;_padding:5px 21px 1px 0;_height:12px;}
#tab li a:hover, #tab li a.active{float:left;background:url('/template/common/images/page/common/bg_tab.gif') left top no-repeat;font-weight:bold;height:24px;color:#fff;}
#tab li a:hover span, #tab li a.active span{float:left;background:url('/template/common/images/page/common/bg_tab.gif') right -53px no-repeat;padding:5px 21px 5px 0;margin-left:21px;_padding:5px 21px 1px 0;_height:12px;}




/* 기본게시판 */
.total{background:url('/template/common/images/page/board/icon_balloon.gif') 0 center no-repeat;padding-left:18px;font-size:11px;color:#999999;letter-spacing:-0.05em;margin-bottom:10px;}
.chart_board{width:100%;border-collapse:collapse;color:#666666; background:url('/template/common/images/page/board/bg_board_tit2.gif') repeat-x 0 0;}
.chart_board img {vertical-align:middle;}
.chart_board thead th{ text-align:center; padding:10px 0; color:#657591; font-weight:bold; }
.chart_board thead th.first{background:none;border-left:1px solid #e4e4e4;}
.chart_board thead th.last{background:none;border-right:1px solid #e4e4e4;}
.chart_board tbody td{background:none;border-bottom:1px dotted #cbcbcb;padding:5px 0; text-align:center;}
.chart_board tbody td a{color:#666666;}
.chart_board tbody td.tit{text-align:left}
.chart_board tbody tr.deleted a{color:#dfdfdf;text-decoration: line-through;}
.chart_board tbody tr:hover {background-color:#eeeeee;}

.chart_board2{width:100%;border-collapse:collapse;color:#666666; background:url('/template/common/images/page/board/bg_board_tit3.gif') repeat-x 0 0;}
.chart_board2 img {vertical-align:middle;}
.chart_board2 thead th{ text-align:center; padding:10px 0; color:#657591; font-weight:bold; }
.chart_board2 thead th.first{background:none;border-left:1px solid #e4e4e4;}
.chart_board2 thead th.last{background:none;border-right:1px solid #e4e4e4;}
.chart_board2 tbody td{background:none;border-bottom:1px dotted #cbcbcb;padding:5px 0; text-align:center;}
.chart_board2 tbody td a{color:#666666;}
.chart_board2 tbody td.tit{text-align:left}
.chart_board2 tbody tr.deleted a{color:#dfdfdf;text-decoration: line-through;}
.chart_board2 tbody tr:hover {background-color:#eeeeee;}

.cmLayer tbody td{padding:0; text-align:left;}
.selectBoxSelectedAreaGlobal {
	color:#626262;
	font-size:12px;
	font-family:dotum;
	font-weight:normal;
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:22px;
	padding-left:5px;
	letter-spacing:-1px;
}
.cmLayer .selectBoxSelectedAreaFocusGlobal {
	color:#626262;
	font-size:12px;
	font-weight:normal;
	font-family:dotum;
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:22px;
	padding-left:5px;
	letter-spacing:-1px;
}
.cmLayer .selectBoxOptionGlobal {
	color:#626262;
	font-size:12px;
	font-family:dotum;
	font-weight:normal;
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:22px;
	padding-left:5px;
	letter-spacing:-1px;
}
.cmLayer .selectBoxOptionOverGlobal {
	color:#626262;
	font-size:12px;
	font-family:dotum;
	font-weight:normal;
	background-color:#e6e6e6;
	padding-top:2px;
	line-height:22px;
	padding-left:5px;
	letter-spacing:-1px;
}
.cmLayer .selectBoxOptionInnerLayer {
	overflow:auto;
	background-color:#f5f5f5;
	scrollbar-face-color:#F3F3F3;
	scrollbar-shadow-color:#6C6C6C;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#C9C9C9;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#F3F3F3;
	scrollbar-arrow-color:#000000;
}
/* SelectBox 테이블  */
.cmLayer img {vertical-align:middle;}
.cmLayer tbody table tr {padding:0;}
.cmLayer tbody table td {background:none;border:0px;padding:0px; text-align:left;}
.cmLayer table tr {padding:0;}
.cmLayer table td {background:none;border:0px;padding:0px; text-align:left;}
.cmLayer tbody td{text-align:left;}

.conf_top{overflow:hidden;}
.tab_menu{right:0;z-index:1000;}
.tab_menu li{float:left;background:#f8f8f8;width:150px;height:30px;text-align:center;border:1px solid #ccc;}
.tab_menu li a{display:block;padding:8px 0px;height:30px;}
.tab_menu li a:hover, .tab_menu li a.active{background:url('../images/tab_over.gif') 0 0 repeat;padding:8px 0px;height:15px;font-weight:bold;color:#32688c;}
.cont{position:relative;width:100%;border-top:1px solid #ccc;padding:0px 0;z-index:1001;}
.cont table{width:100%;}

/* 메뉴테이블 */
.menu_board{width:100%;border-collapse:collapse;color:#666666;}
.menu_board tr:hover{background-color:#eee;}
.menu_board img {vertical-align:middle;}
.menu_board thead th{ text-align:center; padding:10px 0; color:#657591; font-weight:bold; }
.menu_board thead th.first{background:none;border-left:1px solid #e4e4e4;}
.menu_board thead th.last{background:none;border-right:1px solid #e4e4e4;}
.menu_board tbody td{background:none;border-bottom:1px dotted #cbcbcb;padding:5px 0; text-align:center;}
.menu_board tbody td a{color:#666666;}
.menu_board tbody td.tit{text-align:left}


a.notice_ti:link,a.notice_ti:visited,a.notice_ti:active {color:#777; }
a.notice_ti:hover {text-decoration:underline; }


/* 게시판 찾기폼 */
#bbs_search{height:37px;line-height:37px;background:#f6f6f6;border:1px solid #e9e9e9;text-align:center;margin-bottom:30px;_padding-top:7px;_height:30px;}
#bbs_search img{vertical-align:middle;}
#bbs_search select{width:95px;border:1px solid #7f9db9;vertical-align:middle;}
#bbs_search .inp_s{width:275px;height:18px;line-height:18px;border:1px solid #dddddd;margin:0 5px;}
#bbs_search input{vertical-align:middle;}

/*  뷰페이지 제목 */
.view_tit{overflow:hidden;background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;height:29px;line-height:29px;vertical-align:middle;color:#666;border-top:1px solid #575757;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;border-left:1px solid #e4e4e4;}
.view_tit dt{float:left;width:110px;text-align:center;font-weight:bold;}
.view_tit dd{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') left bottom no-repeat;padding-left:25px;}

/* 뷰페이지 소제목 */
.view_tit02{overflow:hidden;line-height:29px;vertical-align:middle;border-bottom:1px solid #e4e4e4;}
.view_tit02 dt{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;width:110px;text-align:center;font-weight:bold;}
.view_tit02 dd{float:left;padding-left:25px;}

/* 작성자정보 테이블 */
.view_writer_chart{width:100%;border-collapse:collapse;}
.view_writer_chart th{background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;padding:5px 0;border-bottom:1px solid #e4e4e4; color:#666666;}
.view_writer_chart td{background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;padding-left:25px;border-bottom:1px solid #e4e4e4;}
.view_writer_chart td.last{background:none;}

/*  질문답변뷰 */
.view_wrap{margin-bottom:50px;color:#656565;}
.view_wrap .question{background:url('/template/common/images/page/board/icon_question.gif') 21px center no-repeat;height:29px;line-height:29px;padding-left:55px;}
.view_wrap .answer{background:#f7f7f7 url('/template/common/images/page/board/icon_answer.gif') 21px 20px no-repeat;padding:20px 55px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;}
.view_cont{padding:20px 0px;border-bottom:1px solid #e4e4e4; text-align:justify;}

/*  이전글 다음글 기본틀 */
.view_choice{overflow:hidden;background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;border:1px solid #e4e4e4;margin-top:-1px;height:29px;}
.view_choice dt{float:left;width:90px;text-align:center;height:20px;padding-top:9px;}
.view_choice dd{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') left bottom no-repeat;height:29px;line-height:29px;vertical-align:middle;padding-left:25px;}
.view_choice dd a{color:#777;}
.view_choice dd a:hover {color:#7bb524;}

/* 사진게시판리스트  */
.photo_list{border-bottom:1px dotted #cbcbcb;}
.photo_list ul{overflow:hidden;margin-left:-20px;}
.photo_list ul li{float:left;background:url('/template/common/images/page/board/bg_photo.gif') left top no-repeat;width:146px;height:162px;margin-left:20px;padding:9px;text-align:center;overflow:hidden;}
.photo_list ul li .photo{display:block;margin-bottom:20px;}
.photo_list ul li a{font-weight:bold;}

/* 이벤트게시판 리스트 */
.event_box{overflow:hidden;width:100%;padding:15px 0}
.evt_img{float:left;display:block;width:195px;height:82px;border:1px solid  #e1e1e1;}
.evt_cont{float:left;width:245px;margin-left:25px;text-align:left;font-size:11px;line-height:16px;color:#777777;}
.evt_cont .tit{font-size:14px;color:#555555;}
.evt_info li{background:url('/template/common/images/page/board/dot.gif') left center no-repeat;padding-left:9px;margin-top:3px;line-height:15px;}





/* 댓글 쓰기  */
.com_cont_w{width:604px;height:44px;border:1px solid #cbcbcb;margin-right:3px;}
.com_cont_l{width:604px;height:120px;border:1px solid #ddd8ce;margin-right:3px;}
.reply_total{padding:10px 0;line-height:18px;height:18px;border-bottom:1px solid #ededed;}
.reply_total img{padding-top:3px;}


/* 페이징 */
#paging{text-align:center;margin:23px 0 27px}
#paging li {display:inline;text-align:center;font-family:Tahoma;padding:2px 5px; font-weight:bold;}
#paging li a { color:#a4a4a4;}
#paging li a.commthis{ color:#333;}

/* 통합검색 */
.sch_total{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat;padding-left:10px;color:#4d4d4d}
.all_search{overflow:hidden;margin-bottom:10px;}
.all_search select{float:left;width:95px;vertical-align:middle;}
.all_search .all_inp{float:left;width:377px;border:1px solid #dddddd;vertical-align:middle;margin:0 5px;}
.icon_sch{background:url('/template/common/images/page/common/icon_search.gif') 0 center no-repeat;padding-left:21px;}

.web_search_result{border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5; padding:15px 0 5px;margin-top:20px;}
.web_search_result dl{position:relative;width:100%;height:80px;margin-top:15px;}
.web_search_result dt{padding-left:138px;}
.web_search_result dt a{color:#403e2d;text-decoration:underline;}
.web_search_result dd.txt{padding-left:138px;}
.web_search_result dd.txt span{display:block;color:#59990c;}
.web_search_result dd.thum{position:absolute;left:0;top:0;width:120px;height:75px;border:1px solid #d9d9cf; }

.more_view{text-align:right;}
.more_view a{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat;padding-left:10px;color:#488d00;text-decoration:underline;}

.board_search_result{border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5; padding:25px 0 5px;margin-top:-1px;}
.board_search_result li{margin-top:15px;}
.board_search_result .tit{display:block;margin-bottom:3px;text-decoration:underline;}


/* 팝업페이지  */
.pop_logo{position:absolute;top:43px;right:40px;}
.pop{position:relative;background:url('/template/common/images/page/popup/bg_pop.gif') 0 0 no-repeat;width:312px;height:141px;padding:40px 25px;}
.pop_w{position:relative;background:url('/template/common/images/page/popup/bg_addr_pop.gif') 0 0 no-repeat;width:312px;height:370px;padding:40px 25px;}

.cont_box_wrap{background:url('/template/common/images/page/popup/bg_cont_bottom.gif') 0 bottom no-repeat;width:310px;margin:20px  auto;}
.cont_box{position:relative;background:url('/template/common/images/page/popup/bg_cont_top.gif') 0 top no-repeat;padding:15px 10px;font-size:11px;letter-spacing:-0.05em;text-align:center;}
.cont_box  .txt{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;color:#999999;}

.pop_btn{text-align:right;margin-top:10px;}
.close{position:absolute;top:0;right:0;}

label.addr{color:#4b4b4b;font-weight:bold;margin-right:5px;}
.txt2{margin-top:5px;}
.txt_no{text-align:left;padding-left:15px;margin-bottom:5px;}
.inp_id{width:233px;vertical-align:middle;}
.inp_zip{width:180px;vertical-align:middle;}

.zipcode_txt{padding-bottom:10px;border-bottom:1px solid #d8d8d8; margin-top:10px;}
.zipcode_list{padding: 10px 0;height:208px;overflow-y:scroll;}
.zipcode_list a{color:#999999;font-size:11px;}


/* web editor */
div.htmlarea .toolbar td {padding:0;}

/* 평점 */
.valuation{overflow:hidden;width:100%;margin-bottom:10px;}
.star_tit{float:left;padding:2px 10px 0 0;}
.star_list{float:left;}
.star_list li{float:left;margin-left:10px;}
.star_list li label img, .star_list li input{vertical-align:middle;}

/* 이벤트 관리 */
.evt_send_box{width:100%;overflow:hidden;}
.evt_send_box table{border:1px solid #ccc;width:100%;min-height:170px;border-collapse:collapse;}
.evt_send_box table th{padding:10px;background:#808080;color:#fff;text-align:center;}
.evt_send_box table td{border:1px solid #ccc;padding:10px;}
.evt_send_box table td.alC{text-align:center;}
.evt_send_box .btn_excel{float:left;margin-right:15px;}
.evt_send_box .msg_box{float:left;margin-right:50px;width:35%;}
.evt_send_box .coupon_box{float:left;width:35%;}
.evt_send_box .inp_send{min-height:80px;height:auto !important;height:80px;}


/* 아카이브 승인여부 */
.confmN {background:#fcf0e2; color:dc9f69;}


/* 아카이브 카테고리 관리 */
#cateList			{float:left;width:100%;margin-bottom:20px;font-size:11px;}
#cateList .depth1	{color:#1876af;width:150px;}
#cateList .depth2	{color:#de8613;}
#detailForm			{float:right; width:100%;margin-bottom:20px;}
#brn_r				{padding-top:10px;text-align:center;}

/*추가 */
#container			{width:100%;float:left; height:auto; overflow:hidden;}
#content_wrap {
	display: inline;
	float: left;
	margin: 0 0 30px 20px;
	width:80%;
}

.box_list {
	border: medium none;
	overflow: hidden;
	width: 100%;
}

.box_list ul {
	overflow: hidden;
}

.box_list ul li {
	background: url("/template/common/images/sub/bg_box.gif") no-repeat scroll left top transparent;
	float: left;
	height: 150px;
	margin-top: 25px;
	margin-right: 25px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 162px;
}
.box_list ul li .flash a {
	display: block;
	margin-bottom: 0px;
	padding: 6px;
}
.box_list ul li .flash *:hover {
	color: #000000;
	font-weight: bold;
	opacity: 0.7;
}
.box_list ul li a {
	font-weight: bold;
}
.box_list ul li a:hover {
	color: #000000;
	font-weight: bold;
}

.chromemenu{
	width: 100%;
	font-weight: bold;
}

.chromemenu:after{ /*Add margin between menu and rest of content in Firefox*/
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.chromemenu ul{
	border: 1px solid #BBB;
	width: 100%;
	background: url(/template/common/images/sub/chromebg.gif) center center repeat-x;
	padding: 5px 0;
	margin: 0;
	text-align: left; /*set value to "right" for example to align menu to the left of page*/
}

.chromemenu ul li{
	display: inline;
}

.chromemenu ul li a{
	color: #494949;
	padding: 5px 8px;
	margin: 0;
	text-decoration: none;
	border-right: 1px solid #BBB;
}

.chromemenu ul li a:hover, .chromemenu ul li a.current{
	background: url(/template/common/images/sub/chromebg2.gif) center center repeat-x;
}


.searchmeta { position:relative; clear:both; width:100%; height:auto; margin-bottom:20px; background-color:#f9f9f9; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; }
.searchmetakind { padding:10px 15px; margin:0;  font:normal 12px/18px Dotum,"돋움"; color:#767676; letter-spacing:-0.5px;}
.searchmetakind select { display:inline-block; margin-right:5px; padding:2px; vertical-align:middle; }
.searchmetakind .searchmetachk { vertical-align:middle; border:none; margin-bottom:2px; margin-right:2px;  }
.searchmetakind li { margin-bottom:5px; }
.searchmetakind li strong { display:inline-block; color:#4e81cc; width:70px; }
.searchmetakind li span { display:inline-block; font-weight:bold; margin-left:3px; margin-right:3px; color:#666; }
.searchmetabut { position:absolute; left:620px; top:30px; width:50px; height:25px; }

/* 첨부파일 가로테이블  */
/*
.file_list_chart{width:100%;border-collapse:collapse;border-top:1px solid #ececec;}
.file_list_chart tbody table tr {padding:0;}
.file_list_chart tbody table td {padding:0;}
.file_list_chart tbody table img {vertical-align:middle;}
.file_list_chart tbody tr{padding:5px 0 5px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.file_list_chart tbody td{border-bottom:1px solid #ececec;padding: 0px 0px 0px 0px ;}
.file_list_chart tbody td.editor {padding:0;}
.file_list_chart thead th{background:#f8f8f8;padding:5px 0 5px 0;text-align:center;}
.file_list_chart tbody td.size {text-align:right;padding:0 10px 0 0;}
.file_list_chart tbody td.del {text-align:center}
*/
.file_box {padding:10px;margin:20px 0 10px 0;border:1px solid #D1D1D1;}
.file_top {overflow:hidden;width:100%;padding:10px 0;}
.file_top .file_btn{float:left;}
.file_top .file_info{float:right; line-height:21px;}
table.file_list_chart{border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px;}
table.file_list_chart thead th{border:1px solid #D1D1D1;background:#F6F6F6;}
table.file_list_chart tbody td{border:none;text-align:left;padding:5px;}
table.file_list_chart tbody td img{vertical-align:middle;}
table.file_list_chart .size{text-align:right;width:100px;padding-right:20px;}
table.file_list_chart .del{text-align:center;width:50px;}
table.file_list_chart .down{text-align:center;width:50px;}


.btn_all{overflow:hidden;width:100%;padding:20px 0;}
.btn_all .fL{float:left;width:50%;}
.btn_all .fR{float:right;width:49%;text-align:right;}
.btn_c{text-align:center;padding:20px 0;}
.btn_r{text-align:right;padding:20px 0;}

/* 팝업 */
.popbox{width:100%;height:auto;position:relative;}
.popbox .popboxtop{width:100%;height:55px;position:relative;background:url('/template/manage/images/calendar/pop_tit_bg.png') repeat-x;}
.popbox .popboxtop .popboxh3{width:300px;height:auto;padding-left:25px;font-size:14px;color:#fff;line-height:50px;float:left;}
.popbox .popboxtop .popboxclose{width:20px;height:20px;float:right;padding:15px 15px 0 0;}
.popboxconall{width:410px;margin:30px auto;}
.popboxcon_bg{background:#f5f5f5;padding:10px 10px 20px;width:390px;margin-top:15px;}
.popboxcon_bg p{padding:10px 15px;}
.popboxcon_bg ul{padding-left:20px;}
.popboxcon_bg ul li{padding:3px 0;}
.popboxcon_bg ul li span{display:inline-block;}
.popboxcon_bg ul li .inp{border:1px solid #ddd8ce;}

#popsubboxtop{width:100%;height:55px;position:relative;background:url('../images/calendar/pop_tit_bg.png') repeat-x;}
#popsubboxtop h1{width:300px;height:auto;padding-left:25px;font-size:14px;color:#fff;line-height:50px;float:left;}
#popsubboxtop .popsubboxclose{width:20px;height:20px;float:right;padding:15px 15px 0 0;}
#popsubboxcontxt{width:auto;max-width:600px;margin:0 auto;padding-top:20px;}
#popsubboxcontxt .poll_result_man_j{margin-bottom:5px;font-size:13px;font-weight:bold;text-align:right;}
#popsubboxcontxt .poll_result_man_j a{display:none;}

#popsubboxcontxt .poll_result_t_j{border-collapse:collapse;width:100%;border-top:2px solid #585757;}
#popsubboxcontxt .poll_result_t_j th,
#popsubboxcontxt .poll_result_t_j td{height:40px;border:1px solid #d2d2d2;text-align:center;}
#popsubboxcontxt .poll_result_t_j td.per_re{padding:0 10px;text-align:left;}
#popsubboxcontxt .poll_result_t_j td.color_td{padding:0 10px;text-align:left;}
#popsubboxcontxt .poll_result_t_j .fc-other-month{opacity:0.3;filter:alpha(opacity=30);}

.btn_s{display:inline-block;width:auto;height:20px;margin-top:2px;padding-left:10px;background:url(../images/btn_images/btn_common.png) 0 0 no-repeat;}
.btn_s span{display:inline-block;width:auto;height:18px;padding:2px 10px 0 0;background:url(../images/btn_images/btn_common.png) 100% 0 no-repeat;}

/* 20141201_녹색자금 통합시스템 추가 _lim */
.ntit{border-bottom:2px solid #c7d2e4;color:#3368c8;margin-bottom:20px;padding:10px 0;font-size:16px;font-weight:bold;}
.ntit strong{color:#000}
.icon1{background:url('/template/common/images/page/common/arrow.gif') 0 center no-repeat;padding-left:20px;margin:5px 0;color:#000;font-weight:bold;}
.icon2_list li{background:url('./images/basic/green/bg_icon2.gif') 0 5px no-repeat;padding-left:10px; margin:8px 0 8px 0px;font-weight:normal;color:#282828;}

.pbg{background:#f4f4f4;padding:20px;line-height:1.4em;}
.mB10{margin-bottom:10px;}
.mB20{margin-bottom:20px;}
.mB40{margin-bottom:40px;}
.pL20{padding-left:20px;}
.alR{text-align:right}

.tab{overflow:hidden;width:100%;z-index:1000;margin-bottom:20px;}
.tab li{float:left;background:#f8f8f8;width:150px;height:30px;text-align:center;border:1px solid #ccc;}
.tab li a{display:block;padding:8px 0px;height:30px;}
.tab li a:hover, .tab li.active a{background:url('../images/tab_over.gif') 0 0 repeat;padding:8px 0px;height:15px;font-weight:bold;color:#32688c;}

.tab_step{overflow:hidden;margin-bottom:20px;}
.tab_step li{float:left;margin-right:4px;}
.tab_step li a{display:block;text-align:center;height:30px;padding:0 25px;line-height:30px;vertical-align:middle;background:#f8f8f8;border:1px solid #ccc;text-align:center;font-weight:bold;}
.tab_step li a:hover, .tab_step li.active a{background:#fff;color:#3368c8;border:1px solid #3368c8;}

.tab2{overflow:hidden;margin-bottom:20px;}
.tab2 li{float:left;margin-right:4px;}
.tab2 li a{display:block;text-align:center;height:30px;padding:0 25px;line-height:30px;vertical-align:middle;background:#f8f8f8;border:1px solid #ccc;text-align:center;font-weight:bold;}
.tab2 li a:hover, .tab2 li.active a{background:#fff;color:#3368c8;border:1px solid #3368c8;}

.mtab{overflow:hidden;margin-bottom:20px;}
.mtab li{float:left;font-weight:bold;}
.mtab li a{text-align:center;padding:0 10px;}
.mtab li.active a, .mtab li a:hover{color:#3368c8}
.mtab li span{margin:0 5px;}

/* 기본 세로테이블  */
.chart1{width:100%;border-collapse:collapse;border-top:1px solid #575757;}
.chart1 thead th{background:#f8f8f8;padding:10px 0 10px;text-align:center;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.chart1 tbody table tr {padding:0;}
.chart1 tbody table td {padding:0;}
.chart1 tbody table img {vertical-align:middle;}
.chart1 tbody th{background:#f8f8f8;padding:7px 0 7px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.chart1 tbody td{padding:10px 10px; border-bottom:1px solid #ececec;border-right:1px solid #ececec;}
.chart1 tbody td.editor {padding:0;}
.chart1 tbody td .inp{width:90%;height:22px;}
.chart1 tbody td.bg{background:#f8f8f8;font-weight:bold;}
.chart1 tbody td.alC{text-align:center;}

/* btn_content */
.mbtn, a.mbtn{display:inline-block;height:22px;line-height:22px;padding:0 5px;margin-bottom:2px;border-radius:3px;background:#f3f3f3;border:1px solid #cbcbcb;font-size:12px;vertical-align:middle;color:#676767;font-weight:bold;}
.mbtn button{background:none;border:none;height:22px;line-height:20px;font-weight:bold;font-family:"Nanum Gothic", "나눔고딕";color:#676767;}
.mbtn1, a.mbtn1{display:inline-block;height:22px;line-height:22px;padding:0 5px;margin-bottom:2px;border-radius:3px;background:#8e8e8e;border:1px solid #7d7d7d;font-size:12px;vertical-align:middle;color:#fff;font-weight:bold;}
.mbtn1 button{background:none;border:none;height:22px;line-height:20px;font-weight:bold;font-family:"Nanum Gothic", "나눔고딕";color:#ffffff;}

.cbtn{display:inline-block;height:28px;line-height:28px;background:#f3f3f3;border:1px solid #cbcbcb;font-size:14px;vertical-align:middle;color:#676767;font-weight:bold;border-radius:5px;}
.cbtn1{display:inline-block;height:28px;line-height:28px;background:#8e8e8e;border:1px solid #7d7d7d;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;border-radius:5px;}
.cbtn2{display:inline-block;height:28px;line-height:28px;background:#62ad16;border:1px solid #539312;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;border-radius:5px;}
.cbtn3{display:inline-block;height:28px;line-height:28px;background:#3481b0;border:1px solid #1d648f;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;border-radius:5px;}
.cbtn4{display:inline-block;height:28px;line-height:28px;background:#fff;border:1px solid #539312;font-size:14px;vertical-align:middle;color:#6cb226;font-weight:bold;border-radius:5px;}

.cbtn a,.cbtn1 a, .cbtn2 a, .cbtn3 a, .cbtn4 a{display:block;padding:0 20px;color:#fff;}
.cbtn button, .cbtn input, .cbtn1 button, .cbtn1 input, .cbtn2 button, .cbtn2 input, .cbtn3 button, .cbtn3 input, .cbtn4 button, .cbtn4 input{line-height:26px;height:28px;padding:0 20px;font-size:14px;font-weight:bold;color:#fff;border:none;vertical-align:middle;background:transparent;cursor:pointer;font-family:"Nanum Gothic", "나눔고딕",  "맑은고딕", "Malgun Gothic", "돋움", "Dotum";}
.cbtn4 button, .cbtn4 input, .cbtn4 a{color:#6cb226;}
.cbtn button, .cbtn input, .cbtn a{color:#676767;}

/* board button */
.btn_all{overflow:hidden;width:100%;padding:15px 0;}
.btn_all button{overflow:visible;}
.btn_all .fL{float:left;width:70%;}
.btn_all .fR{float:right;width:29%;text-align:right;}
.btn_c{text-align:center;padding:15px 0;}
.btn_r{text-align:right;padding:15px 0;}

.bbtn, .bbtn_s, .bbtn_sm, .bbtn_confirm1, .bbtn_confirm2, .bbtn_normal, .bbtn_color1, .bbtn_color2, .bbtn_color3, .bbtn_bg1, .bbtn_bg2, .bbtn_cm1, .bbtn_cm2, .bbtn_em, .bbtn_input,
.bbtn a, .bbtn_s a, .bbtn_sm a, .bbtn_confirm1 a, .bbtn_confirm2 a, .bbtn_normal a, .bbtn_color1 a, .bbtn_color2 a, .bbtn_color3 a, .bbtn_bg1 a, .bbtn_bg2 a, .bbtn_cm1 a, .bbtn_cm2 a, .bbtn_em a, .bbtn_input a,
.bbtn input, .bbtn_s input, .bbtn_sm input, .bbtn_confirm1 input, .bbtn_confirm2 input, .bbtn_normal input, .bbtn_color1 input, .bbtn_color2 input, .bbtn_color3 input, .bbtn_bg1 input, .bbtn_bg2 input, .bbtn_cm1 input, .bbtn_cm2 input, .bbtn_em input, .bbtn_input input,
.bbtn button, .bbtn_s button, .bbtn_sm button, .bbtn_confirm1 button, .bbtn_confirm2 button, .bbtn_normal button, .bbtn_color1 button, .bbtn_color2 button, .bbtn_color3 button, .bbtn_bg1 button, .bbtn_bg2 button, .bbtn_cm1 button, .bbtn_cm2 button, .bbtn_em button, .bbtn_input button
, .icon_list1, .icon_list2{white-space: nowrap;background-image:url('./images/btn_all.gif');vertical-align:middle;cursor:pointer;}
.bbtn, .bbtn_s, .bbtn_sm, .bbtn_confirm1, .bbtn_confirm2, .bbtn_normal, .bbtn_color1, .bbtn_color2, .bbtn_color3, .bbtn_bg1, .bbtn_bg2, .bbtn_cm1, .bbtn_cm2, .bbtn_em, .bbtn_input{display:inline-block;font-weight:bold;cursor:pointer;}
.bbtn a, .bbtn_s a, .bbtn_sm a, .bbtn_confirm1 a, .bbtn_confirm2 a, .bbtn_normal a, .bbtn_color1 a, .bbtn_color2 a, .bbtn_color3 a, .bbtn_bg1 a, .bbtn_bg2 a, .bbtn_cm a, .bbtn_cm2 a, .bbtn_em a, .bbtn_input a,
.bbtn button, .bbtn_s button, .bbtn_sm button, .bbtn_confirm1 button, .bbtn_confirm2 button, .bbtn_normal button, .bbtn_color button, .bbtn_color2 button, .bbtn_color3 button, .bbtn_bg1 button, .bbtn_bg2 button, .bbtn_cm1 button, .bbtn_cm2 button, .bbtn_em button, .bbtn_input button,
.bbtn input, .bbtn_s input, .bbtn_sm input, .bbtn_confirm1 input, .bbtn_confirm2 input, .bbtn_normal input, .bbtn_color input, .bbtn_color2 input, .bbtn_color3 input, .bbtn_bg1 input, .bbtn_bg2 input, .bbtn_cm1 input, .bbtn_cm2 input, .bbtn_em input, .bbtn_input input
{display:inline-block;margin:0;font-weight:bold;font-size:13px;text-align:center;background-color:transparent;border:none;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum";}

.bbtn{background:#f3f3f3;border:1px solid #cbcbcb;margin-right:2px;}
.bbtn a, .bbtn input, .bbtn button{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px;color:#676767;}
.bbtn_s{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_s a, .bbtn_s input, .bbtn_s button{background:#8e8e8e;height:28px;line-height:28px;padding:0 25px;color:#fff;}
.bbtn_sm{background-position: 0 -150px;margin-right:2px;}
.bbtn_sm a, .bbtn_sm input, .bbtn_sm button{background-position:right -150px;;height:20px;line-height:20px;padding:0 20px;}
.bbtn_normal{background-position: 0 -90px;margin-right:2px;}
.bbtn_normal a,  .bbtn_normal input, .bbtn_normal button{background-position:right -90px;height:22px;line-height:22px;padding:0 20px;color:#6c6c6c;}
.bbtn_confirm1{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_confirm1 a, .bbtn_confirm1 input, .bbtn_confirm1 button{background:#8e8e8e;height:28px;line-height:28px;padding:0 25px;color:#fff;}
.bbtn_confirm2{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_confirm2 a, .bbtn_confirm2 input, .bbtn_confirm2 button{background:#8e8e8e;height:28px;line-height:28px;padding:0 25px;color:#fff;}
.bbtn_color1{background-position: 0 -180px;margin-right:2px;}
.bbtn_color1 a, .bbtn_color1 button,  .bbtn_color1 span{background-position:right -180px;height:17px;line-height:17px;padding:0 10px;color:#fff;font-size:11px;}
.bbtn_color2{background-position: 0 -210px;margin-right:2px;}
.bbtn_color2 a, .bbtn_color2 button,  .bbtn_color2 span{background-position:right -210px;height:17px;line-height:17px;padding:0 10px;color:#fff;font-size:11px;}
.bbtn_color3{background-position: 0 -240px;margin-right:2px;}
.bbtn_color3 a, .bbtn_color3 button,  .bbtn_color3 span{background-position:right -240px;height:17px;line-height:17px;padding:0 10px;color:#fff;font-size:11px;}
.bbtn_bg1{background:#f3f3f3;border:1px solid #cbcbcb;margin-right:2px;}
.bbtn_bg1 a, .bbtn_bg1 input, .bbtn_bg1 button{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px;color:#676767;}
.bbtn_bg2{background:#8e8e8e;border:1px solid #7d7d7d;margin-right:2px;}
.bbtn_bg2 a, .bbtn_bg2 input, .bbtn_bg2 button{background:#8e8e8e;height:28px;line-height:28px;padding:0 20px;color:#fff;}
.bbtn_cm1{background-position: 0 -330px;margin-right:2px;}
.bbtn_cm1 a, .bbtn_cm1 input,  .bbtn_cm1 button{background-position:right -330px;height:29px;line-height:29px;padding:0 20px;color:#fff;}
.bbtn_cm2{background-position: 0 -360px;margin-right:2px;}
.bbtn_cm2 a,  .bbtn_cm2 input, .bbtn_cm2 button{background-position:right -360px;height:29px;line-height:29px;padding:0 20px;color:#fff;}
.bbtn_em{background-position: 0 -390px;margin-right:2px;}
.bbtn_em a, .bbtn_em input, .bbtn_em button{background-position:right -390px;height:21px;line-height:21px;padding:0 20px 0 15px;color:#6c6c6c;}
.bbtn_input{background-position: 0 -420px;margin-right:2px;}
.bbtn_input a, .bbtn_input input, .bbtn_input button{background-position:right -420px;height:52px;line-height:52px;padding:0 20px 0 15px;color:#6c6c6c;}

.top_tit{overflow:hidden;width:100%;}
.top_tit h3{float:left;}
.top_tit strong{float:left;margin-top:10px;}
.top_tit .mbtn{float:right;margin-top:10px;}

/* 상단 select */
.select_bar{padding:10px;border:1px solid #dedede;background:#f9f9f9;text-align:left;margin:10px 0 20px;}
.select_bar strong, .select_bar label{font-size:15px;color:#595959;margin:0 10px;}
.select_bar select{min-width:120px;height:30px;border:1px solid #d3d3d3;padding:5px;vertical-align:middle;}


/* 첨부파일 */
.file_box {background:#fff;margin-bottom:40px;}
.file_box  .file_top {overflow:hidden;width:100%;padding:10px 0;position:relative;}
.file_box .file_top .file_btn{float:left;}
.file_box .file_top .file_info{float:right; line-height:21px; margin-top:10px;}
.file_box .file_top .file_info .blue{color:#000}
.file_box table.file_list_chart{border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px;}
.file_box table.file_list_chart thead th{border:1px solid #D1D1D1;background:#F6F6F6;padding:5px 10px;}
.file_box table.file_list_chart tbody td{border:none;text-align:left;padding:5px;}
.file_box table.file_list_chart tbody td img{vertical-align:middle;}
.file_box table.file_list_chart tbody td.size{text-align:right;width:100px;padding-right:20px;}
.file_box table.file_list_chart tbody td.del{text-align:center;width:50px;}
.file_box .progressBox {width:650px; float:right;}
.file_box .radius {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box .progress{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box .bar{color: #ffffff; font-size: 9pt;}
.file_box .progressBox2 {width:650px; float:right;}
.file_box .radius2 {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box .progress2{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box .bar2{color: #ffffff; font-size: 9pt;}

.file_box .bbtn_bg1 {cursor: pointer !important;}
.file_box .c_click {cursor: pointer !important;}
.file_box  input[type="file"] { position: absolute; left: 0; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 99; display: block !important; width: 103px !important; height: 30px !important; cursor:pointer;}


/* 입력테이블 스타일  */
.txtarea{border:1px solid #ddd8ce;height:90px;width:100%;font-size:12px;margin-bottom:10px;}
.input_area .inp_area{border:1px solid #e5e5e5;height:90px;width:98%;font-size:12px;padding:5px;}
.input_area .inp_area2{border:1px solid #e5e5e5;height:90px;width:auto;font-size:12px;padding:5px;}
.input_area .inp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:75%;padding:0 5px;}
.input_area .rinp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:75%;padding:0 5px;text-align:right;}
.input_area .ninp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:40%;padding:0 5px;text-align:right}
.input_area .minp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:50%;padding:0 5px;}
.input_area .cinp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;padding:0 5px;width:80px;}
.input_area .cinp2{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;padding:0 5px;width:50px;}
.input_area .select{line-height:22px;width:140px;height:25px;border:1px solid #e5e5e5;}
.input_area .select2{line-height:22px;height:25px;border:1px solid #e5e5e5;}
.input_area .zipcode{vertical-align:middle;line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:40px;padding:0 5px;text-align:center;}
.input_area .w150{width:150px;}
.input_area .w50{width:50px;}
.input_area .w30{width:30px;}

.input_area  .tel_box select{height:24px;border:1px solid #ddd8ce;}
.input_area  .tel_box .tel{text-align:center;width:40px;}

.area_box{position:relative;}
.area_box .ftxt{position:absolute;top:0;left:0;padding:5px;width:98%;height:90px;font-size:11px;}

.radio_box input{vertical-align:middle;}
.radio_box label{vertical-align:middle;margin:0 5px;}

.list_style{}
.list_style li{overflow:hidden;width:100%;}
.list_style li label{float:left;width:80px;}
.list_style li input{float:left;}


.cal_box_list span{float:left;display:inline-block;width:110px;}
.cal_box input{vertical-align:middle;}
.cal_box button{vertical-align:middle;margin:0 5px;background:none;border:none;width:26px;height:26px;}

.cnt_list span{float:left;display:inline-block;width:110px;}
.cnt_list .txt{float:left;}
.cnt_list .txt input{vertical-align:middle;}


.target .radio_box{float:left;width:200px;}
.target .list_style{float:left;width:60%;margin-left:20px;}

.file_list li{padding:2px 10px;background:url('/template/common/images/page/common/bg_icon3.gif') 0 8px no-repeat; }


/* 결과  */
.result_pass{min-height:132px;padding-left:160px;margin-top:100px;line-height:1.2em; padding-left:160px;font-size:16px;color:#575757;background:url('/template/common/images/page/common/bg_img02.gif') 0 0 no-repeat;}
.result_pass strong{display:block;padding:25px 0 10px;color:#62ad16;font-size:22px;font-weight:normal;}

.result_pass2{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;line-height:1.3em;font-size:16px;color:#575757;background:url('/template/common/images/page/common/bg_img04.gif') center 0 no-repeat;}
.result_pass2 strong{display:block;padding:15px 0 20px;color:#62ad16;font-size:22px;font-weight:normal;text-align:center}
.result_pass2 strong em{font-weight:bold;font-style:normal;}

.result_npass{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;line-height:1.3em;font-size:16px;color:#575757;background:url('/template/common/images/page/common/bg_img03.gif') center 0 no-repeat;}
.result_npass strong{display:block;padding:15px 0 20px;color:#3481b0;font-size:22px;font-weight:normal;text-align:center}

.result_npass2{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;line-height:1.3em;font-size:16px;color:#575757;background:url('/template/common/images/page/common/bg_img05.gif') center 0 no-repeat;}
.result_npass2 strong{display:block;padding:15px 0 20px;color:#3481b0;font-size:22px;font-weight:normal;text-align:center}

.result_submit{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;font-size:22px;line-height:1.5em;font-size:22px;color:#575757;background:url('/template/common/images/page/common/bg_img01.gif') center 0 no-repeat;}
.result_submit strong{padding:15px 0 20px;color:#dbb500;font-weight:normal;text-align:center}

.input_area .chart1{margin-bottom:20px;}
.input_area .chart1 th.alC{text-align:center}
.input_area .chart1 td{text-align:center;}
.input_area .chart1 tfoot th.alC{text-align:center;}
.input_area .chart1 tfoot td.alC{text-align:center;}
.input_area .chart1 tfoot td{text-align:center;border:1px solid #ececec;}

.cost_input td {text-align:center;}

/* 사업제안서  - 복지시설 (사회복지시설)나눔숲 */
.ppt1_1{width:9%}
.ppt1_2{width:9%}
.ppt1_3{width:18%;}
.ppt1_4{width:18%}
.ppt1_5{width:22%}
.ppt1_6{width:10%}
.ppt1_7{width:auto;}

/* 사업제안서  -복지시설 (특수교육시설)나눔숲 */
.ppt2_1{width:9%}
.ppt2_2{width:9%}
.ppt2_3{width:18%;}
.ppt2_4{width:18%}
.ppt2_5{width:20%}
.ppt2_6{width:10%}
.ppt2_7{width:auto;}

/*  사업제안서- 지역사회 나눔숲  */
.ppt3_1{width:9%}
.ppt3_2{width:9%}
.ppt3_3{width:auto;}
.ppt3_4{width:15%}
.ppt3_5{width:10%}
.ppt3_6{width:auto;}
.ppt3_7{width:auto;}
.ppt3_8{width:auto;}


/*  사업제안서 - 숲 체험교육  */
.ppt4_1{width:9%}
.ppt4_2{width:9%}
.ppt4_3{width:10%}
.ppt4_4{width:auto;}
.ppt4_5{width:15%}
.ppt4_6{width:auto;}

/*  사업제안서 - 숲 체험교육  */
.ppt5_1{width:9%}
.ppt5_2{width:9%}
.ppt5_3{width:11%}
.ppt5_4{width:auto;}
.ppt5_5{width:15%}
.ppt5_6{width:auto}


/* 기본정보  -  복지시설 (사회복지시설)나눔숲,  복지시설 (특수교육시설)나눔숲*/
.basic_1{width:18%}
.basic_2{min-width:20%;}
.basic_3{width:18%;}
.basic_4{width:auto;}


/* 기본정보  지역사회 나눔숲  */
.basic3_1{width:7%}
.basic3_2{width:8%;}
.basic3_3{width:auto}
.basic3_4{width:auto}
.basic3_5{width:8%;}
.basic3_6{width:auto;}
.basic3_7{width:8%;}
.basic3_8{width:8%;}
.basic3_9{width:auto;}
.basic3_10{width:8%;}
.basic3_11{width:8%;}
.basic3_12{width:10%;}

/* 기본정보  숲 체험교육 */
.basic4_1{width:10%}
.basic4_2{width:8%;}
.basic4_3{width:15%}
.basic4_4{width:8%;}
.basic4_5{width:10%;}
.basic4_6{width:auto;}
.basic4_7{width:10%;}
.basic4_8{width:8%;}
.basic4_9{width:auto;}



/* 사업비내역 */
.cost_input{margin-bottom:40px;}
.cost_input .inp{width:70% !important;text-align:right;}
.cost_1{}
.cost_2{}
.cost_3{}
.cost_4{}
.cost_5{}
.cost_6{}
.cost_7{}
.cost_8{}
.cost_9{}
.cost_10{}
.cost_11{width:10%;}

/* 사업개요  */
.outline_1{width:18%;}
.outline_2{width:15%}
.outline_3{width:auto;}
.outline_4{width:15%;}
.outline_5{width:auto;}

/* 사후관리 */
.expost_1{width:18%;}
.expost_2{width:80%;}

/* 운영프로그램 */
.prg_1{width:125px;}
.prg_2{width:80px;}
.prg_3{width:70px;}
.prg_4{width:70px;}
.prg_5{width:70px;}
.prg_6{width:70px;}
.prg_7{width:70px;}
.prg_8{width:60px;}
.prg_9{width:60px;}
.prg_10{width:60px}
.prg_11{width:120px}
.prg_12{width:56px}

.program_input {width:100%;}
.program_input table.chart1 { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:1px solid #575757;margin-bottom:0px;table-layout:fixed;word-break:break-all;}
.program_input table.chart1 th,  .program_input table.chart1 td {border: 1px solid #ececec;padding:7px 0px;text-align:center;}
.program_input table.chart1 thead th {background:#f8f8f8;border:1px solid #ececec;text-align:center;color:#666666;border-top:none;}
.program_input table.chart1 tbody td{text-align:center;}
.program_input table.chart1 tfoot th{background:#f8f8f8;text-align:center;color:#666666}

.program_input table.chart1 tbody td.prg{padding:0;}
.program_input table.chart1 tbody td.prg table{border-collapse:collapse;width:100%;table-layout:auto;}
.program_input table.chart1 table  th,  .program_input table.chart1 table td {border:none;border-right:1px solid #ececec;padding:7px 0px;text-align:center;}
.program_input table.chart1 tbody td.prg table tbody th{background:#f8f8f8;color:#666666;text-align:center;padding:7px 0px;;border-bottom:1px solid #ececec;}
.program_input table.chart1 tbody td.prg table tbody td.last{border-right:none;}
.program_input table.chart1 tbody td.prg table tbody td.bline{border-bottom:1px solid #ececec;}
.program_input table.chart1 tbody td.prg table tbody th.last{border-bottom:none;}