<map name="FPMap0">
<area target="_blank" href="http://www.ecolaw.co.kr/news/articleView.html?idxno=40497" shape="rect" coords="66, 482, 237, 501">
<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=728349" shape="rect" coords="69, 502, 280, 523">
<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=735009" shape="rect" coords="65, 634, 258, 651">
<area target="_blank" href="http://www.dt.co.kr/contents.html?article_no=2012110702019957731002" shape="rect" coords="65, 652, 257, 670">
<area target="_blank" href="http://www.cctoday.co.kr/news/articleView.html?idxno=733332" shape="rect" coords="65, 673, 267, 688">
<area target="_blank" href="http://www.kgpa.or.kr/pages/view/37" shape="rect" coords="63, 774, 299, 932">
<area target="_blank" href="http://blog.daum.net/kgpa/263" shape="rect" coords="370, 772, 597, 945">
<area target="_blank" href="http://news1.kr/articles/901115" shape="rect" coords="54, 1003, 354, 1024">
<area target="_blank" href="http://www.gwnews.org/news/articleView.html?idxno=39081" shape="rect" coords="64, 1024, 315, 1043">
<area target="_blank" href="http://www.anewsa.com/detail.php?number=405547&thread=09r02" shape="rect" coords="67, 1045, 386, 1062">
<area target="_blank" href="http://economy.hankooki.com/lpage/people/201210/e20121010152646120340.htm" shape="rect" coords="70, 1063, 340, 1078">
<area target="_blank" href="http://news.nate.com/view/20120910n07899" shape="rect" coords="72, 1081, 286, 1096">
</map><img border=0 src="e-20.jpg" usemap="#FPMap0">
