.tel_info{overflow:hidden;width:100%;padding:15px 0;margin-top:40px;background:#f7f7f7;border-top:1px solid #e9e8e9;border-bottom:1px solid #e9e8e9; }
.tel_info li{float:left;width:19.45%;padding:0 2.5%;color:#8f8f8f;border-right:1px dashed #ababab;}
.tel_info li.last{border-right:none;}
.tel_info li h4{height:60px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/basic/green/bg_icon.gif') 0 0 no-repeat; font-size:24px;padding-top: 10px;margin:5px 0 15px;color:#77c528;letter-spacing:-0.05em;}
.tel_info li h4 span{display:block;font-size:16px;margin-top:5px;}
.tel_info li .addr{display:block;margin-bottom:15px;}