@charset "utf-8";
/*--------------------------------------------------

title: board.css

version: 0.1
2012.01.11
onmakers

---------------------------------------------------*/

/*사진게시판
---------------------------------------------------*/
.photo_list li{ float:left; margin-right:25px; margin-bottom:25px;}
.photo_list li.noright{margin-right:0px;}
.photo_list_box{ width:210px;}
.photo_list_box td{ margin:0px; padding:0px;}
.photo_list_box td.photo_list_title{ padding:5px 0 3px 0;}
.photo_list_box td.photo_list_title img{ margin:0 3px;}
.photo_list_box td.photo_list_title a, .photo_list_box td.photo_list_title a:link { color:#767676; }


/* 게시판 페이징 번호
---------------------------------------------------*/
.paging_gap { width:100%; text-align:center; clear:both; padding-top:20px; padding-bottom:20px;}
.paging{ margin:0 auto 0; }
.paging td{ font-weight:bold; font-family:Tahoma;  float:left; padding:2px 5px;  vertical-align: basewline !important; display:block;}
.paging td a{ color:#a4a4a4; text-decoration:none; }
.paging td.li01{ padding-top:3px; padding-left:3px; }
.paging td strong{ font-weight:bold; color:#333;}

.paging2 { width:100%; text-align:center; clear:both; padding-top:20px; padding-bottom:20px; }
.paging2 img { vertical-align:middle; margin-bottom:2px; }
.paging2 a { display:inline-block; margin:0 4px; color:#a4a4a4; font:bold 11px/14px Tahoma; }
.paging2 a:link { color:#a4a4a4; }
.paging2 a.commthis, .paging2 a.commthis:link { color:#333;}


/* 게시판 검색
---------------------------------------------------*/
.boardSearch{ clear:both; background-color:#f9f9f9; padding:22px 0; border-top:#d9d9d9 1px solid; margin-top:0px; border-bottom:#d9d9d9 1px solid; text-align:center;}
.boardSearch img{ margin-right:10px;}
.boardSearch input.search_input_txt{height:23px;line-height:23px ; font-size:11px;  border:1px solid #cacaca; vertical-align:top; width:250px; }
.boardSearch select.search_sel { vertical-align:top; height:21px;}

.board_green_bar { border-top:2px solid #98ad49;  border-bottom:1px solid #d9d9d9; padding:18px 0; display:table; min-height:380px; }


/*게시판 리스트
---------------------------------------------------*/
.board_list{ width:100%; }
.board_list th { height:35px; background:url(../image/sub/board/board_th_bg.gif) repeat-x left top;}
.board_list th.bl_left{ background:url(../image/sub/board/board_th_l.gif) no-repeat left top;}
.board_list th.bl_right{ background:url(../image/sub/board/board_th_r.gif) no-repeat right top;}
.bl_notice { background-color:#fafafa;}
.board_list td { padding:8px 10px; text-align:center; font-size:11px; font-family:Tahoma; color:#909090; border-bottom:1px solid #d1d1d1;}
.board_list td.bl_sub{ text-align:left; font-size:12px;  font-family:"돋움",Dotum,"굴림",Gulim,seoul, arial, verdana;  color:#606060;}
.board_list td.bl_name{ font-size:12px;  font-family:"돋움",Dotum,"굴림",Gulim,seoul, arial, verdana;  color:#606060;}


/*스마트 충남 게시판 리스트
---------------------------------------------------*/
.boardscn_list{ width:100%; }
.boardscn_list th { height:35px; background:url(../image/sub/board/boardscn_th_bg.gif) repeat-x left top;}
.boardscn_list th.bl_left{ background:url(../image/sub/board/boardscn_th_l.gif) no-repeat left top;}
.boardscn_list th.bl_right{ background:url(../image/sub/board/boardscn_th_r.gif) no-repeat right top;}
.blscn_notice { background-color:#f3f7ff;}
.boardscn_list td.blscn_notice_txt{ color:#5978af; text-align:center;}
.boardscn_list td { padding:8px 10px; text-align:center; font-size:11px; font-family:Tahoma; color:#909090; border-bottom:1px solid #d1d1d1;}
.boardscn_list td.bl_sub{ text-align:left; font-size:12px;  font-family:"돋움",Dotum,"굴림",Gulim,seoul, arial, verdana;  color:#606060;}
.boardscn_list td.bl_name{ font-size:12px;  font-family:"돋움",Dotum,"굴림",Gulim,seoul, arial, verdana;  color:#606060;}


/*게시판 보기
---------------------------------------------------*/
.board_view{ width:100%; }
.board_view th { height:35px; text-align:left; padding-left:20px; background:url(../image/sub/board/board_th_r.gif) no-repeat right top; }
.board_view th.bv_left{ width:100px; background:url(../image/sub/board/board_th_view_l.gif) no-repeat left top;}
.board_view th.bv_right{ padding-left:0px; width:570px;}
.board_view td.bv_left2 { padding-left:20px; font-weight:bold; background:url(../image/sub/board/board_th_view_l2.gif) no-repeat left top;}
.board_view td{padding-left:0px; border-bottom:1px solid #d1d1d1;}
.board_view td { padding:8px 00px; text-align:left; }
.board_view td.bv_date{ font-weight:bold; width:50px; background:url(../image/sub/board/board_th_view_l3.gif) no-repeat right top;}
.board_view td.bv_name{ width:350px;}
.board_view td.bv_num{  font-size:11px; font-family:Tahoma; color:#909090; padding-right:10px; padding-left:7px; }
.board_view td.bv_txt{ padding:10px 20px; background:#f9f9f9; border-bottom:2px solid #d1d1d1;}
.board_view span.dv_add_file img{ vertical-align:middle;}
.board_view span.dv_add_file a { font-size:11px; text-decoration:underline;  margin-left:5px; padding-bottom:9px; }
#board_viewIn { margin:0; padding:0; }
#board_viewIn p {  margin:0; padding:0; }


/*스마트 충남 게시판 보기
---------------------------------------------------*/
.boardscn_view{ width:100%;  }
.boardscn_view th { height:35px; text-align:left; background:url(../image/sub/board/boardscn_th_r.gif) no-repeat right top; }
.boardscn_view th.bv_left{ width:100px; padding-left:20px;  color:#4e81cc; background:url(../image/sub/board/boardscn_th_view_l.gif) no-repeat left top;}
.boardscn_view th.bv_right{}
.boardscn_view td.bv_left2 { padding-left:20px; width:100px; font-weight:bold; color:#4e81cc;  background-color:#f9f9f9; background:url(../image/sub/board/board_th_view_l2.gif) no-repeat left top; vertical-align:top;}
.boardscn_view td.bv_nobg { padding-left:20px; width:100px; font-weight:bold; color:#4e81cc; background:none;}
.boardscn_view td{padding-left:0px; border-bottom:1px solid #d1d1d1;}
.boardscn_view td { padding:8px 0px; text-align:left; }
.boardscn_view td.bv_date{ font-weight:bold; width:50px; color:#4e81cc; background:url(../image/sub/board/board_th_view_l3.gif) no-repeat right top;}
.boardscn_view td.bv_name{ width:450px;}
.boardscn_view td.bv_num{  font-size:11px; font-family:Tahoma; color:#909090; padding-right:10px; padding-left:7px; }
.boardscn_view td.bv_txt{ padding:20px; background:#f9f9f9; border-bottom:2px solid #d1d1d1;}
.boardscn_view td.bo1 { border-bottom:1px solid #d1d1d1;}
.boardscn_view td.poll_txt{ padding:25px; background:#f9f9f9; border-bottom:1px solid #d1d1d1;}
.boardscn_view span.dv_add_file img{ vertical-align:middle;}
.boardscn_view span.dv_add_file a { font-size:11px; text-decoration:underline;  margin-left:5px; padding-bottom:9px; }


/*게시판 보기 리플
---------------------------------------------------*/
.board_view_reply{ width:650px; margin:7px 20px 0 20px;}
.board_view_reply th{ text-align:left; width:570px; padding-bottom:3px; }
.board_view_reply th.bvr_name{width:500px;  }
.board_view_reply th.bvr_date{ width:150px; text-align:right; font-size:11px; font-weight:normal; font-family:Tahoma; color:#909090;}
.board_view_reply th span{ padding-left:8px; vertical-align:top;}
.board_view_reply td{  padding-bottom:8px;  background:url(../image/sub/board/board_reply_bottom.gif) repeat-x left bottom;  }


/*게시판 리플 쓰기
---------------------------------------------------*/
.board_reply_write{ width:650px; margin:20px 20px 0 20px; }
.board_reply_write th{ vertical-align:top; text-align:left; width:90px; }
.brw_txt {overflow:scroll; overflow-x: hidden; width:500px; height:35px; background:#f6f6f6; border:1px solid #cacaca; padding:5px; }
.board_reply_write td{ vertical-align:top;}
.board_reply_write td p.brw_txt_notice { font-size:11px; color:#c57878; padding-top:5px;}

.btn_group_multi { width:100%; border-top: 1px solid #d1d1d1; margin-top:20px;}
.btn_group_multi td{ padding-top:10px;}
.btn_group_multi img{ margin-right:4px;}
.btn_group_multi_r { text-align:right;}

.btn_group_multi2 { width:100%; height:25px; padding-top:20px; margin-bottom:20px;  border-top: 1px solid #d1d1d1; }
.btn_group_multi2 .btngpleft { float:left; }
.btn_group_multi2 .btngpright { float:right;  }
.btn_group_multi2 img { margin-right:5px; }
.btn_group_multi2 img.btngpend { margin-right:0; }
.btn_group_multi2:after { clear:both; }

.btn_group_multi3 { width:100%; min-height:28px; padding-top:20px; margin-bottom:20px;}
.btn_group_multi3 .btngpleft { float:left; }
.btn_group_multi3 .btngpright { float:right;  }
.btn_group_multi3 img { margin-right:5px; }
.btn_group_multi3 img.btngpend { margin-right:0; }
.btn_group_multi3:after { clear:both; }


 /*게시판 이전글 다음글
 ---------------------------------------------------*/
.board_prev_next { clear:both;  width:100%; border-top: 1px solid #d1d1d1; margin-top:20px; }
.board_prev_next th{ padding:7px 40px 7px 20px; width:50px; border-bottom: 1px solid #d1d1d1;  text-align:left; background:url(../image/sub/board/board_th_gap.gif) no-repeat right center; }
.board_prev_next td {border-bottom: 1px solid #d1d1d1; background:#f9f9f9; padding-left:10px;}

 /*댓글 작성전 로그인
 ---------------------------------------------------*/
.board_reply_request { font-weight:bold; width:100%;  padding:40px 0 20px 0 ; text-align:center;}


/*게시글 작성
---------------------------------------------------*/
.board_write  { clear:both; width:100%;border-top:2px solid #98ad49; margin-bottom:15px;}
.board_write th{ text-align:left; width:100px; background:#f9f9f9; vertical-align:top; padding:7px 0 7px 30px; border-right: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; }
.board_write td{ border-bottom: 1px solid #d1d1d1; padding:7px 0 7px 10px; }
.board_write td p.add_file_name { font-size:11px; padding-top:5px;}
.board_write td p.add_file_name img{ margin-left:5px; vertical-align:middle;}
.board_write td.bw_area { padding:7px 0;}


/*커뮤니티 관리
---------------------------------------------------*/
.com_green_bar {clear:both;width:100%; border-top:2px solid #98ad49;border-bottom:2px solid #98ad49; margin-bottom:10px;}
.com_green_bar th {width:135px;color:#333;border-bottom:1px solid #ececec;padding:12px;text-align:left; vertical-align:top;}
.com_green_bar td {color:#707684;padding:12px;border-bottom:1px solid #ececec;}

.com_green_bar_top {clear:both;width:100%; border-top:2px solid #98ad49;border-bottom:2px solid #98ad49; margin-bottom:10px;}
.com_green_bar_top th {color:#333;border-bottom:1px solid #ececec;padding:12px;}
.com_green_bar_top td {color:#707684; text-align:center; padding:12px;border-bottom:1px solid #ececec;}
.com_green_bar_top .btng { background:#f6f6f6;}
.com_green_bar_top td.btng_l{ text-align:left;}
.com_green_bar_top td.btng_r{ text-align:right;}
.com_green_bar_top td img{ margin-right:5px;}


/*회원관리 리스트
---------------------------------------------------*/
.member_list{ width:100%; }
.member_list th { height:35px; background:url(../image/sub/board/board_th_bg.gif) repeat-x left top;}
.member_list th.bl_left{ background:url(../image/sub/board/board_th_l.gif) no-repeat left top;}
.member_list th.bl_right{ background:url(../image/sub/board/board_th_r.gif) no-repeat right top;}

.member_list td { padding:8px 10px; text-align:center; border-bottom:1px solid #d1d1d1;}
.member_list td.num{font-size:11px; font-family:Tahoma; color:#909090;}
.member_list td span.stop{color:#909090;}

.member_level{ text-align:center; background-color:#f9f9f9; padding:22px 0; border-top:#d9d9d9 1px solid; margin-top:20px;}
.member_level img{ vertical-align:middle;}


/* 교수학습지원센터게시판 검색 영역
---------------------------------------------------*/
.boardSearch_gyosoo{ background:none; border:none; padding:20px 0; height:40px; margin:0 ;}
.boardSearch_gyosoo input{ margin-left:3px;}
.boardSearch_gyosoo .bsg_input{ height:12px; width:15px; vertical-align:middle; margin:0px; padding:0px; }
.boardSearch_gyosoo1_sa{   float:left; text-align:right; width:200px;  font-weight:bold;}
.boardSearch_gyosoo1{ width:185px; float:left; height:20px; text-align:left; font-weight:bold;}
.boardSearch_gyosoo1 span{font-weight:bold; vertical-align:top; margin:0 8px 0 0; padding:0px;}
.boardSearch_gyosoo2{ width:530px; float:left; text-align:left; }
.boardSearch_gyosoo2 select{ margin:0 2px 2px 0; font-size:11px;}
.boardSearch_gyosoo3{ width:60px; float:left; padding-top:6px;}
select.search_sel115 { vertical-align:top; height:20px; width:115px; }
select.search_sel75 { vertical-align:top; height:20px; width:75px; }
select.search_sel399 { vertical-align:top; height:20px; width:399px; }


/*스마트 충남 게시판 보기-plus
---------------------------------------------------*/ 
.boardscn_view th.bv_left3{ width:115px; padding-left:20px;  color:#4e81cc; background:url(../image/sub/board/boardscn_th_view_l2.gif) no-repeat left top; }
.boardscn_view th.bv_left4 {  height:25px; padding-left:20px; border-bottom:1px solid #d1d1d1; font-weight:bold; color:#4e81cc; background:url(../image/sub/board/board_th_view_l4.gif) no-repeat right top;}
.boardscn_view td.bv_right2 { height:35px; text-align:left; background:url(../image/sub/board/boardscn_th_r.gif) no-repeat right top; }
.boardscn_view td.bv_left3 { padding-left:20px; width:115px; font-weight:bold; color:#4e81cc; background:url(../image/sub/board/board_th_view_l4.gif) no-repeat right top;vertical-align:top;}
.boardscn_view td.bv_name2{ width:400px; }
.boardscn_view td.bv_date2{ font-weight:bold; width:90px; padding-left:20px; color:#4e81cc; background:url(../image/sub/board/board_th_view_l3.gif) no-repeat right top;}
.boardscn_view td.bv_num2{font-size:11px; width:50px; font-family:Tahoma; color:#909090; padding-right:10px; padding-left:7px;  }