﻿@charset "utf-8";
/*--------------------------------------------------

title: contents2

---------------------------------------------------*/

/* basic plus */
.basicleft { float:left; }
.basicright { float:right; }
.basicbigty1 { margin-bottom:10px;  font:bold 14px/18px Dotum,"돋움"; color:#4e81cc; }
.sptxt_bluebold { font-weight:bold; color:#3167c7; }
.sptxt_bluebold2 { font-weight:bold; color:#608fe7;}
.sptxt_red { font-size:11px; color:#c75757; }
.sptxt_redbold { font-weight:bold; color:#d74848; }
.sptxt_blackbold { font-weight:bold; color:#333; }
.imgbtnwithtxt { margin:2px 5px; vertical-align:middle; }
img.imgbtnty1 { vertical-align:middle; margin-right:3px; margin-left:0; }

/* common plus */
h1.h1ty1 { font:bold 14px/22px Doutm,"돋움"; color:#FFF;}
h4.h4ty1 { margin-bottom:20px; font:bold 14px/18px Doutm,"돋움"; color:#4e81cc; }
h4.h4ty2 { margin-bottom:10px; font:bold 14px/18px Doutm,"돋움"; color:#4e81cc; }
h5.h5ty1 { margin-bottom:10px; font:bold 12px/18px Doutm,"돋움"; color:#333; }
.basiclist1 { position:relative; margin-left:10px; margin-bottom:20px; padding:0; }
.basiclist1 li { margin-bottom:6px; padding-left:7px; font:normal 12px/16px Doutm,"돋움"; color:#767676; background:url(../image/sub/common/dot01.gif) no-repeat 0 7px; }
.basiclist2 { position:relative; margin-bottom:20px; padding:0; }
.basiclist2 li { margin-bottom:2px; padding-left:7px; font:normal 12px/16px Doutm,"돋움"; color:#767676; background:url(../image/sub/common/dot01.gif) no-repeat 0 7px; }

/*content next class */
.board_green_bar { min-height:300px; }
.photo_list { margin-bottom:0; padding-bottom:0;}
.photo_list li { margin-bottom:15px;}
.paging2 { margin-bottom:0; }
.paging2 .commthis {font:bold 11px/14px Tahoma; color:#767676;}
hr.viewhr { display:inline-block; color:#dcdcdc; margin-bottom:10px; height:1px;}
hr.viewhr2 { display:inline-block; color:#99bbf7; margin-bottom:20px; height:1px;}
#common_pop_url_up_re p.poptitle {padding-bottom:20px; }
#common_pop_url_up_re p span.ptxt { display:inline-block; float:left; padding:0; }
#common_pop_url_up_re p span.pclosebut { display:inline-block; float:right; margin-right:20px; }
#common_pop_url_up_re form { clear:both; }
.poll_result_t_j { margin:0 auto 20px auto; }
.boardscn_view td.bv_num2 {  font:normal 11px/14px Tahoma; color:#909090; padding-right:10px; }
.boardscn_view td.bv_left4 { padding-left:20px; font-weight:bold; color:#4e81cc;  background-color:#f9f9f9;  vertical-align:top; }
.boardscn_view td.bv_txt2 { background:#f9f9f9; border-bottom:1px solid #d1d1d1;}
.boardscn_view td.bv_txt3 { background:#f9f9f9; border-bottom:1px solid #d1d1d1; color:#4e81cc; }
.boardSearch2 input { vertical-align:top;}
.mileage a, .mileage a:link { font:normal 12px/14px Dotum,"돋움"; color:#606060; }

/* table type1 */
.tablety1{border-top: 2px solid #97bef6; width:100%; margin-bottom:20px;}
.tablety1 th, .tablety1 td { text-align:center; padding:5px; }
.tablety1 th{ color:#4e81cc; border-bottom:1px solid #d1d1d1; border-left:1px solid #d1d1d1; background-color:#f0f6ff; }
.tablety1 td{ border-bottom:1px solid #d1d1d1; border-left:1px solid #d1d1d1;}
.tablety1 th.tb1thend, .tablety1 td.tb1tdend { border-right:1px solid #d1d1d1;}

/* sublayout_cyberschool search */
#cybersearch { float:right; margin:0;  padding:8px 15px 0 0; }
#cybersearch form { margin:0; padding:0;  }
#cybersearch fieldset { border:0; margin:0; padding:0; }
#cybersearch .cysearchsel { padding:1px; margin-top:1px; height:21px;  border:1px solid #dadada; font:normal 12px/14px Dotum,"돋움"; vertical-align:top; }
#cybersearch .cysearchtxt { padding:3px; margin-bottom:3px; height:13px;  background-color:#fff; border:1px solid #dadada; font:normal 12px/12px Dotum,"돋움"; vertical-align:top; }
#cybersearch .cysearchimg { margin-left:3px; margin-bottom:2px; padding:0; *margin-top:2px; }
#cybersearch:after {clear:both; }

/*popup_main */
#popmainboxtop { position:relative; width:100%; height:40px; margin-bottom:15px;  background:url(../image/sub/common/popbox_mainbg.gif) repeat-x 0 0;   }
#popmainboxtop h1 { float:left; margin-left:20px; padding-top:12px;   }
#popmainboxtop .popmainboxclose { float:right; margin-right:20px; padding-top:12px;  }
#popmainboxcon{min-height:100%; margin:-55px 0 -30px; padding:0; }
 *html #popmainboxcon{height:100%; }
#popmainboxcon2{ width:100%; margin:0; padding:55px 0 20px; }
#popmainboxcontxt { padding:0 20px 20px 20px; }
#popmainboxcontxt p { margin:0; padding:0; width:100%; font:normal 12px/18px  Dotum,"돋움"; color:#707684; }
#popmainboxcontxt img { margin:0 5px; border:0;}
#popmainboxdn { position:relative; clear:both;  width:100%; height:30px; padding:0; margin:0;background-color:#747474; text-align:right; }
#popmainboxdn p { margin-right:20px;  padding-top:4px; font:normal 12px/14px Dotum,"돋움"; color:#d8d8d8; }
#popmainboxdn input { border:0; margin-right:5px; vertical-align:middle; }

/*popup_sub */
#popsubboxtop { position:relative; width:100%; height:40px; margin-bottom:15px;  background:url(../image/sub/common/popup3_bg.gif) repeat-x 0 0;   }
#popsubboxtop h1 { float:left; padding-left:20px; padding-top:12px; font:bold 14px/18px Dotum,"돋움"; color:#FFF;   }
#popsubboxtop .popsubboxclose { float:right; margin-right:20px; padding-top:12px;  }
#popsubboxcon{min-height:100%; margin:-55px 0 -30px; padding:0; }
 *html #popsubboxcon{height:100%; }
#popsubboxcon2{ width:100%; margin:0; padding:55px 0 20px; }
#popsubboxcontxt { padding:0 20px 20px 20px; }


/*popup */
.popbox {  position:relative;  clear:both; background-color:#fff; border:1px solid #dcdcdc; }
.popboxtop { position:relative; width:100%; height:26px; padding-top:8px; margin-bottom:20px; background:url(../image/sub/common/popbox_topbg.gif) repeat-x 0 0;}
.popboxtop h3.popboxh3 { float:left; margin-left:20px; font:bold 14px/18px Dotum,"돋움"; color:#fff; letter-spacing:-0.5px; }
.popboxtop .popboxclose { float:right; margin-right:20px; }
.popboxconall { position:relative; clear:both; width:100%;  }
.popboxcon { position:relative; clear:both; min-height:300px; padding:0 20px 20px 20px; margin:0; }
.popboxcon .popboxtxt1 { width:100%; text-align:center; }
.popboxcon  input { padding:3px; margin:5px 0; min-height:14px; border:1px solid #cacaca; }
.popboxcon  input.popsubimg { padding:0; margin:5px; border:none; }
.popboxcon  input.popradio { margin:0; border:none;  vertical-align:top; }
.popboxcon  .popimg { vertical-align:top; margin-left:3px; margin-top:4px;}
.colorblk { color:#333; font-weight:bold; }
.popboxspan { display:inline-block; margin-right:7px;  margin-bottom:7px; font:bold 12px/18px Dotum,"돋움"; color:#767676; }
.popboxspan2 { display:inline-block; margin-right:7px;  margin-bottom:7px; font:bold 12px/18px Dotum,"돋움"; color:#333; }
.popboxspan3 { display:inline-block; margin-right:7px;  margin-bottom:7px; font:normal 12px/18px Dotum,"돋움"; color:#767676; }

/*community_main list */
.commmainall { position:relative;  margin:5px auto; width:490px; height:290px; overflow:scroll; overflow-x: hidden;}
.commmainlist { position:relative;  clear:both; }
.commmainlist li { clear:both; padding:13px 0;  width:470px; height:60px;  margin:0; border-bottom:1px solid #e0e0e0; }
.commmainlist li .commimg { float:left; width:110px; }
.commmainlist li .comminfo { float:left; width:250px;  }
.commmainlist li .comminfo strong { font:bold 14px/18px Dotum,"돋움"; color:#171717; letter-spacing:-0.5px;  }
.commmainlist li .comminfo span { font:normal 12px/16px Dotum,"돋움"; color:#767676; }
.commmainlist li .comminfo span.commlink { font:normal 11px/14px Tahoma; color:#a4a4a4; }
.commmainlist li ul.commdetail { float:left; width:110px; margin-top:20px; }
.commmainlist li ul.commdetail li { padding:0 0 0 5px; margin:0; width:110px; height:18px; font:normal 11px/14px Dotum,"돋움";  color:#a4a4a4; background:url(../image/sub/common/dot01.gif) no-repeat 0 6px; border:none;  }
.commmainlist li ul.commdetail li span { color:#707684; }
.commmainlist li .comminfo span a, .commmainlist li .comminfo span a:link,  { color:#a4a4a4; }
.commmainlist li .comminfo strong a, .commmainlist li .comminfo strong a:link {  font:bold 14px/18px Dotum,"돋움"; color:#171717; }

/* community board Write */
.commwrite { position:relative;  clear:both; width:100%; border-collapse:collapse; border-spacing:0; border:0; border-top:2px solid #98ad49; }
.commwrite th { padding:7px 20px; margin:0; background-color:#f6f6f6; font:bold 12px/18px Dotum,"돋움"; color:#767676;  letter-spacing:-0.5px;  text-align:left; border-right:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1; }
.commwrite td { padding:7px 0 7px 10px; margin:0;  font:normal 12px/19px Dotum,"돋움"; color:#767676;   letter-spacing:-0.5px; border-bottom:1px solid #d1d1d1;  }
.commwrite input { margin-bottom:2px; border:1px solid #cacaca; font:normal 12px/18px Dotum,"돋움"; }
.commwrite input.commin  { padding:4px; height:13px; margin:0; }
.commwrite input.commcheck { border:none; margin:3px 1px 1px 1px; padding:0; }
.commwrite select { height:20px; border:1px solid #cacaca; font:normal 12px/18px Dotum,"돋움"; }
.commwrite td strong {color:#333;}
.commwrite td span { font-size:11px; letter-spacing:0; }
.commwrite td span img { vertical-align:middle; margin-left:2px; }
.commwrite #commediter { margin:0; padding:0; width:100%; }
.commwrite #commediter td { padding:0; margin:0; }
.commwrite .commediter { margin:0; padding:0; width:100%; }
.commwrite .commediter td { padding:0; margin:0; }

/* community_admin menu */
.commadminbut { position:relative; width:100%; margin-top:10px; font:normal 12px/14px Doutm,"돋움"; color:#767676; }
.commadminbut:after { clear:both; }

/* community_board phototype */
.photo_list2 li{ float:left; width:230px; margin-bottom:20px;}
.photo_list2 li.noright{margin-right:0px;}
.photo_list2 .photo_list_box {width:210px; margin:0 auto; }

/* community boardnotice */
.bl_notice { font-weight:bold; }
td.bl_noticetxt { font:bold 11px/14px Dotum,"돋움"; color:#759b0f; }

/* community welcome */
.commwelcome { position:relative; width:640px; height:200px; margin:40px auto 0 auto; padding:0; background:url(../image/sub/community/welcome_bg.jpg) no-repeat 0 0;}
.commwelcome .welcometxt { margin-top:40px; margin-left:240px; font:normal 12px/18px Doutm,"돋움"; color:#767676; }
.commwelcome strong { display:inline-block; margin-bottom:20px; font:bold 14px/18px Doutm,"돋움"; color:#4e81cc; }

/* community delete */
.commdelete { position:relative; width:640px; height:200px; margin:40px auto 0 auto; padding:0; background:url(../image/sub/community/delete_bg.jpg) no-repeat 0 0;}
.commdelete .deletetxt { margin-top:20px; margin-left:220px; font:normal 12px/18px Doutm,"돋움"; color:#767676; }
.commdelete strong { display:inline-block; margin-bottom:20px; font:bold 14px/18px Doutm,"돋움"; color:#4e81cc; }
.commdeleteBut { position:relative; margin-top:20px; padding:0; text-align:center; }
.commdeleteBut img { vertical-align:top; margin-right:3px; }

/* board reply_reply */
.boardreply2 { position:relative;  clear:both; width:650px; padding:0 20px; margin:0 auto; overflow:hidden; }
.boardreply2list { position:relative; width:100%; padding:10px 0 7px 0; border-bottom:1px dashed #d7d7d7;  color:#767676; }
.boardreply2relist1 { position:relative; margin-top:5px; padding:4px 0 5px 35px; width:615px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 0 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist2 { position:relative; margin-top:5px; padding:4px 0 5px 50px; width:600px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 15px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist3 { position:relative; margin-top:5px; padding:4px 0 5px 65px; width:585px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 30px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist4 { position:relative; margin-top:5px; padding:4px 0 5px 80px; width:570px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 45px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist5 { position:relative; margin-top:5px; padding:4px 0 5px 95px; width:555px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 60px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist6 { position:relative; margin-top:5px; padding:4px 0 5px 120px; width:530px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 75px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist7 { position:relative; margin-top:5px; padding:4px 0 5px 135px; width:515px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 90px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist8 { position:relative; margin-top:5px; padding:4px 0 5px 150px; width:500px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 105px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist9 { position:relative; margin-top:5px; padding:4px 0 5px 165px; width:485px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 120px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply2relist10 { position:relative; margin-top:5px; padding:4px 0 5px 180px; width:470px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 135px 4px; border-bottom:1px dashed #d7d7d7;  }

.boardreply3 { position:relative;  clear:both; width:740px; padding:0 20px; margin:0 auto; overflow:hidden; }
.boardreply3list { position:relative; width:100%; padding:10px 0 7px 0; border-bottom:1px dashed #d7d7d7;  color:#767676; }
.boardreply3relist1 { position:relative; margin-top:5px; padding:4px 0 5px 35px; width:705px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 0 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist2 { position:relative; margin-top:5px; padding:4px 0 5px 50px; width:690px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 15px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist3 { position:relative; margin-top:5px; padding:4px 0 5px 65px; width:675px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 30px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist4 { position:relative; margin-top:5px; padding:4px 0 5px 80px; width:660px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 45px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist5 { position:relative; margin-top:5px; padding:4px 0 5px 95px; width:645px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 60px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist6 { position:relative; margin-top:5px; padding:4px 0 5px 120px; width:620px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 75px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist7 { position:relative; margin-top:5px; padding:4px 0 5px 135px; width:605px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 90px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist8 { position:relative; margin-top:5px; padding:4px 0 5px 150px; width:590px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 105px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist9 { position:relative; margin-top:5px; padding:4px 0 5px 165px; width:575px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 120px 4px; border-bottom:1px dashed #d7d7d7;  }
.boardreply3relist10 { position:relative; margin-top:5px; padding:4px 0 5px 180px; width:560px; color:#a4a4a4; background:url(../image/sub/board/btn_reply_review.gif) no-repeat 135px 4px; border-bottom:1px dashed #d7d7d7;  }

.breply2name { display:inline-block; float:left; padding:0; font:bold 12px/16px Doutm,"돋움"; color:#333; letter-spacing:-0.5px; }
.breply2date { display:inline-block;  float:right; padding:0; font:normal 11px/13px Tahoma; color:#a4a4a4; }
.breply2date img { margin-left:2px; margin-right:2px;vertical-align:middle; }
.breply2txt { position:relative;  clear:both;  width:100%; padding:5px 0; font:normal 12px/18px Dotum,"돋움"; }
.boardreply2write { position:relative;  clear:both;  width:100%; height:85px; margin:0; padding:0;}
.boardreply2write input { vertical-align:top; margin-top:5px; }
.boardreply2write strong { display:inline-block; width:110px; height:40px; font:bold 12px/16px Doutm,"돋움"; color:#767676; letter-spacing:-0.5px; vertical-align:top;}
.boardreply2write textarea { width:500px; height:48px; padding:3px; border:1px solid #cacaca; background-color:#f6f6f6; }
.boardreply2rewrite { position:relative; width:610px; margin:0; padding:10px 0 7px 45px;  background:url(../image/sub/board/btn_reply_review.gif) no-repeat 0 10px; border-bottom:1px dashed #d7d7d7; }
.boardreply2rewrite input { vertical-align:top; margin-top:2px; margin-left:8px; }
.boardreply2rewrite img { margin-left:8px; vertical-align:top; }
.boardreply2rewrite textarea { width:540px; height:40px; padding:3px; border:1px solid #cacaca; background-color:#f6f6f6; color:#767676; }

.boardreply3write { position:relative;  clear:both;  width:100%; height:85px; margin:0; padding:0;}
.boardreply3write input { vertical-align:top; margin-top:5px; }
.boardreply3write strong { display:inline-block; width:100px; height:40px; font:bold 12px/16px Doutm,"돋움"; color:#767676; letter-spacing:-0.5px; vertical-align:top;}
.boardreply3write textarea { width:600px; height:48px; padding:3px; margin-right:10px; border:1px solid #cacaca; background-color:#f6f6f6; }
.boardreply3rewrite { position:relative; width:720px; margin:0; padding:10px 0 7px 45px;  background:url(../image/sub/board/btn_reply_review.gif) no-repeat 0 10px; border-bottom:1px dashed #d7d7d7; }
.boardreply3rewrite input { vertical-align:top; margin-top:2px; margin-left:8px; }
.boardreply3rewrite img { margin-left:8px; vertical-align:top; }
.boardreply3rewrite textarea { width:630px; height:40px; padding:3px; border:1px solid #cacaca; background-color:#f6f6f6; color:#767676; }
span.writeinfo { display:inline-block; margin-top:5px; font:normal 11px/14px Doutm,"돋움"; color:#c57878; }

/* board write type1 */
.board_write2 { position:relative;  clear:both; width:100%; border-collapse:collapse; border-spacing:0; border:0; border-top:2px solid #7796cd; }
.board_write2 th { padding:7px 20px; margin:0; background-color:#f6f6f6; font:bold 12px/18px Dotum,"돋움"; color:#767676;  letter-spacing:-0.5px;  text-align:left; border-right:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1; }
.board_write2 td { padding:7px 0 7px 10px; margin:0;  font:normal 12px/19px Dotum,"돋움"; color:#767676;   letter-spacing:-0.5px; border-bottom:1px solid #d1d1d1;  }
.board_write2 input { margin-bottom:2px; border:1px solid #cacaca; font:normal 12px/18px Dotum,"돋움"; }
.board_write2 input.commin  { padding:4px; height:13px; margin:0; }
.board_write2 input.commcheck { border:none; margin:3px 1px 1px 1px; padding:0; }
.board_write2 select { height:20px; border:1px solid #cacaca; font:normal 12px/18px Dotum,"돋움"; }
.board_write2 td strong {color:#333;}
.board_write2 td span { font-size:11px; letter-spacing:0; }
.board_write2 td span img { vertical-align:middle; margin-left:2px; }
.board_write2 .commediter { margin:0; padding:0; width:100%; }
.board_write2 .commediter td { padding:0; margin:0; }

/* board list photo type */
.board_blue_bar { border-top:2px solid #7796cd;  border-bottom:1px solid #d9d9d9; padding:18px 0; display:table; min-height:380px; }
.photo_list3 li{ float:left; width:260px; margin-bottom:20px;}
.photo_list3 .photo_list_box {width:240px; margin:0 auto; }


/* board buts */
.btn_group_multi3 { width:100%; height:25px; padding:10px 0 0 0; margin-bottom:20px; }
.btn_group_multi3 .btngpleft { float:left; }
.btn_group_multi3 .btngpright { float:right;  }
.btn_group_multi3 img { margin-right:5px;  }
.btn_group_multi3 img.btngpend { margin-right:0; }
.btn_group_multi3:after { clear:both; }

/* search type2 */
.searchmeta { position:relative; clear:both; width:100%; height:auto; margin-bottom:20px; background-color:#f9f9f9; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; }
.searchmetakind { padding:10px 15px; margin:0;  font:normal 12px/18px Dotum,"돋움"; color:#767676; letter-spacing:-0.5px;}
.searchmetakind select { display:inline-block; margin-right:5px; padding:2px; vertical-align:middle; }
.searchmetakind .searchmetachk { vertical-align:middle; border:none; margin-bottom:2px; margin-right:2px;  }
.searchmetakind li { margin-bottom:5px; }
.searchmetakind li strong { display:inline-block; color:#4e81cc; width:70px; }
.searchmetakind li span { display:inline-block; font-weight:bold; margin-left:3px; margin-right:3px; color:#666; }
.searchmetabut { position:absolute; left:620px; top:30px; width:50px; height:25px; }

/* board topinfo*/
.boardtopinfo { position:relative; width:100%; margin-bottom:10px; text-align:right; font:normal 11px/14px Dotum,"돋움"; color:#a4a4a4; }
.boardtopinfo span { color:#8db3f8; font-family:Tahoma; font-weight:bold; }
.boardtopinfo2 { float:left; width:30%; position:relative; margin-bottom:10px; font:normal 11px/14px Dotum,"돋움"; color:#a4a4a4; }
.boardtopinfo2 span { color:#8db3f8; font-family:Tahoma; font-weight:bold; }

/*board replynum */
span.boardrenum { display:inline-block; margin-left:2px; font:bold 10px/13px Tahoma; color:#4e81cc; vertical-align:top;*margin-bottom:1px;  }
span.boardrenumno { display:inline-block; margin-left:2px; font:bold 10px/13px Tahoma; color:#a4a4a4; vertical-align:top; *margin-bottom:1px; }

/* gysoo_boardsearch */
.boardSearch3 { position:relative; width:100%; margin:0 0 20px 0; padding:15px 0; height:25px; background-color:#f9f9f9; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; text-align:center; }
.boardSearch4 { position:relative; width:100%; margin:0 0 20px 0; padding:15px 0; height:55px; background-color:#f9f9f9; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; text-align:center; }
.boardSearch3 input, .boardSearch4 input { vertical-align:middle; }
.boardSearch3 .search3in { height:16px; padding:3px; margin-right:5px; border:1px solid #cacaca; background-color:#fff; font:normal 12px/14px Dotum,"돋움"; color:#767676; }
.boardSearch3 span, .boardSearch4 span  { display:inline-block; margin-right:5px; font-weight:bold; }
.boardSearch3 select, .boardSearch4 select { height:22px; padding:1px; margin-right:5px; margin-bottom:2px; font:normal 12px/14px Dotum,"돋움"; color:#767676; vertical-align:middle; *margin-top:2px; }
.searchinBox { width:800px; margin:5px auto; height:100%; }
.searchinBox div { float:left; margin-right:10px; text-align:left; }
.boardsearchImg { margin-top:10px; }

/* gysoo_mym */
.mymileage { position:relative; padding:30px 25px; height:30px; background-color:#fff; border-right:1px solid #c7c7c7; border-left:1px solid #c7c7c7; }
.mymileage .mymileagelist { float:left; }
.mymileage .mymileagelist span { display:inline-block; margin:0 10px; font:bold 20px/24px Tahoma; color:#537cc6; vertical-align:top; }
.mymileage .mymileagebut { float:right; }
.mymileage:after { clear:both; }

/* gysoo_mymtable */
.mileagetable2 { position:relative;  clear:both; width:100%; border-collapse:collapse; border-spacing:0; border:0; border-top:2px solid #7796cd; border-right:1px solid #c7c7c7; border-left:1px solid #c7c7c7; }
.mileagetable2 th, .mileagetable2 td { padding:8px; margin:0; font:normal 12px/16px Dotum,"돋움"; color:#767676; text-align:center;}
.mileagetable2 th { background-color:#fff; border-bottom:1px solid #e6e6e6; font:bold 12px/16px Dotum,"돋움"; color:#7da5ef; letter-spacing:-0.5px; }
.mileagetable2 td { background-color:#f9f9f9; border-bottom:1px solid #e6e6e6; }
.mileagetable2 .milegedone { font:bold 11px/14px Tahoma; }
.mileagetable2 .milegemin { font:bold 11px/14px Tahoma; color:#d74848;}
.mileagetable2 .milegeplus { font:bold 11px/14px Tahoma; color:#5381d5;}
.mileagetable2 .milegedate { font:normal 11px/14px Tahoma; color:#a4a4a4; letter-spacing:-0.5px; }
.mileagetable2 .milegekind { font-weight:bold; color:#786e58; }

/* etc - footermenu*/
.noemail { position:relative; width:650px; height:120px; margin:10px auto; padding:0; background:url(../image/sub/img_noemail.gif) no-repeat 0 0; }
.noemail  p { margin-left:180px; margin-top:20px; }

/* etc - gs noticetext */
.downnotice {  position:relative;  width:100%; *width:96%; min-height:25px; padding-left:20px; padding-top:12px; font:normal 11px/14px Doutm,"돋움"; color:#c75757; background:url(../image/sub/gyosoo/icon_notice.gif) no-repeat 0 10px;}

/* make request _ list*/
.request_list{ width:100%; }
.request_list th { height:35px; background:url(../image/sub/board/boardscn_th_bg.gif) repeat-x left top; font-weight:bold; color:#657591; }
.request_list th a, .request_list th a:link { font:bold 12px/18px Dotum,"돋움"; color:#657591; }
.request_list th.bl_left{ background:url(../image/sub/board/boardscn_th_l.gif) no-repeat left top;}
.request_list th.bl_right{ background:url(../image/sub/board/boardscn_th_r.gif) no-repeat right top;}
.request_list td { padding:8px 10px; font:normal 12px/16px Dotum, "돋움"; color:#606060; border-bottom:1px solid #d1d1d1; text-align:center;}
.request_list td.bl_num { font:normal 11px/14px Tahoma; color:#909090; text-align:center; }
.request_list td.bl_sub { text-align:left; }
.request_list td.bl_jum { font-weight:bold; color:#608fe7; }
.request_list td.bl_jum2 { font-weight:bold; color:#333; }
.request_list td.bl_jum3 { font-weight:bold; color:#d74848; }

/* make request _ write_searchview*/
.request_searchview { zoom:1; width:100%; height:150px; overflow:auto; overflow-x:hidden;}
.request_search {width:96%; border-top: 2px solid #97bef6; margin:10px auto;}
.request_search th{ background-color:#f0f6ff; font:bold 11px/14px Dotum,"돋움"; color:#4e81cc; padding:5px 0; border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1; text-align:center; }
.request_search td{ text-align:center; font:normal 11px/14px Dotum,"돋움"; color:#767676; padding:5px; border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1; }
.request_search td.tdend, .request_search th.thend{ border-right:none;  }
.request_search td.strg{ font-weight:bold; }
.request_search td.sub { text-align:left; }

/* search color */
.scolor { display:inline; margin:0; padding:0; background-color:#fff000; font-weight:bold; }

/* openmarket list */
.openlisttop { clear:both; position:relative; width:100%; min-height:125px; margin-bottom:15px;}
.openlisttop h3 { font:bold 12px/18px Dotum,"돋움"; color:#767676; margin-bottom:10px; }
.openbanner { float:left; width:400px; margin-right:20px; margin-bottom:20px; }
.openbanner img { border:1px solid #b2b2b2; }
.openhotlist { float:right; width:500px; margin:0; padding:0; }
.openhotlist ul { margin:0; padding:0; }
.openhotlist ul li { margin-bottom:3px; font:bold 12px/18px Dotum,"돋움"; color:#4371c1; }
.openhotlist ul li img { margin-left:7px; vertical-align:middle; }
.openhotlist a, .openhotlist a:link { font:bold 12px/18px Dotum,"돋움"; color:#4371c1; }
.openhotlist span { display:inline-block; margin-left:7px; font:normal 11px/14px Tahoma, Dotum; color:#a4a4a4; }
.openlistbuts { clear:both; width:100%; margin-bottom:6px;}
.openlistbuts .openbutlist { float:right; }
.openlistbuts .openbutlist li { float:left; margin-left:5px; padding:0; }
.openlistbuts .openbutlist li.openbutlast { margin:0; }
.openlistinfo { font:normal 12px/18px Dotum,"돋움"; color:#707684; }
.openlistinfo span { display:inline-block; margin-bottom:5px; font:normal 11px/14px Doutm,"돋움"; color:#6c96d0; }
.openlistinfo a {font:normal 12px/18px Dotum,"돋움"; color:#707684; }
.openlistinfo span a {font:normal 11px/14px Doutm,"돋움"; color:#6c96d0; }
.openlistinfo img { margin-left:5px; vertical-align:middle; border:0;}
.file_add2 { float:right; margin-bottom:6px; }
.file_add2 li { float:left; margin-right:3px;}

/*openmarket write */
.openwicon { position:relative; width:600px; }
.openwicon li { float:left; width:250px; margin-bottom:2px; color:#767676; font-size:11px;}
.openwicon li .openinfo { color:#d74848; }
.openwicon li img { vertical-align:middle; margin-right:3px; }
.openwicon li input { margin-right:4px; vertical-align:middle; }
.openmarketclose {  position:absolute;  left:360px; top:-36px; }

/* about edus*/
.aboutedustop { position:relative; width:780px; height:380px; margin:0 auto; background:url(../image/sub/smartcn/about_textbg.jpg) no-repeat 0 0;}
.aboutedustop h3 { position:absolute; left:35px; top:26px; }
.aboutedustop ul { position:absolute; left:95px; top:117px; }
.aboutedustop ul li { margin-bottom:2px; }
.aboutedustxt1 { position:relative; width:780px; height:120px; padding-top:20px; margin:20px auto; background:url(../image/sub/smartcn/about_bgimg1.jpg) no-repeat 50px 20px; border-top:1px solid #e3e3e3;}
.aboutedustxt2 { position:relative; width:780px; height:120px; padding-top:20px; margin:20px auto; background:url(../image/sub/smartcn/about_bgimg2.jpg) no-repeat 50px 16px; border-top:1px solid #e3e3e3;}
.aboutedustxt3 { position:relative; width:780px; height:110px; padding-top:20px; margin:20px auto; background:url(../image/sub/smartcn/about_bgimg3.jpg) no-repeat 50px 20px; border-top:1px solid #e3e3e3;}
.aboutedustxt4 { position:relative; width:780px; height:110px; padding-top:20px; margin:20px auto; background:url(../image/sub/smartcn/about_bgimg4.jpg) no-repeat 50px 20px; border-top:1px solid #e3e3e3;}
.aboutedustxt5 { position:relative; width:780px; height:110px; padding:20px 0; margin:20px auto; background:url(../image/sub/smartcn/about_bgimg5.jpg) no-repeat 50px 20px; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.aboutedustxt1 .aboutedusinfo, .aboutedustxt2 .aboutedusinfo, .aboutedustxt3 .aboutedusinfo, .aboutedustxt4 .aboutedusinfo, .aboutedustxt5 .aboutedusinfo{ padding-left:220px; }

/* main_customer */
.customer { position:relative; width:615px; height:330px; margin:30px auto; padding:0; background:url(../image/main/customer_bg.png) no-repeat 0 0; }
.customer h3 { padding-left:40px; padding-top:30px; margin-bottom:15px; }
.customer .custcallnum { padding-left:40px; font:bold 14px/18px Dotum,"돋움"; color:#333; }
.customer .custcallnum span { display:inline-block; margin-left:10px; color:#3167c7; }
.customer .custcallinfo { padding-left:40px; padding-top:40px; color:#767676; }
.customer .custcallinfo .custcalltit { font:bold 14px/18px Dotum,"돋움"; }
.customer .custcallinfo .custcalltit span { display:inline-block; margin-left:10px; color:#333; }
.customer .custcallinfo p { margin-top:5px; margin-bottom:25px; font:normal 12px/18px Dotum,"돋움";}

/* popup notice 201203112 */
.popup0311 {  position:relative; width:360px; height:auto; }
.popup0311 .popbut { width:100%; text-align:center;}
.popup0311 .popinfo { color:#2d5a9b; }
.popup0311 .popinfo_mini { font-size:11px;}
.popup0311 .popinfo_black {  color:#000; }
.popup0311 img { margin:0; vertical-align:middle; }

/* big tab */
.bigtab { position:relative; clear:both; width:918px; height:40px; margin:0 auto 10px auto; padding:0; }
.bigtab li { float:left; width:306px; height:40px; background:url(../image/sub/board/bigtab_off.png) no-repeat 0 0; font:bold 14px/18px Dotum,"돋움"; color:#5978af; text-align:center; }
.bigtab li span { display:inline-block; margin-top:13px; }
.bigtab li a, .bigtab li a:link { display:inline-block; margin-top:13px; font:bold 14px/18px Dotum,"돋움"; color:#5978af; }
.bigtab li.bigtabover { background:url(../image/sub/board/bigtab_on.png) no-repeat 0 0; color:#fff; }
.bigtab li.bigtabover a, .bigtab li.bigtabover a:link { color:#fff; }
.bigtab li img { vertical-align:middle; margin-left:5px; }

/* edus market 20120404 */

.h3type {margin-bottom:10px; } /* h Tag Type common style */
.edusquick {overflow:hidden;width:100%; margin-bottom:20px; text-align:center;}
.edusquick ul{padding:0 9px}
/*.edusquick ul li {display:inline; margin-right:12px; }*/
.edusquick ul li {float:left; margin:0 5px;}  /* 20120412 수정 */
.edusquick ul li a{display:block;}

.categoryrank ul.categorylist {overflow:hidden; clear:both; width:100%; padding-bottom:10px; }
.categoryrank ul.categorylist li {float:left; position:relative; width:221px; margin:0 9px 10px 0; text-align:left; }
.categoryrank ul.categorylist li h4 {width:216px; height:21px; padding:5px 0 0 5px; color:#ffffff; background:url("../image/sub/gyosoo/bg_ranking_tit.gif") no-repeat left top;}
.categoryrank ul.categorylist li ul {width:202px; height:152px; padding:12px 5px 0 12px; border:1px solid #d9d9d9; border-bottom-color:#afafaf; border-width:0 1px 1px;}
.categoryrank ul.categorylist li ul li {display:block; overflow:hidden; clear:both; float:none; width:auto; margin:0px; margin-bottom:18px; }
.categoryrank ul.categorylist li ul li img {float:left; }
.categoryrank ul.categorylist li ul li p {width:115px; padding-left:7px;float:left; }
.categoryrank ul.categorylist li ul li p a {display:block; margin-bottom:3px; font-size:11px;}
.categoryrank ul.categorylist li ul li p a span{display:block;font-size:11px;} /* 20120410 추가 */
.categoryrank ul.categorylist li ul li p img {float:none; }
.categoryrank ul.categorylist li .more {position:absolute; top:6px; right:6px;}

.downloadtop{overflow:hidden; clear:both; width:920px; height:250px; margin-bottom:20px; }/* 20120410 수정 */
.downloadtop .down_tab1{width:920px; position:relative;}
.downloadtop .down_tab1 ul {display:inline; list-style-type:none;}
.downloadtop .down_tab1 ul li {float:left; display:inline-block;}
.downloadtop .down_tab1 ul li div {position:absolute; top:29px; left:0; width:868px; height:145px; padding:25px; border:1px solid #cdcdcd; border-width:0px 1px 1px; border-bottom-color:#afafaf; background:#f7f7f7; }/* 20120410 수정 */
.downloadtop .down_tab1 ul li div ul {float:left; width:580px; }
.downloadtop .down_tab1 ul li div ul li {display:inline-block; width:100px; margin-right:15px;  }
.downloadtop .down_tab1 ul li div ul li a:hover {color:#333;}
.downloadtop .down_tab1 ul li div ul li em {display:block; margin-top:5px; }
.downloadtop .down_tab1 ul li div ul li span{display:block;font-size:11px;} /* 20120410 추가 */
.downloadtop .down_tab1 ul li div ul.downtabcon {float:right; width:285px; margin-top:-5px; }
.downloadtop .down_tab1 ul li div ul.downtabcon li {display:block; width:285px; height:15px; margin:0 0 5px 0; padding-left:8px; background:url("../image/sub/gyosoo/bg_dot.gif") no-repeat left 7px;}
.downloadtop .down_tab1 ul li div ul.downtabcon li a:hover {color:#333;}

.rollbannerwrap {position:relative;overflow:hidden; width:920px; height:110px; padding:20px 0; background:url("../image/sub/gyosoo/bg_banner.gif") no-repeat left top;}
.rollBanner ul {overflow:hidden;width:900px;padding-left:40px;}
.rollBanner ul li {overflow:hidden;float:left; width:900px;}
.rollBanner ul li a {float:left; height:150px; margin-right:26px; }
.rollBanner ul li a:hover {color:#333;}
.rollBanner ul li a span {display:block; width:100px; margin-top:5px; text-align:center;}

.bannerBtn .bannerPre {position:absolute; left:6px; top:40px;}
.bannerBtn .bannerNext {position:absolute; right:6px; top:40px;}
/* pur shin */


/* 20120406 추가 */
.tit_minishop{position:relative;font-size:12px;height:60px;background:url('../image/sub/gyosoo/top_img.png') 0 bottom no-repeat;z-index:10;}
.minishop{position:relative;overflow:hidden;width:auto;padding: 23px 17px 10px;height:115px;margin-bottom:15px;margin-top:-20px;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;border:1px solid #e6e6e6;}
.minishop .shop_ph{float:left;width:116px;height:85px;margin-top:13px;}
.minishop .shop_info{float:left;width:550px;height:115px;padding:0 20px 0 17px;color:#979797;font-size:11px;}
.minishop .shop_info strong {display:block;color:#606060;margin:0 0 5px;}

.minishop .shop_info ul{width:540px;}
.minishop .shop_info ul li{float:left;width:260px;background:url('../image/sub/gyosoo/mini_bul.gif') 0 5px no-repeat;padding-left:9px;}
.minishop .shop_info ul li.wid100{width:100%;}
.minishop .shop_info ul li a{color:#979797;font-size:11px;}
.minishop .shop_info ul li span{color:#000000;}

.minishop .shop_btn{float:right;width:130px;}
.minishop .shop_btn p{margin-top:6px;}
.minishop .sns_box02{text-align:right;height:22px;margin-top:9px;;}
.minishop .sns_box02 li{display:inline;}
.minishop .shop_btn .shop_ad_btn{text-align:right;margin-top:15px;} /* 20120416 추가 */

/* 20120406 미니샵리스트  */
.tit_shop_list{font-size:12px;margin-bottom:10px;}
.total{overflow:hidden;width:100%;margin-bottom:10px;}
.total .boardtopinfo2{margin:20px 0 0;}
.list_style02{float:right;width:200px;text-align:right;margin-top:10px;}
.list_style02 li{display:inline;}
.minishop_list .shop_list{position:relative;padding:15px;height:85px;margin-bottom:20px;border:1px solid #e6e6e6;background:#f5f5f5;}
.minishop_list .shop_ph{float:left;width:165px;height:85px;border:1px solid #E6E6E6}
.minishop_list  .shop_detail {float:left;width:550px;padding:0 20px 0 17px;color:#979797;font-size:11px;}
.minishop_list  .shop_detail strong{display:block;color:#606060;margin:0 0 5px;}
.minishop_list  .shop_detail ul{float:left;width:330px;color:#979797;font-size:11px;}
.minishop_list  .shop_detail li{background:url('../images/mini_bul.gif') 0 5px no-repeat;padding-left:9px;}
.minishop_list  .shop_detail li a{color:#979797;font-size:11px;}
.minishop_list  .shop_detail li span{color:#000000;}

.shop_intro{float:left;width:220px;color:#979797;font-size:11px;}
.shop_intro span{background:url('../images/mini_bul.gif') 0 5px no-repeat;padding-left:9px;color:#000;}

.sns_box02{position:absolute;right:15px;bottom:15px;}
.sns_box02 li{display:inline;}

/* 내자료함 리스트 검색폼 20120413 */
.search_box02{text-align:right;margin-bottom:10px;}
.search_box02 label{padding-left:20px;margin-right:10px;background:url('../image/sub/img/search_icon.gif') 0 center no-repeat;font-size:14px;color:#7194d6;font-weight:bold;}
.search_box02 input{vertical-align:middle;}
.search_box02 .inp{width:237px;height:23px;padding-left:3px;line-height:23px;border:1px solid #cacaca;}

.info_list_box .section01 {float:left; width:370px;}
.info_list_box .section02 {float:right;}

.info_list_box .atc_header { position:relative;  width:100%; height:31px; }
.info_list_box .atc_left {display:block; float:left; width:8px; height:31px;}
.info_list_box .atc_right {display:block; float:right; width:9px; height:31px;}
.info_list_box .atc_title {display:block;float:left;height:31px;margin-left:3px;font-size:12px; color:white;line-height:31px;vertical-align:middle;}
.info_list_box .atc_title input{vertical-align:middle;margin-right:7px;}

.info_list_box .article1 {position:relative;width:370px;margin-bottom:20px; background:url("../image/sub/img/my_bot01.png") center bottom no-repeat; padding-bottom:10px;}
.info_list_box .article1 .atc_header {background:url("../image/sub/img/my_center01.png") repeat-x;}
.info_list_box .article1 .atc_right {background:url("../image/sub/img/my_right.png") #F6F6F6 no-repeat;}
.info_list_box .article1 .atc_left { background:url("../image/sub/img/my_left.png") #F6F6F6 no-repeat;}
.info_list_box .article2 .atc_left { background:url("../image/sub/img/o_left.png") #F6F6F6 no-repeat;}
.info_list_box .article2 .atc_header {background:url("../image/sub/img/o_center01.png") repeat-x;}
.info_list_box .article2 .atc_right {background:url("../image/sub/img/o_right.png") #F6F6F6 no-repeat;}
.info_list_box .atc_more {position:absolute; right:10px; top:7px;}

/* 내상품 */
/*.info_list_box .list1 {border-left:1px solid #ADB9CE;border-right:1px solid #ADB9CE; width:368px; background:white;}*/
.info_list_box .list1 {overflow-y:scroll;border-left:1px solid #ADB9CE;border-right:1px solid #ADB9CE; width:367px;height:395px; background:white;} /* 20120418수정 */
.info_list_box .list1 li {overflow:hidden;line-height:30px; height:30px;border-bottom:1px solid #efefef; overflow:hidden;}
.info_list_box .list1 .list1_l{float:left;width:295px;height:30px;cursor:pointer;}
.info_list_box .list1 .list1_r{float:right;display:block;height:25px;margin:3px 5px 0 0;}
.info_list_box .list1 .list1_r a {display:inline-block;vertical-align:,middle;line-height:30px;}
.info_list_box .list1 li a:hover{text-decoration:none;}
.info_list_box .list1 li a span{float:left;padding-left:35px;font-weight:bold;}
.info_list_box .list1 li a strong{float:left;color:#595c66;} 
.info_list_box .list1 li a strong em{font-weight:normal;}
.info_list_box .article1 li .ico01 {background:url("../image/sub/img/icon01.gif") 10px center no-repeat;}
.info_list_box .article1 li .ico02 {background:url("../image/sub/img/icon02.gif") 10px center no-repeat;}
.info_list_box .article1 li .ico03 {background:url("../image/sub/img/icon03.gif") 10px center no-repeat;}

/* 수업자료  */
/*.info_list_box .list2 {border-left:1px solid #ADB9CE;border-right:1px solid #ADB9CE; width:368px; background:white;}
.info_list_box .list2 li {position:relative;display:block; width:100%;height:56px;border-bottom:1px solid #efefef;padding:10px 0;}
*/ 

/*  20120418 수정*/
.info_list_box .list2 {overflow-y:scroll;width:530px; height:395px;background:white;} 
.info_list_box .list2 li {display:block;height:56px;border-bottom:1px solid #efefef;padding:10px 0;}
.info_list_box .list2 li a {display:block;font-weight:bold;margin-bottom:3px}
.info_list_box .list2 li span{display:inline-block;padding-top:5px;margin-right:5px;font-size:11px;}
.info_list_box .list2 li span em{font-weight:bold;color:#829ce7;}
/*.info_list_box .list2 li img {display:block; margin:0 15px 0 30px;}*/
.info_list_box .list2 .atc_thum {float:left; width:90px; height:55px;margin:0 15px 0 30px;}
.info_list_box .list2 .btn_ch{position:absolute;right:0;top:11px;margin-right:0;}
.info_list_box .list2  input{position:absolute;top:11px;left:10px;}
.info_list_box .list2 label{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}

/* 꾸러미자료  */
.info_list_box .article2 { width:533px;background:url("../image/sub/img/o_bot01.gif") 0 bottom no-repeat; padding-bottom:9px;}
.info_list_box .article2 .cntnts{overflow:hidden;width:530px;height:395px;background:#fff;border-left:1px solid #feab1d;border-right:1px solid #feab1d;} 

/* 20120418 삭제 
.info_list_box .article2 .thum{float:left;width:102px;margin-right:10px;}
.info_list_box .article2 .thum span{display:block;margin-bottom:10px;}
.info_list_box .article2 .thum .thum_btn{display:block;background:url("../image/sub/img/st_btn.gif") 0 0 no-repeat;width:102px;height:21px;margin-bottom:3px;line-height:21px;vertical-align:middle;text-align:center;}
.info_list_box .article2 .thum .thum_btn em{font-weight:bold;color:#839de8;}
.info_list_box .article2 .thum_info{float:left;width:380px;margin-bottom:15px;}
.info_list_box .article2 .thum_info h3{color:#475271;font-size:12px;margin:2px 0;}
.info_list_box .article2 .thum_info dl{margin-top:13px;font-size:11px;color:#767676;}
.info_list_box .article2 .thum_info dl dt{float:left;width:62px;background:url("../image/sub/img/bg_bar.png") right center no-repeat;color:#a9a9a9;}
.info_list_box .article2 .thum_info dl dd{float:left;width:258px;padding-left:5px;}
.info_list_box .article2 .cntnts .detail{clear:both;border-top:1px solid #e6e6e6;padding:10px 0;}
*/

/* 꾸러미함 만들기팝업 20120415  */
.cuuromi{overflow:hidden;width:375px;margin:0 auto;}
.cuuromi dt{float:left;width:90px;font-weight:bold;padding:5px 0;text-align:left;}
.cuuromi dt label{display:inline-block;width:70px;}
.cuuromi dd{float:left;width:278px;text-align:left;}
.cuuromi dd input{vertical-align:middle;border:none;}
.cuuromi dd label{vertical-align:middle;margin: 0 2px;}
.cuuromi dd input.crm_inp{float:left;border:1px solid #CACACA;line-height:14px;vertical-align:middle;}
.cuuromi dd input.crm_inp_name{width:270px;border:1px solid #CACACA;line-height:14px;vertical-align:middle;}
.cuuromi dd textarea{border:1px solid #CACACA;width:276px;height:60px;}


/* 자료상세보기 20120416   //20120418 삭제 
.my_product{width:100%;border-collapse:collapse;}
.my_product thead{border-bottom:2px solid #5978af;}
.my_product thead th{padding-left:10px; width:115px; height:30px;color:#4e81cc; background:url(../image/sub/board/board_th_view_l4.gif) no-repeat right top;text-align:left;border-bottom:2px solid #5978af;}
.my_product thead td{ height:30px;font-weight:bold;border-bottom:2px solid #5978af; }
.my_product tbody th{width:115px;padding:7px 0 7px 10px;font-weight:bold; color:#4e81cc; background:url(../image/sub/board/board_th_view_l4.gif) no-repeat right top;vertical-align:top;text-align:left;border-bottom:1px solid #d1d1d1;}
.my_product tbody th.my_pname{width:50%;padding:7px 3px;}
.my_product tbody th.my_pdate{width:10%;padding:7px 3px;}
.my_product tbody th.my_pdate02{width:10%;padding:7px 3px;}
.my_product tbody th.my_pnum{width:20%;padding:7px 3px;}
.my_product tbody td{ padding:7px 0;border-bottom:1px solid #d1d1d1;}
.my_product tbody td .downnotice{width:auto;}
*/

/*  20120601 추가 */
.btn_guide{display:block;margin:-30px 0 0 20px;width:159px;height:22px;}