@charset "utf-8";
/*--------------------------------------------------

title: layout.css

version: 0.1
2012.01.11
onmakers

---------------------------------------------------*/

/* 전체 적용 배경
---------------------------------------------------*/
body{ background:url(../image/main/top_bg.jpg) repeat-x left top;}


/* 레이아웃
---------------------------------------------------*/
#wrapper{ position:absolute; width:100%; background:url(../image/sub/bg.jpg) no-repeat center 34px;}

#headerfir { width:100%; background:url(../image/main/topmenu_bg.gif) repeat-x 0 0; }
#header{margin:0 auto 30px auto; width:980px; height:121px;}

#container{margin:0 auto 60px auto; width:940px; height:auto; overflow:hidden;}


#main_content1{float:left; padding:0 0 85px 0; width:980px;}
#main_content2{float:left; padding:0 0 40px 0; width:980px;}
#main_content3{float:left; padding:0 0 90px 0; width:980px;}
#main_content4{float:left; padding:0 0 70px 0; width:980px;}
#main_content5{float:left; padding:0 0 70px 0; width:980px;}
#main_content6{float:left; padding:0 0 70px 0; width:980px;}
#main_content7{float:left; padding:0 0 70px 0; width:980px;}


#main_copyright{ clear:both; margin:0 auto 100px auto; width:980px; height:67px; overflow:hidden;}
#copyright{ clear:both; margin:0 auto; width:980px; height:147px; padding-bottom:3%; overflow:hidden;}

/*
#main_menu{clear:both; width:100%; height:95px; background:url(../image/main/menu_bg.jpg) repeat-x left top;}*/
#main_menu{ position:fixed; _position:absolute; z-index:100; bottom:0;_bottom:-1px;  clear:both; width:100%; height:95px; background:url(../image/main/menu_bg.jpg) repeat-x left top;}

 /*
  #sub_bottom_menu{clear:both; position:absolute; width:100%; height:137px;}
 */
#sub_bottom_menu { width:100%; position:fixed; _position:absolute; z-index:100; bottom:0;_bottom:-1px; overflow:hidden; }


/* 교수학습지원 센터 레이아웃
---------------------------------------------------*/
body .gyosoo{ background-image:none;}
/*#wrapper2{ position:absolute; width:1024px; z-index:1111; left:50%; height:700px;  margin-left:-512px; background:url(../image/main/all_bg.jpg) no-repeat center 65px;}*/
#wrapper2{ position:relative; padding:0; margin:0 auto; width:984px; height:auto;  z-index:1111;  overflow:auto;}

#header2{width:1024px; height:68px; background-color:#0F0; background:url(../image/sub/gyosoo/top_bg.gif) repeat-x left top;}
#header.gyosoo_ser{ margin:0 auto 0px auto;}

#container2{margin:0 auto; width:862px; overflow:hidden; padding-bottom:}
#main_content_gyosoo{float:left; padding:0; width:980px; height:auto; }
#container_gyosoo{margin:0 auto; width:920px; height:auto; }
#copyright.gyosoo_copy{ margin:0; padding-top:12px;height:60px;clear:both }
#sub_bottom_menu.gyosoo_sbm{ height:95px;}
