@CHARSET "UTF-8";
/* 첨부파일 */
.bbtn_bg2{background:#f3f3f3;border:1px solid #cbcbcb;margin-right:2px;}
.bbtn_bg2 a, .bbtn_bg2 input, .bbtn_bg2 button{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px;color:#676767;}

/* 첨부파일 */
.file_box2 {background:#fff;}
.file_box2 .file_top2 {overflow:hidden;width:100%;padding:10px 0;position:relative;}
.file_box2 .file_top2 .file_btn{float:left;}
.file_box2 .file_top2 .file_info2{float:right; line-height:21px; margin-top:10px;}
.file_box2 .file_top2 .file_info2 .blue{color:#62ad16}
.file_box2 table.file_list_chart2{border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px;}
.file_box2 table.file_list_chart2 thead th{border:1px solid #D1D1D1;background:#F6F6F6;padding:5px 0;}
.file_box2 table.file_list_chart2 tbody td{border:none;text-align:left;padding:5px;}
.file_box2 table.file_list_chart2 tbody td img{vertical-align:middle;}
.file_box2 table.file_list_chart2 tbody td.size{text-align:right;width:100px;padding-right:20px;}
.file_box2 table.file_list_chart2 tbody td.del{text-align:center;width:50px;}
.file_box2 .progressBox2 {width:650px; float:right;}
.file_box2 .radius2 {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box2 .progress2{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box2 .bar2{color: #ffffff; font-size: 9pt;}
.file_box2 .bbtn_bg2 {cursor: pointer !important;}
.file_box2 .c_click2 {cursor: pointer !important;}
.file_box2 input[type="file"] { position: absolute; left: 0; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 99; display: block !important; width: 120px !important; height: 40px !important; cursor:pointer;}
#uploadfile2{display:block;width:120px;height:40px;border:1px solid red;}
.file_box2 .cbtn2, .file_box2 .cbtn{float:left;width:120px;margin:0 0.1%;}
.file_box2 .cbtn{position:absolute;top:10px;right:0;}