@charset "utf-8";
html{font-size:1em;background:#f5f5f5;height:100%;}
body{font-size:0.75em; color:#898989;font-family:"나눔고딕","NanumGothic","맑은 고딕","Malgun Gothic","돋움","Dotum";-webkit-text-size-adjust:none;}
label{cursor:pointer}
a{color:#898989;}
a:link, a:visited{text-decoration:none}
a:hover, a:focus, a:active {text-decoration:none}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub {font-size:1em}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img, abbr, acronym{border:0}
address, caption, cite, code, dfn, em, th, var{font-weight: normal;font-style: normal;}
ol, ul{list-style:none}
img, input, button, select, textarea {vertical-align:middle}
legend, hr, caption {visibility:hidden;font-size:0;width:0;height:0;line-height:0 }
a.skip {position:absolute;display:block;width:100%;left:0;text-align:center;top:-10000px;z-index:500;font-size:1.3em }
a.skip:hover, a.skip:focus, a.skip:active {position:absolute;top:0;padding:15px 0;font-weight:bold;color:#fff;background:#1d60a7;z-index:500 }

.mB40{margin-bottom:40px;}


#header .header{min-height:45px;background:#fff;border-bottom:2px solid #76b834;text-align:center;}
#header .header h1{padding:10px 0;text-align:center;}
#header .header h1 img{width:162px}
#header .header  .back, #header .header  .home{position:absolute;z-index:10;top:10px;}
#header .header  .back img, #header .header  .home img{width:32px}
#header .header  .back{left:10px;}
#header .header  .home{right:10px;}

#lnb{background:url('/template/mobile/images/mobile/bg_pattern.png') 0 bottom repeat;}
#lnb strong{display:block;width:100%;height:40px;line-height:40px;text-align:center;color:#fff;font-size:1.5em;}
#lnb ul{overflow:hidden;width:100%;}
#lnb li{float:left;width:33.3%;}
#lnb li.active{background-size:12px 6px;color:#b8f57b;}
#lnb li a{display:block;width:100%;height:40px;line-height:40px;text-align:center;color:#fff;background:url('/template/mobile/images/mobile/bg_pattern.png') 0 bottom repeat;font-size:1.5em;font-weight:bold;}
#lnb li.active a{color:#b8f57b;}

#lnb2{background:url('/template/mobile/images/mobile/bg_pattern.png') 0 bottom repeat;}
#lnb2 strong{display:block;width:100%;height:40px;line-height:40px;text-align:center;color:#fff;font-size:1.5em;}
#lnb2 ul{overflow:hidden;width:100%;}
#lnb2 li{float:left;width:33.3%;}
#lnb2 li.active{background-size:12px 6px;color:#b8f57b;}
#lnb2 li a{display:block;width:100%;height:40px;line-height:40px;text-align:center;color:#fff;background:url('/template/mobile/images/mobile/bg_pattern.png') 0 bottom repeat;font-size:1.5em;font-weight:bold;}
#lnb2 li.active a{color:#b8f57b;}

#footer p{width:100%;height:15px;padding:15px 0;background:#595959;color:#c1c1c1;text-align:center;}
#footer .skip_link{overflow:hidden;width:100%;background:#
f5f5f5;border-top:1px solid #ababab;}
#footer .skip_link a{display:block;float:left;height:40px;line-height:40px;text-align:center;width:50%;;font-size:1.2em;}
#footer .skip_link .btn_top{border-left:1px solid #ababab;width:49%;}

#content{padding:5% 5% 20%;min-height:400px;background:url('/template/mobile/images/mobile/bg_body_x.png') 0 bottom repeat-x;background-size:320px 61px;}

.login{background:#fff;border:1px solid #ababab;border-radius:5px;width:100%;margin:5% 0 0;color:#928e8e;}
.login h2{padding:15px 0;font-size:1.8em;color:#76b834;text-align:center;border-bottom:1px solid #ababab;}
.login .login_input{padding:5% 5%;}
.login li input{display:block;width:96%;height:40px;border:1px solid #ababab;border-radius:3px;margin-bottom:10px;padding-left:3%;font-weight:bold;color:#928e8e}
.login .chk{text-align:center;margin:20px 0 30px;font-size:1.5em;}
.login .chk input{display:inline-block;vertical-align:middle;margin:0 5px;width:20px;height:20px;}
.login .chk label{vertical-align:middle;margin:0 5px;font-weight:600}

.section{background:#fff;border:1px solid #ababab;border-radius:5px;padding:3% 2% 3% 4%;;margin-bottom:25px;}
.section select{float:left;width:48%;margin-right:2%;height:40px;margin-bottom:10px;padding-left:2%;border:solid 1px #cccccc;border-radius:7px;background:url('/template/mobile/images/mobile/select_arrow.png') no-repeat right 15px;background-size:20px 6px;-webkit-background-size:20px 6px;-webkit-appearance:none;-moz-appearance:none;font-size:15px;font-family:tahoma, Sans-serif;line-height:18px;color:#555555;text-indent:10px;text-overflow:'';cursor:pointer}
.section select.wide{width:98%;}
.section .cbtn1{width:98%;}

.cbtn, .cbtn1{border-radius:2px;text-align:center;color:#fff;font-weight:bold;height:40px;line-height:40px;width:100%;cursor:pointer;}
.cbtn button, .cbtn1 button,  .cbtn input, .cbtn1 input, .cbtn a, .cbtn1 a{display:block;background:none;width:100%;height:40px;line-height:40px;vertical-align:top;border:none;font-size:1.5em;font-family:"나눔고딕","NanumGothic","맑은 고딕","Malgun Gothic","돋움","Dotum";color:#fff;font-weight:bold;padding:0;margin:0;cursor:pointer;}
.cbtn1{display:inline-block;background:#a5a5a5;border:1px solid #7c7c7c;}
.cbtn{display:inline-block;background:#76b834;border:1px solid #39670c; }

.icon_login, .icon_view, .icon_logout, .icon_top{display:inline-block;background-image:url('/template/mobile/images/mobile/img_icon.png');background-repeat:none;background-size:100px 100px;vertical-align:middle;margin-right:3px;font-size:1.5em;}
.icon_login{width:13px;height:17px;background-position:0 -25px;}
.icon_view{width:13px;height:17px;background-position:-13px -25px;}
.icon_logout{width:13px;height:16px;background-position:0 0px;margin-left:5px;}
.icon_top{width:13px;height:17px;background-position:-13px 0px;margin-left:5px;}

.radius{margin-bottom:30px;border-radius:5px;border:1px solid #f5f5f5;padding:1px}
table.chart1{width:100%;font-size:1.2em;border-radius:10px;border:1px solid #e5e5e5;}
table.chart1 thead th{background:#7abb43;padding:10px 0;color:#fff;font-weight:bold;border:1px solid #e5e5e5;}
table.chart1 tbody{border-radius:5px;}
table.chart1 tbody th{background:#efefef;border:1px solid #e5e5e5;}
table.chart1 td{padding:10px;text-align:left;border:1px solid #e5e5e5;background:#fff;}
table.chart1 td.alC{text-align:center;}
table.chart1 td span.o{font-weight:bold;color:#7abb43;font-size:1.5em;}
table.chart1 td span.x{font-weight:bold;font-size:1.5em;}
table.chart1 td.bg{background:#efefef;}
table.chart1 th.tit{padding:10px;text-align:left;font-weight:bold;}

table.chart2{border-collapse:collapse;width:100%;font-size:1.2em;border-radius:10px;border:1px solid #e5e5e5;;}
table.chart2 th{background:#7abb43;padding:10px 0;color:#fff;font-weight:bold;border:1px solid #e5e5e5;}
table.chart2 td{padding:10px;text-align:left;border:1px solid #e5e5e5;background:#fff;}

.inp{width:97%;height:22px;border:1px solid #ababab;border:1px solid #ababab;border-radius:3px;background:#fff;padding-left:5px}
.inp_area{width:97%;min-height:44px;border:1px solid #ababab;border:1px solid #ababab;border-radius:3px;background:#fff;padding-left:5px}
.cal_box .inp{width:60%;margin-bottom:2px;}
.list1_1{width:auto;}
.list1_2{width:25%}
.list1_3{width:25%}

.radius_box{background:#fff;border:1px solid #ababab;border-radius:5px;width:100%;color:#928e8e;margin-bottom:30px;}
.radius_box h2{padding:10px 5%;font-size:1.8em;border-bottom:1px solid #e5e5e5;color:#5b5b5b;}.radius_box .cont_list{background:#fff;padding:5%;margin-bottom:2px;}
.radius_box .cont_list ul{margin-bottom:10px;border-top:2px solid #fff;overflow:hidden;}
.radius_box .cont_list li{position:relative;min-height:20px;padding:10px 0;font-size:1.4em;border-top:1px solid #e5e5e5;margin-top:-1px;}
.radius_box .cont_list li a{overflow:hidden;display:block;padding-right:20px;}
.radius_box .cont_list li a .img{float:left;width:71px;height:61px;}
.radius_box .cont_list li a .img img{width:100%;height:100%;}
.radius_box .cont_list li a strong{float:left;display:block;font-weight:normal;margin-left:20px;width:55%;word-break:break-all;}
.radius_box .cont_list li button{display:block;position:absolute;top:30%;right:0;width:20px;height:20px;padding:0;line-height:20px;border:1px solid #a5a5a5;background:#fff;color:#a5a5a5;font-weight:bold;text-align:center;font-family:"나눔고딕","NanumGothic","맑은 고딕","Malgun Gothic","돋움","Dotum";cursor:pointer;font-size:0.7em;}

.btn_box{overflow:hidden;width:100%;}
.btn_box .cbtn1{float:left;width:49%;}
.btn_box .cbtn{float:right;width:49%;}

/* 첨부파일 */
.file_box {background:#fff;}
.file_box  .file_top {overflow:hidden;width:100%;padding:10px 0;position:relative;}
.file_box .file_top .file_btn{float:left;}
.file_box .file_top .file_info{float:right; line-height:21px; margin-top:10px;}
.file_box .file_top .file_info .blue{color:#62ad16}
.file_box table.file_list_chart{border-collapse:collapse;width:100%;line-height:18px;}
.file_box table.file_list_chart thead th{border:1px solid #D1D1D1;background:#F6F6F6;padding:5px 0;}
.file_box table.file_list_chart tbody td{border:none;text-align:left;padding:5px;}
.file_box table.file_list_chart tbody td img{vertical-align:middle;}
.file_box table.file_list_chart tbody td.size{text-align:right;width:100px;padding-right:20px;}
.file_box table.file_list_chart tbody td.del{text-align:center;width:50px;}
.file_box .progressBox {width:650px; float:right;}
.file_box .radius {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box .progress{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box .bar{color: #ffffff; font-size: 9pt;}
.file_box .bbtn_bg1 {cursor: pointer !important;}
.file_box .c_click {cursor: pointer !important;}
.file_box  input[type="file"] { position: absolute; left: 0; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 99; display: block !important; width: 100% !important; height: 40px !important; cursor:pointer;}
#uploadfile{display:block;width:48%;height:40px;border:1px solid red;}
#uploadfile2{display:block;width:48%;height:40px;border:1px solid red;}
.file_box .cbtn1, .file_box .cbtn{float:left;width:99%;margin:0 0.1%;}
.file_box .cbtn{position:absolute;top:10px;right:0;}

/* 첨부파일 */
.file_box2 {background:#fff;}
.file_box2 .file_top2 {overflow:hidden;width:100%;padding:10px 0;position:relative;}
.file_box2 .file_top2 .file_btn{float:left;}
.file_box2 .file_top2 .file_info2{float:right; line-height:21px; margin-top:10px;}
.file_box2 .file_top2 .file_info2 .blue{color:#62ad16}
.file_box2 table.file_list_chart2{border-collapse:collapse;width:100%; line-height:18px;}
.file_box2 table.file_list_chart2 thead th{border:1px solid #D1D1D1;background:#F6F6F6;padding:5px 0;}
.file_box2 table.file_list_chart2 tbody td{border:none;text-align:left;padding:5px;}
.file_box2 table.file_list_chart2 tbody td img{vertical-align:middle;}
.file_box2 table.file_list_chart2 tbody td.size{text-align:right;width:100px;padding-right:20px;}
.file_box2 table.file_list_chart2 tbody td.del{text-align:center;width:50px;}
.file_box2 .progressBox2 {width:650px; float:right;}
.file_box2 .radius2 {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box2 .progress2{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box2 .bar2{color: #ffffff; font-size: 9pt;}
.file_box2 .bbtn_bg2 {cursor: pointer !important;}
.file_box2 .c_click2 {cursor: pointer !important;}
.file_box2 input[type="file"] { position: absolute; left: 0; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 99; display: block !important; width: 100% !important; height: 40px !important; cursor:pointer;}
.file_box2 .cbtn1, .file_box2 .cbtn{width:99%;}
.file_box2 .cbtn{position:absolute;top:10px;right:0;}
