@charset "utf-8";
/***************************************************
 *
 * 수정 작업 시작 1024px에 맞춰서 -[청암] 대전 
 *
***************************************************/

/* Common */
* {margin:0; padding:0;}
body {font-size:12px; color:#444; font-family:Dotum, Verdana, Geneva, sans-serif; vertical-align:middle; background:none #fff; line-height:18px; background:url(../img/sub/main_type1_bg.gif) 0 0 repeat-x;}
img, fieldset, button {border:none;}
caption, hr {display:none;}
a {text-decoration:none; color:#444;}
a:hover {text-decoration:none; color:#3f7de5;}
table {border-collapse:collapse; table-layout:fixed;}
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
li {list-style:none;}
input {font-size:1em; font-family:Dotum, Verdana, Geneva, sans-serif; padding:1px;}
textarea  {font-size:1em; font-family:Dotum, Verdana, Geneva, sans-serif; padding:10px;}
select {color:#333; font-size:1em; font-family:Dotum, Verdana, Geneva, sans-serif;}
label {color:#333; font-size:1em; font-family:Dotum, Verdana, Geneva, sans-serif;}
/*h1,h2,h3,h4 {display:none;}*/
.alignC {text-align:center !important;}
.alignL {text-align:left !important;}
.alignR {text-align:right !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt100 {margin-top:100px !important;}


#wrap {position:relative; overflow:hidden; height:100%; width:100%; min-width:1024px; margin:0 auto; background:url(../img/sub/main_type1.gif) center 0 no-repeat;}
/* all_bg */
.bg_style01{width:100%;background:url('../img/layout/bg_style01.gif') 0 0 repeat-x;} /* 일반 */
.bg_style02{width:100%;background:url('../img/layout/bg_style02.gif') 0 0 repeat-x;} /* 학생 */
.bg_style03{width:100%;background:url('../img/layout/bg_style03.gif') 0 0 repeat-x;} /* 학부모 */
.bg_style04{width:100%;background:url('../img/layout/bg_style04.gif') 0 0 repeat-x;} /* 산업체 */
.bg_style05{width:100%;background:url('../img/layout/bg_style05.gif') 0 0 repeat-x;} /* 졸업생 */
.bg_style10{width:100%;background:url('../img/layout/bg_style10.gif') 0 0 repeat-x;} /* 슈퍼관리자 */
.bg_style11{width:100%;background:url('../img/layout/bg_style11.gif') 0 0 repeat-x;} /* 시스템관리자 */
.bg_style12{width:100%;background:url('../img/layout/bg_style12.gif') 0 0 repeat-x;} /* 교장교감 */
.bg_style13{width:100%;background:url('../img/layout/bg_style13.gif') 0 0 repeat-x;} /* 부서장 */
.bg_style14{width:100%;background:url('../img/layout/bg_style14.gif') 0 0 repeat-x;} /* 기획자 */
.bg_style15{width:100%;background:url('../img/layout/bg_style15.gif') 0 0 repeat-x;}  /* 담임교사 */
.bg_style16{width:100%;background:url('../img/layout/bg_style16.gif') 0 0 repeat-x;} /* 일반교사 */
.bg_style17{width:100%;background:url('../img/layout/bg_style17.gif') 0 0 repeat-x;} /* 강사 */
.bg_style100{width:100%;background:url('../img/layout/bg_style100.gif') 0 0 repeat-x;} /* 교사관리자 */

/* header_bg */
.header01{background:url('../img/layout/bg_header01.gif') 0 0px no-repeat;}
.header02{background:url('../img/layout/bg_header02.gif') 0 0px no-repeat;}
.header03{background:url('../img/layout/bg_header03.gif') 0 0px no-repeat;}
.header04{background:url('../img/layout/bg_header04.gif') 0 0px no-repeat;}
.header05{background:url('../img/layout/bg_header05.gif') 0 0px no-repeat;}
.header10{background:url('../img/layout/bg_header10.gif') 0 0px no-repeat;}
.header11{background:url('../img/layout/bg_header11.gif') 0 0px no-repeat;}
.header12{background:url('../img/layout/bg_header12.gif') 0 0px no-repeat;}
.header13{background:url('../img/layout/bg_header13.gif') 0 0px no-repeat;}
.header14{background:url('../img/layout/bg_header14.gif') 0 0px no-repeat;}
.header15{background:url('../img/layout/bg_header15.gif') 0 0px no-repeat;}
.header16{background:url('../img/layout/bg_header16.gif') 0 0px no-repeat;}
.header17{background:url('../img/layout/bg_header17.gif') 0 0px no-repeat;}
.header100{background:url('../img/layout/bg_header100.gif') 0 30px no-repeat;}

#header {position:relative; width:1024px;height:150px;margin:0 auto;font-family:나눔고딕, NanumGothic, 맑은고딕, Malgun Gothic, 돋움, Dotum;}

h1 {position:absolute;top:0px;left:0;display:block; overflow:hidden; width:420px; padding-top:17px; font-size:14px;}
h1 a {overflow:hidden; float:left; }
h1 a.smart_school {display:block; overflow:hidden; width:200px; height:0; padding-top:51px; background:url('../img/layout/smart_school_logo.png') 0 0 no-repeat;}
h1 span {overflow:hidden; display:inline-block; width:260px;}
h1 span a {overflow:hidden; margin-top:5px;}
h1 a.meister{display:block; overflow:hidden; width:116px; height:0;  padding-top:51px; font-size:14px; background:url('../img/layout/meister_logo.png') 0 0 no-repeat;}
h1 a.pochul{display:block; overflow:hidden; float:left; width:144px; height:0; padding-top:51px; font-size:14px; background:url('../img/layout/pochul_logo.png') 0 0 no-repeat;}

#gnb_box{width:100%;height:29px;border-bottom:1px solid #c3c3c3;background:url('../img/layout/gnb_bg.png') repeat-x;}
#gnb{overflow:hidden;width:1024px;height:29px;margin:0 auto;}
#gnb .palms{float:left;width:236px;}
#gnb .palms li{float:left;}
#gnb .palms li.iconMode a{display:block;width:118px;height:30px;background:url('../img/layout/btn_palms.gif') 0 -30px no-repeat;text-indent:-1000em;}
#gnb .top_menu strong{margin-top:4px;}

/* topmenu */
#gnb .top_menu {overflow:hidden; float:right; height:22px;}
#gnb .top_menu a {display:block; color:#3b3b3b; overflow:hidden; float:left; height:30px;line-height:30px;margin-right:14px;padding-left:8px;font-size:11px;background:url('../img/layout/bg_dot.gif') 0 center no-repeat;font-family:나눔고딕, NanumGothic, 맑은고딕, Malgun Gothic, 돋움, Dotum;}
#gnb .top_menu span{display:block;float:left;height:30px;margin:0 5px;line-height:30px;}
#gnb .top_menu .name  {color:#486a9a; font-size:11px; font-weight:bold;}
#gnb .top_menu img {vertical-align:middle;}
#gnb .top_menu .all_view{padding-right:20px;background:url('../img/layout/btn_allmenu.gif') right center no-repeat;}

/* header 검색창 */
div.m_search {position:absolute;right:0;top:10px;width:183px; height:22px;margin:0 auto;}
div.m_search input.kwd {float:left;width:148px; height:20px;padding:0 0 0 10px; vertical-align:top; line-height:20px;background:#fff;border:1px solid #dcdddf;border-right:none;color:#acacac;vertical-align:middle;font-size:11px;}
div.m_search input.submit {float:left;padding:0;vertical-align:middle;}

/* 상단전체메뉴 */
#all_mview_wrap{position:absolute;top:120px;left:0;z-index:1500;width:100%;height:0;overflow:hidden;}
#all_mview{overflow:hidden;position:relative;width:100%;top:0;left:0;font-family:nanumgothic, dotum;background:#fff url('../img/layout/bg_allmenu.gif') 0 0 no-repeat;border-top:1px solid #02629f;border-bottom:2px solid #02629f;}
@media all and (max-width: 1680px) { #all_mview{background:#fff;} }/* 겹쳐서 나오는거 방지*/
#all_mview .all_menu{position:relative;width:1024px;height:auto;margin:0 auto;}
#all_mview .all_menu .mline{overflow:hidden;width:100%;padding:30px 0;}
#all_mview .all_menu dl{float:left;width:19%;}
#all_mview .all_menu dl dt{padding:5px 0 5px 20px;background:url('../img/layout/bg_allmenu_bar.gif') 0 5px no-repeat;}
#all_mview .all_menu dl dt a{color:#23689b;font-weight:bold;font-size:16px;}
#all_mview .all_menu dl dd{padding:10px 0 10px 20px;}
#all_mview .all_menu dl dd ul.dep1 li{padding-left:10px;background:url('../img/layout/bg_allmenu_arrow.gif') 0 7px no-repeat;}
#all_mview .all_menu dl dd ul.dep2 li{padding-left:10px;background:url('../img/layout/bg_allmenu_arrow.gif') 0 7px no-repeat;}
#all_mview .all_menu .btn_allmenu_close{position:absolute;top:-1px;right:0;}

h2.mtit{position:absolute;top:115px;left:-25px;z-index:45;width:192px;height:109px;padding:0 10px 8px 0;color:#fff;line-height:109px;letter-spacing:-0.09em;font-size:22px;text-align:center;font-weight:bold;vertical-align:middle;background:url('../img/layout/bg_subtit.png') 0 center no-repeat;}
div.lnb {position:relative;top:93px;left:0;height:58px; margin:0 auto;background:url('../img/layout/bg_lnb_line.png') right 28px no-repeat;}
div.lnb a{cursor:pointer;}
ul.menu {position:relative;left:228px;width:797px;}
ul.menu li {overflow:hidden; float:left;}
ul.sub_tab {display:none; position:absolute; top:35px; left:0px; }
ul.sub_tab  li a{background:url('../img/layout/bg_smbar.gif') right 8px no-repeat;}
ul.sub_tab  li.last a{background:none;}
li.mpmDepth02 a.Depth2 {font-size: 14px; font-weight:600; padding:0 10px;color:#fff; text-decoration:none; font-family:nanumgothic, dotum; letter-spacing:-1px;}
li.mpmDepth02 a.selected,
li.mpmDepth02 a:hover,
li.mpmDepth02 a:hover.selected {color:#ffb239;}
li.mpmDepth03 a.Depth3{font-size:12px; color:#b0b0b0; text-decoration:none;padding:5px 10px;margin:0 5px;line-height:16px;}
li.mpmDepth03 a.selected,
li.mpmDepth03 a:hover,
li.mpmDepth03 a:hover.selected {font-weight:bold !important;background:#000;color:#fff;font-weight:bold;}

.top_location{position:absolute;top:150px;right:0;width:802px;padding-left:120px;z-index:40;background:#f4f4f4;height:31px;border-bottom:1px solid #cbcdca;}
.top_location .home{float:left;display:block;padding:5px 17px 0 0;height:25px;}
.top_location ul.top_select{position:relative;width:540px;height:32px;float:left;}
.top_location ul li{position:relative;float:left;width:auto;height:32px;background:url('../img/layout/bg_step.gif') left 0  no-repeat;}
.top_location ul li a{display:block;min-width:100px;padding:6px 40px 6px 25px;background:url('../img/layout/btn_down.gif') right 0  no-repeat;}
.top_location ul li a.active{background-position:right -31px;}
.top_location ul li ul{display:none;position:absolute;top:31px;left:0;z-index:500;min-width:100px;background:#f4f4f4;border-left:1px solid  #e5e5e5;border-right:1px solid  #e5e5e5;border-bottom:1px solid  #e5e5e5;}
.top_location ul li ul li{display:none;float:none;background:none;padding:0;width:100%;}
.top_location ul li:first-child ul li{display:block;}
.top_location ul li ul li a{background:none;min-width:100px;line-height:auto;white-space:nowrap;}
.top_location .down{display:inline-block;padding:12px;margin-right:20px;}
#btn_Quickmove{display:none;width:30px;height:26px;float:left;padding-top:6px;}
#bg_style #container {float:none;overflow:hidden; width:1022px; height:auto; margin:0px auto 60px;background:#fff;border:1px solid #c5c5c5;}
.contents {overflow:hidden; width:1022px; margin:0 auto;}
.sub_contents {overflow:hidden;min-height:500px;}
.contents_area {overflow:hidden; width:950px; margin:0px auto 40px;position:relative;padding-top:100px;}

#quick_right{position:absolute;right:0;top:181px;width:157px;z-index:1200;}
#quick_right .quick_toggle{position:absolute;top:0;left:0;z-index:500;height:52px;width:43px;font-size:0;line-height:0;padding-top:52px;background:url('../img/layout/btn_quick.png')  3px -52px  no-repeat;cursor:pointer;}
#quick_right #quick{padding:3px 0 0 8px;}

#quick ul{position:relative;background:#ffffff;width:147px;padding:0 5px 0px;border:1px solid #c5c5c5;}
#quick ul li{border-bottom:1px solid #e3e3e3;}
#quick ul li a{display:block;padding:20px 20px 80px;}
#quick ul li a.quick1{background:url('../img/layout/bg_quick01.png') right bottom no-repeat;}
#quick ul li a.quick2{background:url('../img/layout/bg_quick02.png') right bottom no-repeat;}
#quick ul li a.quick3{background:url('../img/layout/bg_quick03.png') right bottom no-repeat;}
#quick ul li a.quick4{background:url('../img/layout/bg_quick04.png') right bottom no-repeat;}
#quick ul li a strong{display:block;margin-bottom:10px;font-size:16px;font-family:nanumgothic, dotum; }
#quick ul li a span{display:block;color:#a0a0a0;line-height:13px;}


/* 코칭 */
#cch_body{width:100%;height:100%;position:relative;background:url(../img/sub/bg_cch_x.gif) repeat-x;}
#cch_wrap{width:100%;height:100%;position:relative;background:url(../img/sub/bg_cch.jpg) 50% 0 no-repeat;}
.contents_top{width:1024px;height:0;position:relative;margin: 0 auto;padding-top:70px;background:url(../img/sub/cch_contents_top.png) 0 100% no-repeat;}
#cch_wrap .contents {overflow:hidden; width:1024px; padding-top:10px;margin:0 auto; background:url(../img/sub/cch_contents_line.png) center 0 repeat-y;}
#cch_wrap .contents .sub_contents{overflow:hidden; background:none;}
#cch_wrap .contents_bottom {width:1024px;height:0;padding-top:40px;margin:0 auto;background:url(../img/sub/cch_contents_bottom.png) 0 0 no-repeat;}

/*footer */
.footer {width:100%; margin-bottom:50px; color:#898989;}
.footer p.copyright {width:100%; margin:0 auto; text-align:center;}

/* header */
ul.main_icon {position:absolute; overflow:hidden; top:470px; left:164px;}
ul.main_icon li {overflow:hidden; float:left;}
a.icon {display:block; overflow:hidden; width:100px; height:0; margin-right:42px; padding-top:114px;}
a.icon_s {background:url(../img/main/img_s.png) 0 0 no-repeat;}
a.icon_t {background:url(../img/main/img_t.png) 0 0 no-repeat;}
a.icon_i {background:url(../img/main/img_i.png) 0 0 no-repeat;}
a.icon_p {background:url(../img/main/img_p.png) 0 0 no-repeat;}
a.icon_gs {background:url(../img/main/img_gs.png) 0 0 no-repeat;}
a.icon_g {background:url(../img/main/img_g.png) 0 0 no-repeat;}
a.icon_c {margin:0 !important; background:url(../img/main/img_c.png) 0 0 no-repeat;}

/* 전체메뉴보기 */
div.menu_all {position:fixed; left:0; bottom:-95px; width:100%; height:100px; background:url(../img/sub/all_menu_bg.gif) center 0 repeat #091b2f; z-index:200;}
div.menu_all .menu_top {overflow:hidden; width:1280px; height:5px; margin:0 auto; background:url(../img/sub/all_menu_bg.gif) center 0 repeat-y;}
div.menu_all ul.menu_list_box {width:1184px; margin:0 auto;}
ul.menu_list_box li {overflow:hidden; float:left;}
ul.menu_list_box li a {display:block;}
ul.menu_list_box li a:hover,
ul.menu_list_box li a:hover.selected,
ul.menu_list_box li a.selected {background:url(../img/sub/all_meni_icon_bg.png) 0 0 no-repeat;}

div.menu_all a.btn {display:block; overflow:hidden; position:absolute; top:-22px; left:49%; width:131px; height:0px; margin-left:-55px; padding-top:22px; text-align:center; background:url(../img/sub/all_menu_btn.png) 0 0 no-repeat;}
div.menu_all a.open {background-position:left top;}
div.menu_all a.close {display:none; background-position:left -22px;}
div.menu_all p.previous {overflow:hidden; float:left; width:15px; height:29px; margin-top:35px;}
div.menu_all p.next {overflow:hidden; float:right; width:15px; height:29px; margin-top:35px;}
*+html div.menu_all p.next {margin-top:-70px;}


/* =============== C-LMS =================== */

/* common */
/* sub_top_menu */
div.lnb03 {position:relative; width:1014px; height:80px; margin:0 auto; background:url(../img/sub/sub_top3.png) no-repeat !important; padding-left:10px;}
div.lnb03 ul.menu {overflow:hidden; width:1015px; margin-left:-5px; padding:15px 0 0 0px;}

div.lnb03 li.mpmDepth02{padding-left:25px;}
div.lnb03 li.mpmDepth02 a.Depth2 {font-size:1.2em; font-weight:600; color:#a5a5a5; text-decoration:none; font-family:nanumgothic, dotum; letter-spacing:-1px;}
div.lnb03 li.mpmDepth02 a.selected,
div.lnb03 li.mpmDepth02 a:hover,
div.lnb03 li.mpmDepth02 a:hover.selected {color:#99c132;}


div.lnb03 ul.menu li.mpmDepth03 {padding-left:25px;}
div.lnb03 ul.menu li.mpmDepth03 a.Depth3 {float:none; padding-left:10px; font-weight:normal; font-size:1em; color:#fff; text-decoration:none; background:none !important;}
div.lnb03 ul.menu li.mpmDepth03 a.selected,
div.lnb03 ul.menu li.mpmDepth03 a:hover,
div.lnb03 ul.menu li.mpmDepth03 a:hover.selected {font-weight:bold !important;color:#ffff00;}


/* 17_가져오기 */
.body{position:absolute;top:500px;left:50%;background:#fff;}
.select{width:130px;height:120px;border:1px solid #d4d4d4;margin:0 auto;padding:10px 10px;}
.select span{font-weight:bold;font-size:13px;}

/* 코칭시스템 메인 */
div.coa_main_l {position:relative; overflow:hidden; float:left; width:440px;}
div.coa_main_l p.coa_main_bg {overflow:hidden; width:440px; height:0;padding-top:520px; background:url(../img/sub/coa_main_bg.gif) 0 0 no-repeat;}
div.coa_main_l a.coa_generation {position:absolute; display:block; overflow:hidden; left:100px; bottom:70px;}
div.coa_main_r {overflow:hidden; float:right; width:497px;}
div.coa_main_r fieldset {width:497px; height:34px; background:url(../img/sub/search_bar3.gif) 0 0 no-repeat;}
div.coa_main_r fieldset select {width:100px; margin:7px 10px 0 80px; padding:1px;}
div.coa_main_r fieldset input.coa_search {width:220px;}
div.coa_main_r fieldset input.coa_search_btn {padding:0 10px 2px; vertical-align:middle;}
div.coa_main_r p.right span {color:#78b355; font-weight:bold;}

div.coa_tab {border-bottom:1px solid #cccbcb;}
div.coa_tab ul {overflow:hidden; height:27px;}
div.coa_tab li {overflow:hidden; float:left; height:27px;}
div.coa_tab li a {display:block; overflow:hidden; height:27px; color:#000; font-weight:bold; font-size:12px;}
div.coa_tab li a span {display:block; overflow:hidden; width:100px; height:27px; padding-top:5px;}
div.coa_tab li.tab01 a {width:100px; text-align:center;}
div.coa_tab li.tab02 a {width:100px; text-align:center;}

div.coa_tab li.selected {background:url(../img/sub/coa_tab_r.gif) no-repeat right top; padding-right:3px;}
div.coa_tab li.selected a {background:url(../img/sub/coa_tab_l.gif) no-repeat left top; padding-left:3px;}
div.coa_tab li.selected a span {padding-top:5px; color:#fff; background:url(../img/sub/coa_tab_line.gif) repeat-x 0 0;}

/* 서브 ad 부분 */
div.coaching_ad {width:1024px; height:140px; margin:0 auto; background:url(../img/sub/coaching_ad.jpg) 50% 0 no-repeat;}
div.coaching_ad dl {overflow:hidden; padding:30px 0 0 40px;}
div.coaching_ad dt {font-size:20px; font-weight:bold; color:#000;}
div.coaching_ad dd a {color:#7d7d7d;}
div.coaching_ad p {padding:30px 0 0 40px; color:#606060;}

dl.coaching_list {overflow:hidden;}
dt.thumbnails_title {display:none;}
dd.thumbnails {overflow:hidden; float:left; width:121px; height:75px; padding-right:25px;}
dl.coaching_list dt {overflow:hidden; font-weight:bold; color:#000;}
dl.coaching_list dd {color:#000;}

p.coaching_btn {margin-top:20px; width:170px; height:34px; background:url(../img/sub/btn_coaching.gif) 0 0 no-repeat;}
p.coaching_btn a {display:inline-block; overflow:hidden; margin:8px 6px 0 3px; color:#fff; font-weight:bold;}

/* 그린_ 테이블D_가로테이블(커뮤니티 부분) */
.t_green table.tableD { border-top:2px solid #6d9d66 !important;}
.t_green table.tableD thead th,
.t_green table.tableD thead th {color:#6d9d66 !important; background:#f7f6f8 !important;}
/* 그린_ 테이블C_세로테이블 */
.t_green table.tableC {width:100%; border-top:2px solid #6d9d66 !important; }
.t_green table.tableC th {background:#f7f6f8 !important;color:#6d9d66 !important;}
.t_green table.tableC th label {color:#6d9d66 !important;}

.w90 {width:90px !important;}
.w910 {width:900px !important;}
.w840 {width:840px !important;}
.clear {clear:both;}

/* =============== //C-LMS =================== */

/* 마이페이지 */
.w500{width:500px !important;}
.w345{width:345px !important;}
.w320{width:320px !important;}
/* //마이페이지 */

