@CHARSET "UTF-8";
/* 첨부파일 */
.bbtn_bg1{background:#f3f3f3;border:1px solid #cbcbcb;margin-right:2px;}
.bbtn_bg1 a, .bbtn_bg1 input, .bbtn_bg1 button{background:#f3f3f3;height:28px;line-height:28px;padding:0 20px;color:#676767;}

.file_box .progressBox {width:650px; float:right;}
.file_box .radius {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box .progress{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box .bar{color: #ffffff; font-size: 9pt;}
.file_box .bbtn_bg1 {cursor: pointer !important;}
.file_box .c_click {cursor: pointer !important;}
.file_box  input[type="file"] { position: absolute; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 99; display: block !important; width: 103px !important; height: 30px !important; cursor:pointer;}