@CHARSET "UTF-8";
a.btn01,
a span.btn01 {position:relative; margin:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:"돋움", "돋움체"; white-space:nowrap; background:url(../images/btn/btn_bg.gif) no-repeat left top; overflow:visible; color:#fff !important; font-weight:normal;}
a.btn01 {height:20px; padding:0 0 0 3px; vertical-align:middle;  background-position:left top;}
a span.btn01 {left:2px; vertical-align:top;  font-weight:bold; cursor:pointer;}
a span.btn01 {height:20px;  padding:1px 14px 3px 8px;  font-size:12px; line-height:20px; background-position:right top; }