@CHARSET "UTF-8";
/* 테이블B_세로테이블 */
table.tableB {width:100%; border-top:2px solid #888888 ;}
table.tableB th {padding:7px 15px 5px; background:#f5f5f5; color:#565656; border-bottom:1px solid #d0d0d0; border-left:1px solid #d0d0d0; vertical-align:middle;  text-align:left;}
table.tableB td {padding:7px 0 5px 20px; border-bottom:1px solid #d0d0d0; border-left:1px solid #d0d0d0; text-align:left;}
table.tableB td.txtareaBox{padding:10px 0 0 0;}
table.tableB td.txtareaBox td{padding:10px 0 0 0;}
table.tableB th.first,
table.tableB td.first {border-left:none;}

table.tableB td span.addEx{color:#358cb0;font-size:11px;}
table.tableB td .onlyNum{ime-mode:disabled;}


/* 테이블D_가로테이블(커뮤니티 부분) */
table.tableD {margin:0 auto; border-top:2px solid #888888;}
table.tableD thead th,
table.tableD tbody td {padding:7px 0 5px; text-align:center; font-size:12px;} 
table.tableD thead th {color:#565656; border-bottom:1px solid #e0e0e0; background:#f5f5f5;}
table.tableD tbody th {font-weight:normal; border-bottom:1px solid #d6d6d6;}
table.tableD tbody td {font-size:12px;color:#444; border-bottom:1px solid #ececec; border-top:none; border-right:none;} 
table.tableD thead th.first,
table.tableD tbody td.first {border-left:none;}
table.tableD tbody th.alignL {text-align:left !important; padding-left:15px; background:url(../img/sub/bl_01.gif) 5px center no-repeat;}
table.tableD tbody th.alignR {text-align:right; padding-right:20px;}
table.tableD tbody td.alignL {text-align:left !important; padding-left:20px;} 
table.tableD tbody td.alignR {text-align:right !important; padding-right:20px;} 
table.tableD tbody .new {color:#f26522;}
table.tableD tbody tr.deleted td, table.tableD tbody tr.deleted td.alignL a{color:#dfdfdf;text-decoration: line-through;}
table.tableD span.elp{display:inline-block;overflow:hidden;width:90%;text-overflow:ellipsis;white-space:nowarp;}


/* pagination */
div.pagination {clear:both;width:250px; margin:0 auto; font-size:12px; text-align:center;}
div.pagination a {color:#8b8d86;}
div.pagination a:hover {font-weight:bold; color:#000; text-decoration:none;}
div.pagination a.btn_first,
div.pagination a.btn_previous,
div.pagination a.btn_next,
div.pagination a.btn_end {display:inline-block; overflow:hidden; width:16px; height:0; margin-top:-2px; padding:11px 0 0; vertical-align:middle; }
div.pagination a.btn_first {background:url(../img/sub/btn_first.gif) no-repeat left top;}
div.pagination a.btn_previous {background:url(../img/sub/btn_prev.gif) no-repeat left top;}
div.pagination a.btn_next {background:url(../img/sub/btn_next.gif) no-repeat left top;}
div.pagination a.btn_end {background:url(../img/sub/btn_last.gif) no-repeat left top;}
div.pagination strong {color:#000;}
