.tit_histroy{margin:20px 0 50px;font-weight:bold;text-align:center;}
.tit_histroy strong{display:inline-block;min-height:30px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_left.gif') 0 0 no-repeat;padding-left:50px;}
.tit_histroy span{display:inline-block;min-height:30px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_right.gif') right 0 no-repeat;padding-right:50px;color:#8f8f8f;font-size:22px;text-align:center;}
.tit_histroy span em{color:#55b833;}

.history{overflow:hidden;width:100%;margin-bottom:50px;}
.history h3{float:left;width:235px;padding-top:10px;font-size:26px;font-weight:bold;color:#3d3d3d;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_gline.gif') 0 0 no-repeat;}
.history ul{float:left;width:520px;margin-top:20px;}
.history ul li{overflow:hidden;width:100%;padding:2px 0;}
.history ul li strong{float:left;width:115px;color:#2ba600;font-weight:normal;}
.history ul li span{float:left;width:400px;}

.bg1{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_history01.jpg') 0 60px no-repeat;}
.bg2{min-height:250px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_history02.jpg') 0 60px no-repeat;}
.bg2 ul{margin-top:60px;}