@charset "utf-8";
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 700; src: url(/template/common/font/NanumGothic-Bold.eot); src: url(/template/common/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),  url(/template/common/font/NanumGothic-Bold.woff2) format('woff2'),  url(/template/common/font/NanumGothic-Bold.woff) format('woff'),  url(/template/common/font/NanumGothic-Bold.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400; src: url(/template/common/font/NanumGothic-Regular.eot); src: url(/template/common/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),  url(/template/common/font/NanumGothic-Regular.woff2) format('woff2'),  url(/template/common/font/NanumGothic-Regular.woff) format('woff'),  url(/template/common/font/NanumGothic-Regular.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: 800; src: url(/template/common/font/NanumGothic-ExtraBold.eot); src: url(/template/common/font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),  url(/template/common/font/NanumGothic-ExtraBold.woff2) format('woff2'),  url(/template/common/font/NanumGothic-ExtraBold.woff) format('woff'),  url(/template/common/font/NanumGothic-ExtraBold.ttf) format('truetype'); }
body {position:relative;font-size:13px;color:#616161;font-family: "Nanum Gothic","나눔고딕", "맑은고딕", "Malgun Gothic", "돋움", "Dotum";margin:0; padding:0;width:100%;}
h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,input,textarea,p,th,td,dt,dd,dl {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:13px;}
li {list-style:none;}
img,fieldset {border:0;vertical-align:top;}
em {font-style:normal;}
input.radio {width:13px; height:13px; vertical-align:middle;}
a {text-decoration:none; color:#616161;}
a:hover {color:#2ba600;}
address,em,i {font-style:normal;}
.hdn, legend,table caption{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}
table caption{font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0;}
button{display:inline-block;margin:0;padding:0;width:auto;cursor:pointer;border:none;background:none;overflow:visible;}


/* 
 아이콘색상은 
 basic/색상폴더명/파일명.gif
*/

.cR {clear:both;}
.fL {float:left;}
.fR {float:right;}
.alC {text-align:center !important;}
.alL {text-align:left !important;}
.alR {text-align:right;}
.vMid{vertical-align:middle;}
.btn_c{text-align:center;margin:15px 0;}
.btn_l{text-align:left;margin:15px 0;}
.btn_r{text-align:right;margin:15px 0;}
.bg_btn{overflow:hidden;width:100%;margin:15px 0}
.bg_btn .fL{float:left;width:70%;}
.bg_btn .fR{float:right;width:29%;text-align:right;}
.inp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;}
.strong{font-weight:bold;}
.red{color:red;}
.blue{color:blue;}
.clear{overflow:hidden;width:100%;}
.green {color:#2ba600;}
.vtop{vertical-align:top;}

/* 글자수줄이기 */
.ellipsis{display:inline-block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}


/* icon_style  */
/*.ntit{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/basic/green/bg_icon.gif') 0 0 no-repeat; font-size:20px;padding-top: 10px;margin:5px 0 20px;color:#000;}*/
/*.icon{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/basic/green/bg_icon.gif') 0 0 no-repeat; font-size:20px;padding-top:10px;margin:5px 0 20px;color:#77c528;}*/
.icon1{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/basic/green/bg_icon1.gif') 0 3px no-repeat; font-size:16px;padding-left: 18px;margin:10px 0;color:#282828;}
.icon2{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/basic/green/bg_icon2.gif') 0 5px no-repeat;padding-left:10px; margin:8px 0 8px 20px;font-weight:normal;color:#282828;}
.icon3{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/basic/green/bg_icon3.gif') 0 8px no-repeat; padding-left:10px; margin-left:30px; font-weight:normal;color:#818181;}
.icon2_list li{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/basic/green/bg_icon2.gif') 0 5px no-repeat;padding-left:10px; margin:8px 0 8px 0px;font-weight:normal;color:#282828;}
.icon3_list{padding:3px 0;}
.icon3_list li, .icon03{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/basic/green/bg_icon3.gif') 0 8px no-repeat;padding-left:10px; margin: 4px 0 4px 0px;font-weight:normal;color:#818181}
.icon_none{margin:7px 0px;}
.icon_none li{background:none;margin-left:0px;padding-left:5px;color:#818181; }

.section {margin-bottom:20px; margin-left:0px;text-align:justify;}
.section1 {margin-bottom:20px; margin-left:20px;text-align:justify;}
.section2 {margin-bottom:20px; margin-left:30px;text-align:justify;}
.section3 {margin-bottom:20px; margin-left:40px;text-align:justify;}


/* 기본 표(세로테이블) 정의 */



/* 기본 표(가로 테이블)   */
table.chart2 {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #62ad16;margin-bottom:30px;}
table.chart2 thead th {background:#f9f9f9;border:1px solid #dbdbdb;text-align:left;color:#62ad16;}
table.chart2 thead td{text-align:left;}
table.chart2 th {border: 1px solid #dbdbdb;padding:8px 10px;text-align:center;}
table.chart2 td {border: 1px solid #dbdbdb;padding:8px 10px;text-align:center;}
table.chart2 tbody th {background:#f9f9f9;border:1px solid #dbdbdb;text-align:left;color:#62ad16;}
table.chart2 tbody td{text-align:left;}
table.chart2 tbody td.bg{background:#f9f9f9;}
table.chart2 table.chart1{margin-bottom:0;}
table.chart2 td.rnone{border-right:none;}
table.chart2 td.lnone{border-right:none;}

table.chart1 { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #62ad16;margin-bottom:30px;}
table.chart1 th,  table.chart1 td {border: 1px solid #dbdbdb;padding:7px 10px;text-align:center;}
table.chart1 thead th {background:#f9f9f9;border:1px solid #dbdbdb;text-align:center;color:#62ad16;}
table.chart1 tbody td{text-align:center;}
table.chart1 tbody td.bg{background:#f9f9f9;}
table.chart1 td.alL{text-align:left;}
table.chart1 tfoot th.alC{text-align:center;}
table.chart1 tfoot td.alC{text-align:center;}
table.chart1 tfoot td{text-align:center;}


/* 기본 표(세로테이블)   */
table.chart { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #62ad16;margin-bottom:10px;}
table.chart th,  table.chart td {border: 1px solid #dbdbdb;padding:10px 10px;text-align:center;}
table.chart thead th {background:#f9f9f9;border:1px solid #dbdbdb;text-align:center;color:#000000;}
table.chart tbody th{color:#000;}
table.chart tbody strong{color:#000;}
table.chart td.alL{text-align:left;}
table.chart td.alR{text-align:right;}
table.chart td.bg{background:#f9f9f9;}
table.chart td.vtop{vertical-align:top;}
table.chart tbody th.bg{background:#f9f9f9;color:#000;}
table.chart tfoot{color:#000;}
table.chart tfoot th,  table.chart tfoot td{background:#f9f9f9;color:#000;}
table.chart tr.bg td{background:#f9f9f9;color:#2ba600}




table.chart2_alC {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #62ad16;margin-bottom:10px;}
table.chart2_alC th,  table.chart2_alC td {border: 1px solid #dbdbdb;padding:7px 10px;text-align:center;}
table.chart2_alC tbody th {background:#f9f9f9;border:1px solid #dbdbdb;text-align:left;color:#62ad16;}
table.chart2_alC tbody td{text-align:center;}
table.chart2_alC tbody td.bg{background:#f9f9f9;}



.pbg{background:#f4f4f4;padding:20px;line-height:1.4em;}
.pbg:after{content:"";display:block;clear:both;}

.pbg2{position:relative;background:#f7f7f7;border:1px solid #c6c6c6;padding:20px;}
/*.pbg2 .bg{position:absolute;bottom:-1px;right:-1px;display:block;width:22px;height:21px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/page/bg_pbg.gif') right bottom no-repeat;}*/
.pbg3{background:#f4f4f4;padding:20px;border:1px solid #c6c6c6;}

.line_green {border-bottom: 1px solid #97d01b;}

.block{display:block}
.txt_style {font-size:18px; color:#1688ad;}

/* size style*/
.w30	{width:30px;}
.w35	{width:35px;}
.w40	{width:40px;}
.w45	{width:45px;}
.w50	{width:50px;}
.w55	{width:55px;}
.w60	{width:60px;}
.w65	{width:65px;}
.w70	{width:70px;}
.w75	{width:75px;}
.w80	{width:80px;}
.w85	{width:85px;}
.w90	{width:90px;}
.w95	{width:95px;}
.w100{width:100px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w165{width:165px;}
.w200{width:200px;}
.w215{width:215px;}
.w220{width:220px;}
.w230{width:230px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
.w550{width:550px;}

.wid50{width:50%;}
.wid85{width:85%;}
.wid80{width:80%;}
.wid90{width:90%;}
.wid95{width:95%;}
.wid100{width:100%;}

.h5{height:5px;}
.h10{height:10px;}
.h25{height:25px;}
.h30{height:30px;}
.h40{height:40px;}
.h100{height:100px;}

/* padding_style */
.pT10{padding-top:10px;}
.pT20{padding-top:20px;}
.pB10{padding-bottom:10px;}
.pB20{padding-bottom:20px;}
.pL5{padding-left:5px;}
.pL10{padding-left:10px;}
.pL15{padding-left:15px;}
.pL20{padding-left:20px;}
.pL25{padding-left:25px;}
.pL30{padding-left:30px;}
.pL35{padding-left:35px;}
.pL40{padding-left:40px;}
.pL65{padding-left:65px;}
.pL70{padding-left:70px;}
.pR10{padding-right:10px;}
.pR20{padding-right:20px;}

/* margin_style */
.mT5{margin-top:5px;}
.mT10{margin-top:10px;}
.mT15{margin-top:15px;}
.mT20{margin-top:20px;}
.mT30{margin-top:30px;}
.mT40{margin-top:40px;}
.mB5{margin-bottom:5px;}
.mB10{margin-bottom:10px;}
.mB15{margin-bottom:15px;}
.mB20{margin-bottom:20px;}
.mB30{margin-bottom:30px;}
.mB40{margin-bottom:40px;}
.mB50{margin-bottom:50px;}
.mL5{margin-left:5px;}
.mL10{margin-left:10px;}
.mL15{margin-left:15px;}
.mL20{margin-left:20px;}
.mL25{margin-left:25px;}
.mL30{margin-left:30px;}
.mL40{margin-left:40px;}
.mL45{margin-left:45px;}
.mR10{margin-right:10px;}
.mR20{margin-right:20px;}

/* tab */
.tab{overflow:hidden;width:100%;margin-bottom:20px;;border-left:1px solid #d7d7d7}
.tab li {float:left;width:33.2%;height:39px;margin-left:-1px;background:#f4f4f4;overflow:hidden;position:relative;border:1px solid #d7d7d7}
.tab li a {display: block;width:100%;min-height:39px;line-height:39px;color:#919191;font-size:16px;font-weight:bold;background:#f4f4f4;text-align:center;}
.tab li.active{background:#62ad16;min-height:39px;}
.tab li.active a, .tab li a:hover, .tab li a:focus{background:#62ad16;color:#fff;}
.tab_content{*zoom:1;display:block;clear:both;width:100%;border-top: none;background: #fff;}

.tab_step{overflow:hidden;width:100%;width:100%;margin-bottom:20px;;border-top:1px solid #d9d9d9;}
.tab_step li {float:left;width:16.55%;height:48px;*margin-left:-1px;overflow:hidden;position:relative;border-right:1px solid #fff;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_tab_line_off.gif') 0 bottom repeat-x;}
.tab_step li a {display: block;width:100%;min-height:42px;line-height:38px;color:#919191;font-size:16px;text-align:center;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_tab_off.gif') 95% 14px no-repeat;}
.tab_step li.active{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_tab_line_on.gif') center bottom no-repeat;}
.tab_step li.active a{color:#62ad16;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_tab_on.gif') 95% 14px no-repeat;}
.tab_step li.last a{background:none;}

.tab2{overflow:hidden;width:100%;width:100%;margin-bottom:20px;;border-top:1px solid #d9d9d9;}
.tab2 li {float:left;width:25%;height:48px;*margin-left:-1px;overflow:hidden;position:relative;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_tab_line_off.gif') 0 bottom repeat-x;}
.tab2 li a {display: block;width:99.5%;min-height:42px;line-height:38px;border-right:1px solid #d6d6d6;color:#919191;font-size:16px;text-align:center;}
.tab2 li.active{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_tab_line_on.gif') center bottom no-repeat;}
.tab2 li.active a{color:#62ad16;}
.tab2 li.last a{border:none;}

.mtab{overflow:hidden;margin-bottom:20px;text-align:right;}
.mtab li{float:left;font-weight:bold;margin-right:4px;padding-bottom:6px;}
.mtab li.active{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_this.gif') center bottom no-repeat;}
.mtab li a{display:block;text-align:center;height:31px;line-height:31px;border:1px solid #62ad16;padding:0 10px;border-radius:3px;color:#62ad16}
.mtab li.active a, .mtab li a:hover{color:#fff;background:#62ad16;}
.mtab li span{margin:0 5px;}



/*  skipnavi */
#skilNavi  {width:100%; position:relative; top:-1px; left:0; z-index:10000;}
#skilNavi  a{width:100%; position:absolute; top:-1px; left:0;}
#skilNavi  a:link {margin:0 0 -1px 0; width:100%; height:0px; font-size:1em; display:block; overflow:hidden;text-decoration:none;}
#skilNavi  a:active, #skilNavi  a:focus, #skilNavi  a:hover {padding:5px 0 5px 0; width:100%; height:20px; font-weight:bold; color:#fff; text-align:center; background:#000; float:left; clear:left;}


#header{overflow:hidden;padding-bottom:2px;background:#fff url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_header_x.gif') 0 0 repeat-x;}
#header .header{position:relative;width:1000px;margin:0 auto;}
#header .header h1{position:absolute;top:13px;z-index:100;}

#header .header .gnb{position:absolute;right:0px;z-index:100;}
#header .header .gnb li{display:inline-block;margin-left:8px;font-size:12px;}
#header .header .gnb li a{display:block;line-height:60px;vertical-align:middle;color:#b3b3b3;font-weight:bold;}

#lnb{position:relative;top:0;padding-left:300px;min-height:60px;z-index:10;}
#lnb li{float:left;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;margin-left:-1px;}
#lnb li a.active, #lnb li a:hover{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_lnb_on.gif') 0 0 repeat-x;color:#fff;}
#lnb li a{display:block;padding:0 20px;line-height:60px;vertical-align:middle;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_lnb_off.gif') 0 0 repeat-x;color:#595959;font-size:17px;font-weight:bold;}
#lnb li div{position:absolute;top:60px;left:0;width:100%;background:#595959;display:none;}
#lnb li ul{}
#lnb li ul li{background:#595959 url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_lnb_bar.gif') 0 center no-repeat;border:none;}
#lnb li ul li:first-child{background:none;}
#lnb li ul li a{display:block;padding:0 10px;line-height:49px;vertical-align:middle;color:#d1d1d1;font-size:13px;font-weight:bold;background:none}
#lnb li.active li a{background:none;color:#d1d1d1;}
#lnb li ul li a:hover,#lnb li ul li a.active{background:#62ad16;color:#fff;}

#footer {background:#e6e6e6;overflow:hidden;width:1000px;margin:0 auto;padding:30px 0;color:#8a8a8a;}
#footer h2{float:left;padding:0px 131px 0 0;}
#footer .fcont{float:left;width:700px;font-size:12px;}
#footer .fcont ul {overflow:hidden;width:100%;margin:0px 0 15px;}
#footer .fcont ul li{float:left;font-weight:bold;;font-size:13px;}
#footer .fcont ul li a{color:#8a8a8a;}
#footer .fcont ul li span{margin:0 8px;}
#footer .fcont address{color:#9a9a9a;}
#footer .fcont p{color:#9a9a9a;}

#wrap{min-width:1000px;background:#fafafa url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_container_x.gif') center bottom repeat-x}
#container{padding:0px 0 0;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_mcontainer.gif') center bottom no-repeat }

/*  main */
.main_container #content{overflow:hidden;width:1000px;margin:0 auto;padding:50px 0 0;min-height:650px;}
.main_container .msection1{position:relative;float:left;width:489px;height:542px;padding:1px 5px 7px 1px;margin-right:7px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_mbox01.png') 0 0 no-repeat}
.main_container .msection1 h3{position:absolute;top:1px;left:145px;z-index:20;width:215px;height:48px;line-height:45px;vertical-align:middle;text-align:center;font-size:15px;color:#ffffff;font-weight:bold;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_tit01.png') 0 0 no-repeat}
.main_container .msection1 ul{}
.main_container .msection1 ul li{width:491px;height:544px;font-size:14px;}
.main_container .msection1 ul li.bg1{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main1.png') 1px 1px no-repeat}
.main_container .msection1 ul li.bg2{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main2.png') 1px 1px no-repeat}
.main_container .msection1 ul li.bg3{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main3.png') 1px 1px no-repeat}
.main_container .msection1 ul li.bg4{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main4.png') 1px 1px no-repeat}
.main_container .msection1 ul li.bg5{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main5.png') 1px 1px no-repeat}
.main_container .msection1 ul li.bg6{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main6.png') 1px 1px no-repeat}
.main_container .msection1 ul li.bg7{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main7.png') 1px 1px no-repeat}
.main_container .msection1 ul li.bg9{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main9.png') 1px 1px no-repeat}
.main_container .msection1 ul li strong{display:block;padding-top:95px;font-size:33px;font-weight:bold;text-align:center;color:#62ad16;}
.main_container .msection1 ul li span{display:block;font-size:25px;text-align:center;color:#666666;}
.main_container .msection1 ul li p{padding:10px 0;text-align:center;color:#aeaeae;line-height:1.5em;}
.main_container .msection1 ul li a{position:absolute;top:405px;left:105px;display:block;width:282px;height:36px;line-height:36px;margin:0 auto;color:#fff;vertical-align:middle;font-weight:bold;text-align:center;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/btn_m01.png') 0 0 no-repeat}

.main_container .msection1 .paginate{position:absolute;bottom:34px;right:0px;width:100%;text-align:center;z-index:50;}
.main_container .msection1 .paginate a{overflow:hidden;width:14px;height:0;padding-top:14px;display:inline-block;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/btn_paging.png') -16px 0 no-repeat}
.main_container .msection1 .paginate a.active{background-position:0 0;}
.main_container .msection1 .position{position:absolute;bottom:34px;right:150px;z-index:50;}
.main_container .msection1 .position button{display:inline-block;width:22px;height:0px;padding-top:22px;overflow:hidden;line-height:0;font-size:0;vertical-align:top;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/btn_control.png') 0px 0 no-repeat}
.main_container .msection1 .position button.m_stop{background-position:0 0;}
.main_container .msection1 .position button.m_play{background-position:-22px 0;}

.main_container .msection2{position:relative;float:left;width:493px;height:296px;padding:1px 4px 4px 1px;margin-bottom:8px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_mbox02.png') 0 0 no-repeat}
.main_container .msection2 h3{position:absolute;top:1px;left:145px;width:215px;height:48px;line-height:45px;vertical-align:middle;text-align:center;font-size:15px;color:#ffffff;font-weight:bold;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_tit02.png') 0 0 no-repeat}
.main_container .msection2 div.bg{padding:95px 0 0 235px;;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_main02.png') 30px 93px no-repeat}
.main_container .msection2 strong{display:block;font-size:33px;font-weight:bold;color:#3481b0;}
.main_container .msection2 p{padding:10px 0;color:#aeaeae;line-height:1.5em;}
.main_container .msection2 a{display:block;width:123px;height:36px;line-height:36px;font-size:14px;color:#fff;vertical-align:middle;font-weight:bold;text-align:center;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/btn_m02.png') 0 0 no-repeat}



.main_container .msection3{position:relative;float:left;width:493px;height:234px;padding:1px 4px 6px 1px;margin-bottom:8px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_mbox03.png') 0 0 no-repeat}
.main_container .msection3 h3{height:47px;padding-left:27px;line-height:47px;vertical-align:middle;color:#ffffff;font-size:15px;}
.main_container .msection3 ul{padding:20px 27px;}
.main_container .msection3 ul li{overflow:hidden;width:100%;padding:3px 0;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_dot.gif') 0 center no-repeat}
.main_container .msection3 ul li a{float:left;display:inline-block;max-width:330px;overflow:hidden;padding-left:10px;text-overflow:ellipsis;white-space:nowrap;color:#aeaeae;}
.main_container .msection3 ul li a:hover{color:#676767;}
.main_container .msection3 ul li span{float:right;color:#aeaeae;}
.main_container .msection3 .more{position:absolute;top:18px;right:20px;font-size:11px;color:#aeaeae;}

.main_container .banner{clear:both;width:973px;height:67px;padding:1px 15px 0 12px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_mbox_banner.png') center 0 no-repeat}
.main_container .banner li{float:left;}


/*  sub */
.sub_container {position:relative;width:1000px;margin:0 auto;}
.sub_container .sub_top{position:relative;width:1000px;margin:0 auto;height:140px;color:#4f4f4f;/*background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/sub/bg_sub_img.gif') right 0 no-repeat;*/font-family:"Nanum Gothic", "나눔고딕",  "맑은고딕", "Malgun Gothic", "돋움", "Dotum";}
.sub_container .sub_top01{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_sub01.png') right bottom no-repeat;}
/*.sub_container .sub_top02{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_sub02.png') right bottom no-repeat;}*/
.sub_container .sub_top .navi{padding:40px 0 10px;color:#aeaeae;}
.sub_container .sub_top .navi a{margin:0 2px;color:#aeaeae;}
.sub_container .sub_top .location{margin-left:5px;}
.sub_container .sub_top .location strong{font-weight:normal;}
.sub_container .sub_top .location img{line-height:18px;margin-right:5px;vertical-align:middle;}
.sub_container .sub_top h2{font-size:33px;padding:15px 0 10px;color:#4c4c4c;font-weight:normal;}

.sub_container #content{width:935px;min-height:550px;padding:30px 32px 30px 31px;margin:0 auto;border:1px solid #e3e3e3;background:#fff;border-radius:10px;box-shadow:5px 5px 2px #dfdfdf;}
.sub_container .btn_top{position:absolute;top:140px;right:-10px;}
.sub_container .btn_top button{position:fixed;}


/* 사업제안서  - 복지시설 (사회복지시설)나눔숲 */
.ppt1_1{width:9%}
.ppt1_2{width:9%}
.ppt1_3{width:18%;}
.ppt1_4{width:18%}
.ppt1_5{width:22%}
.ppt1_6{width:10%}
.ppt1_7{width:auto;}

/* 사업제안서  -복지시설 (특수교육시설)나눔숲 */
.ppt2_1{width:9%}
.ppt2_2{width:9%}
.ppt2_3{width:18%;}
.ppt2_4{width:18%}
.ppt2_5{width:20%}
.ppt2_6{width:10%}
.ppt2_7{width:auto;}

/*  사업제안서- 지역사회 나눔숲  */
.ppt3_1{width:9%}
.ppt3_2{width:9%}
.ppt3_3{width:8%;}
.ppt3_4{width:15%}
.ppt3_5{width:8%}
.ppt3_6{width:auto;}
.ppt3_7{width:auto;}
.ppt3_8{width:auto;}


/*  사업제안서 - 숲 체험교육  */
.ppt4_1{width:9%}
.ppt4_2{width:9%}
.ppt4_3{width:10%}
.ppt4_4{width:auto;}
.ppt4_5{width:15%}
.ppt4_6{width:20%}

/*  사업제안서 - 숲 체험교육  */
.ppt5_1{width:9%}
.ppt5_2{width:9%}
.ppt5_3{width:11%}
.ppt5_4{width:auto;}
.ppt5_5{width:15%}
.ppt5_6{width:20%}


/* 기본정보  -  복지시설 (사회복지시설)나눔숲,  복지시설 (특수교육시설)나눔숲*/
.basic_1{width:18%}
.basic_2{min-width:20%;}
.basic_3{width:18%;}
.basic_4{width:auto;}


/* 기본정보  지역사회 나눔숲  */
.basic3_1{width:7%}
.basic3_2{width:8%;}
.basic3_3{width:auto}
.basic3_4{width:auto}
.basic3_5{width:8%;}
.basic3_6{width:auto;}
.basic3_7{width:8%;}
.basic3_8{width:8%;}
.basic3_9{width:auto;}
.basic3_10{width:8%;}
.basic3_11{width:8%;}
.basic3_12{width:10%;}

/* 기본정보  숲 체험교육 */
.basic4_1{width:10%}
.basic4_2{width:8%;}
.basic4_3{width:15%}
.basic4_4{width:8%;}
.basic4_5{width:10%;}
.basic4_6{width:auto;}
.basic4_7{width:10%;}
.basic4_8{width:8%;}
.basic4_9{width:auto;}



/* 사업비내역 */
.cost_input .inp{width:70% !important;text-align:right;}
.cost_1{}
.cost_2{}
.cost_3{}
.cost_4{}
.cost_5{}
.cost_6{}
.cost_7{}
.cost_8{}
.cost_9{}
.cost_10{}
.cost_11{width:10%;}

/* 사업개요  */
.outline_1{width:18%;}
.outline_2{width:15%}
.outline_3{width:auto;}
.outline_4{width:15%;}
.outline_5{width:auto;}

/* 사후관리 */
.expost_1{width:18%;}
.expost_2{width:80%;}

/* 운영프로그램 */
.prg_1{width:155px;}
.prg_2{width:80px;}
.prg_3{width:70px;}
.prg_4{width:70px;}
.prg_5{width:70px;}
.prg_6{width:70px;}
.prg_7{width:70px;}
/*.prg_8{width:60px;}*/
.prg_9{width:60px;}
.prg_10{width:60px}
.prg_11{width:150px}
.prg_12{width:56px}

.prg_view_1{width:125px;}
.prg_view_2{width:80px;}
.prg_view_3{width:70px;}
.prg_view_4{width:70px;}
.prg_view_5{width:70px;}
.prg_view_6{width:70px;}
.prg_view_7{width:70px;}
.prg_view_8{width:60px;}
.prg_view_9{width:60px;}
.prg_view_10{width:60px}
.prg_view_11{width:176px}


/* btn_content */
.mbtn{display:inline-block;height:22px;line-height:22px;padding:0 5px;margin-bottom:2px;border-radius:3px;background:#f3f3f3;border:1px solid #cbcbcb;font-size:12px;vertical-align:middle;color:#676767;font-weight:bold;}
.mbtn button{height:22px;line-height:20px;font-weight:bold;font-family:"Nanum Gothic", "나눔고딕";}
.mbtn1{display:inline-block;height:22px;line-height:22px;padding:0 5px;margin-bottom:2px;border-radius:3px;background:#8e8e8e;;border:1px solid #7d7d7d;font-size:12px;vertical-align:middle;color:#fff;font-weight:bold;}
.mbtn1 button{background:none;border:none;height:22px;line-height:20px;font-weight:bold;font-family:"Nanum Gothic", "나눔고딕";color:#ffffff;}
.cbtn{display:inline-block;height:28px;line-height:28px;background:#f3f3f3;border:1px solid #cbcbcb;font-size:14px;vertical-align:middle;color:#676767;font-weight:bold;}
.cbtn1{display:inline-block;height:28px;line-height:28px;background:#8e8e8e;border:1px solid #7d7d7d;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;}
.cbtn2{display:inline-block;height:28px;line-height:28px;background:#62ad16;border:1px solid #539312;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;}
.cbtn3{display:inline-block;height:28px;line-height:28px;background:#3481b0;border:1px solid #1d648f;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;}
.cbtn4{display:inline-block;height:28px;line-height:28px;background:#fff;border:1px solid #539312;font-size:14px;vertical-align:middle;color:#6cb226;font-weight:bold;}
.cbtn5{display:inline-block;height:31px;line-height:31px;background:#fff;border:1px solid #a8bbc6;font-size:14px;vertical-align:middle;color:#3995c1;font-weight:bold;}

.cbtn a,.cbtn1 a, .cbtn2 a, .cbtn3 a, .cbtn4 a,  .cbtn5 a{display:block;padding:0 20px;color:#fff;}
.cbtn button, .cbtn input, .cbtn1 button, .cbtn1 input, .cbtn2 button, .cbtn2 input, .cbtn3 button, .cbtn3 input, .cbtn4 button, .cbtn4 input{line-height:26px;height:28px;padding:0 20px;font-size:14px;font-weight:bold;color:#fff;border:none;vertical-align:middle;background:transparent;cursor:pointer;font-family:"Nanum Gothic", "나눔고딕",  "맑은고딕", "Malgun Gothic", "돋움", "Dotum";}
.cbtn5 button, .cbtn5 input{line-height:29px;height:29px;padding:0 20px;font-size:14px;font-weight:bold;color:#fff;border:none;vertical-align:middle;background:transparent;cursor:pointer;font-family:"Nanum Gothic", "나눔고딕",  "맑은고딕", "Malgun Gothic", "돋움", "Dotum";}
.cbtn4 button, .cbtn4 input, .cbtn4 a{color:#6cb226;}
.cbtn5 button, .cbtn5 input, .cbtn5 a{color:#3995c1}
.cbtn button, .cbtn input, .cbtn a{color:#676767;}

.cbtn01, .cbtn01 a, .cbtn02 a, .cbtn02 a{display:block;padding:0 20px;}
.cbtn01 button, .cbtn01 input, .cbtn02 button, .cbtn02 input{line-height:38px;height:40px;padding:0 20px;font-size:14px;font-weight:bold;border:none;vertical-align:middle;background:transparent;cursor:pointer;font-family:"Nanum Gothic", "나눔고딕",  "맑은고딕", "Malgun Gothic", "돋움", "Dotum";}
.cbtn01{display:inline-block;height:40px;padding:0 25px;line-height:40px;background:#fff;border:1px solid #d1d1d1;font-size:14px;vertical-align:middle;color:#8b8b8b;font-weight:bold;}
.cbtn02{display:inline-block;height:40px;padding:0 25px;line-height:40px;background:#077ab2;border:1px solid #006393;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;}
.cbtn01 button, .cbtn01 input, .cbtn01 a{color:#8b8b8b;}
.cbtn02 button, .cbtn02 input, .cbtn02 a{color:#fff}

.top_tit{overflow:hidden;width:100%;}
.top_tit h3{float:left;}
.top_tit strong{float:left;margin-top:10px;}
.top_tit .mbtn{float:right;margin-top:10px;margin-left:2px;}
.top_tit .fR{float:right;}
.top_tit .fR .mbtn{float:none;}

/* 상단 select */
.select_bar{padding:10px;border:1px solid #dedede;background:#f9f9f9;text-align:left;margin:10px 0 20px;}
.select_bar strong, .select_bar label{font-size:15px;color:#595959;margin:0 10px;}
.select_bar select{min-width:120px;border:1px solid #d3d3d3;padding:5px;vertical-align:middle;}


/* 첨부파일 */
.file_box {background:#fff;margin-bottom:40px;}
.file_box  .file_top {overflow:hidden;width:100%;padding:10px 0;position:relative;}
.file_box .file_top .file_btn{float:left;}
.file_box .file_top .file_info{float:right; line-height:21px; margin-top:10px;}
.file_box .file_top .file_info .blue{color:#62ad16}
.file_box table.file_list_chart{border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px;}
.file_box table.file_list_chart thead th{border:1px solid #D1D1D1;background:#F6F6F6;padding:5px 0;}
.file_box table.file_list_chart tbody td{border:none;text-align:left;padding:5px;}
.file_box table.file_list_chart tbody td img{vertical-align:middle;}
.file_box table.file_list_chart tbody td.size{text-align:right;width:100px;padding-right:20px;}
.file_box table.file_list_chart tbody td.del{text-align:center;width:50px;}
.file_box .progressBox {width:650px; float:right;}
.file_box .radius {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.file_box .progress{width: 0%; height: 28px; padding:0; background:#155486; text-align: center; line-height: 27px; border: 1px solid #155486; display:none;}
.file_box .bar{color: #ffffff; font-size: 9pt;}
.file_box .bbtn_bg1 {cursor: pointer !important;}
.file_box .c_click {cursor: pointer !important;}
.file_box  input[type="file"] { position: absolute; left: 0; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 99; display: block !important; width: 103px !important; height: 30px !important; cursor:pointer;}


/* 입력테이블 스타일  */
.input_area .inp_area{border:1px solid #e5e5e5;height:90px;width:98%;font-size:12px;padding:5px;}
.input_area .inp_area2{border:1px solid #e5e5e5;height:90px;width:auto;font-size:12px;padding:5px;}
.input_area .inp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:75%;padding:0 5px;}
.input_area .rinp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:75%;padding:0 5px;text-align:right;}
.input_area .ninp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:40%;padding:0 5px;text-align:right;}
.input_area .ainp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:30%;padding:0 5px;text-align:right;}
.input_area .sinp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:10%;padding:0 5px;text-align:right;}
.input_area .einp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:3%;padding:0 5px;text-align:right;}
.input_area .minp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:50%;padding:0 5px;}
.input_area .cinp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;padding:0 5px;width:80px;}
.input_area .cinp2{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;padding:0 5px;width:50px;}
.input_area .select{line-height:22px;width:140px;height:25px;border:1px solid #e5e5e5;}
.input_area .select2{line-height:22px;height:25px;border:1px solid #e5e5e5;}
.input_area .zipcode{vertical-align:middle;line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:40px;padding:0 5px;text-align:center;}
.input_area .w150{width:150px;}
.input_area .w50{width:50px;}
.input_area .w30{width:30px;}

.input_area  .tel_box select{height:24px;border:1px solid #e5e5e5;vertical-align:middle;margin-bottom:2px;}
.input_area  .tel_box .tel{text-align:center;width:30px;}

/* email input */
.input_area .tel_box #email1{width:25%}
.input_area .tel_box #email2{width:25%}
.input_area .tel_box #email_choice{width:30%}

.addr_box a.mbtn:hover{color:#676767}

.area_box{position:relative;}
.area_box .ftxt{position:absolute;top:0;left:0;padding:5px;width:98%;height:90px;font-size:11px;}

.radio_box input{vertical-align:middle;}
.radio_box label{vertical-align:middle;margin:0 5px;font-size:12px;}

.list_style{}
.list_style li{overflow:hidden;width:100%;}
.list_style li label{float:left;width:80px;}
.list_style li input{float:left;}

.list_style li .tel_box {float:left;width:80%;}
.list_style li .tel_box input{float:none;}


.cal_box_list span{float:left;display:inline-block;width:110px;}
.cal_box input{vertical-align:middle;}
.cal_box button{vertical-align:middle;margin:0 5px;}

.cnt_list span{float:left;display:inline-block;width:110px;}
.cnt_list .txt{float:left;}
.cnt_list .txt input{vertical-align:middle;}


.target .radio_box{float:left;width:200px;}
.target .list_style{float:left;width:60%;margin-left:20px;}

.file_list li{padding:2px 10px;;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/basic/green/bg_icon3.gif') 0 8px no-repeat;}





/* 결과  */
.result_pass{min-height:132px;padding-left:160px;margin-top:100px;line-height:1.2em; padding-left:160px;font-size:16px;color:#575757;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_img02.gif') 0 0 no-repeat;}
.result_pass strong{display:block;padding:25px 0 10px;color:#62ad16;font-size:22px;font-weight:normal;}

.result_pass2{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;line-height:1.3em;font-size:16px;color:#575757;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_img04.gif') center 0 no-repeat;}
.result_pass2 strong{display:block;padding:15px 0 20px;color:#62ad16;font-size:22px;font-weight:normal;text-align:center}
.result_pass2 strong em{font-weight:bold;}

.result_npass{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;line-height:1.3em;font-size:16px;color:#575757;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_img03.gif') center 0 no-repeat;}
.result_npass strong{display:block;padding:15px 0 20px;color:#3481b0;font-size:22px;font-weight:normal;text-align:center}

.result_npass2{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;line-height:1.3em;font-size:16px;color:#575757;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_img05.gif') center 0 no-repeat;}
.result_npass2 strong{display:block;padding:15px 0 20px;color:#3481b0;font-size:22px;font-weight:normal;text-align:center}

.result_submit{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;font-size:22px;line-height:1.5em;font-size:22px;color:#575757;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_img01.gif') center 0 no-repeat;}
.result_submit strong{padding:15px 0 20px;color:#dbb500;font-weight:normal;text-align:center}

.result_eval{min-height:132px;padding-top:155px;margin-top:100px;text-align:center;font-size:22px;line-height:1.5em;font-size:22px;color:#575757;/*background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/bg_img06.gif') center 0 no-repeat;*/}
.result_eval strong{display:block;padding:15px 0 20px;color:#dbb500;font-weight:normal;text-align:center}
.result_eval span{color:#62ad16;font-weight:bold;}


/* 로그인 */
.login{width:700px;margin:40px auto;}
.login_box{overflow:hidden;width:700px;margin:120px auto 90px;}
.login{position:relative;width:700px;min-height:300px;padding:25px 0px;}
.login .tit_login{overflow:hidden;width:100%;padding-bottom:10px;}
.login .tit_login h1{float:left;padding-top:15px;}
.login .tit_login p{float:left;width:330px;padding:0 0 0 30px;margin-left:30px;color:#708d9f;font-size:16px;border-left:1px solid #e0e0e0;}
.login .tit_login p strong{display:block;padding:15px 0 20px;}
.login .inp{border:1px solid #dddddd;height:22px;padding-left:2px;line-height:22px;vertical-align:middle;}
.login_border {width:470px;height:145px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;padding:20px;padding-left:210px;background:#fafafa url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/login/bg_login.png') 60px 22px no-repeat;}

.login_inp{position:relative;width:415px;height:65px;padding-top:30px;}
.login_inp span{display:block;margin-bottom:7px;}
.login_inp span label{display:inline-block;width:80px;color:#676068;font-size:14px;font-weight:bold;}
.login_inp span label img{vertical-align:middle;}
.login_inp span .inp{width:212px;height:27px;border:1px solid #c2c2c2;}
.login_inp .btn_login{position:absolute;top:29px;right:0;}

.login_inp ul {padding:5px 0 0 84px;}
.login_inp ul li{float:left;margin-right:5px;}
.login_inp ul li span{display:inline-block;}
.login_inp ul li span a, .login_inp ul li span button{text-align:center;width:130px;}

/* 아이디, 비밀번호 찾기 */
.find_box{padding:40px 40px 40px 260px;margin-bottom:15px;background:#f9f9f9 url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/login/bg_find.png') 50px 50px no-repeat}
.find_box strong{font-size:20px;color:#000;}
.find_box p{padding:10px 0px;font-size:16px;color:#575757;}
.find_box ul li{padding-bottom:2px;}
.find_box ul li em{color:#077ab2}

.find_box .line_area{display:block;width:100%;padding:30px 0;margin:25px 0;font-weight:normal;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;text-align:center;}
.find_box .line_area li{text-align:left;}
.find_box .line_area strong{color:#575757;font-size:16px;}
.find_box .line_area em{font-size:16px;color:#077ab2}
.find_box .line_area label{font-weight:bold;margin-right:10px;}
.find_box .line_area .inp{width:60%;border:1px solid #c2c2c2;height:27px;}

/* 인증 */
.certification{padding:40px 0;background:#f9f9f9;margin-bottom:20px;}
.certification ul {overflow:hidden;width:100%;background:#f9f9f9 /*url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/login/bg_dot_y.png')*/ center 0 repeat-y;}
.certification ul li{float:left;width:50%;padding-top:190px;color:#7c7c7c;text-align:center;}
.certification ul li.ipin{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/login/bg_ipin.png') center 10px no-repeat;}
.certification ul li.hp{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/login/bg_hp.png') center 10px no-repeat;}
.certification ul li strong{display:block;padding:20px;font-size:20px;color:#000000;}
.certification ul li span{display:block;margin-bottom:50px;}
.certification ul li a{display:inline-block;min-width:198px;height:41px;line-height:41px;font-size:14px;color:#8b8b8b;font-weight:bold;text-align:center;border:1px solid #d1d1d1;background:#ffffff url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/login/icon_skip.png') 90% center no-repeat;}

/* 회원가입 */
.join_step{}
.join_step ul{overflow:hidden;width:100%;margin-bottom:30px;}
.join_step li{float:left;width:24%;margin:0 0.5%;padding:20px 0 10px;border-top:1px solid #e4e4e4;border-bottom:5px solid #e4e4e4;color:#757575;}
.join_step li span{display:block;margin-bottom:10px;font-size:15px;}
.join_step li strong{display:block;font-size:18px;font-weight:normal;}
.join_step li.active{border-top:1px solid #62ad16;border-bottom:5px solid #62ad16;color:#62ad16;}

.agree_box{overflow:hidden;width:100%;padding:50px 0;}
.agree_box .agree{position:relative;float:left;width:45%;padding:2%;border:1px solid #ccc;}
.agree_box .right{float:right;}
.agree_box .agree label{vertical-align:middle}
.agree_box .agree input{position:absolute;bottom:15%;right:5%;vertical-align:middle}

.join_chart select{line-height:22px;height:24px;border:1px solid #e5e5e5}
.join_chart .inp{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;padding-left:3px;padding-left:3px;vertical-align:middle;}
.join_chart .inp_wide{line-height:22px;height:22px;border:1px solid #e5e5e5;margin-bottom:2px;width:95%;padding-left:3px;vertical-align:middle;}
.join_chart .tel{width:50px;text-align:center;}
.join_chart .cal{width:90px;text-align:center;}
.join_chart .radio_box label{vertical-align:middle;margin:0 20px 0 10px;}
.join_chart .addr_box .inp{width:90%;}
.join_chart .addr_box .zipcode{width:50px;}


.join_end{min-height:132px;padding-top:175px;margin-top:100px;text-align:center;line-height:1.3em;font-size:16px;color:#575757;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000003/images/login/bg_join_end.png') center 0 no-repeat;}
.join_end strong{display:block;padding:15px 0 20px;color:#e4c73e;font-size:22px;font-weight:normal;text-align:center}

.pop_tit{background:#8e8e8e;padding:5px 20px;}
.pop_tit h1{height:40px;line-height:40px;vertical-align:middle;color:#fff;font-size:14px;}
.pop_con{padding:20px;}
.pop_con .pop_gbox{background:#e5e5e5;padding:20px;margin-bottom:20px;text-align:center;border-radius:5px;}
.pop_con .pop_gbox .txt{margin:0 10px;}
.pop_con .pop_gbox .txt strong{color:#000;}
.pop_con .id_chk{text-align:center;}

.unit{font-size:9pt;float:right;line-height: 36px;}

.program_input {width:100%;}
.program_input table.chart1 { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #62ad16;margin-bottom:0px;table-layout:fixed;word-break:break-all;}
.program_input table.chart1 th,  .program_input table.chart1 td {border: 1px solid #dbdbdb;padding:7px 0px;text-align:center;}
.program_input table.chart1 thead th {background:#f9f9f9;border:1px solid #dbdbdb;text-align:center;color:#62ad16;}
.program_input table.chart1 tbody td{text-align:center;}
.program_input table.chart1 tfoot th{background:#f9f9f9;text-align:center;color:#62ad16;}

.program_input table.chart1 tbody td.prg{padding:0;}
.program_input table.chart1 tbody td.prg table{border-collapse:collapse;width:100%;table-layout:auto;}
.program_input table.chart1 table  th,  .program_input table.chart1 table td {border:none;border-right:1px solid #dbdbdb;padding:7px 0px;text-align:center;}
.program_input table.chart1 tbody td.prg table tbody th{background:#f9f9f9;color:#62ad16;text-align:center;padding:7px 0px;border-bottom:1px solid #dbdbdb;}
.program_input table.chart1 tbody td.prg table tbody td.last{border-right:none;}
.program_input table.chart1 tbody td.prg table tbody td.bline{border-bottom:1px solid #dbdbdb;}
.program_input table.chart1 tbody td.prg table tbody th.last{border-bottom:none;}

#popup h1{background:#62ad16;height:50px;padding:0 20px;font-size:16px;line-height:50px;color:#fff;}
#popup .popup_cont{padding:20px;}
#popup .popup_cont .alim_txt{background:#f4f4f4;margin-bottom:30px;}

#gf_ct_vals_age_tbl th{border-top: 0;}

/* 2015-11-13 */
.sub2_2m{overflow:hidden;}
.sub2_2m li.img1{float:left;margin:0 11px 12px 0;}
.sub2_2m li.img2{float:right;margin:0 0 12px 0;}
.sub2_2m li.img3{float:left;margin:0 11px 0 0;}
.sub2_2m li.img4{float:right;margin:0;}

.inp_long{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:80px;}
.inp_long2{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:120px;}
.inp_long3{background:#fefdfd;height:22px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:120px;}
.all_results{width:100%; padding:15px 0;}
.all_results .ctgrys{width:70%;float:left;color:#737373;}
.all_results .total{Width:29%;float:right;color:#737373;text-align:right;}