.vision{position:relative;height:325px;margin-bottom:10px;background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_vision01.png') center 0 no-repeat;}
.vision strong{display:block;margin:30px 0 20px;font-size:20px;color:#000;}
.vision span{color:#848484;font-size:16px;}
.vision .v01{position:relative;width:200px;height:160px;top:65px;left:260px;text-align:center;font-weight:bold;}
.vision .v01 strong{margin:10px 0 20px;}

.vision1{padding:25px 0;margin-bottom:20px;text-align:center;color:#909090;background:#e5f0f9;font-size:16px;;}
.vision1 strong{color:#000;font-size:20px;}
.vision1 span{margin:0 10px;}

.vision2{overflow:hidden;width:607px;margin:0 auto;font-size:16px;}
.vision2 .target1 strong, .vision2 .target1 li, .vision2 .target2 strong{background:url('/str/cre/lyt/tmplat/sit/LYTTMP_0000000000001/images/page/m7/bg_vision.png') 0 0 no-repeat;text-align:center;color:#fff;font-weight:bold;}

.vision2 .target1 strong, .vision2 .target1 li{display:block;width:264px;vertical-align:middle;margin-bottom:15px}


.vision2 .target1{float:left;width:264px;border:1px solid #cfcfcf;padding:15px 15px 0;margin-right:15px;}
.vision2 .target1 strong{height:41px;line-height:41px;background-position:0 0;}
.vision2 .target1 li{height:51px;line-height:51px;background-position:0 -41px;}

.vision2 .target2{float:right;width:264px;height:320px;border:1px solid #cfcfcf;padding:15px 15px 0;}
.vision2 .target2 strong{display:block;width:264px;height:41px;vertical-align:middle;line-height:41px;background-position:0 -92px;}
.vision2 .target2 ol{padding:20px 10px}
.vision2 .target2 .line{padding-bottom:10px;margin-bottom:15px;border-bottom:1px solid #c4c4c4}